[2022-06-14 06:00] blefaudeux commented on #989
Hey @kenmbkr sorry for the delay, I've very little time these days (and not at facebook anymore). I would need to dive into this to say something half-way smart, but I think you're right in assuming that coupling that with AMP is probably for another day.

Purely with SAM I think that it should work with OSS, as long as SAM is the outer wrap (but this is on a conceptual basis, I'm not sure that th

[2022-06-16 03:01] hxu38691 opened #1011 "Compatibility with FSDP"
can I use FSDP with SAM just liked the DDP? Thank you

[2022-06-16 03:02] #1011 closed

[2022-06-17 05:00] kenmbkr commented on #989
Thank you very much for getting back and I really appreciate your time in looking at the issues.

From my understanding of your words whether individual implementations sync or do not sync the gradients, it should not affect the results (theoretically). Please correct me if I am wrong.

The [unofficial SAM implementation](https://github.com/davda54/sam/tree/main#training-tips) actually recommends

[2022-06-17 05:40] blefaudeux commented on #989
Oh interesting, it makes sense if the SAM gradients are smaller than these of the model (and the SAM computation is commutative with the reduction), else maybe that it's an approximation but good enough. It could explain maybe (I've not read the papers, disclaimer) why the different xSAM variants suggest something different in that particular case ? S

In any case:
- no_sync brings some speed bene

[2022-06-17 06:13] kenmbkr commented on #989
Thank you for your valuable insights into the gradient synchronization problem :)

As for FSDP, it is actually the first thing I tried when I came across fairscale.
However, it wraps only the layers with gradients and does not handle layers without gradients automatically like SharedDDP.
While many recommended separate layers with and without gradients, it is basically a major refactoring of the c

[2022-06-22 04:57] kenmbkr opened #1014 "How to exclude some operations in checkpoint wrapper?"
I would like to checkpoint my module that takes the result of a checkpointed module (`cond` in the example below) as input.

[code]

The above module works fine when checkpointed and `cond` is None. However, when `cond` is not None, I am getting the following error.

[code]

I have tried the following context managers but none of them works. This is a large module and I prefer to wrap it while ign

[2022-06-23 03:27] Luodian opened #1017 "How to save model parameters in different ranks? (especially for MOE model)"
I’ve implemented MoE layer on my codebase. I used 32 experts in total on 8 GPUs, but when I check the model, it only displays 32 // 8 = 4 experts. But the code works fine and gate’s auxillary loss went down well. My implementation is in: https://gist.github.com/Luodian/055993c44f2a80a2a7440cf2ad262ac8

However, I found if I directly use “torch.save_model()”, I can just save 4 experts to checkpoint

[2022-06-23 17:09] min-xu-ai commented on #1017
There isn't very good document on this yet. In general, you can call module.local_state_dict on each rank if you are using FSDP. `load_local_state_dict` can be used to load back the checkpoint files. Pytorch now has a newer version of FSDP as well, please check with pytorch folks as well.

[2022-06-24 02:24] Luodian commented on #1017
Thanks Min!

I've tried this way and found `model.local_state_dict() ` can save flatten params in different ranks and supposedly they are right ones. But how could I load them back to form a complete MoE model? Is it just simply call load_local_state_dict or should I do more processing operations?
![WX20220624-121646](https://user-images.githubusercontent.com/15847405/175449267-9330be88-fbb0-4cb4-

[2022-06-24 15:53] min-xu-ai commented on #1017
I think loading them directly should work as long as the same number of GPUs is used. Pls let me know if you run into issues.

[2022-06-24 23:48] jramapuram commented on #697
@min-xu-ai : just want to add here that this feature is also necessary for varying weight decay on a different subset of parameter groups (important for transformer scaling for example).

[2022-06-25 02:05] Luodian commented on #1017
Thanks Min~

I implemented the way using loading `local_state_dict()`, and I see no errors when running, and losses continue decrease at the point when they are saved. However, I have question: in FSDP (but without OSS), should I also save & load optimizers in different ranks?

my save & load codes are:
[code]

my optimizer related codes are:

[code]

[2022-06-25 16:06] min-xu-ai commented on #697
@jramapuram, thanks for checking. I haven't had chance working on this further. But @tmarkstrum had a private branch that can support weights/bias decay differently but it is not general enough. CC @anupambhatnagar in case he has time looking at this.

[2022-06-25 16:17] min-xu-ai commented on #1017
I do think you need save/load optimizer state in different ranks. FSDP splits parameters across ranks, hence each rank have different optimizer state for different params. In a way, FSDP has a built-in OSS.

[2022-06-26 15:44] Luodian commented on #1017
Thanks Min!

However, I tried to find a way to save optimizer states on different ranks. But I can't find a direct way like a `optim_state = optimizer.local_state_dict()` and just save it? Is there any related documents or codes provided in fairscale? Or if the optimizer has been sharded, then `optim_state = optimizer.state_dict()` is the local state on corresponding rank?

[2022-06-26 18:53] min-xu-ai commented on #1017
Yes, it is already sharded. So directly call state_dict() should be fine.

[2022-06-28 23:48] anupambhatnagar commented on #697
I don't think this work is planned for the near future.

[2022-06-29 01:04] min-xu-ai commented on #908
Another one: https://app.circleci.com/pipelines/github/facebookresearch/fairscale/4277/workflows/73e769c1-510d-4c83-bb25-0eae414f7897/jobs/47992

I will disable it.

[2022-06-30 01:20] Youhe-Jiang opened #1022 "Does fairscale support inter-node pipelining?"
As shown in the figure below, pytorch does not support inter-node pipelining. I want to know if fairscale supports it? Thanks for any replies!
<img width="546" alt="image" src="https://user-images.githubusercontent.com/85312798/176572400-aa4f06e1-3db5-4049-b9c3-fc479f0d4563.png">

[2022-07-04 07:45] Youhe-Jiang commented on #1022
Thanks a lot!

[2022-07-05 15:21] #1022 closed

[2022-07-14 08:26] DK223 commented on #940
Hi, I meet the same question with you. The reduction between torch.cuda.max_memory_allocated() and nvidia-smi is different a lot when using FSDP. Do you know the reason?

[2022-07-14 15:46] min-xu-ai commented on #940
This is expected since max_memory_allocated is from pytorch's allocator point of view. nvidia-smi report all memory used including pytorch and other libraries like NCCL etc.  You might be able to find more info from pytorch's developers on their discussion forum.

[2022-07-15 07:57] Youhe-Jiang commented on #940
Yeah, it is recommended to use the former as the benchmark for judging the real memory usage of the GPU

[2022-07-19 11:33] wangleiofficial commented on #963
bfloat16 support with pytorch lighting will be better,  do you have this consideration?

[2022-07-20 15:35] vovaf709 opened #1035 "Running stats with gradient checkpointing"
According to [patch_batchnorm](https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/checkpoint/checkpoint_utils.py#L13-L50) source code if layer collecting running stats (e.g. BatchNorm) is checkpointed it will accumulate statistics only when grad is enabled (on backward pass). This induces inconsistency:
[code]
I think this behaviour should be modified to accumulate statistics at

[2022-07-21 06:10] min-xu-ai commented on #1035
Thanks for reporting. I slightly modified your code to demonstrate how it works:

[code]

As you can see, you need to run the backward pass to make the running_mean match. Just forward is not enough. Checkpoint_wrapper is used for training. Only doing the forward pass does not make sense IMHO. With backward pass, the stats is matching correctly.

[2022-07-21 08:49] vovaf709 commented on #1035
There is one kaggle trick - you can run multiple forward passes on test set to adapt running stats to it. This is weird case but still)

[2022-07-21 13:38] min-xu-ai commented on #1035
Oh I see. That’s interesting! Do you have example code or pseudo code for it?

[2022-07-22 06:14] amsword commented on #740
finally, I figured it out, and the code is here
https://github.com/amsword/scaleapex

[2022-07-22 19:41] vovaf709 commented on #1035
Code for this trick? If yes then it is as simple as
[code]

[2022-07-22 19:45] min-xu-ai commented on #1035
I see. Then after this loop you proceed with normal training for 1 epoch or the whole training N epochs?

[2022-07-22 21:04] vovaf709 commented on #1035
No, I run this loop on the test set (on which I want to get the highest target metric in competition) after the whole training. The idea is to adapt BN statistics to the test set which can have slightly different distribution

[2022-07-22 22:18] vovaf709 commented on #1035
I think I can come up with a solution on the next week, ok?

[2022-07-23 18:50] amsword opened #1039 "Does FSDP support: the world has 16 GPUs, but parameters are sharded on 8 GPUs."
if so, is there any example?

[2022-07-25 04:08] min-xu-ai commented on #1039
You mean having 2 separate groups each with 8 GPUs for sharding? Yes, it is not very well testing but you can supply your own process_groups on each rank so that [0-7] and [8-15] can be in their own groups. In that way, the all-gather will happen within the groups and memory saving from sharding will not be as good as 16-gpus groups. But this can be useful if within the group the networking b/w is

[2022-07-26 03:34] min-xu-ai commented on #1017
Please reopen if still issues.

[2022-07-26 03:34] #1017 closed

[2022-07-26 04:31] bgyoon opened #1041 "SDP sync_buffers() during gradient accumulation"
Shouldn't [`sync_buffers()`](https://github.com/facebookresearch/fairscale/blob/fd7b962f7ae01b7f6ffbcdb31b4b53297174a645/fairscale/nn/data_parallel/sharded_ddp.py#L224) be guarded by [`_should_accumulate_grads()` just like reduce()](https://github.com/facebookresearch/fairscale/blob/fd7b962f7ae01b7f6ffbcdb31b4b53297174a645/fairscale/nn/data_parallel/sharded_ddp.py#L415)?

I think the current code

[2022-07-26 09:55] AlexanderVanEck opened #1042 "[Defect in 0.4.7] pygit2/pgzip not automatically installed."
Good morning! Thank you for publishing another hotfix for `fairscale` 🙇‍♂️ I'm sure this will be well received.

# Bug description
Due to the inclusion of entry_points the `pygit2/pgzip` packages are now required by fairscale even though its experimental and optional.

[code]
https://github.com/facebookresearch/fairscale/blob/main/setup.py#L72

# Steps to reproduce
(in a virtualenv)
[code]

# Expe

[2022-07-26 16:01] anupambhatnagar commented on #1042
@min-xu-ai @riohib Can you please have a look at this?

[2022-07-26 16:58] min-xu-ai commented on #1042
Thanks for the report! I am on it.

[2022-07-26 17:03] min-xu-ai commented on #1041
cc @blefaudeux ?

@bgyoon, thank for the question. Can you add more details for us to understand the context? Do you have any test that demonstrate the issue?

[2022-07-26 17:07] min-xu-ai commented on #1042
Now I see why experimental wgit is imported

[code]

[2022-07-26 23:19] min-xu-ai commented on #1042
fixed in 0.4.8. Will add a test for this going forward as well. Reopen if the issue isn't fixed. Thanks again!

[2022-07-26 23:19] #1042 closed

[2022-07-27 06:56] bgyoon commented on #1041
https://pytorch.org/tutorials/recipes/recipes/tuning_guide.html#skip-unnecessary-all-reduce-if-training-with-distributeddataparallel-and-gradient-accumulation

For performance reason, when doing gradient accumulation, instead of doing gradient all-reduce every `backward(),` gradients are all-reduced only in the last step right before `optimizer.step()`, with use of `no_sync()`. The support for `no

[2022-07-27 14:41] boundles opened #1047 "AssertionError: expects all parameters to have same requires_grad"
`
import os
import torch
import torch.nn as nn
from torch.nn.parallel import DistributedDataParallel
import torch.distributed as dist
import torch.multiprocessing as mp

from fairscale.nn.data_parallel import FullyShardedDataParallel as FSDP

def init_dist(backend='nccl'):
    if backend == 'nccl':
        os.environ['NCCL_IB_DISABLE'] = '1'
        os.environ['NCCL_SOCKET_IFNAME'] = 'eth0'

    i

[2022-07-27 14:43] min-xu-ai commented on #1041
Oh, I see. Thanks for the detailed explanation! It is really helpful!

We will try to look at the SDP code and try to fix it.

We actually don't know very much about the adoption of SDP. Can you share the reason that you are using SDP not FSDP? We are thinking that FSDP is a superset of SDP so SDP may not be provide much additional to FSDP. So we are thinking of retiring SDP. But again, we don't k

[2022-07-27 15:24] bgyoon commented on #1041
The main reason is

1. Our code is using pytorch-lightning. Simply using fsdp(`DDPFullyShardedStrategy()` in pytorch-lightning) didn't seem to work out of box for some unknown reason.
2. fairscale/fsdp in pytorch-lightning doesn't support `clip_grad_by_norm()` for the [code structural reason](https://github.com/Lightning-AI/lightning/blob/9596fabe7baade5fd2b3625877bc15d356cdc553/src/pytorch_lightn

[2022-07-27 15:35] min-xu-ai commented on #1041
Got it! Thanks for the context!

The 3% gain is from doubling of the batch size?

FSDP can work in zero2 mode by setting reshard_after_forward flag to False. That way, the all-gather is not performed on the backward to reduce some pressure on the network (since grad scatter-gather is happening on the backward, regardless of no_sync() or not). It is important to note that all-gather/scatter-gather

[2022-07-27 15:47] bgyoon commented on #1041
3% gain is with the doubled batch size. The gain is kind of too small... I am not sure it's worth changing. But if ethernet condition changes or model size changes or I try squeezing in more than doubled batchsize, it at least has potential to be faster than DDP.

FSDP in pytorch-lightning didn't error out. It looked like running fine fast but the network bandwidth was 0bps when run on 4 nodes, me

[2022-07-27 15:58] min-xu-ai commented on #1041
If your activation size is big, you might be able to use activation checkpoint wrapper and further increase your batch size. But if your batch size is already large, the kernel speed gain may not be much. Also, no_sync used more memory because it needs to keep the grad around between steps.

[2022-07-27 21:36] amsword commented on #1039
Thanks for the comment. The scenario you are describing is the one I was thinking of. One question is that after backward, is there an extra procedure to sync the gradient between the two process groups? It seems like the 4 process groups you mentioned is about this issue? Why is it 4 process groups?

[2022-07-27 22:38] min-xu-ai commented on #1039
check the init function of FSDP. It takes 2 process groups optionally. Therefore, there will be 4 total of you group 16 gpus into 2 groups.

[2022-07-28 18:36] min-xu-ai commented on #1047
Yeah. This is expected. If you want to avoid this, please set flatten_parameters to False.

[2022-07-28 18:36] #1047 closed

[2022-07-29 02:42] boundles commented on #1047
ok, thanks a lot

[2022-07-29 08:25] toriving commented on #963
Is there currently any progress on this issue?
Or I'm just wondering if it works if I just apply the above branch.

[2022-07-29 10:54] blefaudeux commented on #1041
hey @bgyoon thanks for the detailed explanation (and thanks @min-xu-ai for the heads up, sorry for the delay), it seems right indeed and easy enough to fix ! (ideally this could go with a unit test to make sure this doesn't re-appear). Re: speed @bgyoon you can try to play with the bucketing setting, depending on the model there might be some savings there. In general the FSDP method should be fas

[2022-07-29 22:37] anupambhatnagar commented on #963
There has been no progress on this so far.

[2022-08-01 13:16] Alex-Songs opened #1050 "FSDP consumes the same amount of memory as DPP，why？"
Hello.
I am using FSDP to replace DDP, but I find that the memory consumption is the same. Is it because FSDP only supports nn.Sequential model （my model is not a nn.Sequential model ）?

[2022-08-01 17:45] min-xu-ai commented on #1050
Can you provide more details? There is a number of reasons:

1. maybe you didn't measure the memory correctly. Pytorch does not research memory from CUDA in an eager fashion so you may not see the memory saving.
2. your model may be small and main memory consumption might be from activation tensors saved for the backward. In that case, you won't see memory saving from sharding
3. you are only shar

[2022-08-01 17:49] #1039 closed

[2022-08-02 07:28] Alex-Songs commented on #1050
@min-xu-ai
Thanks，
I replaced the DPP in the code with the FSDP by the following，and uses the AMP model of pytorch.：
<img width="777" alt="image" src="https://user-images.githubusercontent.com/67909291/182316871-f67245a1-584c-4eaf-aee3-cf533571ec58.png">

Testing on two GPUs, we found that FSDP consumes more memory:
DDP：
![image](https://user-images.githubusercontent.com/67909291/182317208-4f5d508

[2022-08-02 13:38] min-xu-ai commented on #1050
Try reshard after forward = true. Also, make sure you use more gpus and activation is not the main memory consumer

[2022-08-02 14:05] Alex-Songs commented on #1050
@min-xu-ai
Thanks。
I suspected that the model was too small, causing the FSDP to wrap the entire model, so I set min_num_params to 20000 and the model was able to have multiple FSDP units, but the training got stuck at：
![image](https://user-images.githubusercontent.com/67909291/182394435-65650c62-bd72-4194-b0f3-ff2139d0b7aa.png)

[2022-08-02 14:35] min-xu-ai commented on #1050
That’s interesting. Do you have a small reproducible case?

If I have to guess it might be related to different rank compute on different code paths. An example is layerdrop, I.e. dropping layers on forward pass randomly

[2022-08-03 04:05] Alex-Songs commented on #758
@ananthsub @blefaudeux @dave-epstein @min-xu-ai @anj-s
Hello, when I use fairscale 0.4.6, the same error is reported: None of the inputs have requires_grad=True. Gradients will be None warnings.warn("None of the inputs have requires_grad=True. Gradients will be None. Please solve it ? I just use the activation checkpoint for the middle layer of the Transformer.

[2022-08-03 04:18] Alex-Songs commented on #948
@swordfate
Hello, when I use fairscale 0.4.6, the same error is reported: None of the inputs have requires_grad=True. Gradients will be None warnings.warn("None of the inputs have requires_grad=True. Gradients will be None. Please solve it ? I just use the activation checkpoint for the middle layer of the Transformer.

[2022-08-04 04:40] CD21a opened #1053 "How can I use only OSS in Pytorch lightning?"
Hello

I wanna use only OSS (zero1) in pytorch lightning, but pytorch lightning only support OSS + SDP (zero2).
How can i use only OSS?

[2022-08-07 18:03] Dahoas opened #1056 "FSDP Forward order differs from that of first run"
Hi,

I am using fsdp(integrated with hf accelerate) to extend support for the [transformer reinforcement learning library](https://github.com/lvwerra/trl) to multi-gpu. This requires me to run multiple .generate calls, forward passes, and then a backwards pass.

I am getting a warning: `UserWarning: Forward order differs from that of the first iteration on rank 0 -- collectives are unchecked and m

[2022-08-08 10:23] darren-pei opened #1057 "Pytorch nightly build failing"
Hi

I'm trying to get detectron2 working on my Macos M1 with mps, I'm using the pytorch nightly build, but I'm getting the following error:

`Traceback (most recent call last):
  File "/Users/darrenthorpe/PycharmProjects/tableDetection/scripts/detectron.py", line 5, in <module>
    from detectron2 import model_zoo
  File "/Users/darrenthorpe/miniforge3/envs/torch-gpu-3.9/lib/python3.9/site-package

[2022-08-08 17:19] Alex-Songs commented on #1050
@min-xu-ai
Thanks，the reason is the layer drop op.
I have another question. When I tried reshard after forward = true, the following error occurred:
WFPB: incorrect saved_grad_shard device CPU vs CUDA :0

[2022-08-08 17:25] min-xu-ai commented on #1050
Are you using no_sync() context and doing gradient accumulation? Or are you doing cpu_offloading? You might need to disable one of them.

[2022-08-08 17:44] Alex-Songs commented on #1050
@min-xu-ai
I have replaced no_sync() with A and turned off cpu_offloading, but I still have this error.
<img width="402" alt="image" src="https://user-images.githubusercontent.com/67909291/183480252-1599d933-33b2-4082-aeef-4b31eecaf28f.png">
<img width="560" alt="image" src="https://user-images.githubusercontent.com/67909291/183480430-54bbde00-b00e-4b22-a5f9-861175635cee.png">
<img width="987" alt

[2022-08-08 18:22] Alex-Songs commented on #1050
@min-xu-ai
In addition, when I use cpu_offload I get the following error：
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/67909291/183486851-9fdd48b3-f31c-4755-aa1b-fe0c074cbf2b.png">

[2022-08-08 18:28] min-xu-ai commented on #1050
If you have a small reproducible test case (a single script that I can run to reproduce the issue), I can try to look into it.

[2022-08-08 18:30] min-xu-ai commented on #1057
Thanks for the report! Looks like ProcessGroup is moved or something. @anupambhatnagar @ruanslv, do you guys have time to look into this?

[2022-08-08 18:33] min-xu-ai commented on #1056
Thanks for you report. I don't think this error msg is coming from FSDP. Can you double check this is the right place to report this issue?

[2022-08-08 18:34] min-xu-ai commented on #1053
Thanks for reporting. Can you raise this issue to lightning repo? I don't think it is a question for fairscale. You can directly use OSS from fairscale without lightning and let us know if you have questions or not. Thanks.

[2022-08-08 18:34] #1053 closed

[2022-08-08 20:02] anupambhatnagar commented on #1057
@darren-pei can you provide steps to reproduce this? exact versions of the libraries being used would be helpful.

[2022-08-09 08:57] darren-pei commented on #1057
Here you go, pretty easy to replicate:

`from detectron2.engine import DefaultTrainer
x = 1`

Produces error:

[code]

Installed packages:

[code]

OS Version:  macOS Monterey 12.5 Apple M1 chip

Thanks

Darren

[2022-08-09 13:17] Dahoas commented on #1056
I think it is an fsdp error? See

[code]

[2022-08-09 18:50] anupambhatnagar commented on #1057
As the last line of the error message indicates, this error is not from fairscale but pytorch distributed. Please make sure you can import ProcessGroup in your environment. I suggest trying the import statement in a python repl in the same conda environment.

[2022-08-09 18:56] min-xu-ai commented on #1057
Maybe in newer version of pytorch ProcessGroup is moved? In that case, FSDP code should be updated to import it from the new module it moved into?

[2022-08-10 06:18] darren-pei commented on #1057
Fair point, we'll made 😀

[2022-08-11 13:24] yuctian opened #1059 "Inconsistence in checkpoint-wrapper when wrapped BN block"
I have fixed random seed.
The training phase were normal, but when I used checkpoint-wrapper, I got weird result. The output is quite different. This mainly happened when wrapped BN block. How to fix the problem.

[2022-08-11 20:28] min-xu-ai commented on #1059
BN is special. checkpoint wrapper must make sure its running stats is maintained only during one of the forward pass. You can see checkpoint wrapper code that does special things to BN.

[2022-08-12 06:24] edward-io commented on #934
I'm also experiencing this issue:

[code]

`flatten_parameters: False` mitigates the problem, but it would be good not to leave performance on the table :)

@min-xu-ai @anj-s A repro can be found at P521821959 (meta only)

[2022-08-12 21:46] min-xu-ai commented on #934
@edward-io, have you tried pytorch version FSDP? It likely has better performance already in the flatten case. @zhaojuanmao

[2022-08-15 19:20] edward-io commented on #934
@min-xu-ai thanks for the recommendation! I've used the pytorch distributed FSDP, but haven't tried it with model parallel yet.

[2022-08-18 14:22] Alex-Songs commented on #948
@min-xu-ai @flying-x @anj-s @swordfate Hello, when I use fairscale 0.4.6, the same error is reported: None of the inputs have requires_grad=True. Gradients will be None warnings.warn("None of the inputs have requires_grad=True. Gradients will be None. Please solve it ? I just use the activation checkpoint for the middle layer of the Transformer.

[2022-08-18 14:52] min-xu-ai commented on #948
Do you have a small test case? Have you tried pytorch version of FSDP?

[2022-08-18 16:05] voidrank opened #1061 "Memory reduction in the EMA mode"
Hi,

We are using FairScale to reduce memory to scale up our models. However, when we are using FairScale to do EMA (exponantial moving average) as described as follows:

[code]

EMA network doesn't need ```backward``` or ```apply activation```. You can regard it as `eval` nn.module, but its parameters need to be updated manually after each step.

This network costs significant memory compared to

[2022-08-19 17:26] min-xu-ai commented on #1061
We actually do use FSDP with ema models like data2vec. It is possible to wrap the EMA model and let FSDP shard it and reduce memory. You do need to have deeper knowledge about FSDP to effectively use it. It is not an oneline change and you may run into issues that requires you to wrap model in specific ways etc.

Can you share more details of what you are trying to do and what issues you have run

[2022-08-19 18:47] voidrank commented on #1061
Hi @min-xu-ai ,

Thanks for the prompt responses. I will look into FSDP and learn to use it. Could you give the link to data2vec that incorporates FSDP?

I'm currently developing a new model which needs an EMA teacher to train the student net during training. I have done all the coding with pytorch_lightning and managed to use FSDP to reduce the memory consumption of the student net. However, I fa

[2022-08-19 23:29] min-xu-ai commented on #1061
I am not sure all the code is public but data2vec and ema code should be in fairseq and it uses FSDP there.

Since you are using lighting, you might need to check with them or use FSDP directly

[2022-08-25 07:07] lballes opened #1062 "AdaScale with gradient accumulation: Sum or average of gradients?"
Hi!

I am wondering what is the intended way to implement gradient accumulation when using AdaScale. Usually, for gradient accumulation, I would use a training loop like this

    for i, (X, y) in enumerate(train_loader):
        if (i+1) % num_accum_steps == 0:
            loss = loss_fn(model(X), y) / num_accum_steps
            loss.backward()
            opt.step()
            opt.zero_grad()

[2022-08-25 14:37] rohitgr7 commented on #648
hey guys! any update on this? With PyTorch FSDP it's now possible to check if the raw model has already been wrapped or not so that we can avoid this, but with fairscale FSDP it's not.

[2022-08-25 15:07] min-xu-ai commented on #648
Any reason not using pytorch FSDP? fairscale FSDP is in maintenance mode is unlikely to be changed much.

[2022-08-25 16:15] min-xu-ai commented on #648
new/experimental ones will be added to fairscale if pytorch team is not sure whether or not those new feature may end up being useful for general user base or not. If they think a new feature will be useful, I don't see why not add to it directly.

[2022-08-25 17:19] rohitgr7 commented on #648
then, we might need to keep the fairscale FSDP support in pytorch lightning, so is it possible to resolve this issue?

[2022-08-25 20:25] nyngwang commented on #826
So why this is closed?

[2022-08-25 20:27] nyngwang commented on #1035
@vovaf709 ok

[2022-08-28 00:24] min-xu-ai commented on #1062
Sorry, I missed the question for a few days.

AdaScale treats each grad step as if it is from a separate rank. That means you can use grad-accumulation as a way to simulate multiple-gpu training with adascale.

Then, if you don't really want that, you can override the scale value with adascale's init function. I.e. if you use 8gpu and 8-step grad accumulation. Normally, adascale will think this is

[2022-08-28 00:29] min-xu-ai commented on #1062
We usually use *sum" not average in p.grad (hence the name "accumulation").

[2022-08-29 13:11] lballes commented on #1062
Thanks a lot for the reply.

I don't want to use gradient accumulation to _simulate_ multi-GPU training, but in combination with it. When communication overhead becomes large, I would like to perform multiple gradient accumulation steps locally on each worker, then sync between workers and update.

I'm confused about the sum vs average. If I understand correctly, when a model is wrapped in `DDP`,

[2022-08-29 15:48] min-xu-ai commented on #1062
Maybe I am mistaken, but I think DDP does a sum. Here is the DDP code:

https://github.com/pytorch/pytorch/blob/eff312f07be85508f049e5ddfe9ada5aa5df4fc4/torch/nn/parallel/distributed.py#L1103

then, in distributed, the default op is sum:

https://github.com/pytorch/pytorch/blob/c29b7865d02239d89d4407559a85a556039cb7c6/torch/distributed/distributed_c10d.py#L1318

Regardless it is DDP or grad-accumu

[2022-08-29 16:24] prabhuteja12 commented on #1062
Hi,

Taking the code posted above
[code]

To be clear,
- we divide the loss by the number of accumulation steps to compute the mean of the loss. (as indicated in the code above). We wouldn't do this explicitly without gradient accumulation because MSE, CE in Pytorch implement batch averaging.
- If we are computing the mean loss, what is the [line 460](https://github.com/facebookresearch/fairscale/

[2022-08-29 20:52] min-xu-ai commented on #1062
Thanks for persisting. I did some investigation from the git history. It seems that line 460 is a bug. It was originally introduced when grad accumulation was first added to adascale. I only verified it by training cifar, which as I now know is very tolerating of mistakes.

I went though the math again and I think the scaling on line 460 is incorrect and should be removed if gradients are accumula

[2022-08-30 07:00] lballes commented on #1062
Thanks very much for digging into this. Highly appreciated!

I will adapt the code and run some experiments (probably towards the end of the week) and report back here.

[2022-08-30 15:16] min-xu-ai commented on #1062
👍thanks！

[2022-08-30 15:17] min-xu-ai commented on #1062
cc @mikerabbat

[2022-09-07 08:31] h-vetinari commented on #1003
This split is not very clean at the moment. `fair_dev` is not installed by default, but _is_ used by the tests, which meant that https://github.com/conda-forge/fairscale-feedstock/pull/20 (and follow ups) broke - I had no time to investigate earlier, but I'd say:
* either install `fair_dev` by default (or at least provide an option to do it)
* make the usage of `fair_dev` in the test conditional o

[2022-09-07 15:51] min-xu-ai commented on #1003
Thanks for letting us know that @h-vetinari . @crutcher, can you help fixing this?

[2022-09-10 17:16] min-xu-ai commented on #1062
@lballes @prabhuteja12, I revisited this issue and found that we actually have unit tests that ensure grad_accum and DDP are the same. See here:

![image](https://user-images.githubusercontent.com/24926999/189494381-ad66552a-3ea6-4de6-8779-3c641b6dcc17.png)

If I remove the `total_grad_sqr = total_grad_sqr / (self._num_grads_to_accum**2)` line a bunch of unit test fails. The test data is in fact s

[2022-09-21 21:00] zaptrem opened #1073 "Question: VRAM Limits for FSDP across Asymmetrical GPUs?"
Hello, with HF Accelerate you can [limit GPU memory](https://huggingface.co/docs/accelerate/main/en/usage_guides/big_modeling#:~:text=First%20note%20that%20you%20can%20limit%20the%20memory%20used%20on%20each%20GPU%20by%20using%20the%20max_memory%20argument) usage on a per-GPU basis when sharding a model. This has proven extremely useful to me as I'm training with a set of GPUs that have different

[2022-09-22 16:17] ppwwyyxx commented on #1057
I believe this is a problem of fairscale. According to pytorch code:
https://github.com/pytorch/pytorch/blob/735ab791684581cd800da2807a635b1f486f8a67/torch/distributed/__init__.py#L24-L29

`ProcessGroup` is available only if `torch.distributed.is_available()` is True.

In other words, fairscale should not import `ProcessGroup` unconditionally - this makes fairscale un-importable on any machine whe

[2022-09-23 00:42] min-xu-ai commented on #1057
@ppwwyyxx Thanks so much Yuxin! This explains it! I will make a fix.

[2022-09-23 04:18] #1057 closed

[2022-09-23 20:41] min-xu-ai commented on #1073
please reopen if there are more questions.

[2022-09-23 20:41] #1073 closed

[2022-09-23 20:44] zaptrem commented on #1073
This is what I was curious about. I'm using the PyTorch Lightning Fairscale integration. Thank you for referring me in the right direction! I'll wait for what zhaojuanmao has to say.

[2022-09-23 20:51] min-xu-ai commented on #1061
Here is some high level things about how to do EMA with FSDP. At least this represents one way:

* put ema model in a class that's not nn.Module

[code]

* Then, put this model inside the main model
[code]
* this way, when the main model is wrapped, the ema model is not automatically wrapped by FSDP.
* then, you want to wrap your main model and ema model with FSDP separately:
[code]
* After this,

[2022-09-23 20:51] #1061 closed

[2022-09-23 20:53] min-xu-ai commented on #1059
please reopen if you have additional questions.

[2022-09-23 20:53] #1059 closed

[2022-09-23 20:58] min-xu-ai commented on #1050
Actually, `no_sync` with FSDP is a bit different from that of DDP. With `no_sync`, you actually won't get memory benefit because it would hold on to full params and full gradients, which makes it the same as DDP. This has the benefit of reduced network communication.

However, if you want to save memory in the expense of the more network communication, you can do gradient accumulation directly wit

[2022-09-23 20:58] #1050 closed

[2022-09-23 21:03] min-xu-ai commented on #1056
OK, I looked at the linked PR for the actual error and I think this is from the pytorch version of FSDP not fairscale's version.

Sorry for the confusion of 2 versions. We should probably rename one of them. Please work with pytorch (cc @zhaojuanmao and others on that error). Sorry about delaying looking into this. There is really only me doing this part time. :-)

Will close this and please reope

[2022-09-23 21:03] #1056 closed

[2022-09-23 23:07] #1041 closed

[2022-09-23 23:33] min-xu-ai commented on #967
there has a been a few fixes that might address this. Can you try the 0.4.10 release if you still care about this case? Thanks a lot!

[2022-09-23 23:33] #967 closed

[2022-09-24 01:07] #1003 closed

[2022-09-24 01:42] min-xu-ai commented on #1003
@h-vetinari I moved fair_dev but I don't know if this is enough. Can you please kindly let us know? Thanks!

[2022-09-24 17:39] #918 closed

[2022-09-26 16:27] hyoo opened #1082 "is the prefetch_fsdp_params_simple branch deleted or merged?"
I can't see it this morning. If this branch is deprecated, what would be the best branch to use?

This branch has been referenced from the metaseq repo, btw,
https://github.com/facebookresearch/metaseq/blob/main/Dockerfile#L40

[2022-09-26 19:50] rowhanm opened #1083 "Can't load optimizer state due to `state_steps`"
Hi, I recently upgraded to PyTorch 1.12 and have had issues with loading a saved optimizer state using FSDP here and the issue seems something that is addressed in comments here -
https://github.com/facebookresearch/fairscale/blob/4975b05e89aaa29923b72c23b7b0f45118e4252f/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L2436

From what I understand, Adam's `step` state changed into a sing

[2022-09-26 21:07] min-xu-ai commented on #1083
Hey, thanks for the detailed question! I think what you are doing is correct. #776 is largely different from your issue, which is related to the optimizer state.

I am not sure whether you are running into problem 1 or problem 2 below or both.

1. load pre-1.12 checkpoint and crash
2. using same version (Post 1.12), save a checkpoint and load it back causing crashes

For 1, I suggest you just use

[2022-09-26 21:11] min-xu-ai commented on #1082
oops, I didn't know it was used. I must have cleaned it up during the weekend. I just restored it. Please check it out and let me know if that's working or not.

[2022-09-26 21:11] #1082 closed

[2022-09-27 00:13] rowhanm commented on #1083
Hi, I think it is the second alternative. Saving a checkpoint and then running `optimizer.step()` (with or without load) causes a crash.

Here is a minimal reproduction - https://gist.github.com/rowhanm/71272f157d8c9450d6b1c7639a612126.

I've narrowed down the problem to be this line here - https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/fully_sharded_data_parall

[2022-09-27 00:53] min-xu-ai commented on #1083
I see. This makes sense. We likely don't have test case that catches this issue. I will find a time to fix this.

[2022-09-27 01:02] min-xu-ai commented on #1083
btw, here is the error I got when running your sample code:
[code]

[2022-09-27 01:12] rowhanm commented on #1083
yep, that is the main issue :) Adam expects `state_steps` to be a singleton tensor but `gather_full_optim_state_dict()` converts it into an int.

I can throw in a small test case + PR that fixes it in a bit.

[2022-09-27 01:30] min-xu-ai commented on #1083
Thanks for trying a fix!

My best memory is that this is needed because if the step is a singleton tensor, then it maybe treated like a sharded optimizer state and gets handled by the gather function. In a way, this step scalar is assumed to be the same across all ranks, which is true for FSDP at least. Maybe there are reasons why it changed from scalar to a tensor in the first place but I haven't

[2022-09-27 01:40] min-xu-ai commented on #1083
BTW, when I ran your test code with pt 1.8, it gave a different error in the loss function, which is very interesting too.

[2022-09-27 01:51] rowhanm commented on #1083
Super weird. I had only tested on pyt 1.12 which gives this error and 1.11 as expected does not since Adam expects `state_steps` to be an int.
I tried but can't test with 1.8 unfortunately due to not having a GPU with correct CUDA capabilities, could you tell me what the error is that you see with 1.8?

[2022-09-27 01:57] min-xu-ai commented on #1083
no need to worry, but here is the error of 1.8

[code]

[2022-09-27 02:00] rowhanm commented on #1083
hmmm...not sure if it's a mixed precision issue. Seems like something I've seen before with incorrect typecasting when using AMP

[2022-10-04 20:00] zhaojuanmao commented on #1073
we do not support different shard sizes on different GPUs yet

[2022-10-04 22:53] min-xu-ai commented on #1062
Update: thanks to @cyugao's great work, we now have a good understanding of this issue. Please see the PR. We will support both ways of doing gradient accumulation.

[2022-10-05 20:20] #1062 closed

[2022-10-09 03:04] xdd12135 commented on #920
I get this problem too, and I just want to use FSDP ,how should I solve this problem?  I don't have multiple losses in my code.

[2022-10-10 13:55] shijungg opened #1088 "Why only wait for work_handles[-1] in _sync_params_and_buffers ?"
I saw line 552 in function `_sync_params_and_buffers`, you only wait  for work_handles[-1].
Why don't wait for the other work_handles ?

(https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/sharded_ddp.py)

[2022-10-11 19:37] min-xu-ai commented on #1088
cc @blefaudeux ?

[2022-10-13 02:26] xdd12135 opened #1089 "Why I cannot set move_params_to_cpu=True"
I want to use the function move_params_to_cpu=True in the code,but I got the rrror as follows:

![image](https://user-images.githubusercontent.com/56624119/195483788-c8b8b09b-1bf0-423d-b2a6-25db633f2cba.png)

it seems the device should be on cpu,with move_params_to_cpu=True,however,I can't find the code to move the model to cpu. and I check the FSDP code in torch1.12, there's a function that move

[2022-10-13 09:49] blefaudeux commented on #1088
@shijungg because they're all emitted on the same cuda stream, so there are sequential guarantees. If the last one is done, then all the ones before are also done :)

[2022-10-13 11:00] blefaudeux commented on #1088
if the [cuda stream](https://pytorch.org/docs/stable/generated/torch.cuda.stream.html?highlight=cuda%20stream#torch.cuda.stream) is not changed (via a context for instance), then everything ends up on the same. FSDP [does smart things](https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L1218) with that to have a better overlap, but sha

[2022-10-13 11:25] shijungg commented on #1088
Thank you all ! @blefaudeux @min-xu-ai

[2022-10-14 03:37] min-xu-ai commented on #1089
The error msg should have been better. It really means that your model should be on cpu before it is passed to FSDP. It doesn’t mean FSDP code moves your model to cpu.

[2022-10-14 05:24] xdd12135 commented on #1089
you mean if I want to set `move_params_to_CPU = True`, I should not use `model = model.to('cuda)` in my code, just keep model on CPU ,Am I right?

[2022-10-14 15:34] min-xu-ai commented on #1089
Yes. You are right

[2022-10-15 04:25] #1089 closed

[2022-10-15 20:37] wookjeHan opened #1090 "[Question] FSDP vs ZeRO"
Hi.
First of all thanks for providing such a great library. I'm happy to use this library.

However, I am wondering the difference between ZeRO provided by DeepSpeed and FSDP.

Is there any noticeable difference?

Best Regards,
Wookje Han

[2022-10-16 04:32] min-xu-ai commented on #1090
Good question. I don't know any comprehensive comparison in terms of both APIs and performance. However, my impression is that deepspeed is a framework and FSDP is just a library that try to work like DDP in pytorch. If you have find any good comparison feel free to share it with us.

[2022-10-16 04:32] #1090 closed

[2022-10-20 10:23] logicwong commented on #789
@min-xu-ai Hi, I would like to know how to compute the moving average on the shards without using `summon_full_params`? Can you give me some suggestions?

[2022-10-20 14:28] min-xu-ai commented on #789
You can do something like this pseudo code:

[code]

Again, it is just pseudo code. Just to illustrate that you loop over all params of a shard without using the summon API.

[2022-10-21 08:15] logicwong commented on #789
@min-xu-ai Thanks for your quick reply, I will try it.

[2022-11-02 17:34] glample opened #1092 "clip_grad_norm_ from fairscale downcasts to bf16 before all reduce"
Copied from: https://github.com/fairinternal/xlformers/issues/117

Shouldn't we remove the `.to(dtype=parameters[0].dtype)` from this line?
https://github.com/facebookresearch/fairscale/blob/ee647b976cf4c8fdd37bc9ae3fd6331d225ba2a0/fairscale/internal/params.py#L75
It seems weird (and it results in inaccuracies) to convert partial gradient norms to `fp16`/`bf16` before summing them.

Context:

We u

[2022-11-03 01:19] min-xu-ai commented on #1092
Yeah, it does seem like an unnecessary thing to do. It seems to be from this commit:

https://github.com/facebookresearch/fairscale/commit/8dc2030b09eab71c7aace9e6a674ca4ea8429346

@blefaudeux, do you remember why it was done in the first place? If not, we can try removing it. @glample feel free to send a PR.

[2022-11-11 07:37] syorami commented on #604
hi @min-xu-ai do those "some layers" include norm layers such as layernorm? I found the parameters in layernorm are also cast to fp16. This could result numerical precision problems and I'm wondering whether it's related with my loss disconvergence.

[2022-11-11 14:43] min-xu-ai commented on #604
Yes, it is possible. But I don't have first hand experience on layer norm particularly for mixed precision.

[2022-11-12 22:16] blefaudeux commented on #1092
hey there, seeing this a bit late, no context from me really I guess that it was a type "fix" at some point

[2022-11-13 00:16] min-xu-ai commented on #1092
Yes, that's what I meant. Thanks a lot for the context, Ben!

[2022-11-16 08:35] syorami opened #1093 "FSDP - Extra GPU memory consumption when maintaining a EMA weights"
I'm now training a large model with 2.5B parameters which consumes around 9G GPU memory. When maintaining EMA weights of total weights instead of sharded ones, the GPU memory increases by 2x (around 18G) instead of 1x. Here is my EMA implementation:

[code]

After some hacking, I found that there are additional memory consumption (around 9G) in `alloc_storage_(p._full_param_padded, size=p_size)` w

[2022-11-17 17:07] min-xu-ai commented on #1093
Maybe you don't keep to keep the reference of the full param tensors in self.model_parameters? model.state_dict all-gather all the params from all GPUs and keeps the full param tensors in p._full_param_padded. It should normally be related when you are done using it, but perhaps in your case, it is not released because of the references in self.model_parameters?

not sure I fully understand you co

[2022-11-17 17:54] kedarkolluri opened #1094 "Any examples using AdaScale with fairseq?"
Hi, Are there any examples using AdaScale with fairseq?

[2022-11-26 02:00] min-xu-ai commented on #1094
Good question. I don't think adascale will work with fairseq since fairseq mostly uses Adam. AdaScale only works with SGD at the moment. If you know how to make it work with Adam, I'd be very happy to know. Also, if you meant to ask about fairseq + SGD, please let me know. I can take a look how to make fairseq work with adascale + SGD, it should be straightforward.

[2022-11-26 02:00] #1094 closed

[2022-11-26 02:01] min-xu-ai commented on #1093
Please reopen if you have additional questions.

[2022-11-26 02:01] #1093 closed

[2022-11-30 04:04] syorami commented on #1093
Sry I missed the notification. I followed your suggestion and found that it is due to the `model.register_buffer(buffer_name, value.data.clone())` and this allocates additional storage for the registered buffers. However, simply keeping the `self.model_parameters` won't make any difference and I can constantly access the internal variables, which I though are supposed to be released as the trainin

[2022-11-30 05:14] min-xu-ai commented on #1093
yeah, if you clone each tensor it will consume additional memory. once you call state_dict(), it should already allocate the full params and not freed since they are still referenced by self.model_parameters. Not sure if you have specific question for me. I hope things are working for you.

[2022-11-30 05:47] syorami commented on #1093
Nope. Thanks for your kindly explanation. It really helps.