[2020-07-21 19:00] froody opened #4 "Name 'nn.TransformerEncoderLayer' is not defined"
## 🐛 Bug

benchmarks/transformer.py:43: error: Name 'nn.TransformerEncoderLayer' is not defined

## Command

## To Reproduce

Steps to reproduce the behavior:

1. conda install -c conda-forge pre-commit
2. pre-commit run --all-files

## Environment

[pip3] numpy==1.18.5
[pip3] torch==1.5.1
[pip3] torchvision==0.6.0a0+35d732a
[conda] blas                      1.0                         mkl
[conda]

[2020-07-21 23:53] #4 closed

[2020-07-24 17:11] blefaudeux opened #8 "Optimizer state sharding: collect all states from a single rank"
## 🚀 Feature
Make it possible to collect all sharded optimizer states on a single rank.

## Motivation
When saving the current job's state (checkpointing for later job resume), some frameworks expect to be able to fetch the whole training state (including the optimizer's) from a single rank, and they will not trivially be able to query all ranks at that time.

## Pitch
- Add a "sync state" or simi

[2020-07-27 22:06] froody opened #11 "Test failure with pytorch 1.6"
## 🐛 Bug

tests/nn/pipe/test_deferred_batch_norm.py:41: RuntimeError
        # Tilt mean by single batch.
        for i, single in enumerate(input):

E           RuntimeError: Output 0 of UnbindBackward is a view and is being modified inplace. This view is the output of a function that returns multiple views. Such functions do not allow the output views to be modified inplace. You should replace t

[2020-07-30 20:50] min-xu-ai opened #15 "Two workflow related questions"
## ❓ Questions and Help

These are not with high priority. When I was working on PR #14, I have these two issues around workflow remain unresolved. File them here in case we want to resolve.

1. requirements-dev.txt and requirements-test.txt are a little bit confusing. Unclear which one a developer should be using. I suggest we either merge them or document the use cases.
1. when merging a PR one

[2020-07-31 00:37] min-xu-ai commented on #15
with the latest c++ code addition, I had trouble setting up my env to compile it correctly. I got error like:

[code]

It seems that we need better instruction on how to setup things up, esp for:

1. making sure pytorch with cuda can be installed from requirements.txt
2. making sure cpp dev env is correct

[2020-07-31 02:00] #8 closed

[2020-07-31 20:28] min-xu-ai commented on #15
This is resolved. We have decided on squash & rebase as the way going forward.

[2020-08-04 04:47] min-xu-ai commented on #15
@msbaines is this worth keeping open for a little while?

[2020-08-07 19:15] msbaines opened #27 "oss_ddp will assert in forward when running in eval mode"
## 🐛 Bug

In training, we only forward which will cause the need_reduction check to fail. This can be fixed setting need_reduction in a backward hook instead of forward.

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below

[2020-08-07 19:28] msbaines commented on #15
This should be addressed by PR #21

[2020-08-07 19:28] #15 closed

[2020-08-07 19:36] min-xu-ai commented on #27
Thanks for catching. Just to make sure, is this blocking anything? If not, I will do it later and add a unit test for it too.

[2020-08-10 23:20] blefaudeux opened #28 "OSS to expose classic optimizer compliant param_groups"
## 🚀 Feature
Expose the "classic" param_groups from the OSS optimizer wrapper, either via a new API (not as nice) or if possible via the classic .param_groups attribute (get and set)

## Motivation
Some frameworks like classy vision use that to alter the LR per layer or over time (or both). Exposing this would make OSS integration a lot easier

## Pitch
Either use dedicated getter and setter prope

[2020-08-10 23:24] blefaudeux commented on #28
cc @mannatsingh @vreis , FYI, I'm trying to think of an elegant way to handle that. The crux of the problem right now with Classy integration is that ClassyOptimizer is a wrapper, OSS also is a wrapper, and the LR schedulers expect to interact with 'self.optimizer.param_groups'. This is unambiguous for a "normal" optimizer (there's a single state in flight at any time), but it becomes ambiguous wh

[2020-08-11 16:41] mannatsingh commented on #28
Yeah, that's a good point. At the same time, I think we can let Classy think it's overriding the whole params when in fact it would just be overriding the sharded params. I don't think Classy actually *needs* the params to be the complete set. At the end of the day, what Classy is doing is taking some param groups and splitting them into subsets to configure different optimizer settings. But I am

[2020-08-11 16:46] blefaudeux commented on #28
@mannatsingh there are two possible practical issues I think, at least that's what I'm seeing in some of the unit test suite:
- Classy pulls a rank state and alters some keys, only to find that at times they are not there (->`KeyError`), if `param_groups` only exposes a shard
- Classy pulls the whole state and "pushes" the new one, but only the reference replica is affected, if `param_groups` expo

[2020-08-11 16:54] mannatsingh commented on #28
Hmm - can the shards actually change? Otherwise I'm not sure why the keys can go missing?

Right now Classy should ideally push the new state on all replicas, but yeah, this can be tricky. On Classy's side if we show Classy the whole virtual state, Classy should act on it the same way on all replicas. And then the work is offloaded to the virtualization logic to actually deal with this properly.

[2020-08-11 17:04] blefaudeux commented on #28
I mean that you can have something [like this ](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.LambdaLR), where you have one scheduler per param_group for instance. Now if everything is done from the reference rank, then it does not have all the groups in its own `.param_groups` attribute

[2020-08-11 18:17] mannatsingh commented on #28
Actually, so that it's easier for me to understand, do you mind writing a simple example on how parameter groups are set in OSS right now across different ranks?

[2020-08-11 18:22] blefaudeux commented on #28
Right now, it looks like (pseudo code)

`zero = OSS(model_params)
zero.param_groups : model_params # through the torch.optimizer default constructor, so this has nothing specific to the wrapped optimizer, no LR for instance
zero.optim.param_groups :  rank_and_optim_specific_param_groups # this is probably what classy is looking for, but rank specific`

[2020-08-11 19:08] mannatsingh commented on #28
Thanks @blefaudeux ! What I was actually asking was slightly different -
[code]

[2020-08-11 22:23] blefaudeux commented on #28
yes, the same is supported by OSS !

[2020-08-12 15:55] mannatsingh commented on #28
Ah, now I'm getting what the issue is. Sorry for being daft!
Just to summarize, here's what's happening -

[code]

[2020-08-12 16:00] blefaudeux commented on #28
my fault, I was not clear enough.. It's basically a case of russian dolls exposing similar but not identical attributes, and outside accessors who are misled. As shown in a diff this can be "fixed" on the client side, but it's not very elegant

[2020-08-13 04:32] froody commented on #11
Passes now on 1.6.0 release

[2020-08-13 04:32] #11 closed

[2020-08-14 05:14] blefaudeux commented on #28
Turns out that there were a couple of smallish issues, one which does not really have consequences (OSS is a wrapper, but disguised in an optimizer itself. Classy expects all the optimizer attributes to be at this level while they only are true of the shard -this is the only one which steps-), and another one which was a botched state restoration, fixed in the attached PR.

[2020-08-14 17:07] #28 closed

[2020-08-14 23:07] blefaudeux opened #42 "Faster OSS"
## 🚀 Feature
Reduce the runtime cost tied to activating OSS

## Motivation
Right now the speed penalty of using OSS over a couple of nodes, for a typical ClassyVision load is 2-10x.

## Pitch
There are a bunch of low hanging fruits, from oss_ddp to broadcast batching which could be used to reduce this impact

## Alternatives
Not using OSS I guess

[2020-08-21 00:37] andersonic opened #50 "Load state dict imprecision"
## 🐛 Bug

Load state dict introduces imprecision when using fp16 params and fp32 optimizer states (mixed precision and memory-efficient mixed-precision). Using super().load_state_dict results in the optimizer state being cast to fp16. Adam's load_state_dict then casts them back to fp32, but this introduces small changes in the values.

## To Reproduce

Steps to reproduce the behavior:

1. Go to te

[2020-08-25 16:18] myleott commented on #27
It's not highpri, but this blocks replacing fairseq's LegacyDistributedDataParallel with the one in fairscale. Here is the fix we did in fairseq: https://github.com/pytorch/fairseq/commit/631023200a8e0c8531ccdb9e5d7f54411149efdf

[2020-08-25 18:38] froody opened #51 "bechmarks/transformer.py doesn't specify chunks when constructing Pipe"
## 🐛 Bug

The whole point of the Pipe module is to split a batch into #chunks microbatches and then process these through the stages of the pipeline in order to achieve parallelism by having multiple microbatches being processed on different GPUs at the same time. The benchmark in bechmarks/transformer.py doesn't specify chunks so it defaults to chunks=1, which doesn't make use of any of the micro

[2020-08-25 22:51] min-xu-ai commented on #27
Thanks, Myle! Will try to get this fix this week.

[2020-08-28 21:06] #27 closed

[2020-08-28 21:34] #51 closed

[2020-09-02 17:29] blefaudeux opened #60 "Rewrite state_dict in a more pytorch idiomatic way"
## 🚀 Feature
Change the param_groups handling in the state dict, in order to follow more closely the default PyTorch assumptions
https://pytorch.org/docs/stable/optim.html#torch.optim.Optimizer.state_dict

## Motivation
- Some users may assume that the default pytorch optimizer interface with respect to the state dict is respected by fairscale/oss
- People familiar with pytorch optimizers would ha

[2020-09-02 17:30] blefaudeux commented on #60
cc @msbaines @mannatsingh

[2020-09-03 17:59] #60 closed

[2020-09-03 19:37] blefaudeux opened #63 "Add more documentation"
## 🚀 Feature
- Surface all the features exposed by fairscale
- Add code snippets
- Add benchmark examples
- Add links towards other projects which are using fairscale already
- Add some thoughts on when and where use the different methods exposed by fairscale

## Motivation
Fairscale is hard to grok from the outside, lower the barrier of entry

## Pitch
Easier to onboard people, easier to increase

[2020-09-03 19:38] blefaudeux commented on #63
cc @msbaines @froody @min-xu-ai

[2020-09-03 19:44] froody commented on #63
We should also add guidance around picking optimal parameters. For example with gpipe, the right value for the 'chunks' parameter depends on the model size.

[2020-09-05 00:20] blefaudeux opened #66 "[feat] Sync OSS.param_groups and the sharded optimizer param_groups"
## 🚀 Feature
Make sure that all attributes (not just LR) are in sync in between the OSS.param_groups and the actual optimizer.

## Motivation
Some frameworks make it possible to alter any attribute here, not just LR (momentum, beta for Adam, ..). We do not currently support this and silently fail

## Pitch
Part of the not really well defined PyTorch optimizer features which are nice to have

## Al

[2020-09-07 16:09] myleott opened #68 "Support broadcast_buffers in OssDdp"
## 🚀 Feature
We should add support for the `broadcast_buffers` flag to OssDdp.

## Motivation
Distributed training with BatchNorm requires it. We removed it from the fairseq implementation because it slows things down a bit, but for the generalized implementation here we should add it back (as a configurable option).

## Additional context
See documentation for `broadcast_buffers` in the main DDP

[2020-09-08 16:48] VitaliyLi commented on #63
would be also nice to add a discussion on when to use specific features, ie when to use pipelining and when to use tensor parallelism

[2020-09-08 20:35] #66 closed

[2020-09-10 18:34] blefaudeux opened #77 "Async broadcast request in OSS"
## 🚀 Feature
Make sure that the broadcast request to sync shards are async, and not blocking the main thread

## Motivation
OSS is currently too slow

## Pitch
Easy fix, no compromise

## Alternatives
Stay slow for no reason

## Additional context
Clear bottleneck when tracing execution

[2020-09-10 20:48] #77 closed

[2020-09-11 18:34] blefaudeux opened #81 "[feat] OSS: Support nvidia's LARC"
## 🚀 Feature
Make it possible to support LARC with OSS

## Motivation
LARC is a must have for large batch jobs, right now OSS will break on LARC because of the closure() being passed

## Pitch
Should be doable to gracefully handle optimizers with do not support closures in step()

## Alternatives
Not supporting LARC, reduces a lot of OSS interest

## Additional context

cc @mannatsingh @prigoyal @

[2020-09-11 19:03] msbaines commented on #81
SGTM

But if you are using LARC to wrap Adam then you may want to consider using the [fused implementation](https://github.com/NVIDIA/apex/blob/master/apex/optimizers/fused_lamb.py) of [LAMB](https://arxiv.org/pdf/1904.00962.pdf) available in apex. It is implemented as a fused multi-tensor CUDA kernel so will run orders of magnitude faster than LARC, implemented in python, wrapping Adam.

If you a

[2020-09-12 00:08] blefaudeux commented on #81
The need for now (classy/vissl) is mostly around SGD, using [this](https://github.com/NVIDIA/apex/blob/master/apex/parallel/LARC.py) as a wrap, which breaks with the `closure` keyword argument. I'll keep the rest of Apex in mind, we should probably converge indeed

[2020-09-14 11:57] myleott opened #83 "Support TPUs (PyTorch/XLA) for model parallel training"
## 🚀 Feature
The current implementation is based on Megatron and only supports GPUs. Now that we’re migrating fairseq to this implementation, we should add TPU support here as well.

## Motivation
Several fairseq users and internal projects would benefit from TPU support. For example, see https://github.com/pytorch/fairseq/issues/2503.

## Pitch
Replace all the CUDA-specific calls with device-agno

[2020-09-14 17:41] blefaudeux opened #84 "[feat] Create a benchmark pulling in both Pipe and Zero"
## 🚀 Feature
Add a new toy benchmark which mobilizes Pipe and Zero at the same time

## Motivation
- check that the interfaces, codebases are compatible
- expose hypothetical perf problems
- expose combined gains
- get a baseline asap to monitor progress on both fronts

## Pitch
New benchmark, either vision or NLP, to be implemented which Pipes the model and zeros the optimizer

## Alternatives
He

[2020-09-14 17:42] blefaudeux commented on #84
@msbaines @froody  @min-xu-ai assigning to myself, but feel free to grab

[2020-09-14 21:48] blefaudeux commented on #63
some frameworks expose the per param group flops, that's an approximation (ie not all flops take the same time to compute), but would that still be a useful heuristic, or should the size (in memory) be taken into account ? for my general understanding

[2020-09-15 02:01] mannatsingh commented on #81
Just to add a data point - I trained a RegNetY 128GF model on 8 nodes using FusedSGD and didn't notice any significant speed up.

[2020-09-15 16:22] blefaudeux opened #88 "[feat] OSS: make it compatible with nvidia's AMP"
## 🚀 Feature
AMP is using a load(get()) trick to make sure that the state tensors are cast in the right format, which breaks OSS assumptions, see https://github.com/NVIDIA/apex/blob/2ec84ebdca59278eaf15e8ddf32476d9d6d8b904/apex/amp/_initialize.py#L205

## Motivation
nvidia's AMP is getting deprecated in favour of Pytorch, but some of its features are not yet there. It brings a lot of speed to the

[2020-09-15 16:22] blefaudeux commented on #88
cc @mannatsingh

[2020-09-15 16:50] #81 closed

[2020-09-15 17:38] #88 closed

[2020-09-16 21:22] blefaudeux opened #91 "Privatize the sharded optimizer within the sharded DDP"
## 🚀 Feature
Align the OSS_ddp architecture with this proposal https://github.com/pytorch/pytorch/issues/42849.
A main difference is that oss_ddp owns the construction of the sharded optimizer, it does not have to be exposed.

## Motivation
- Prototype something closer to the RFC
- Bring the sharding in the same place, so that we can eventually align the sharding from the optimizer and the model p

[2020-09-17 21:47] Vittorio-Caggiano opened #96 "Broken pip fairscale package"
## 🐛 Bug

There is an error with the installation of the fairscale package

## Command
pip install fairscale
## Reproduce
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-vc622m0j/fairscale/setup.py", line 10, in <module>
        import torch
    ModuleNotFoundError: No module nam

[2020-09-17 22:33] #91 closed

[2020-09-17 22:54] blefaudeux opened #98 "[OSS] Expose `clip_grad_norm` for the sharded state"
## 🚀 Feature
Expose a method capable of returning the grad norm and clipping them which works on the sharded state

## Motivation
Similar to https://pytorch.org/docs/master/generated/torch.nn.utils.clip_grad_norm_.html but with OSS and sharded gradients

## Pitch
Could be done within ShardedDataParallel, reduce the norms and normalize the shards

## Alternatives
Not exposing this, could be problem

[2020-09-18 02:45] msbaines commented on #96
I am not able to reproduce. I see the following:

[code]

Which OS are you running?

Install dependencies seem to be correct are handled via https://github.com/facebookresearch/fairscale/blob/master/setup.py#L57.

[2020-09-18 05:22] Vittorio-Caggiano commented on #96
Solved the issue: by default a new environment is created with `pip == 9.0.1`. In order to install the dependencies pip needs to be upgraded to the latest version e.g. 20.2.3

[2020-09-18 05:37] Vittorio-Caggiano opened #99 "[Bug] OSS - Dataclasses dependences is missing"
## 🐛 Bug

The module fairscale.optim.oss has a dependence on the package Dataclassess

## To Reproduce
Steps to reproduce the behavior:
1. python -m venv tfs_env
2. source tfs_env/bin/activate
3. git clone https://github.com/facebookresearch/fairscale.git
4. cd fairscale/
5. pip install --upgrade pip
6. pip install fairscale
7. python
8. from fairscale.optim.oss import OSS

[code]

[2020-09-18 18:17] blefaudeux commented on #99
it's about the pipe module, not oss, no ?

[2020-09-18 18:21] blefaudeux commented on #99
and it looks like you have not installed fairscale. This is typically the error you would get if importing fairscale from a vanilla python environment. See README to either install directly via pip remotely (pip install fairscale) or locally

[2020-09-18 18:56] stephenroller commented on #99
dataclasses is distributed with python 3.7 and above, but not python 3.6

[2020-09-18 19:04] blefaudeux commented on #99
so makes sense to add it to requirements.txt, right ?

[2020-09-18 19:17] blefaudeux commented on #68
@myleott just to make sure I got the incentive right, the batchnorm problem is when using OSS in conjunction with a model parallel technique, right ?

[2020-09-18 22:32] stephenroller commented on #99
I've been unclear if there is harm if you pip install dataclasses on pytorch 3.7.

Also of course, maybe you don't support 3.6, maybe you do. I just saw the issue in notifications and thought I'd mention it

[2020-09-20 16:06] moskomule commented on #99
Hugging face’s transformers does ` "dataclasses;python_version<'3.7'", ` in setup.py.

https://github.com/huggingface/transformers/blob/47ab3e8262144cb962fc2769bf7551fc23c3ce2b/setup.py#L115

[2020-09-21 20:27] myleott commented on #68
Nope, this affects any model which has batch norm that uses data parallel. In particular, batch norm keeps running stats which should be synchronized across data parallel workers.

Here's an interesting discussion about a more flexible version of this (not saying we need this, but we should at least have the on/off version): https://github.com/pytorch/pytorch/issues/30718

[2020-09-22 18:53] #96 closed

[2020-09-22 18:58] msbaines opened #104 "[test] benchmarks: check final model against golden checkpoint"
## 🚀 Feature

@myleott had an excellent suggestion. To test for regressions, we should check final model_params of the benchmark tests against a golden checkpoint.

## Motivation

Better regression testing.

## Pitch

Find regressions via unit tests instead of downstream.

## Alternatives

## Additional context

[2020-09-22 19:01] #99 closed

[2020-09-22 21:15] eric-haibin-lin opened #105 "Can fairscale run megatron-style model parallel combined with Gpipe?"
Can fairscale run megatron-style model parallel combined with Gpipe?

[2020-09-22 23:39] blefaudeux commented on #68
Finally got the time to get back to this @myleott, sorry for being slow. There's still something I don't get, we forcefully sync the model in between the ranks [after each step] already (https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py#L166), by virtue of each rank being responsible for a shard's worth of update (so it needs to be sync'ed to the other ones, for now

[2020-09-23 06:35] min-xu-ai commented on #68
I think the module buffers are separate list of tensors that are different from the module params. They are not updated by the optimizer. Check the source of the original ddp code linked by Myle. The buffers are also part of the module's parameters but NOT in the params list and not updated by the optimizer. They are part of the checkpoint and update by the layers (like BN, but without backprop).

[2020-09-23 16:32] Vittorio-Caggiano opened #106 "Error running Pipe tutorial"
## 🐛 Bug

Running into an error when using the toy model in the tutorial

## Command
from the tutorial
[code]
then adding
[code]
throws:
![image](https://user-images.githubusercontent.com/23240128/94041661-8d8e7000-fd98-11ea-9075-12cd6b5c6579.png)

## Expected behavior

## Environment
PyTorch version: 1.6.0+cu101
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/

[2020-09-23 18:18] froody commented on #105
@eric-haibin-lin Yes, though there are some caveats and I need to write a tutorial. For now you can look at this test:

https://github.com/facebookresearch/fairscale/blob/master/tests/nn/model_parallel/test_layers.py#L310

Gpipe has two modes of operation: all stages in a single process, or 1 stage per process (see the `style` argument to `Pipe`). If you want to combine megatron and gpipe effectiv

[2020-09-23 18:19] eric-haibin-lin commented on #105
thanks! I’ll take a look

[2020-09-23 18:37] froody commented on #106
Ah, you need to create the input to the model on `model.devices[0]`, I'll update the tutorial, thanks!

[2020-09-23 18:37] #106 closed

[2020-09-23 20:11] #105 closed

[2020-09-23 21:58] blefaudeux opened #108 "[OSS] Support Apex AMP"
## 🐛 Bug
Using OSS in conjunction with AMP lvl 02 breaks, looks like they are changing the optimizer param_groups and this collides with what OSS is doing

## Command
Wrap an AMP enabled OSS, with optim O2

## To Reproduce
Start a ClassyVision training job, enable both amp and OSS

cc @mannatsingh @prigoyal

[2020-09-23 23:00] blefaudeux commented on #68
ah thanks, yes makes a lot of sense, I read too fast and was thinking about the model params. Ok, this is not sync'ed indeed

[2020-09-24 13:31] myleott commented on #104
Also, loading checkpoints and making sure they produce the same values for inference, particularly for things like model parallel.

We have a bunch of tests like this for checkpoints that we've released in fairseq (fairinternal link, sorry):
https://github.com/fairinternal/fairseq-py/blob/f1c3f2259ccd19dee6a2dfc12652b334a5f4b6eb/tests/fb_test_hub.py#L97-L98

[2020-09-24 22:33] eric-haibin-lin opened #113 "Pipe across machines"
## ❓ Questions and Help
Hi, from the tutorial I see an example of running Pipe with 2 GPUs. Can Pipe run training across machines? If not, what is missing / any caveat?

[2020-09-24 22:37] eric-haibin-lin commented on #113
nvm I see https://github.com/facebookresearch/fairscale/pull/90

[2020-09-24 22:37] #113 closed

[2020-09-25 22:18] joshim5 opened #115 "Zero sharding in Fairseq affects Megatron-LM results"
## 🐛 Bug

Optimizer zero state sharding should not affect the results of any experiments. However, @ngoyal2707 and I have observed that this isn't the case for Megatron-LM models in Fairseq.

## Command

## To Reproduce

First, we show that results can replicate across model parallel sizes.

[code]

However, if we now add optimizer zero state sharding, the numbers change.

[code]

## Expected beha

[2020-09-25 22:20] blefaudeux commented on #115
I've no idea how the `zero-sharding` parameter is implemented in fairseq_train.py, it's outside of the fairscale scope, right ? Shouldn't this be reported to fairseq instead ? (which could in turn report an issue here if need be)

[2020-09-25 22:25] joshim5 commented on #115
I was thinking about that too -- this is probably an issue between Fairscale <> Megatron, so it's not clear what is the best home for the issue. As long as someone on the Fairscale team sees this (probably @msbaines?) we're good. I opened an[ issue on Fairseq](https://github.com/fairinternal/fairseq-py/issues/1299) as well for visibility.

[2020-09-25 22:28] blefaudeux commented on #115
for context, I tracked the link down to https://github.com/pytorch/fairseq/blob/master/fairseq/optim/shard.py
Could be that we should add some fairseq specific workloads here to make sure that there's no regression over time. We have an ongoing test in CI which checks that zero does not affect the results, but it's not using mixed precision for instance, or whatever other trick fairseq may be leve

[2020-09-25 22:29] blefaudeux commented on #115
by any chance @joshim5 could you try without `--memory-efficient-fp16` ? It's not something that I'm very familiar with, if this is the culprit that would guide where to focus on

[2020-09-26 19:00] msbaines commented on #115
Thanks much for reporting and the repro. This is likely an issues in fairscale's OSS and its interaction with MegaTron-LM. I can't think of an obvious reason why it shouldn't work but will look into it.

I did my initial testing with --memory-efficient-fp16 so I don't think that is the issue here.

[2020-09-27 01:35] msbaines commented on #115
--zero-sharding in fairseq shards across ranks of the main distributed group. This will need to be adjusted for megatron where there are data_parallel and model_parallel groups.

[2020-09-29 04:07] blefaudeux commented on #115
that's something that we discussed with @froody also, happy to own that if you want @msbaines, as you prefer, and thanks for the initial investigation !

[2020-09-29 04:11] #68 closed

[2020-09-29 04:22] blefaudeux opened #116 "[OSS] Support seamless state consolidation"
## 🚀 Feature
Currently  `state_dict()` being called on a single rank cannot return the full optimizer state, because this rank only has a shard's worth. Checkpointing the full optimizer state requires calling `consolidate_state()` on all rank prior to pulling the state, which is not intuitive and not pytorch compliant.

Taking inspiration from other projects sharding the model or parameter state,

[2020-09-29 04:22] blefaudeux commented on #116
cc @min-xu-ai, feel free to grab (or not), any action equally welcome

[2020-09-29 04:26] blefaudeux opened #117 "[OSS] Faster broadcast in step()"
## 🚀 Feature
Bucketize the param broadcasts, this step is a pain point empirically

## Motivation
Speed, no compromise other than some code complexity, easy decision.

## Pitch
Decide parameter buckets at construction time, bucketize the smallest params but keep the biggest ones async

## Alternatives
Status quo, too slow

## Additional context
Right now for a typical computer vision training task

[2020-09-29 04:27] blefaudeux commented on #117
cc @min-xu-ai same as state dict consolidation, up for grabs or happy to dive into this, just a heads up

[2020-09-30 04:35] joshim5 commented on #115
I'm working on a fix. It mostly requires changes to fairscale with a small change to fairseq as well (passing the optimizer groups). I'll try to share PRs + repro tomorrow.

[2020-09-30 18:36] msbaines commented on #115
I think the following should fix it but I'm struggling to run the repro after re-syncing to fairseq master:

diff --git a/fairseq/optim/shard.py b/fairseq/optim/shard.py
index 4f35dbda4..5646b777b 100644
--- a/fairseq/optim/shard.py
+++ b/fairseq/optim/shard.py
@@ -11,7 +11,7 @@ except ImportError:
     _has_fairscale = False

-def shard_(args, optimizer):
+def shard_(args, optimizer, group):

[2020-09-30 20:35] joshim5 commented on #115
(Already sent this to Mandeep over chat): There are also some Fairscale changes that need to be introduced. In my diff, we separately keep track of mp and dp groups, performing dp-OSS separately across mp groups.

Most of these changes will live in Fairscale, so this implementation will generalize to any model parallel case. On the Fairseq side, we just have to modify Fairseq to pass the distribut

[2020-10-01 05:01] joshim5 commented on #115
I added a fix here: https://github.com/facebookresearch/fairscale/pull/121/

[2020-10-01 21:19] #115 closed

[2020-10-09 04:35] #117 closed

[2020-10-09 04:43] blefaudeux opened #132 "[OSS-SDP] Acuracy bug - results differ from DDP and OSS"
## 🐛 Bug
See https://github.com/facebookresearch/fairscale/pull/130 for a repro , with 4+ GPU there's a measurable accuracy discrepancy on the same problem vs normal DDP and OSS+DDP. It does not show with 2 GPUs.

## To Reproduce
Steps to reproduce the behavior:

1. 'python3 fairscale/benchmark/oss.py' on a machine with 4 or more GPUs
2. Observe that the two first runs (DDP and OSS+DDP) match, but

[2020-10-09 04:44] blefaudeux commented on #132
cc @msbaines @min-xu-ai, FYI, I'll look into it but just so you know

[2020-10-13 23:03] blefaudeux commented on #108
Basically the two dicts are sync'ed at construction time ([see](https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py#L89)), but if the wrapped optimizer adds keys on the fly, then that breaks. Solution should be to gracefully fallback in that case and add the new key

[2020-10-14 16:30] #108 closed

[2020-10-16 22:32] min-xu-ai opened #143 "Get AdaScale type checked"
## 🐛 Bug

We should get AdaScale type checked. I am working on its result reproducibility. After that, I will get to this.

## Command

## To Reproduce

Steps to reproduce the behavior:

1. remove type: ignore in the source and __init__.py that importing it
2. mypy should fail

## Expected behavior

mypy should pass without the ignore

[2020-10-17 21:02] min-xu-ai opened #146 "pytest AdaScale"
## 🚀 Feature

Once Mike and I gain more experiences with AdaScale with different projects, we should get it pytested. Before that, we will not use it widely in different projects.

## Motivation

Make sure code is covered with unit test.

## Pitch

pretty standard.

## Alternatives

no test?

## Additional context

Mike and I are doing some reproducibility study with AdaScale.

cc: @msbaines @blef

[2020-10-20 18:23] #143 closed

[2020-10-20 19:54] SeanNaren opened #154 "Add mixed precision autocast to benchmarking script"
## 🚀 Feature

It would be nice to make sure OSS/ShardedDDP plays nice with torch autocast! Adding it to the oss.py benchmark will allow us to ensure there is no glaring issues. I don't mind working on this!

## Motivation

Integrating OSS/ShardedDDP into PL :)

[2020-10-21 01:01] min-xu-ai commented on #154
This seems like a unit test, not a benchmark?

For unit test, it would be nice to make sure we run a test only when its dependent files change in a PR or commit. But that is certainly outside and independent of this issue.

[2020-10-21 14:52] SeanNaren commented on #154
I think we should have the functionality in both! I've been using the oss.py script primarily but should make its way into a unit test. What would you like the unit test to replicate/integrate into? was thinking this: https://github.com/facebookresearch/fairscale/blob/master/tests/nn/data_parallel/test_sharded_ddp.py

[2020-10-21 18:12] blefaudeux opened #158 "OSS: improve on the default benchmark, pass in something realistic"
## 🚀 Feature
Instead of optimizing on random data, pick up something sensible from torchvision

## Motivation
Easier to compare to existing workloads to people, easier to make sure that we test on something realistic

## Pitch
Pick a small dataset from torchvision and use it

## Alternatives
- keep optimizing on random data
- create synthetic data on the fly

## Additional context

[2020-10-21 18:59] blefaudeux commented on #158
cc @Vittorio-Caggiano

[2020-10-21 23:41] blefaudeux opened #160 "ShardedDDP: automatic gradient reduce"
## 🚀 Feature
Change ShardedDDP so that the gradient reduction happens automatically during the BW pass

## Motivation
Changing DDP is already demanding for most frameworks using fairscale, changing the training loop on top of that to add a manual reduce makes it even more so.

## Pitch
Use either autograd functions or backward_hook registration to reduce the grads properly and release the buffers

[2020-10-21 23:49] #158 closed

[2020-10-22 03:35] min-xu-ai opened #162 "benchmark circleci flaky"
## 🐛 Bug

my last commit broke circleci: https://app.circleci.com/pipelines/github/facebookresearch/fairscale/723/workflows/756f3e58-06ae-424a-a320-e85174a59483/jobs/2771

But it seems to be an performance/speed assertion that my change shouldn't affect. @blefaudeux, can you take a look?

cc: @msbaines

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

[2020-10-22 04:13] #162 closed

[2020-10-22 06:38] blefaudeux commented on #132
Looks like the bug is in computing the update actually, we're not using the params which we should be using possibly. It was not visible with DDP thanks to the all_reduce meaning that the data was there anyway
See P146437109, the first gradient is completely matching, but the first update differs slightly

[2020-10-22 12:04] SeanNaren commented on #154
Have a branch which is super simple, just adds autocast wrappers to the forward passes: https://github.com/SeanNaren/fairscale/tree/feature/autocast_benchmark

Once other functionality has merged, I'll open the PR :)

[2020-10-22 15:58] blefaudeux commented on #160
blocked by #132 , not specific to this branch but I think that this needs to be fixed as part of this PR

[2020-10-22 16:41] blefaudeux opened #164 "OSS: Make the checkpoints partition-agnostic"
## 🚀 Feature
Change the consolidated state dict so that it becomes partition-independent

## Motivation
This would make it possible to change the number of hosts when restarting a job

## Pitch
state_dict() and load_state_dict() need to flatten/shard everything out, instead of storing data per rank

## Alternatives
Current status, same number of ranks before and after

## Additional context
Captur

[2020-10-23 22:01] blefaudeux commented on #98
@stephenroller having a look at that right now, would you think that it makes more sense to expose it in the sharded optimizer or in the DDP engine ? the torch utils implementation is purely functional, but that would probably not be doable here

[2020-10-23 22:05] stephenroller commented on #98
It's commonly exposed in the fp16 context (apex). I'd say the optimizer might make more sense in this case? Assuming most people do clipping near the same place they do the optimizer.step. I'm sure I could deal with both reasonably as a user though

[2020-10-23 22:11] blefaudeux commented on #98
Sounds good, thanks for the quick feedback !

[2020-10-23 22:19] blefaudeux commented on #98
adding notes to document here, apex (fp16) actually exposes the optimizer's parameters so that the normal torch util grad clipping can be used, see https://nvidia.github.io/apex/advanced.html#gradient-clipping.
It feels a bit different from the DDP usecase though, because in that case each of the shards will be normalized independently, unless the user does that in several steps (collect max norm

[2020-10-23 22:21] blefaudeux commented on #98
aah of course, I just realized that in Apex's case the optimizer is not sharded, my bad. So handling the inter-rank sync is specific to us, needs a "new" solution

[2020-10-27 22:35] myleott commented on #160
In case it's helpful, you can use `Variable._execution_engine.queue_callback` for this purpose. This was how it was implemented a long time ago in PyTorch before they moved everything to C++, and also how it was implemented in fairseq until recently: https://github.com/pytorch/fairseq/blob/54baa2e72d1228ca7d40b78f676ed782285ae6c7/fairseq/legacy_distributed_data_parallel.py#L172-L180

The mechanics

[2020-10-28 16:03] myleott commented on #160
Ah, I hadn't seen #157.

Some downsides of Functions (in general) are that they don't support kwarg inputs and only allow returning a single Tensor or a tuple of Tensors. For example, a model that returns `(x, y, None)` wouldn't work because `None` isn't a Tensor. A model that returns a dictionary would similarly not work, so this adds a lot of extra constraints on the model. The kwarg input and m

[2020-10-28 18:39] blefaudeux commented on #160
Thanks for all the context, very much appreciated ! Speed-wise the Functions option seem ok on a single node, but too slow when multiple nodes are involved, as per some tests on FB infra, probably because it looses some bw/coms overlap. The fact that the inputs/outputs are restricted to Tensors has also already proven to be an issue, so more work to do and your pointers will help

[2020-10-29 18:24] blefaudeux commented on #160
@myleott spending some time on the legacy fairseq implementation that you linked, it reduces all the gradients in one go, right ? I'm mostly interested in reducing when walking back the BW pass, early tests with the linked PR (which also reduces in one batch) showed that while it works, it's too slow when inter-node communications are involved. I'm testing a per-parameter reduce hook [here](https:

[2020-10-30 12:06] SeanNaren opened #173 "How to use Pipe in evaluation mode"
## ❓ Questions and Help

Was curious if the Pipe module can be used in evaluation mode... I have a script which is just the modified `benchmark/pipe.py` but stripped down/self-contained and runs the `evaluate` function.

https://gist.github.com/SeanNaren/6a91ad9c5d82bf7e6ccb3081ff086067

Running this. gives me an error in evaluate (I have to run it twice, once to download the data then crashes/the

[2020-10-30 23:26] froody commented on #173
@SeanNaren sorry for the lack of documentation, in with PipelineStyle.MultiProcess, only the final stage receives the output, so you need to rewrite your [code](https://gist.github.com/SeanNaren/6a91ad9c5d82bf7e6ccb3081ff086067#file-benchmark_pipe-py-L328-L330) as:
[code]

I am working on an update which controls all stages of the pipeline from a single process via torch.distributed.rpc, so that w

[2020-10-30 23:30] SeanNaren commented on #173
@froody thanks for your response! Might be better to wait for this update, is this the PR to track? https://github.com/facebookresearch/fairscale/pull/156

[2020-10-30 23:30] #173 closed

[2020-10-31 02:32] froody commented on #173
Yes #156  is the right PR

[2020-11-05 00:07] blefaudeux commented on #154
The attached PR adds a benchmark option for that, and runs it on CI to make sure that we don't break it over time

[2020-11-05 00:08] blefaudeux commented on #132
Changing torch versions also introduces discrepancies on the reduced gradients, so that seems beyond the reach of ShardedDDP. If anything the DDP <> ShardedDDP discrepancy is reduced with pytorch 1.7

[2020-11-05 00:08] #132 closed

[2020-11-06 00:10] #154 closed

[2020-11-06 17:07] vtantia opened #178 "Integration of SlowMo into FairScale"
## 🚀 Feature
Add the distributed optimization algorithms [SGP](https://arxiv.org/abs/1811.10792), LocalSGD and [SlowMo](https://arxiv.org/abs/1910.00643) in Fairscale in order to reduce the amount of communication between different nodes, and hence, speed up training. The latest version of the codebase is present [here](https://github.com/vtantia/stochastic_gradient_push/tree/latest_master).

## M

[2020-11-09 23:51] blefaudeux commented on #63
closed for now, to be revived if need be

[2020-11-09 23:51] #63 closed

[2020-11-09 23:57] blefaudeux opened #180 "[OSS] Handle torch AMP auto skip inf/nan steps"
## 🚀 Feature
Using torch amp can lead to step() being skipped in the presence of inf or nans. An issue with that with OSS is that each rank will see a different step, meaning that some ranks could skip and others try to step (typically vanishing gradient on the way up and underflow with fp16). We need to handle that properly

## Motivation
Without that using torch amp with OSS can easily deadlock,

[2020-11-10 16:59] blefaudeux commented on #180
hmm, I'm wondering now if subclassing Scaler would not be a better idea, so that we check on all grads before hypothetically skipping the step()

[2020-11-10 19:41] SeanNaren commented on #180
Hey @blefaudeux I think we're in sync on this, I'm currently looking at subclassing the scaler and ensuring the inf check is reduced correctly:

[code]

[2020-11-10 19:48] blefaudeux commented on #180
Agreed, so if OSS can expose a distributed gradient check (not too different from the clip_grad_norm) the ShardedGradScaler code would be fairly minimal and easy to grok

[2020-11-10 20:06] blefaudeux commented on #180
looks like there are some subtleties to keep in mind for speed (for instance prevent the upstream GradScaler from spending too long checking for infs again in the `super().step()`), but doable. I should have a working example along these lines in the next couple of hours

[2020-11-10 22:07] blefaudeux commented on #180
looks like this take is the cleanest, I just spend some time getting up to speed with GradScaler and it looks like the most idiomatic way indeed.

[2020-11-12 17:35] blefaudeux opened #187 "[ShardedOptimizer] Use views in the buckets / save memory"
## 🚀 Feature
Same as the new DDP feature, skip the copies (at least optionally) and use "virtual" buckets (slices/views depending on languages) instead

## Motivation
For big models and jobs with many ranks, the buckets multiply and end up taking some space, which goes contrary to the whole point of ShardedOptimizer

## Pitch
Have a look at the view/slice approach, may not map directly but worth i

[2020-11-12 22:24] blefaudeux commented on #178
@vtantia would you like to propose a PR, or would you like one of the repo owners to pick it up ? Happy to help in any case

[2020-11-16 22:59] #98 closed

[2020-11-17 16:00] johncookds opened #190 "Fail on install - CUDA 11.1.0"
## 🐛 Bug

Hi,
pip install on below environment throws an error. I'm happy to provide more info if it would be useful. Thanks!

fatal error: multi_tensor_apply.cuh: No such file or directory

## Environment (NVIDIA-Python Docker: 20.10)
Python: 3.6
PyTorch: 1.7.0
CUDA: 11.1.0
cuDNN: 8.0.4

## Error
[code]

[2020-11-17 21:08] min-xu-ai opened #192 "AdaScale: ideas of Pipeline and FP16"
## 🚀 Feature

While @erikwijmans was using AdaScale, he had some very interesting ideas. Filing here for tracking:

cc: @mikerabbat

* One interesting that could be done for the fairscale implementation is combining it with Pipeline to get a better estimate of variance when you can run large batches even on just a single or a couple GPUs (i.e. when you are running things on a 32 GB GPU when it wou

[2020-11-17 22:19] vtantia commented on #178
@blefaudeux thanks for the comment! I am working to add a few things to the PR including more documentation and performing a few robustness checks (and tests). I am planning to create the PR in around 2 weeks

[2020-11-17 22:50] blefaudeux commented on #178
sounds perfect, thank you !

[2020-11-18 00:16] #180 closed

[2020-11-18 01:09] zherowolf opened #194 "Fail on install - Import Error : numpy.core.multiarray failed to import"
## ❓ Questions and Help
Hi, I encountered a error while installing fairscale, The steps as follows:
1. Download Anaconda3-2020.07-Linux-x86_64.sh and install Anaconda
2. pip install fairscale

It seems that the numpy version should be old, but with "print (numpy.version.version)" the result is 1.18.

Does anyone have some idea?

[2020-11-18 05:45] #194 closed

[2020-11-18 17:21] min-xu-ai opened #195 "AdaScale: work with gradient accumulation"
Mike reported that this doesn't seem to work well. I will debug it. In the end, I will ensure it works and tested.

[2020-11-18 21:39] msbaines commented on #190
What is the command-line you are using to install?

[2020-11-18 22:14] msbaines commented on #190
Please try PR #196 and confirm whether or not it fixes your issue.

[2020-11-19 16:29] tchaton opened #199 "tutorial_pipe_rpc.py without mpi."
## 🚀 Feature

## Motivation

Hey @froody, I have been looking at the examples and I would like to try out PipeRPCWrapper without MPI (annoying to install) .
Would it be possible for you to put together such example ?

## Pitch

## Alternatives

## Additional context

[2020-11-19 20:51] johncookds commented on #190
Hi, Yes! It fixed my issue and I was able to install successfully however when I attempted to import the following error occurred:
[code]

The file structure of the install looks like:
[code]

I hope this information helps! I used the below command to install:
cmd = ["python3", "-m", "pip", "install", "git+https://github.com/facebookresearch/fairscale.git@fix-install"]

[2020-11-19 21:52] msbaines commented on #190
Thanks much for reporting. I've added testing in circle so that this get caught next time.

Fix is in PR #200.

[2020-11-19 22:17] min-xu-ai commented on #146
one more thing to test: make sure the checkpointed state is good for the class.

[2020-11-20 01:10] #190 closed

[2020-11-20 01:13] msbaines commented on #199
For MPI, you might want to try: https://github.com/msbaines/torch_pg It works with pip/conda version of torch.

[2020-11-20 02:07] johncookds commented on #190
Awesome, it works now, thanks so much for your help!

[2020-11-20 19:34] blefaudeux opened #201 "[ShardedDDP] Better integration with ShardedOptimizer"
## 🚀 Feature
Change ShardedDDP interface to be exactly the same as DDP (do not take the optimizer as an input)

## Motivation
There's a small difference right now in DDP and ShardedDDP initialization, in that ShardedDDP requires the ShardedOptimizer to be passed in.

This is mainly for two reasons:
- ShardedDDP pulls the partition from ShardedOptimizer
- Buckets used to reduce and broadcast the gr

[2020-11-21 00:10] min-xu-ai opened #203 "benchmark test too tight?"
Hi Ben,

Is the benchmark test too tight? I see this with my draft PR:

![image](https://user-images.githubusercontent.com/24926999/99861373-b6d63d00-2b4a-11eb-9d03-bfc228a3d458.png)

[2020-11-21 04:03] blefaudeux commented on #203
hmm it's strange, I have not changed anything in that codebase for a while (the big PR is not merged). @msbaines recently had to dimnish the speed requisite when moving to torch 1.7, so there's definitely a downward trend not related to code changes, could be that it's tied to circleCI load balancing ? (aws I guess)

[2020-11-21 04:31] msbaines commented on #203
The purpose of setting a tight threshold is to catch statistically significant regressions.

We check that the benchmark results are within 3 standard deviations of the reference mean. If the benchmark is failing, there is a high likelihood (>99%) that your change is causing a statistically significant performance regression (i.e. not in the noise).

If we are OK with the regression, then you can

[2020-11-21 18:53] min-xu-ai commented on #203
I see. Thanks for explaining the 3 stddev. You can check my PR #202, which doesn't touch any of the files that could affect the benchmark AFAIK. I should have mentioned that in the first place. I agree we want to know whenever it drops. For this particular case, perhaps circleci machine is not fully deterministic in their performance?

[2020-11-21 22:32] stas00 commented on #190
I confirm that with that fix merged `pip install git+https://github.com/facebookresearch/fairscale.git` now builds on cuda-11.1 - required for rtx-30 cards. Perhaps a new pip release could be made to include those fixes? Thank you!

[2020-11-21 23:34] #160 closed

[2020-11-23 10:08] tchaton opened #205 "an error importing AMP in fairscale when using a Pytorch version less than 1.6"
## 🐛 Bug

## Command

## To Reproduce

<img width="737" alt="Screenshot 2020-11-23 at 08 21 28" src="https://user-images.githubusercontent.com/12861981/99949945-c2f11300-2d73-11eb-87f2-17a02e64da75.png">

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist b

[2020-11-23 16:25] tchaton opened #206 "tutorial_pipe_multiprocess.py fails with pytorch 1.7"
## 🐛 Bug

## Command

## To Reproduce

Dear @froody,

I tried running the example `tutorial_pipe_multiprocess.py` with Pytorch 1.7 and I got this error:

<img width="1495" alt="Screenshot 2020-11-23 at 18 46 48" src="https://user-images.githubusercontent.com/12861981/100010710-93202a80-2dc8-11eb-9518-40781334ee6d.png">

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environme

[2020-11-23 17:02] froody commented on #206
Are you referring to the tensorpipe warning?

[2020-11-24 03:31] froody commented on #206
Can you provide steps to reproduce? Is this on a branch? It looks from the backtrace like it involves pytorch-lightning, which isn't use by tutorial_pipe_multiprocess.py under normal conditions.

[2020-11-24 03:32] stas00 opened #208 "project website has wrong urls for api docs"
Half of your project website is 404

Looking like a configuration issue or wrong links. The pages are there, but urls are wrong.

https://fairscale.readthedocs.io/en/latest/ links to: https://fairscale.readthedocs.io/build/html/api/nn/pipe.html
but it should be https://fairscale.readthedocs.io/en/latest/api/nn/pipe.html instead.

same goes for all other api pages.

https://fairscale.readthedocs.io

[2020-11-24 08:59] #206 closed

[2020-11-24 09:01] tchaton commented on #206
Hey @froody,

You are right. I think it might be related to Lightning. Let me close this issue for now.

Best regards,
Thomas Chaton

[2020-11-25 11:48] tchaton opened #209 "PipeRPC + AMP fails"
## 🐛 Bug

## Command

## To Reproduce

Using `pipe-rpc-no-sendrecv` branch.

[code]

<img width="941" alt="Screenshot 2020-11-25 at 11 35 51" src="https://user-images.githubusercontent.com/12861981/100224038-30d44080-2f14-11eb-8011-c7db2fb002f7.png">

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection s

[2020-11-26 02:13] blefaudeux commented on #205
I"ll add an import guard, sorry about that

[2020-11-26 05:56] #205 closed

[2020-11-26 23:11] blefaudeux commented on #203
should be fixed by #204, closing

[2020-11-26 23:11] #203 closed

[2020-11-26 23:13] blefaudeux commented on #208
Many thanks for the report @stas00, configuration mistake indeed, we should have checked that.. Pushing a tentative fix in the coming days

[2020-11-27 00:37] #208 closed

[2020-11-30 21:21] blefaudeux opened #213 "[Minor] Add some perf numbers to the readme or doc"
## 🚀 Feature
Add some performance numbers to either the doc or the README (or a dedicated sub-README). That could apply to Pipe or ShardedOptimizer

## Motivation
People landing on this repo probably would love to know more about the practical implications

## Pitch
Just add 2 examples per technique for instance, baseline with caveats

## Alternatives
Not doing anything

## Additional context
cc @

[2020-11-30 23:24] blefaudeux opened #215 "[bug] Pipe tests break when run against torch dev"
## 🐛 Bug
`torch_version()` breaks when being run against the in-development torch, `version.parse(torch.__version__).release` becomes a None and the following assert fails. This in turn breaks some pytest decorators

## Command
FB `buck test @mode/dev //github/facebookresearch/fairscale:tests -- main`

## To Reproduce
the above command

Steps to reproduce the behavior:

1. Run the above command
2.

[2020-11-30 23:24] blefaudeux commented on #215
fixing that, cc @msbaines @min-xu-ai since @froody is probably busy

[2020-12-01 00:38] #215 closed

[2020-12-01 17:12] blefaudeux opened #217 "[refactor] unit tests use relative imports, which break with some CI / toolchains"
## 🚀 Feature
Refactor unit tests to move testing utils in a common place within the fairscale library, instead of being ad-hoc relative imports

## Motivation
Cleaner (there are probably utils which could be shared in between different unit test families), and makes it easily compatible with some toolchains, such as Facebook's (see D25223316)

## Pitch
Remove all relative imports in unit tests, co

[2020-12-01 17:12] blefaudeux commented on #217
cc @min-xu-ai @myleott @msbaines

[2020-12-01 22:21] msbaines commented on #190
Created a new pip package: https://pypi.org/project/fairscale/0.1.0/

[2020-12-01 23:07] #217 closed

[2020-12-02 00:25] stas00 commented on #190
It won't build:

[code]

[code]

[2020-12-02 00:27] stas00 commented on #190
[code]
fails too in the same way. So you must have changed something since I was last able to build it 10 days ago.

[2020-12-02 00:59] stas00 commented on #190
OK, first it seems that pip package `ninja==1.10.0.post2` is the cause of this failure.
[code]

and now I can build `fairscale` master w/ pytorch-nightly cuda/11.0

but something fishy is going on, since pip doesn't even see `ninja` installed by `conda`:
[code]

[2020-12-02 01:01] stas00 commented on #190
But I still can't build the pip package you have just released:

[code]

[2020-12-02 01:06] stas00 commented on #190
Here is the relevant part of the log for when it builds successfully - same env but from master clone

[code]

[2020-12-02 01:15] stas00 commented on #190
Looks like your pip package is missing files, observe:

this is from pip package - failing to build `fused_adam_cuda.cpp`
[code]

this is from clone, builds it just fine:
[code]

[2020-12-02 01:36] stas00 commented on #190
So the problem is missing:
[code]
Is it possible you built this package on a clone that was missing files?

If I do:
[code]

The package builds and installs just fine.

[2020-12-02 01:39] stas00 commented on #190
Yes, your package on pypi is missing files. It has only:
[code]
and is missing the other 2. If I build `python setup.py sdist`, it has:
[code]

The problem has been successfully diagnosed.

[2020-12-02 04:50] msbaines commented on #190
Thanks much for diagnosing! Pushed 0.1.1 which resolves this issue.

[2020-12-02 05:09] stas00 commented on #190
Confirmed to build just fine with 0.1.1 - thank you!

It's odd that `sdist` on my side got the headers included in the package w/o needing to modify `MANIFEST.in`. But your solution is definitely the best.

[2020-12-02 18:48] blefaudeux opened #222 "[ShardedDDP] Bucketing seems to break with ImageGPT"
## 🐛 Bug
It looks like the reduce when BW breaks with this setup, although it's fine when bucketing is disabled.
See https://github.com/SeanNaren/image-gpt for context

## To Reproduce

[code]
-> Assert that buckets overflow

## Expected behavior
Should run drama-free

## Additional context
cc @seannaren

[2020-12-03 06:26] min-xu-ai commented on #192
We also need to check working with different AMP O0, O1, O2 levels.

[2020-12-03 06:31] min-xu-ai opened #224 "[feat] AdaScale: supporting separate scale vs. world_size"
## 🚀 Feature
@mikerabbat and @erikwijmans already worked out the math and have a version of this. This PR is keep track of porting that into this code base. The idea is that user can choose different `scale` value and `world_size`. Currently scale equals to `world_size * grad_acumu`. Per-GPU batch size is assume to be equal to scale-1 batch size.

However, it is possible that scale-1 batch size !=

[2020-12-03 22:18] VitaliyLi opened #226 "Example for intra-layer parallelism"
Can we add an example on how to use intra-layer parallelism?

[2020-12-03 22:20] #146 closed

[2020-12-03 22:20] #195 closed

[2020-12-04 05:35] #222 closed

[2020-12-04 18:34] blefaudeux opened #228 "[ShardedDDP] Replicate 'find_unused_parameters' feature"
## 🚀 Feature
Add an option to find unused parameters, either one shot (on first FW) or every FW. This would be required to enable bucketing

## Motivation
Bucketing (with or without tensor views) breaks when the model has unused parameters, because we're waiting for hooks which will never fire. A sane default is thus not to bucket, but it means that some perf is left on the table. A solution could

[2020-12-04 20:48] min-xu-ai commented on #228
Nice. Do you think this will support activation checkpointing as well?

[2020-12-04 21:11] blefaudeux commented on #228
I think so, at least it should be doable, with a context sync/manager ?

[2020-12-04 21:17] min-xu-ai opened #230 "AdaScale: ensure interoperability with activation checkpointing"
Activation checkpointing can be useful in saving GPU memory. It would be useful to ensure AdaScale works with that.

[2020-12-04 21:19] min-xu-ai commented on #228
That's great. Current DDP does NOT work with checkpointing when find_unused_parameters is true though. I think that's related to bucketing. Some kind of test will be nice for this new feature.

[2020-12-04 21:33] blefaudeux commented on #228
hmm, could be that I'm wrong in the above then. I would need to start digging into that before being sure, maybe that a second context manager could help for this specific usecase (aka: "stop tracing FW pass manager")

[2020-12-04 21:35] min-xu-ai commented on #228
yeah, we basically use ddp.no_sync() today to workaround that issue when activation checkpointing is used.

[2020-12-05 00:45] blefaudeux opened #231 "[CI] Initialize process group in unit tests via file://"
## 🚀 Feature
Using ports collides all the time on big CI systems, we could follow the torch way (/torch/testing/_internal/distributed/distributed_test.py) and use ad hoc temp files all the time. Some of our tests already do that and work just fine on FB CI

## Motivation
Reliable concurrent execution of our unit tests

## Pitch
Change all the helper functions to base the process group init on a te

[2020-12-06 18:32] min-xu-ai opened #234 "[adascale] benchmark test"
It would be nice to have a benchmark test for adascale with cifar that does the full training or a few epochs just to make sure the gain value and training loss is going correctly etc. Also, it can check the overall speed with and without adascale.

[2020-12-07 19:21] blefaudeux opened #236 "[ShardedGradScaler] Handle optimizers not being OSS instances"
## 🚀 Feature
Some frameworks (Classy for instance) change the optimizers to enable different non-pytorch-compliant features. ShardedGradScaler asserts on that

## Motivation
Enable ShardedDDP + AMP on Classy-like frameworks

## Pitch
Remove the assert, replace by a one time warning

## Alternatives
Not doing anything

## Additional context
@mannatsingh

[2020-12-07 23:45] #236 closed

[2020-12-09 16:17] SeanNaren opened #239 "Pipe RPC + DDP for pipe parallelism + data parallelism"
## 🚀 Feature

Use Pipe RPC with DDP! There is also a chance this is supported, and I'm doing things wrong :)

## Motivation

We currently have FairScale pipe parallelism RPC within Lightning. It's easier for the user to use RPC as this allows us to add model parallelism without changing the training loop flow, however I don't think there is support for DDP, as communication is restricted to 'train

[2020-12-09 22:52] blefaudeux opened #241 "[ShardedDDP] Race condition, different results from DDP"
## 🐛 Bug
When running a training and comparing the results to DDP ([for instance](https://github.com/PyTorchLightning/pytorch-lightning/blob/a102f7bd18f4da8a8e4bd35227fa849f050fa89e/benchmarks/test_sharded_parity.py#L139-L167)), a recent commit broke parity

## Command
See link above

## Expected behavior
We should get the same results as DDP, out of principle

[2020-12-10 00:06] blefaudeux commented on #228
Hmm, thought popping up when discussing with @SeanNaren: how about using FW hooks to increment the counter, so that we wait for the actual number of requests ? that does not solve bucketing but it should work

[2020-12-10 01:00] #241 closed

[2020-12-14 20:45] joshim5 commented on #50
@msbaines Here's how we deal with this in Fairseq: https://github.com/pytorch/fairseq/blob/ba4f54267af5c3f67f1b76a6e804b6ab593d1d39/fairseq/optim/fp16_optimizer.py#L356

[2020-12-16 02:06] stas00 opened #250 "[doc] instructions on how to install fairscale with pytorch-nightly"
Well, I'm not sure where this tidbit could belong in your docs, but here is some useful info I have discovered:

If you're using pytorch-nightly installing `fairscale` will wipe the former out and install pytorch-1.7.1 or whatever the latest official version is instead, so you also want to add `--pre` and the channel the nightly came from, which tells pip to allow `pre-release` versions, and allow

[2020-12-16 04:47] min-xu-ai commented on #178
Will this be experimental or a feature for general use?

[2020-12-16 18:12] blefaudeux opened #253 "[ShardedDDP] Reduce the gradient bubble"
## 🚀 Feature
Right now the backward pass is allowed to proceed all the way before the gradients are cleaned up, which means that all the gradients materialize. The peak memory use is bigger than what it should be if we clean them on the fly as the BW pass proceeds

## Motivation
Free more memory

## Pitch
See attached PR, look up the futures dequeue when firing up a BW hook, and cleanup whatever i

[2020-12-16 21:34] #253 closed

[2020-12-17 06:09] blefaudeux opened #258 "[OSS] Params without requires_grad can slip out of the bucketing table, and break"
## 🐛 Bug
Root bug behind https://github.com/huggingface/transformers/issues/9156, which explains why a "new" parameter was showing up. The hash table is probably slow and not really needed any way, I should have stuck to a list as recommended by @msbaines long ago

## Command

## Expected behavior
Should never break

cc @stas00

[2020-12-17 08:20] blefaudeux opened #261 "[OSS] Partitioning can fail if very imbalanced parameters"
## 🐛 Bug
As spotted in https://github.com/huggingface/transformers/issues/9156#issuecomment-747285458, some models can expose an interesting structure, with one very big tensor (which is not optimized), bigger than the sum of the other tensors. In that case, one rank will get no grads, and a couple of dependent functions don't like that

## Command
https://github.com/huggingface/transformers/issue

[2020-12-17 17:06] vtantia commented on #178
It will be a feature for general use

[2020-12-17 22:21] stas00 opened #264 "[pip] wanted: PTX/JIT build and even better binary wheels"
## 🚀 Feature

@sgugger integrated the sharded feature of faiscale into transformers (thank you @blefaudeux and @msbaines for your help!)
https://github.com/huggingface/transformers/pull/9139
and added a few basic tests: https://github.com/huggingface/transformers/pull/9177
but we won't be able to run those on CIs, since building fairscale via pip can be very slow (as the latest pip does build isol

[2020-12-19 17:43] msbaines commented on #264
This is a great idea. I will take a look at DeepSpeed. If you have pointers to the specific DeepSpeed code I should look at that would be appreciated. I've not done a PTX build before.

I'll probably start with JIT compiling, as documented here:

https://pytorch.org/tutorials/advanced/cpp_extension.html

[2020-12-19 17:52] stas00 commented on #264
Thank you!

I've only studied and tweaked parts of their build, so I don't fully know how it is put together, but your entry points would be:

* https://github.com/microsoft/DeepSpeed/blob/master/setup.py
* https://github.com/microsoft/DeepSpeed/blob/master/op_builder/builder.py

and check at how it builds the package if `DS_BUILD_OPS` and its counterparts aren't set - when they are set it builds

[2020-12-19 20:40] #258 closed

[2020-12-22 01:28] #261 closed

[2020-12-23 18:29] min-xu-ai opened #269 "[feat] adascale to support add_param_group"
This optimizer API is sometime used. Better to support it.

[2020-12-27 13:10] benywon opened #270 "OSS does not work with nvidia apex"
## ❓ Questions and Help
Before fairscale, I usually use the Nvidia apex for mixed-precision training. However, when I wrap the optimizer with OSS, it seems that the loss never decrease. Below is some snapshot of my code:
------before----
optimizer = apex.optimizers.FusedAdam(
    model.parameters(),
    weight_decay=0.01,
    eps=1.0e-7,
    lr=1.0e-7,
)
model, optimizer = amp.initialize(model,

[2020-12-27 18:54] blefaudeux commented on #270
Hi Bingning, thanks for writing that up ! I should make it clearer in the docs, but OSS is not compatible with Apex AMP, it would require upstream changes (the scaler is not aware of the sharding basically) and Apex AMP is in the process of being deprecated. You can however use Pytorch AMP to similar effect if you replace the GradScaler by the provided ShardedGradScaler, see https://fairscale.read

[2020-12-28 07:53] benywon commented on #270
Ok, thanks for your reply!

[2020-12-28 07:53] #270 closed

[2020-12-29 21:45] #231 closed

[2020-12-29 21:47] blefaudeux opened #275 "[CI] Unit tests timing out randomly"
## 🐛 Bug
The CPU unit tests are becoming too slow for CircleCI, they randomly last over the 10min limitation and return a poor signal with unrelated failures

## Command
Checkout https://app.circleci.com/pipelines/github/facebookresearch/fairscale?branch=master

## Additional context

[2020-12-29 22:09] min-xu-ai commented on #275
It seems that it is timing out here:
[code]

The next good run only took 2min to finish for the whole 213 items.

good: https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1114/workflows/1992c86b-e028-4a13-934e-b71c0ccb92be/jobs/4700/parallel-runs/0/steps/0-111

bad: https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1114/workflows/f3301cd7-18a0-458a-9649-99aad24

[2020-12-29 22:12] blefaudeux commented on #275
yeah, the thing is it does not seem to be always on the same test, see for instance https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1118/workflows/2dd74077-8f62-4dbe-b4f3-0d6308b10b72/jobs/4718/parallel-runs/0/steps/0-111
I tried a faster execution through xdist, but it's not that, there must be a deadlock that I introduced recently when changing to file based init

[2020-12-29 23:14] min-xu-ai commented on #275
perhaps there is a way to make pytest run tests in serial? then, you can loop it on a CPU machine until it timeout to see which test it is?

[2020-12-30 00:26] blefaudeux opened #277 "[feat] Model sharding + data parallel + offload"
## 🚀 Feature
Inspired by https://github.com/pytorch/pytorch/issues/42849, propose a model sharding + optimizer state sharding + gradient sharding, with or without offloading to CPU

## Motivation
If the model is too big to fit in a given GPU memory, then the current OSS+ShardedDDP is not helping. We already propose Pipe for this, but it could be interesting to investigate interest for a different

[2020-12-30 01:25] blefaudeux commented on #275
it should already be serial by default, I tried to change the .join() to expose a hanging thread and it seemed to show that the issue was in a test which raised an exception on purpose, hence an hopeful fix

[2021-01-04 21:01] #224 closed

[2021-01-04 21:01] #269 closed

[2021-01-05 00:24] joshim5 opened #288 "Saving/loading sharded checkpoints is failing"
## 🐛 Bug

I added the sharded DDP backend to Fairseq along with test coverage. Surprisingly, all unit tests I added to Fairseq and Fairscale are passing except for one -- a reproducibility test with RoBERTa (saving and loading checkpoints). I don't have this issue with a translation task using a fconv architecture.

I see the same thing with an interactive test from Myle with an NLP workload. Savi

[2021-01-05 00:43] blefaudeux commented on #288
Thanks for the report Joshua, looking into that asap !

[2021-01-05 06:06] #275 closed

[2021-01-05 09:29] anj-s opened #290 "[benchmarks] Fix and reenable regression benchmarks for nn.pipe."
## 🐛 Bug

The nn.pipe [regression benchmarks](https://github.com/facebookresearch/fairscale/blob/master/.circleci/config.yml#L132) don't run because of a hardcoded variable (that has since been fixed). Right now, we run the language model on synthetic data but don't compare the run statistics against any golden data.

## Additional context

Fixing this issue requires refactoring the current benchm

[2021-01-05 09:32] anj-s opened #291 "[benchmarks] Refactor existing nn.pipe regression benchmarks"
## 🐛 Bug

Current benchmarks have hardcoded variables and other implementations which make it difficult to add support for benchmarking a new model.

Refactor unused variables, hardcoded values and modify the implementation to allow adding more models.

[2021-01-05 09:40] anj-s opened #292 "[benchmarks] Mask should be set on the sequence dimension for nn.pipe bechmarks"
## 🐛 Bug

nn.pipe benchmarks uses both synthetic and real data to train the language model. However the input pipelines for both these sources are different. The difference in the intermediate steps means that the synthetic data's input has the following format [batch size, seq len] whereas real data has [seq len, batch size]. We want to follow the second format and generate the src mask according

[2021-01-05 19:15] blefaudeux commented on #288
@joshim5 could you elaborate on "master gives incorrect clip norms" for OSS ?

[2021-01-05 19:16] blefaudeux commented on #288
ah no ok, this is because of model parallel, current OSS is explicitly not model parallel compatible with respect to clip grad norms

[2021-01-05 19:31] joshim5 commented on #288
Hey @blefaudeux -- no, that's not what I meant. Current Fairseq does not use the clip grad norm function from Fairscale. It uses the Fairseq clip norm functions which do not contain any logic around the sharding. The model trains correctly, but the reported clip norms are incorrect.

I fixed this by having Fairseq use the optimizer's clip grad norm function if that attribute exists on the optimize

[2021-01-06 18:09] blefaudeux commented on #288
@joshim5 isn't this because of not consolidating the state in the first place ? It's an issue with the current API, I would love to move to RPC and remote references because of that, but it would take more time (and require that RPC is initialized before use)

[2021-01-06 18:23] min-xu-ai opened #293 "[feat] make sure AdaScale works with Lightning trainer loop"
## 🚀 Feature
as title

## Motivation

changing the LR schedule based on the effective step is not easy to do for the user, it would be nice to support it without user's change.

## Pitch

make sure adascale works without or with small user impacts

## Alternatives

not supporting it

## Additional context

surface from an internal discussion and use case

[2021-01-06 18:24] min-xu-ai commented on #293
we should have an example and a unit test too for this.

[2021-01-07 03:38] blefaudeux commented on #288
discussed 1:1, but it looks like the optimizer is not fed with the same data for the second unit test, which would explain why the results differ. One explanation could be that in the second unit test the model is not restored properly, but that's outside of OSS' scope

[2021-01-07 16:56] leezu opened #294 "[bug] pip package 0.1.3 fails to install"
Both `python3.8 -m pip install fairscale --verbose` and `python3.8 -m pip install fairscale --no-build-isolation --verbose` trigger

[code]

Cloning the repository and running `python3.8 -m pip install . --verbose` from within the directory works fine.

[2021-01-07 17:22] blefaudeux commented on #294
oh, I was the one doing this release, I may have done something wrong. Testing locally I cannot reproduce though, @msbaines  would you have an idea ? I remember seeing this issue discussed before

[2021-01-07 17:24] blefaudeux commented on #294
Maybe related to https://github.com/facebookresearch/fairscale/issues/190

[2021-01-07 17:31] blefaudeux commented on #294
ok, I just checked the package and these files are missing indeed, I'm not sure why the pip install works out for me, maybe because of caching. Trying to publish a new package asap

[2021-01-07 17:54] leezu commented on #294
Thank you. Maybe you tested on a machine without cuda? In that case the installer will skip compiling the files

[2021-01-07 17:55] blefaudeux commented on #294
I was writing just that, message almost crossed. I'm testing on a machine which has cuda of course, but just the runtime, not the toolkit, and in that case the cu files are skipped indeed

[2021-01-07 18:00] blefaudeux commented on #294
@leezu would you mind testing please ?
[fairscale-0.1.4.tar.gz](https://github.com/facebookresearch/fairscale/files/5783203/fairscale-0.1.4.tar.gz)

[2021-01-07 18:57] blefaudeux commented on #294
closed automatically, sorry about that, waiting for a confirmation from @leezu that the latest pip package works

[2021-01-07 19:02] msbaines commented on #294
This should have been fixed by #221. Were you using an older version of pip?

[2021-01-07 19:25] blefaudeux commented on #294
if it's a question for me, I'm not sure, could be. The package was definitely missing the cuda files, should be fixed by now

[2021-01-07 20:36] leezu commented on #294
Thank you @blefaudeux. `python3.8 -m pip install --verbosehttps://github.com/facebookresearch/fairscale/files/5783203/fairscale-0.1.4.tar.gz` works fine.

[2021-01-07 20:49] blefaudeux commented on #294
Thank you @leezu, and sorry for the mistake in the first place. Closing the issue

[2021-01-07 20:49] #294 closed

[2021-01-09 22:17] min-xu-ai opened #302 "[test] ensure adascale works with zero"
## 🚀 Feature

ensure adascale works with zero.

## Motivation

we should try to make sure all libraries here work with each other.

## Pitch

avoid unexpected pitfalls when users try to combine them.

## Alternatives

document it if it is hard to make work.

## Additional context

this is mainly to add a unit test.

[2021-01-11 12:10] leezu opened #305 "disable pip build-isolation by default"
## 🐛 Bug
fairscale uses pyproject.toml and opts in to the new `setuptools.build_meta` build mechanism with build isolation

https://github.com/facebookresearch/fairscale/blob/b202804a9886b42be83074cd8aabf6aba89b0a8b/pyproject.toml#L7

Build isolation means that pip will create an isolated build environment and only provide the packages listed in

https://github.com/facebookresearch/fairscale/blob/

[2021-01-11 20:48] anj-s opened #307 "[benchmarks] Add support for using fairscale.optim.adam optimizer for nn.Pipe benchmarks."
## 🐛 Bug

Using fairscale.optim.adam throws an import error which points to a circular dependency issue.

## Command

## To Reproduce

-replace `torch.optim import Adam` with `fairscale.optim import Adam`  in benchmarks/pipe.py.
-run `python benchmarks/pipe.py`

# Expected behavior

Increase in throughput without any import errors. The original benchmarks/pipe.py before the series of refactors use

[2021-01-12 10:17] dhkim0225 opened #308 "[feat][OSS] Add clip_grad_value_ function."
## 🚀 Feature

There are two popular gradient clipping methods: one that limits the maximum gradient value of each model parameter and the other one that scales the gradient value based on the p-norm of a (sub-)set of model parameters.
`clip_grad_norm`(the second one) is useful when the norm of gradients is large, but not when only a small sub-set of model parameters have abnormal gradient values s

[2021-01-12 17:23] blefaudeux commented on #308
Thanks for filing in this issue @dhkim0225, makes a lot of sense ! I can do that or feel free to file a PR, as you prefer. I'll be busy the next couple of days, but if this can wait then it can be on me

[2021-01-12 17:40] #187 closed

[2021-01-14 19:33] blefaudeux opened #311 "[refactor] OSS unit tests are a bit messy"
## 🚀 Feature
Clean up the unit tests for OSS, they're a disparate accumulation of very relevant tests which are hard to follow and full of duplicated plumbing

## Motivation
Cleaner code is better code, make it easier for newcomers to understand what's going on and reduce future maintenance costs

## Pitch
Use pytest fixtures and helpers

## Alternatives
Not doing anything, works but not nice

##

[2021-01-18 04:45] dhkim0225 commented on #308
@blefaudeux Sorry for late reply. I will be busy this week AGAIN....
@priancho has a lot of interest on fairscale. Would you mind If I ask you to make a PR for this?

[2021-01-18 09:38] priancho commented on #308
@dhkim0225 sure. Let me see it :-)

[2021-01-19 22:10] #291 closed

[2021-01-19 22:10] #292 closed

[2021-01-21 08:17] anj-s commented on #290
Benchmarks reenabled for SingleProcess nn.Pipe.

[2021-01-21 18:56] Young768 commented on #277
Hi, is there any further plan regarding this feature? Im also looking into how to train very big model. I'd like to contribute sth on this if possible.

[2021-01-21 19:42] blefaudeux commented on #277
@Young768 I've had little time to work on that recently, the attached code is a rough draft but the idea works, it has a lot of constraints on the model formulation as is (needs to be Sequential and fine grained enough, and will not work with all inputs). [Pipe](https://fairscale.readthedocs.io/en/latest/api/nn/pipe.html) is an option right now which should be more mature, else I'll do my best to

[2021-01-21 21:07] blefaudeux commented on #308
@dhkim0225 @priancho sorry for the time it took me to get back to you, been a bit busy.. After a second read, using the [PyTorch util](https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_value_.html?highlight=clip_grad_value_#torch.nn.utils.clip_grad_value_) on you model should just work, the sharding is not an issue here since the clipping is done on a per-parameter basis. I could

[2021-01-21 22:34] Young768 commented on #277
are you going to support intra-layer parallel for FairScale?

[2021-01-21 23:03] blefaudeux commented on #277
- yes, in the near future, no precise date to announce right now unfortunately
- not with this PR, the idea here is to offload parameters to and from CPU space, or at least experiment with the idea while sticking to pytorch

[2021-01-22 02:02] dhkim0225 commented on #308
@blefaudeux Thanks for your comment, Closing issue.

[2021-01-22 02:02] #308 closed

[2021-01-22 02:34] Young768 commented on #226
Is there is further update regarding this issue? I'd like to try the intra-layer parallelism.

[2021-01-25 19:04] anj-s opened #324 "[unit tests] Investigate and fix flaky nn.Pipe multiprocess unit tests."
## 🐛 Bug

We are consistently seeing flaky [unit tests](https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1332/workflows/6e886fa9-733b-430f-8ebc-febe5875f07f/jobs/5843) for nn.pipe multi-process.

Some tests were fixed by [PR](https://github.com/facebookresearch/fairscale/pull/316) which had an issue with worker initialization. Some things that we should keep in mind are:
1) The

[2021-01-28 01:10] min-xu-ai opened #336 "moe test failed on CPU"
## 🐛 Bug

See here: https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1413/workflows/373f63b0-9e45-4925-93ba-be44b48ce1df/jobs/6354

moe test failed on CPU

I don't have mpi on my machine yet to reproduce it. @msbaines @blefaudeux @anj-s, have you seen it before?

[2021-01-28 07:18] Spenhouet opened #337 "Support ZeRO-Offload"
## 🚀 Feature
DeepSpeed now has the ZeRO-Offload functionality which seems very powerful: https://www.deepspeed.ai/tutorials/zero-offload/

## Motivation

I would like to make use of this functionality via PytorchLightning but PytorchLightning does seem to depend on fairscale for this ZeRO so I would guess that fairscale first would need to support ZeRO-Offload.

## Pitch

Please add support for Ze

[2021-01-28 15:18] blefaudeux commented on #337
Planned and work in progress :)

[2021-01-28 18:26] anj-s commented on #336
@min-xu-ai I've seen the MOE tests fail before but it was locally so I assumed I did not have the right configs in place.

[2021-01-28 19:14] min-xu-ai commented on #336
I think something is still fishy. I have MPI installed on my machine now, but this doesn't reproduce.

[2021-01-28 19:30] min-xu-ai opened #340 "should we avoid depending on torchvision?"
As I was working on this PR. I found that torchvision upstream is not always sync'ed well with torch.

https://github.com/facebookresearch/fairscale/blob/dbdf6586b5e07e41b49b6dcc6c65e11e8458cc17/.circleci/config.yml#L93

Should we remove our dependency on torchvison? It seems we only needed a model from it, which we can just import it with the benefit of the model will stay the same. What do we mi

[2021-01-28 19:41] Vittorio-Caggiano commented on #340
we might need to load datasets for [examples](https://github.com/facebookresearch/fairscale/blob/65ca68a96850dc362098743aca9f0dcd3a1c3203/examples/mnist_test_pipe.py#L12 ) and/or benchmarks e.g.  what do you think @anj-s ?

[2021-01-28 19:52] min-xu-ai commented on #340
good point. it depends on also where do we position fairscale. torchvision is on top of torch, so is fairscale. In a block diagram of different libraries, should fairscale be on top of torchvision?

[2021-01-28 20:48] blefaudeux commented on #340
it's not a real dependency, it's only here for the benchmarks to pull in a standard model that people in CV expect to work, I don't think that should be part of any diagram.

[2021-01-28 20:58] min-xu-ai commented on #340
well, it is in requirements-test.txt. Should we move it into a separate requirements.txt? For now, it causes an issue when I am trying to using py39, which needs torch 1.8, but then torchvision doesn't yet work with py39.

[2021-01-28 22:25] min-xu-ai commented on #302
Two more things to try:

1. OSS wrap AdaScale, as opposed to AdaScale wrap OSS
2. SharededDDP.

[2021-01-28 23:01] blefaudeux commented on #340
well, it's a requirements for tests, it is not a requirement for the fairscale library, so it kind of makes sense I think ? My point above is that it's *not* a requirement for fairscale, and that a graph where fairscale sits on top of torchvision would not make sense.

Now if python3.9 is a priority it could be removed from the requirements-test file, and imported "by hand" for all the benchmarks

[2021-01-28 23:29] blefaudeux commented on #288
Closing the issue, not tied to fairscale if I got this correctly. Feel free to reopen @joshim5 if need be

[2021-01-28 23:29] #288 closed

[2021-01-28 23:34] min-xu-ai commented on #340
Sure, sounds reasonable. Nothing need to be done for now then.

[2021-01-28 23:34] #340 closed

[2021-02-01 22:15] stas00 opened #351 "How to integrate 2D Parallelism: PP + ZeRO-DP?"
## ❓ Questions and Help

I can't find any documents/examples that show how one can combine PP + ZeRO-DP (sharded) in fairscale.

Would you kindly share any working examples?

The very first task could be a 4 gpu setup that runs PP+ZeRO-DP, for example in this formation:
[code]
So here there are 2 pipelines: 0-1, and 2-3, and Sharded DDP sees gpus 0 and 2 as the entry points.

Even a toy example ba

[2021-02-02 20:32] msbaines commented on #351
What's the next step?

Ignore this code for now. It is experimental.

You should be able to use pipe as described in Readme.md in addition to ZeRO. Our default Pipe is restricted to a single server with multiple GPUs. You can use is it with ZeRO by running a single PyTorch process per multi-GPU server and then running ZeRO/DDP across servers.

[2021-02-02 21:24] msbaines commented on #351
Yes. A single process handling the multiple GPUs of the pipeline. We use separate processes for each DDP/ZeRO instance.

So in you example:

[code]

dp0 is a one process and dp1 is a second process

[2021-02-02 23:41] #164 closed

[2021-02-03 01:02] blefaudeux opened #354 "[ShardedDDP] Intercept zero_grad()"
## 🐛 Bug
If a user calls  https://pytorch.org/docs/stable/optim.html#torch.optim.Optimizer.zero_grad (or the nn.Module equivalent) with set_to_none positive, this will break the buckets tensor views

## Command

## To Reproduce
Steps to reproduce the behavior:

1. Populate the grads
2. Let the reduction happen
3. Call zero_grad (with set to None)
4. observe that the grads are not a view of the buc

[2021-02-03 18:44] #302 closed

[2021-02-04 00:50] sshleifer opened #359 "contributing.md says start PR from fork, but CI doesn't run on forks."
Contributing.md also discusses CI status.
Confused me for a while. Feel free to close if this is unhelpful!

[2021-02-04 20:12] stas00 opened #364 "[master] RuntimeError: stack expects a non-empty TensorList"
v0.1.5 works fine, but on master getting this:
[code]

The problem comes from this last commit https://github.com/facebookresearch/fairscale/commit/7fdd7ecf1ef3084717657acbfdcd6ba5d19b2e89 - reverting it fixes the problem.

This is running the same old test command of HF trainer w/ fairscale via sharded_ddp:

[code]

env:
[code]

@blefaudeux

[2021-02-04 20:26] blefaudeux commented on #364
oh wow, sorry about that and thanks for reporting, I thought it was pretty straightforward but I was wrong.. fixing that asap

[2021-02-05 02:23] msbaines commented on #359
Thanks for reporting. This should now be fixed.

[2021-02-05 02:23] #359 closed

[2021-02-05 17:13] #364 closed

[2021-02-05 23:28] blefaudeux opened #368 "[ShardedDDP][feature] Freeze/unfreeze parts of the graph on the fly"
## 🚀 Feature
Right now ShardedDDP would need to be reinstantiated if parts of the graph are frozen/unfrozen within a training.

## Motivation
This breaks some assumptions for [VISSL](https://github.com/facebookresearch/vissl).

## Pitch
Make sure that all methods relative to reduction are pure consumers of a couple of pre-registered lists, make it possible to update said lists whenever the model c

[2021-02-09 00:36] msbaines commented on #336
I looked at testing on master and have not seen this failure in the last 20 runs.

[2021-02-09 00:36] #336 closed

[2021-02-10 14:14] leezu commented on #305
@msbaines I opened a PR to disable build isolation. I tried `build-backend = "setuptools.build_meta:__legacy__" ` in a separate project. It indeed disables the build isolation and I didn't observe any other issues.

[2021-02-10 18:38] #305 closed

[2021-02-11 07:10] blefaudeux opened #380 "[OSS] When loading a state, the insertion order for the params may not match the params_groups"
## 🐛 Bug
(FB Only f250383189) Guess is that the issue comes from the parameters not being inserted in the right order in the sharded optimizer state. [See](https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py#L403)

Would need fixing + repro in a unit test

[2021-02-12 00:31] #368 closed

[2021-02-12 21:37] #354 closed

[2021-02-12 21:38] #311 closed

[2021-02-12 21:38] blefaudeux commented on #311
doing that iteratively in the background

[2021-02-12 23:29] blefaudeux opened #385 "[perf][OSS] AllGather instead of broadcast"
## 🚀 Feature
Use a single allgather instead of multiple broadcasts after the optim step

## Motivation
Saves calls, probably better optimized

## Pitch
Since OSS works on flattened tensors, the broadcast step could probably be better handled by a single allgather call. Small issue is that some memory would be wasted by padding, in the probable case in which all of the buffers don't have the same s

[2021-02-14 07:00] #380 closed

[2021-02-16 21:30] blefaudeux opened #388 "[ShardedDDP] Add a manual/ondemand reduction option"
## 🚀 Feature
Add a method to enable ondemand grad reduction

## Motivation
Useful for checkpointing

## Pitch
Add a manual option to send to reduce the gradients to the appropriate ranks, nothing super complicated

## Alternatives
Not doing it, meaning that checkpointing support is more complicated

## Additional context
cc @prigoyal @min-xu-ai

[2021-02-16 23:50] blefaudeux opened #390 "[ShardedDDP] Speed up on recent pytorch+NCCL by using ncclfutures"
## 🚀 Feature
Use NCCL futures for the delayed reduce work

## Motivation
Right now the reduce/grad sharding implementation just uses vanilla pytorch, which does not have the concept of .then(). Callbacks are thus stacked and opportunistically called from python/cpu, meaning more occasions to fight for the GIL and probable delays. Recent pytorch+NCCL have introduced .then(), we could use that when

[2021-02-17 00:54] #388 closed

[2021-02-18 04:33] kamo-naoyuki opened #395 "Why assuming single node environment if world_size<=8 for ShardedDataParallel?"
## ❓ Questions and Help

Thank you for sharing this project. Really useful.

I tried ShardedDataParallel with 1gpus x 2nodes, i.e. world_size=2, but I met the following.

https://github.com/facebookresearch/fairscale/blob/47042917536dfe3026543ccebd789ef3b1441ba1/fairscale/nn/data_parallel/sharded_ddp.py#L156-L157

Why do you assume single node environment if world_size<=8? Is it impossible if worl

[2021-02-18 05:30] blefaudeux commented on #395
Hi Naoyuki, good question !
In that case, "nodes" means server, meaning that you typically have up to 8 GPUs on a single node (for instance nvidia DGX), it does not mean world size (world size = gpu per node x nodes). You can have 8 GPUs over two nodes, and in that case this heuristic will not be optimal, I was planning to expose it in an upcoming PR actually, in the FB ecosystem it's not really t

[2021-02-18 05:31] blefaudeux commented on #385
implemented and tested, not really faster

[2021-02-18 05:40] kamo-naoyuki commented on #395
Thank you for quick.  Sorry, my question is unclear.

I mean node is sever, so I want to say 1gpus x 2machine, really.

Not always each machine has 8gpus, though I agree it is popular setup. I think this action is not necessary because user can set reduce_buffer_size=0 by themselves if it is a single node. Why automatically change this value?

[2021-02-18 05:55] blefaudeux commented on #201
not trivially doable with the multiple optimizer usecase that lightning supports

[2021-02-18 05:55] #201 closed

[2021-02-18 08:53] tchaton opened #396 "CHANGELOG url don't appear."
## 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

Dear people from Fairscale,

I have seen the CHANGELOG display numbers as #386, but not urls. It would be helpful if this was updated :)
Personally, I find PRs url more helpful than issues, as we can directly jump in the code.

Best,
Thomas Chaton.

## Expected behavior

## Environment

Please copy and paste the out

[2021-02-18 10:35] kamo-naoyuki opened #397 "ShardedDataParallel doesn't work with multiple nodes"
## 🐛 Bug

ShardedDataParallel successfully works with 8gpus x 1nodes, while got the following error with 8gpus x 2 nodes

[code]

However, obviously there are not unused parameters. Note that torch.nn.DistributedDataParallel can work with same environment.

## To Reproduce

[code]

I used shared file system initialization for init_method.

[code]

## Environment

Note that I tested tcp and infinib

[2021-02-18 16:29] blefaudeux commented on #397
So, the assert is telling you what's wrong, you need to find which parameter is not being used, or deactivate the buckets by passing a reduce_buffer_size == 0 at init time.

[2021-02-18 17:44] blefaudeux opened #398 "[CI] Unit test ShardedDDP with buckets"
## 🚀 Feature
Unit test properly ShardedDDP with and without buckets being activated

## Motivation
It seems that I shipped a broken version for shardedddp wrt buckets (should now be fixed), this situation was not properly tested given the fact that for small world sizes the buckets are not used, and we test on small world sizes.

## Pitch
- expose buckets being used or not explicitly
- test both c

[2021-02-18 17:44] blefaudeux commented on #396
yop, fair enough, will do

[2021-02-18 17:44] #396 closed

[2021-02-18 17:45] blefaudeux commented on #395
most people do not touch this value, so the idea was to try to have sane defaults. I'll put up a PR today to expose this toggle properly

[2021-02-18 18:05] blefaudeux commented on #397
Adding a unit test so that future releases are not broken, sorry about that
https://github.com/facebookresearch/fairscale/issues/398

[2021-02-18 23:18] blefaudeux opened #402 "[perf] PyTorch AMP reverts the grads to fp32, meaning that reduce calls are overweight"
## 🚀 Feature
Either through torch amp or via a postfix .half() cast (not too nice), make sure that we don't reduce fp32 grads when they were actually computed on fp16..

## Motivation
The gradient size are double what they should be if torch AMP is being used, which can be a bottleneck depending on internode coms

## Pitch
free speed

## Alternatives
Not doing anything, this does not affect correc

[2021-02-18 23:22] blefaudeux commented on #397
@kamo-naoyuki , could you confirm that this is not on master

[2021-02-19 07:13] kamo-naoyuki commented on #397
I tested master version and the error disappears, but I got another error.

[code]

Note that torch.nn.DistributedDataParallel can work.
You just added a unittest on single node, but did you test multiple nodes yourself using NCCL?

[2021-02-19 19:10] #398 closed

[2021-02-19 22:07] #395 closed

[2021-02-19 22:36] blefaudeux commented on #397
yes of course, just not on circleci so it's not visible here, but I did not get this issue. There's no root parameter for reduce, this is strange, can you test 0.1.7 just released ?

[2021-02-19 22:39] blefaudeux commented on #397
ah wait, there are just not enough parameters in your example, so some shards are just empty, that's why. Just try with a bigger model, and I can add an assert for that, but I'm guessing that it does not happen very often. DDP does not shard, that's why you were not seeing that

[2021-02-19 22:40] blefaudeux commented on #397
closing because the title is not really reflecting that, I'll create an issue to assert if some shards are empty

[2021-02-19 22:42] blefaudeux opened #405 "[fix] Assert with an understandable error message if there are not enough parameters in the model given the world size"
## 🚀 Feature
Assert if shards are empty, explain what the issue is

## Motivation
Can happen in dummy tests and be confusing  **https://github.com/facebookresearch/fairscale/issues/397**

## Pitch
Trivial catch, helps people

## Alternatives
Bump into the same issue later

## Additional context

[2021-02-19 22:42] blefaudeux commented on #405
cc @kamo-naoyuki

[2021-02-19 23:12] #385 closed

[2021-02-19 23:13] blefaudeux commented on #390
Massively faster with newer torch (1.8), but not handled in older pytorch where these futures are fake and blocking

[2021-02-19 23:13] #390 closed

[2021-02-19 23:14] blefaudeux commented on #228
not possible on a per parameter basis, parameters only accept BW hooks.. not worth the effort at this point I think

[2021-02-19 23:14] #228 closed

[2021-02-20 03:26] VirajBagal opened #407 "pip install giving error"
I am trying to install fairscale. But I am getting the following issue when I do

[code]

I have torch version 1.7.1

[2021-02-20 09:01] kamo-naoyuki commented on #397
I got same error with the large model.

[code]

It's better to test my code. You seem to just read the code and think the reason.

[2021-02-20 11:34] kamo-naoyuki commented on #397
Also note that

- It works with 1 node with 8gpus.
- It works with 2 nodes with 2gpus for each node .
- The error happens with 2 nodes with 8gpus for each node .
- This error happens both with reduce_buffer_size=0  and reduce_buffer_size != 0

Obviously there are some bugs.

[2021-02-20 16:25] blefaudeux commented on #407
![Screenshot from 2021-02-20 08-24-50](https://user-images.githubusercontent.com/3072861/108602119-20860300-7355-11eb-9631-086583c4f2e8.png)
I just tested in a disposable (empty) conda env, and it seems to work fine ? could you explain the context a bit more ?

[2021-02-20 16:26] blefaudeux commented on #397
has it occurred to you that maybe I cannot test your code on multiple nodes easily ?

[2021-02-20 16:38] blefaudeux commented on #397
cc @mrshenli if that rings a bell, the error points to https://github.com/NVIDIA/nccl/blob/master/src/misc/argcheck.cc#L39

[2021-02-20 16:39] blefaudeux commented on #397
no problem with your "local_rank" variable by the way ?

[2021-02-20 18:22] kamo-naoyuki commented on #397
What do you mean?

[2021-02-20 20:05] kamo-naoyuki commented on #397
Gloo doesn't work.

[code]

I debugged  why this happens.

Here referring the size of `self.buckets[device]`

https://github.com/facebookresearch/fairscale/blob/a606e84b0f67384086a120670ed5101c4ec0c2ae/fairscale/optim/oss.py#L551

but in this case i got len(self.buckets[device]) = 17. This is caused by the following since you don't check the length here.

https://github.com/facebookresearch/fairsc

[2021-02-20 21:02] blefaudeux commented on #397
"There are ranks which don't have parameters" which is the reason I mentioned above and why I wanted to add an assert which would have told you so (this will land after the week end). But thanks for the debugging !

[2021-02-20 21:04] blefaudeux commented on #397
I have to admit that the fact that it shows as a nccl error was and is strange to me, I'm guessing that the broadcast buckets are the reason, I should have guarded that earlier

[2021-02-22 18:46] blefaudeux opened #409 "[OSS] More flexible parameter handling in the low tensor case"
## 🚀 Feature
Have a better fallback than asserting when there are not enough tensors to shard

## Motivation
#406 rightfully asserts for now when there are not enough tensors to shard, but in truth we could have a more graceful fallback in that case, not all ranks will contribute to the optim update but that's typically fine and not really a perf limitation

## Pitch
When not enough tensors, just

[2021-02-22 20:06] #405 closed

[2021-02-23 01:36] #397 closed

[2021-02-23 01:36] blefaudeux commented on #397
Ok to close ?

[2021-02-23 06:20] #402 closed

[2021-02-23 08:29] blefaudeux commented on #277
Done by the team with FSDP

[2021-02-23 08:29] #277 closed

[2021-02-23 10:35] manchandasahil opened #418 "[OSS] Not able to continue training."
## 🐛 Bug

Trying to continue training from a checkpoint, Faling completely

  File "/data/atc_tenant/bert_data/smancha5/run_mlm.py", line 465, in main
  File "/data/atc_tenant/bert_data/smancha5/run_mlm.py", line 465, in main
    train_result = trainer.train(resume_from_checkpoint=model_path)
  File "/opt/conda/lib/python3.6/site-packages/transformers/trainer.py", line 862, in train
    train_resu

[2021-02-23 11:19] kamo-naoyuki commented on #397
How can I solve this issue?

[2021-02-23 11:41] kamo-naoyuki commented on #397
Okay, I understood.
You mean ShardedDataParallel needs more parameter objects in the model than world_size?  The model size is nothing related to this issue.

[code]

This model is large, but has only 14 parameters.

[2021-02-23 15:52] SeanNaren opened #421 "[FSDP] Support with AMP Grad scaler"
## 🐛 Bug

If you modify the FSDP test [here](https://github.com/facebookresearch/fairscale/blob/master/tests/nn/data_parallel/test_fsdp.py#L48-L72) to include a Grad Scaler, the cpu_offload test fails:

Modification:

[code]

Command:
[code]

Error:

[code]

If I remove the `to(model_device)` I get a different error, but probably still due to the devices:

[code]

## Proposed fix

Modify the Shard

[2021-02-23 17:10] blefaudeux commented on #418
Hi @manchandasahil, thanks for the issue !

I'm guessing here that this is an "old"checkpoint and that fairscale has been updated in the meantime ? I passed a PR which broke retro-compatibility some time ago (#310), I asked some of the "biggest" users I knew at the time and it seemed ok, the upside was that the checkpoints became completely pytorch compatible (you can keep training a checkpoint wh

[2021-02-23 17:11] blefaudeux commented on #407
guessing that this was a local issue and not getting any more context, closing that. Feel free to reopen with more information

[2021-02-23 17:11] #407 closed

[2021-02-23 17:24] manchandasahil commented on #418
@blefaudeux  Thankyou for replying to me. It is important to keep training for us, so is there a version that i need to go back to continue training ? Could you please paste the version so that i can go back.

Also what are the downsides to using the former version. Does that mean the checkpoints can not be continued with some other libraries built on pytorch ?

[2021-02-23 17:45] blefaudeux commented on #418
[v0.1.4](https://github.com/facebookresearch/fairscale/releases/tag/v0.1.4) is the latest without this change, but I would really recommend upgrading over time since fairscale is improving fairly fast (there are new options now for big models, and the existing options are more solid and faster). The older checkpoints are not compatible with PyTorch, in that you cannot load them in a non-fairscale

[2021-02-23 19:14] sgugger opened #423 "Simple example of use `FullyShardedDataParallel`"
## ❓ Questions and Help

I may be doing something completely wrong, but I'm struggling to just get one forward pass through `FullyShardedDataParallel` without error. I've created a simple script:

[code]
launched via
[code]
and it fails with the following stack trace:
[code]

I'm using the `.cuda()` following what is done in the tests. Otherwise using the device (commented out in the script) and `

[2021-02-23 23:42] myleott commented on #423
Ah, you need to set the default cuda device depending on the rank, then it works:
[code]

[2021-02-23 23:56] myleott commented on #421
I haven't looked closely at the PyTorch `GradScaler`, but do the tests pass for `ShardedGradScaler` + CUDA FSDP? If so, that's great!

Re: CPU offload, glancing at the PyTorch version makes me think it's pretty hardcoded for CUDA :/ I can take a look though, maybe we can patch `ShardedGradScalar` to make it work with CPU grads

[2021-02-24 00:25] sgugger commented on #423
Indeed! To answer, you don't need to, no: for instance this script

[code]

will work.

Second question now is: does `FullyShardedDataParallel` support Embeddings layer? Changing the script to the following:
[code]

fails with the following stack trace:

[code]

[2021-02-24 01:11] myleott commented on #423
Ah, probably position embedding buffers are getting overly aggressively cast to fp32. Should be a quick fix

[2021-02-24 01:40] anj-s opened #426 "[tests] Ampnet unit test fails"
## 🐛 Bug

Ampnet unit test - tests/experimental/nn/ampnet_pipe_process/test_ampnet_pipe.py::test_async_event_loop_interleave_simple fails due to error. We were not running the unit tests and [PR](https://github.com/facebookresearch/fairscale/pull/419) attempts to restart the tests again.
Stack trace:https://app.circleci.com/pipelines/github/facebookresearch/fairscale/1782/workflows/4573c633-dde6-4

[2021-02-24 10:27] SeanNaren commented on #421
At-least on the server! Runs for me fine in the lightning integration, + I double checked with the fairscale tests which all pass, except CPU offload :)

Agreed, the assertions for cuda in the gradscaler everywhere + random required CUDA tensors are insane... Already on the same thought, I tried to hack it by swapping the grads to CUDA then bringing it back to CPU but I gave up because that can't

[2021-02-24 12:49] SeanNaren opened #430 "[FSDP] Can we access parameter views when using flatten_parameters=True?"
## ❓ Questions and Help

This should explain the case:

[code]

When `flatten_parameters=True` we remove the parameter as we have migrated it to a contiguous buffer, but this means when we call `.parameters()` on specific modules (in the case we only want to wrap certain parts of the model with optimizers) this can not be done.

Any remedy to this problem? We were experimenting with the possibilit

[2021-02-24 13:03] sgugger commented on #423
Confirming the fix works on my side, thank you so much!

One unrelated question I had: from my understanding reading the tests, it doesn't matter if we place the model on the GPU before or after the sharding, though I imagine if the whole model does not fit on the GPU, it's better to do the split beforehand. However the optimizer absolutely needs to be created after the wrapping in `FullyShardedDa

[2021-02-24 13:35] myleott commented on #423
Correct. In fact, for very large models (100B+) you usually won't even have CPU memory to initialize the entire model. In these cases you want to be wrapping each layer with FSDP as you initialize it (which will shard in place). Then once initialized on CPU you can move to CUDA.

Yes, great point, this is essential.

I'll leave this issue open to address a couple remaining things from this thread:

[2021-02-24 13:53] myleott commented on #430
Hmm, this is a bit tricky. For the first part, this works (the params will get re-flattened after the context manager exits):
[code]

The optimizer use case is harder though. The optimizer won't be happy with the re-flattening that happens when the context manager exits:
[code]

Setting `flatten_parameters=False` should work, but will be quite slow until we improve our bucketing logic...

[2021-02-24 14:01] sgugger commented on #423
Thanks!

[2021-02-24 16:40] alexvaca0 opened #431 "Fails to build on A-100 AWS instances with Pytorch 1.7.1 and CUDA 11"
## 🐛 Bug

The problem arises when trying to install fairscale, both from pip and from master, in a p4.24xlarge instance on AWS. The error message is Fail to build wheels...

## Command

## To Reproduce

Steps to reproduce the behavior:

1. Create p4.24xlarge instance on AWS.
2. Activate environment with last pytorch.
3. Try to run: pip install fairscale, or try to install from source.

## Expected

[2021-02-24 18:36] blefaudeux commented on #431
Hi Alex, thanks for the issue. Did you mean to write "fairseq" or "fairscale" ? just to be sure, your message mentions fairseq. Would you mind sharing the log if that's fairscale that you meant ?

[2021-02-24 23:21] SeanNaren commented on #430
Thanks @myleott was helpful!

I think from a Lightning perspective we'll clear in the docs to only use the FSDP model in setting up optimizers for now, whilst we figure out a solution longer term in the FSDP code. Does that sound reasonable?

Regarding your comment about using communication hooks in the future https://github.com/facebookresearch/fairscale/pull/413#issuecomment-784497313 this would

[2021-02-24 23:31] myleott commented on #430
Yes, right now flattening is essential for performance, but once we speed up our bucketing solution the gap should be smaller, making it practical to set `flatten_parameters=False`.

To give you a sense of speed difference, here's a benchmark on 8xV100s for WMT'16 En-De translation in fairseq:

wrapper | flatten params? | words per second
--|--|--
PyTorch DDP | no | 150k
PyTorch DDP | yes | 178k
F

[2021-02-25 00:16] alexvaca0 commented on #431
Sorry I confused the names, I meant fairscale, I've changed it in the comment. Tomorrow I'll get the log again to share it here.

[2021-02-25 15:59] SeanNaren commented on #421
hey @myleott would delaying the move grad to CPU when using CPU offload be viable like this?

[code]

And within the lightning code, after `_unscale`:

[code]

`move_grad_to_cpu`:
[code]

I'm not sure how this would work with multiple nested FSDP wrappers (if that's even an issue) or what the performance hit looks like.

It's also not a nice long term fix, since we're having to do some weird delay

[2021-02-26 11:06] SeanNaren opened #437 "[FSDP] breaks when all modules within FSDP root are wrapped"
## 🐛 Bug

When all child modules that have trainable parameters are wrapped with FSDP, this breaks. I spent some time digging to figure out the issue till I came to this

## To Reproduce

To reproduce in the test file here, you have to change a line and add a new test:

Wrap all layers instead of just some:

https://github.com/facebookresearch/fairscale/blob/master/tests/nn/data_parallel/test_fsdp

[2021-02-26 19:54] min-xu-ai commented on #437
found the bug, will have a fix to this soon.

[2021-02-26 20:28] myleott opened #442 "[FSDP] mixed precision buffers are only maintained in FP16"
## 🐛 Bug

In FSDP with `mixed_precision=True`, we only maintain buffers in FP16. This could lead to underflow/overflow for buffers that wouldn't happen with standard AMP training.

Ideally we could keep the buffers in their original dtype, but it's unclear how/when/if to cast to `compute_dtype`. For static buffers it doesn't matter, but for BatchNorm we want updates to happen in full precision.

[2021-02-26 20:38] myleott opened #444 "[FSDP] improve robustness to mismatch between torch.cuda.current_device and model's device"
## 🚀 Feature

Currently we require the user to set the current CUDA device appropriately when using FSDP, e.g.:
[code]

PyTorch DDP is more robust to this, see this example: https://github.com/facebookresearch/fairscale/issues/423#issuecomment-784633275

We currently use `.cuda()` and `torch.device("cuda")` in a few places, we can add a new `compute_device` arg and use that instead.

[2021-02-26 20:39] myleott commented on #423
Did one, will track the other in https://github.com/facebookresearch/fairscale/issues/444

[2021-02-26 20:39] #423 closed

[2021-02-26 21:02] myleott opened #445 "[FSDP] state_dict should all-gather FP32 params"
## 🚀 Feature

When calling `state_dict` with `mixed_precision=True`, we all-gather the FP16 params as if we were doing a forward pass. We should add an option (or probably default behavior) to instead all-gather the FP32 weights for the state_dict.

After this is fixed we should ungate these tests:
https://github.com/facebookresearch/fairscale/blob/b6dc98cfe3365b9fbc7e386c2c246765a5b5710f/tests/nn

[2021-02-27 01:06] min-xu-ai commented on #444
I can take this one. However, when cpu offload is used, param's device won't help, right? We still need torch.cuda.set_device(), right? Just want to confirm my understanding here.

[2021-02-27 01:10] min-xu-ai commented on #426
cc @sidgoyal78 ?

[2021-02-27 01:13] min-xu-ai commented on #431
Do you have the error msg @alexvaca0? Perhaps you don't have the right compiler stuff installed? What's the command you ran to start the build? Perhaps you can skip the module building for the non-python code if that's not critical to you.

We can certainly improve our build script so that it can be smarter and skip failures when native code doesn't build. I have a feeling that vast majority of us

[2021-02-27 01:14] min-xu-ai commented on #430
BTW, the new `summon_full_params` context mgr is merged in. Do you still have some thing here in this issue need to keep it open?

[2021-02-27 01:15] min-xu-ai commented on #421
maybe you can contribute a small test that demonstrate this problem like in #437? That way, we can put the test in and hopefully fix the issue with the test.

[2021-02-27 01:16] min-xu-ai commented on #418
Can this be closed now?

[2021-02-27 01:17] min-xu-ai commented on #264
Is this still an issue?

[2021-02-27 01:24] min-xu-ai commented on #116
Ben, Myle just merged two changes for FSDP on state_dict. We used pre/post state_dict hook. You may want to check it out to see if it helps here.

[2021-02-27 01:32] stas00 commented on #264
AFAIK, there was no change on your side.

Unless you have things cached the modern pip fetches all  packages it depends on and builds in isolation which take quite some time and it's not guaranteed to fetch the right version of the packages, since it looks at the version dependencies of `fairscale` and completely ignores what gets installed.

So besides all this taking really long time, it builds

[2021-02-27 01:37] stas00 commented on #264
It's very fast if I do:
[code]
despite building 2 CUDA extensions.

[2021-02-27 01:47] min-xu-ai commented on #264
I see. Very helpful. Thanks! Mandeep is on PTO. I was scanning all issues. Sounds like we lack some kind of tests around the pip install/build process. I am not yet an expert on pip install/build process. I will read up on it. If you have a small enough test case that can be helpful. Nevermind if you don't I will try figure something out.

[2021-02-27 01:57] blefaudeux commented on #116
FSDP state dict docstring mentions "this needs to be called on all ranks", which points to a fairly different behaviour (but tied to the same limitations, collective communication primitives). Many frameworks checkpoint from a single rank, because they just want one state to handle down the line (-> push to a bucket), and because historically it was enough. This issue was about tracking solutions

[2021-02-27 02:06] min-xu-ai commented on #116
Yeah, good point. I didn't see that. For FSDP, user perhaps need to change their checkpoint code slightly and only keep the results on rank 0.

[2021-02-27 02:12] sidgoyal78 commented on #426
I missed this, let me take a look. Thanks for tagging @min-xu-ai  :)

[2021-02-27 02:14] stas00 commented on #264
As I said none of this is your problem but a recent change in how pip builds packages.

I have all the workarounds to make things work.

I was just proposing that if `pip install fairscale` didn't pre-build the CUDA extensions by default at install time and did that instead at run time via JIT/PTX like Deepspeed does then the install would be much simpler and faster for the user, since it'd alread

[2021-02-27 02:31] blefaudeux commented on #116
I think it would be worth it having a remote rank invariant "tracker" actually, it's pretty convenient for the user in that the sharding is completely abstracted away, the issue with [remote refs](https://pytorch.org/docs/stable/rpc/rref.html?highlight=remote%20references) initially was that it requires RPC being initialized and that the init was different from c10 (you had to init both), so it wa

[2021-02-27 04:15] #418 closed

[2021-02-27 05:10] #437 closed

[2021-02-27 05:15] anj-s commented on #426
Thanks @min-xu-ai for tagging and @sidgoyal78 for taking a look! Assigning this to you for now.

[2021-02-27 05:19] min-xu-ai commented on #430
Sorry, I think I misunderstood issue first and ignore the comment about summon_full_params above.

However, what's left to do in this issue? I am a bit unclear.

[2021-02-27 11:51] SeanNaren commented on #437
Ridiculous turnaround times you guys are machines! Thanks so much @min-xu-ai for fixing this :)

[2021-02-27 12:25] SeanNaren commented on #430
Hey @min-xu-ai!

Unfortunately this still won't work, because the original weights have been bucketed in place, removing pointers to the original weights without replacement I think.

```optimizer = torch.optim.SGD(model.layer.parameters(), lr=1e-3)```

will not work unless we set `flatten_parameters=False`. I'm sure this will be solved in the future once we're able to use a different bucketing te

[2021-02-27 20:00] min-xu-ai commented on #430
Let me understand a bit more. Will bucketing really help here? Bucketing will help performance since FSDP will loop over fewer params internally. However, for your use case, you need module.layer.parameters() to return the original full unsharded params or sharded ones? Is the optimizer assumed to be point-wise, like that for FSDP? When will the optimizer call on module.layer.parameters() be made?

[2021-02-27 20:07] min-xu-ai commented on #437
As a follow-up, we may want to explore the idea Myle mentioned in the review where we add an extra param to the outer FSDP so that it always gets a callback on the backward pass. I see 3 options below, please let me know your thoughts:

1. we can added a single float param with value 0.0, say `p`, and for the outer most FSDP, before the output is returned in the forward(), we do `output += p`. I t

[2021-02-28 01:32] min-xu-ai commented on #264
I think I understand this better now. Thanks Stas!

I can confirm that `pip install fairscale` on a clear venv take long time. It downloads torch and source tar file of fairscale and build everything. Like Stas said, it likely also build for the wrong torch version.

@blefaudeux, you have worked a bit on the release with this file:

https://github.com/facebookresearch/fairscale/blob/master/.github

[2021-02-28 01:51] myleott commented on #264
They don’t auto upload. You have to download the artifacts and upload them when uploading to pypi, see https://github.com/facebookresearch/fairscale/actions/runs/591717171

[2021-02-28 01:59] stas00 commented on #264
Just a quick word of warning - beside you needing to do a lot more work to build wheels for all the different pytorch versions, pre-built wheels may not work for all or be efficient:
- I don't know if you do any compile time optimization like AVX (efficiency / incompatibility)
- the prebuilt version will have to ensure it includes PTX codes for all possible capabilities.
- There will probably be o

[2021-02-28 02:36] min-xu-ai commented on #264
Let's say we don't pre-build the cpp part. Just building the wheel file with python code only for py36/37/38/39 and one wheel per py version for all supported torch version. I.e. each release have total 5 files tar + 4 wheel for 4 py versions (well I guess multiple linux/windows/mac too?). Will the 12 extra wheel files be worth it and faster for the users than a single tar file? (again, assuming w

[2021-02-28 02:44] stas00 commented on #264
I'm pretty sure you need only one wheel if you don't build the cpp part - it's pure python + some Cpp files that you will use later -

So your wheel will be named `fairscale-0.3.0-py3-none-any.whl`

[2021-02-28 12:35] myleott commented on #444
Yeah, in that case maybe we can let the user pass a `compute_device` option explicitly?

[2021-02-28 23:37] sshleifer commented on #442
I have struggled to create a regression test where we get over/underflow unless buffers get put back into fp32 after `fwd`.
The problem is that the dynamic buffer I tried, `torch.nn.BatchNorm1d().running_mean` gets updating during forward, so we have no overflow.  I think this is part of the definition of buffer (no `.grad`, so no updates during `optim.step()`, so the only reason for casting buffe

[2021-02-28 23:45] min-xu-ai commented on #442
Is over/underflow absolutely needed in the unit test or can we assert it is equal to non-FSDP training (DDP + AMP?) being sufficient?

For the statement above, I am don't quite understand "static buffers doesn't matter part". Also, BN.half() seems like a method users are supposed to call when they do mixed precision. Should we call it too?

[2021-03-01 00:13] myleott commented on #442
If using PyTorch amp, BatchNorm should stay/happen in FP32:
[code]

[2021-03-01 17:35] sshleifer commented on #442
Extended your example to contain a static buffer ("`float_buffer`") created by `register_buffer` and a `BatchNorm1d ` and test amp and apex O2 behavior:

- Autocast: leaves `float_buffer` and `bn.running_mean` in fp32.
- Apex `O2` treats `float_buffer` and `bn.running_mean` differently. Both return tensors in `16` but `bn.running_mean.dtype` is `32`, whereas `float_buffer.dtype` is `16`.

Since po

[2021-03-01 18:59] SeanNaren commented on #421
Absolutely, me being lazy so apologies, here ya go @min-xu-ai:

[code]

[2021-03-01 19:49] sshleifer opened #454 "FSDP Docs"
/assign @sshleifer

[2021-03-01 22:35] min-xu-ai commented on #454
@myleott @Vittorio-Caggiano @sshleifer, I think FSDP doesn't work with torch 1.5 due to lack of autocast. Should we mentioned that on the first page README.md next to the feature so that people won't rush to use it only to realize that they have an pytorch version that's too old? (in general fairscale states that we support 1.5, 1.6 and 1.7)

[2021-03-02 01:21] anj-s commented on #324
Unable to repro this. Closing this for now.

[2021-03-02 01:21] #324 closed

[2021-03-02 01:21] #290 closed

[2021-03-02 12:54] myleott commented on #442
New script looks great!

You're right that it looks like Apex O2 is doing some magic, probably patching the batch norm op specifically :/

Autocast is a bit simpler. There's a [list of ops](https://pytorch.org/docs/master/amp.html#op-specific-behavior) that automatically cast from fp32 -> fp16 and a similar list that automatically cast from fp16 -> fp32. All other ops happen in the original dtype.

[2021-03-02 13:29] myleott commented on #454
We don’t actually rely on autocast do we? I think FSDP would work for FP32 training with 1.5, for example

[2021-03-02 16:11] min-xu-ai commented on #454
well, we have a bunch of "skips" in the unit test so that it doesn't really run under 1.5.1 tests. :-(

[2021-03-02 17:18] min-xu-ai commented on #454
To be more concrete, we have an overly big skip that skips all test in test_fsdp.py. (my bad). But skip must be done in the parent process, not the spawned children when autocast value more readily available.

Maybe we should split the test file and put autocast related things only in a separate file?

[2021-03-02 18:15] sshleifer commented on #442
Yes, I was confused, thanks!

Yes that's very easy and seems to allow full control. Implemented in #458.

[2021-03-02 21:19] #445 closed

[2021-03-02 23:14] myleott commented on #454
Actually nvm, `reduce_scatter` isn't available in PyTorch 1.5.1, we should just tell people it's not compatible.

[2021-03-03 04:28] anj-s opened #462 "[benchmarks] Add support for running experimental/ampnet benchmarks"
We should add [benchmarks/experimental/ampnet.py](https://github.com/facebookresearch/fairscale/blob/master/benchmarks/experimental/experimental_ampnet.py) to our circleCI config so that we are testing performance on a regular basis.

@msbaines @sidgoyal78 Let me know if this makes sense. Please feel free to close if this is not something we want to track. Thanks!

[2021-03-03 06:08] sidgoyal78 commented on #462
I'd more inclined towards supporting the unit tests https://github.com/facebookresearch/fairscale/issues/426 for now. This benchmark is a preliminary one and we should probably wait for more benchmarking to make a call.

[2021-03-04 17:27] min-xu-ai opened #471 "[dev] should we support import *?"
During this code review, this question came up. Thanks to @msbaines !

https://github.com/facebookresearch/fairscale/pull/467#discussion_r587572010

The question is around whether we should support `import *` by maintaining `__all__` in the `__init__.py` file.

cc: @anj-s @blefaudeux

[2021-03-04 17:36] min-xu-ai commented on #471
I am leaning toward not support it, i.e. don't maintain an `__all__` in the init file. Here are 3 reasons:

1. it is slower for development: developer need to maintain the list and potentially sort it. If it gets long, duplicates and typos can happen. Reviewers need to check it too.
2. when `import *` is used, it is harder to figure out where a symbol comes from. Say:
[code]

In the file above, it

[2021-03-04 17:49] blefaudeux commented on #471
no strong opinion, I've had this thought a couple of times when doing "import *" and feeling "oh, this feels a bit dangerous". In many languages this is typically bad practice, because of the shadowing that you've mentioned. If it was not for hypothetical backward compatibility concerns (not sure how big of an issue that is), I would also lean towards removing it

[2021-03-04 19:01] msbaines commented on #471
If you remove `__all__` from `__init__.py` files you get the default behavior which is worse. So we could have an empty `__all__` or supports symbols that make sense. Supporting it is useful when using the library interactively via a repl or notebook. I think we should have an `__all__` in every `__init__.py` but should carefully add symbols when it makes sense. By default it should be empty.

[2021-03-04 19:04] min-xu-ai commented on #471
Empty `__all__` is good too. Can you provide more details on what should be the guideline on putting symbols in `__all__`?

[2021-03-04 19:08] msbaines commented on #471
https://docs.python.org/3/tutorial/modules.html#importing-from-a-package

I think every file having an empty __all__ is fine. We may late want to revise to allow support for adding symbols when they are useful for repl and notebook.

[2021-03-04 19:20] #426 closed

[2021-03-04 19:36] min-xu-ai commented on #471
My reading of that paragraph is that `__all__` still only affects `import *`. Perhaps I should do some experiments. @colesbury, any insights?

[2021-03-04 19:48] msbaines commented on #471
The paragraph is describing what happens when `__all__` is not defined.

[2021-03-05 15:50] jesus-villalba opened #477 "Using torch.distributed.launch with ShardedDDP"
Hi,
The tutorial about optimizer state sharding with dataparallel,
https://fairscale.readthedocs.io/en/latest/tutorials/oss.html
it mentions that children processes should be created with the multiprocessing.spawn utility
[code]
Is there any reason why we cannot use the launch utility?:
[code]
My issue here is that when using mp.spawn, the dataloader workers are created using 'spawn' mode, and cop

[2021-03-05 18:01] pclucas14 opened #478 "Pip install not working"
Hi,

I am trying to install fairscale using pip. I am running a fresh python 3.7 environment. I keep running into this issue
[code]

which seems `pip` related. I have ugraded my pip to the most recent version, and still the error persists. `pip -V` returns version `20.0.1`

[2021-03-05 18:21] blefaudeux commented on #478
Hi, thanks for reporting the issue ! Could that be missing setuptools and  wheel ? Would you mind trying `pip install setuptools wheel` ?

[2021-03-05 18:22] blefaudeux commented on #477
Hi Jesus, thanks for the question ! You can use any launcher you prefer, there's no hard dependency on either of them, each ShardedDDP just ideally lives in a seperate process and has access to seperate GPUs, that's all

[2021-03-05 18:24] blefaudeux commented on #409
fixed

[2021-03-05 18:24] #409 closed

[2021-03-05 18:35] pclucas14 commented on #478
It seems the packages are already installed

[code]

[2021-03-05 18:43] myleott opened #479 "[FSDP] test_mixture_of_experts is flaky"
See discussion here: https://github.com/facebookresearch/fairscale/pull/467#issuecomment-791598000

[2021-03-05 18:45] blefaudeux commented on #477
closing the issue, feel free to re-open if you face some problems

[2021-03-05 18:46] blefaudeux commented on #477
re-opening the issue, the tutorial should be fixed, the wording is not good indeed

[2021-03-05 18:53] jesus-villalba commented on #477
Thank you for your prompt reply

[2021-03-05 18:56] min-xu-ai commented on #478
Can you try some commands in #264 to see if they workaround your problem? @pclucas14

Worst case, you can git clone the repo and install with `pip install -e .`?

[2021-03-05 18:58] min-xu-ai opened #481 "update to pytorch 1.8"
1.8 is released. should be update to it and retire the support of 1.5?

cc: @blefaudeux @msbaines @anj-s

[2021-03-05 19:01] blefaudeux commented on #481
Oh yes please ! Best news of the day

[2021-03-05 19:07] pclucas14 commented on #478
Neither `pip install fairscale -v --no-cache` nor `pip install fairscale --no-build-isolation` worked (the latter giving the same error). I also tried building from scratch, and got the following error (on the `pip install -e .` step)

[code]

[2021-03-05 19:16] min-xu-ai commented on #481
I don't have any cycle immediately. Maybe someone can first replace the 1.8 nightly in the CI config file? I don't think this is urgent though. perhaps pip install issue is more urgent. :)

[2021-03-06 11:26] #442 closed

[2021-03-06 22:22] pape55 opened #487 "U"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-03-06 22:23] pape55 opened #488 "G"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-03-06 23:19] #487 closed

[2021-03-06 23:20] #488 closed

[2021-03-07 02:18] min-xu-ai opened #489 "[FSDP] SIGSEGV likely due to convert to sync_bn"
Happy on a regnet model but probably will need some repro error in other envs.

[code]

[code]

Filing for the future. For now, will move on with workaround.

[2021-03-07 06:00] min-xu-ai commented on #489
Likely this is not CPU specific. It looks like sync-bn conversion related:

[code]

file here for more investigation.

[2021-03-07 06:03] min-xu-ai commented on #454
Maybe this likely needs to be in a separate issue, but noting down this idea for a tutorial:

For some model code, they init_weight after model is created. With DDP, this is fine, with FSDP, we likely need to have a that done within summon_full_params() context. A tutorial shows this would be nice.

Doc probably should call out this fact that any direct weight accesses outside of the fwd/bwd, shou

[2021-03-07 06:48] timothybrooks commented on #478
Which version of pytorch are you using? Could this possibly be related to the 1.8 release?

[2021-03-07 23:25] pclucas14 commented on #478
I tried with 2 environments, one with pytorch `'1.7.1+cu101'` and another one with a fresh out the box(so no pytorch yet).
Right now I have just copy pasted the `fairscale` folder from another python 3.7 environment, which seems to do the job

[2021-03-08 01:13] min-xu-ai opened #490 "[FSDP] issues around early init_weight"
cc @prigoyal @myleott

Documenting several issues around early init_weight.

By early, I mean in vissl's case, we do the following:

[code]

two issues observed so far:

1. when init_weight is called, I used summon_full_params(), which called lazy_init. However, when root FSDP is later called during forward, it calls lazy_init again and try to set the is_root flag for children FSDP. There, we asse

[2021-03-08 01:33] min-xu-ai opened #491 "[FSDP]: issue with different ways of checkpointing"
unit test are being added here: https://github.com/facebookresearch/fairscale/pull/476

but I don't have a big picture of what's needed to be fixed yet. Some observations:

1. we know that if root FSDP is empty with zero params and checkpoint is used, backward can finish too early
2. I have seen issues around checkpoint(FSDP()) vs. FSDP(checkpoint()). It is only the former work in vissl.
3. I have

[2021-03-08 01:37] min-xu-ai opened #492 "[FSDP] flatten param and optimizer"
cc @prigoyal @myleott

In VISSL, we have this function that collect different parameters from the model and group them into different parameter groups.

https://github.com/facebookresearch/vissl/blob/48b2984111c474a0da63c9c228b10281a0dbe737/vissl/optimizers/optimizer_helper.py#L102

However, when FSDP flatten the param, the original parameters accessed above in the function are not really backed b

[2021-03-08 01:41] min-xu-ai opened #493 "[FSDP] convert_to_sync_bn fails when flatten is true"
Need a unit test to uncover what's going on but I have observed that when vissl try to convert BN to sync BN when flatten is true, we fail.

[2021-03-08 01:50] min-xu-ai commented on #493
dup of #489

[2021-03-08 01:50] #493 closed

[2021-03-08 02:35] min-xu-ai commented on #490
Another thing: if the model is on CPU, we can't use summon since all_gather needs CUDA and dense tensors. So early build of the model must be on the GPU too.

[2021-03-08 11:36] myleott commented on #490
1) just to clarify (I think you’re saying the same thing) but the first time `_lazy_init` is called, it must be called by the actual root/outer-most FSDP instance. One solution here seems to be swapping the `init_weight` and `build_model` steps, something like:
[code]

2) > vissl seems to init_weight at each rank differently. This means each worker starts with different weights? This is not standa

[2021-03-08 11:45] myleott commented on #492
Yep, with flattening then all the module attributes become views into a single flat nn.Parameter, so it’s not really possible to divide their optimization params like this.

This will be a bit tricky to support, but a couple options:
1) we can try to reimplement FlattenParamsWrapper to replace each params’s storage (making them point to a portion of the flat param) without actually replacing the a

[2021-03-08 22:20] blefaudeux opened #498 "[SPD] flaky unit test"
see https://app.circleci.com/pipelines/github/facebookresearch/fairscale/2127/workflows/477e8512-fca3-4d54-a74a-3143c5d31b47/jobs/13546

and
https://app.circleci.com/pipelines/github/facebookresearch/fairscale/2126/workflows/e8cc7dd1-4de8-4644-a8a1-e555ba67b414/jobs/13531

both checking parity while using Gloo

[2021-03-09 04:56] #479 closed

[2021-03-09 19:56] #498 closed

[2021-03-09 22:01] #477 closed

[2021-03-09 23:49] sidgoyal78 opened #506 "[benchmarks] consistency of license header in scripts"
Several scripts in benchmarks (`benchmarks/**/*.py`) have a single line FB header
[code]

We should add these 2 license statements as well:
[code]

[2021-03-10 14:58] anj-s commented on #506
Thanks for opening this! I noticed this too in one of my PRs. Happy to add it to all the files if you want to assign this issue to me.

[2021-03-11 11:18] SeanNaren opened #509 "[SDP] Bucket Failed to be sent error in FairScale 0.3.1"
## 🐛 Bug

When upgrading from 0.3.0 to 0.3.1 on the Lightning side our bug report script fails with sharded:

You will need to install lightning (`pip install pytorch-lightning`).

[code]

[code]

I haven't been able to track the root cause yet so there is always the possibility it's on the lightning side, but can help to track it down! cc @blefaudeux

[2021-03-11 15:00] blefaudeux commented on #509
Oh, the buckets flipped to being default on, but that's with an extra callback which should always make sure that they are sent (it even works fine with imgpt for instance, and there's a "unused params" unit test for that also). I'll check that out ASAP, should not have happened

[2021-03-11 17:10] blefaudeux opened #511 "[OSS] Lightning compat - set empty shards to {}"
## 🚀 Feature
Set empty state shards to {} instead of None, to stay compatible with a Lightning bandaid

[2021-03-11 17:16] #511 closed

[2021-03-11 22:49] blefaudeux commented on #509
I'm unable to repro outside of lightning, even with a single GPU as it seems to be the case here. Testing the lightning case right now

[2021-03-11 22:52] blefaudeux commented on #509
ok, I can repro indeed, thanks for the script @SeanNaren

[2021-03-11 23:00] blefaudeux commented on #509
limited to 1 gpu it seems, so probably not affecting a lot of people. Still, a bit perplexing

[2021-03-11 23:22] blefaudeux commented on #509
so it looks like, on one gpu at least, autograd never touches anything (either no params are trainable or they are not used). Since ShardedDDP relies on autograd to trigger the reduce calls, the assert rightfully calls quit. @ananthsub would you happen to know how the lightning shardedddp plugin works with a single gpu ?

[2021-03-12 05:28] blefaudeux commented on #481
thanks Mandeep for this !

[2021-03-12 05:28] #481 closed

[2021-03-12 05:36] min-xu-ai commented on #481
Yes, thank you so much, Mandeep!

[2021-03-12 16:51] msbaines opened #516 "fix tests to work with torch 1.8.0"
## 🐛 Bug

A few tests do not pass when using torch v1.8.0

tests/nn/pipe_process/test_rpc.py::test_construct_only_rank_zero
tests/optim/test_oss.py::test_collect_shards
tests/optim/test_oss.py::test_reproducibility

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script f

[2021-03-12 19:18] min-xu-ai commented on #471
here is some testing:

[code]

with `__all__` above commented out:
[code]

If `__all__` is define as empty:
[code]

I think this shows that if we have `__all__` define as empty then `import *` won't import anything. Let's go with that or not? @msbaines @blefaudeux @anj-s

[2021-03-13 04:48] blefaudeux opened #517 "[ShardedDDP] Grad norm disparity with DDP when reduce buckets are enabled"
## 🐛 Bug
The grad norms become false when bucketing is enabled with ShardedDDP, spotted by Weiyi (@zhengwy888), many thanks !

[2021-03-16 03:05] blefaudeux opened #522 "[OSS] Catch the device being changed in between init and step()"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-03-17 02:39] #522 closed

[2021-03-17 16:20] blefaudeux commented on #517
cc @zhengwy888

[2021-03-17 16:22] blefaudeux opened #525 "[SDP] Trailing bucket with re-entereing training"
## 🐛 Bug
Seems that train->eval->train can produce trailing buckets, see for instance f257761416 (FB only)

[2021-03-17 16:24] #509 closed

[2021-03-18 02:10] #525 closed

[2021-03-18 05:10] min-xu-ai commented on #489
We now do BN differently due to its need for full precision. This no longer is an issue.

[2021-03-18 05:10] #489 closed

[2021-03-18 05:12] min-xu-ai commented on #478
without a repro, not much can be done. given we will likely avoid doing cpp compile in pip install, this shouldn't be an issue once that's done. closing.

[2021-03-18 05:12] #478 closed

[2021-03-18 05:23] min-xu-ai commented on #490
To summarize things in this issue (for my own memory):

1. currently vissl doesn't have the issue in (1) above with summon_full_params() since we can init_weight before sub-wrapping, as long as all ranks have the same seed.
TODO1: would be nice to have an assert on summon_full_params() first on the inner FSDP or support that in some way. (like summon_full_params doesn't mutate the is_root flags.
2

[2021-03-18 05:24] min-xu-ai commented on #421
I will work on this at a later point since no use case is waiting on this yet. Likely we need a scaler that's specific to FSDP.

[2021-03-18 16:18] blefaudeux commented on #516
reopening for the trailing test which remains to be fixed

[2021-03-18 16:48] #517 closed

[2021-03-19 05:31] sshleifer opened #539 "FSDP with optimizer groups differs from DDP"
It's not obvious how one should instantiate an optimizer with groups after instantiating `FSDP`.
Doing the following breaks the unittests:

[code]

The examples/docs should either denote that (a) FSDP does not support lr groups or (b) that it does if they are specified in a certain way.
/assign @sshleifer

[2021-03-20 13:00] myleott commented on #490
This was causing segfaults for RoBERTa + FSDP in fairseq, so I fixed it here: #543

[2021-03-20 21:15] #444 closed

[2021-03-20 21:15] #490 closed

[2021-03-24 09:19] tani18dr opened #545 "[FSDP] when inferrence time, the weight changes from 2 batches."
## ❓ Questions and Help
hi, I am using fairscale well.

I pretrain and finetune BERT with FullyShardedDataParallel.
However, when inferrence time, the weight changes from 2 batches.

"with torch.no_grad():" and "parameters.requires_grad = False" do not work.

So I did the following.
[code]
It works well.
Why?
Please help.

[2021-03-25 20:36] msbaines opened #548 "modify moe mpi tests to use multiprocessing and nccl instead"
## 🚀 Feature
We would like for all moe tests to be converted from mpi to nccl+multiprocessing

## Motivation

Now that all_to_all is supported by PyTorch 1.8.0. We'd like to convert these tests to use NCCL.

## Pitch

Currently these tests are CPU tests. By migrating to NCCL they would become GPU tests.

## Alternatives

## Additional context

[2021-03-26 02:51] min-xu-ai commented on #545
very interesting. how do you the weights changed between 2 batches? Can you share a small test that demonstrate this problem?

[2021-03-26 22:19] #471 closed

[2021-03-27 19:28] tani18dr commented on #545
I trained with deep speed zero2 and inferred from fp32 with the learned fp16 weights.
The task was carried out by mechine reading comprehension, but in the same way for deep speed, only the first part of the batch in inference was normally answered.

fairscale also showed the same symptoms.

Learning procedure
1. pretrain : korean wiki 3.5 million dataset 50k step zero3 pretrain, two rtx 3090, cud

[2021-03-27 20:17] min-xu-ai commented on #545
by "symptom", do you mean the two scores are different in the following?

I think I understand the problem better now. Thanks for the additional info. The additional line of `model.load_state_dict(model_chk)` after `if args.zero` seems to help your eval score. This shouldn't be happening. Let me see if I can reproduce it or not.

[2021-03-28 22:25] ibro45 commented on #337
Hi, I see that a PR for Zero Offload has been implemented for Sequential models https://github.com/facebookresearch/fairscale/pull/432 and that it will be in the next release. However, do you expect to have an implementation that works with non-Sequential models soon too? Thank you!

[2021-03-29 00:11] tani18dr commented on #548
It would be nice if FastMoE is also compatible.
https://arxiv.org/pdf/2103.13262.pdf
https://github.com/laekov/fastmoe

[2021-03-30 13:53] anj-s commented on #337
Work in progress :) Will update this issue with an ETA soon. Thanks!

[2021-04-01 08:35] BIGBALLON opened #566 "[FSDP] cuDNN error: CUDNN_STATUS_BAD_PARAM"
## ❓ Questions and Help

I got this issue when I change my model to FSDP

[code]

[code]

[2021-04-01 08:39] #566 closed

[2021-04-01 23:30] min-xu-ai opened #569 "FSDP: named_parameter return value"
Some pytorch code that use named_parameter's return values to match layer's name and perform operations on it. FSDP returns them differently (in terms of the name) than unwrapped module. It would be nice to return the original names.

@myleott @sshleifer, do you see any downside of doing this? Should I keep it an option to return the wrapped names?

[2021-04-02 11:31] BIGBALLON opened #571 "[FSDP] The rightway to use cpu_offload?"
## ❓ Questions and Help

I'm trying to use FSDP for efficient memory saving,  but I got the following errors, I'm confused what is the right way to use ``cpu_offload``:

[code]

[code]

[2021-04-02 16:23] #548 closed

[2021-04-02 16:29] min-xu-ai commented on #571
Hi there, did you place your model on CPU device first? With cpu_offload=True, I think you need the model to start on the CPU device. See how it is used in the test here:

https://github.com/facebookresearch/fairscale/blob/5a3df0da20ac446ba7aab31086c128e26595683c/tests/nn/data_parallel/test_fsdp.py#L287

note `use_cuda=False` there.

[2021-04-02 17:22] BIGBALLON commented on #571
Hi @min-xu-ai,

https://github.com/facebookresearch/fairscale/blob/5a3df0da20ac446ba7aab31086c128e26595683c/tests/nn/data_parallel/test_fsdp.py#L104

[2021-04-02 17:43] BIGBALLON commented on #571
Hi, @min-xu-ai, thanks for your answer, I get the point.

[2021-04-02 17:43] #571 closed

[2021-04-02 20:26] sshleifer commented on #569
Is this separate from [`FlattenParamsWrapper`](https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/misc/flatten_params_wrapper.py#L249)?
It would definitely be nice to return the original names!

[2021-04-03 20:57] min-xu-ai commented on #431
closing, not enough info.

[2021-04-03 21:00] min-xu-ai commented on #421
@anj-s you were running into something similar to this. Have you solved it on your code?

[2021-04-03 21:57] anj-s commented on #421
Yes, that's right. We have a similar problem for OffloadModel. This is work in progress where we are adapting a dynamic loss scaler from fairseq that will work for optimizer updates on the CPU. It might need additional logic for it to work with FSDP.

[2021-04-04 18:19] pclucas14 commented on #478
Hi,

I need to upgrade my fairscale so my previous solution does not work anymore. What do you need on my end to solve this ?

[2021-04-04 18:26] pclucas14 commented on #478
Actually this was only because I had loaded cuda 10.1 instead of 11. Worked after that

[2021-04-06 02:46] min-xu-ai commented on #569
Yeah, this is different `state_dict` API. This is for `named_parameters`. I think it would affect both FSDP and FlattenParamsWrapper.

Thanks for confirming!

[2021-04-06 02:49] min-xu-ai opened #584 "FSDP: add a way to sync params from a given rank"
For DDP, rank 0's weight is synced to all ranks before forward. For FSDP, it would be nice to have a way to do this so that different weights from different ranks will be consistent before the forward. This can be easier for model init since we can just init a single rank and sync to all ranks.

We need to do this without GPU OOMs.

cc: @prigoyal @myleott @sshleifer

[2021-04-06 23:54] min-xu-ai opened #585 "FSDP: easier wrapping"
Two use cases:

- easier wrapping based on layer type (like BN) is already handled by auto_wrap_bn
- we can extend this to wrap based on a flag in the module
- also, we can make it easier to wrap a layer with a given precision (perhaps also from a flag in the module)

[2021-04-07 08:58] Adrien987k commented on #478
Hi,
I am facing the same issue. What do you mean by "I had loaded cuda 10.1" and what did you do to load cuda 11 ?
Thanks.

[2021-04-07 18:07] blefaudeux opened #586 "[ShardedDDP] Handle transition to eval + parameter change"
## 🐛 Bug
Reported by @SeanNaren, after a successful training the switch to eval() is not properly taken into account, and the grads are marked as "waiting to be reduced" while they should not (we're in eval..)

[2021-04-07 22:42] visionscaper commented on #586
I’m trying to understand what effect this bug could have on training loss, if any, when one switches to and from eval() between training iterations. Could you shed light on this @blefaudeux? I recently tried ShardedDDP and observed degraded training performance. I also know that I switch to eval mode between iterations to calculate validation set loss. Hence the question.

[2021-04-07 22:47] blefaudeux commented on #586
oh, this materialized (as Sean saw it) as an assert firing ([here](https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/data_parallel/sharded_ddp.py#L270)), so it should not have gone unnoticed. If this assert was not fired then it should have taken network bandwidth (and thus speed) *if* you're calling .backward() somewhere, nothing more, so it should not have been anything supe

[2021-04-07 22:51] blefaudeux commented on #586
to elaborate, what can change is *if* you switch on ShardedDDP, see that you have some free memory and bump up the batch size & LR when compared to DDP. Depending on your training, you can definitely arrive to a LR/batch combination which degrades the accuracy, but it's not a bug in that case, this has to do with the dynamics of training (and the optimizers having a hard job :)). [AdaScale](https:

[2021-04-08 17:46] visionscaper commented on #586
Hi @blefaudeux, thanks for responding so swiftly. No, this is not because I changed the batch size/LR settings; the degradation occurred under the same conditions. I need to make some time, but if I do, I will publish some results and info here.

[2021-04-08 19:43] blefaudeux commented on #586
thanks a lot  @visionscaper, there's definitely something wrong, with the default flags you should get exactly the same as DDP ! Could you specify what flags were used for ShardedDDP and OSS, and what version of fairscale ? In that config (single node) you can turn the buckets off for shardedDDP (reduce_bucket_size = 0), but it should not impact the accuracy (you'll get a bit more speed and space)

[2021-04-08 19:45] blefaudeux commented on #586
My guess is that there's something which is not properly handled outside of the core model, maybe the embedding ? Is it trainable ?

[2021-04-08 19:50] visionscaper commented on #586
`OSS` was instantiated as:

[code]

Where `Optimizer` is `Adam` in this case

`ShardedDDP` was instantiated as:

[code]

Where `optimizers` is a `dict` with, in this case, the single `Adam` optimizer, wrapped by `OSS`.

So, no special flags applied.

[2021-04-08 19:51] visionscaper commented on #586
Version of Fairscale:

[code]

[2021-04-08 19:55] visionscaper commented on #586
I wouldn't know why the embedding layer would not be trainable in the case of applying `ShardedDDP` and trainable otherwise.

There is one thing to note though, when using conventional DDP, I train with flag `find_unused_parameters=False`. If I remember correctly, I set this flag because other wise I would get warnings concerning unused parameters. Could this have an effect when applying `ShardedD

[2021-04-08 20:02] blefaudeux commented on #586
it was an open question, are these embeddings trainable ? ShardedDDP would not change that, it's to get a better idea of the inputs. I'm just wondering whether there's something which could be missed when ShardedDDP needs to orchestrate moving the gradients around

[2021-04-08 20:05] visionscaper commented on #586
Ah, ok, so yes, this is a trainable embedding layer, basically it is `torch.nn.Embedding`.

[2021-04-08 20:11] visionscaper commented on #586
@blefaudeux FYI. I added the results for the experiment with the `reduce_buffer_size=0` flag for `ShardedDDP` to the table above.

[2021-04-08 20:15] blefaudeux commented on #586
thanks, they make sense, same results but a bit more memory and a bit faster without the reduce buffer.

[2021-04-08 20:16] blefaudeux commented on #586
thanks, I'll check that, my guess is that ShardedDDP is not picking that up so this layer could be trained independently instead of seeing a bigger batch. I'll get back to you asap, trying to repro

[2021-04-08 20:24] visionscaper commented on #586
Yes, I also noticed that, it could indeed be a constraint on the 1080 Ti. If you like I can do an experiment on a AWS machine with Nvidia T4's.

[2021-04-08 21:16] blefaudeux commented on #586
yeah it's a good point, there could be something in the architecture really. ShardedDDP only really deals with the backward, so if you're calling them many times in a row this should not change much. What could change though is how autograd produces the grads, if it calls the backward hook many times then it [will just be reduced once](https://github.com/facebookresearch/fairscale/blob/master/fair

[2021-04-08 22:38] blefaudeux commented on #586
I've been unable to repro with multiple FW on the same block and an embedding table (linked branch), a unit test gives ShardeDDP a parity pass with DDP, so a priori it's something else. Looking into other options

[2021-04-09 10:01] visionscaper commented on #586
@blefaudeux I've been looking at your test and compared it to what I do in my experiments. One thing that stands out is that I do `optimizer.zero_grad()` en you do `model.zero_grad()`. This might be the issue.

[2021-04-09 10:17] visionscaper commented on #586
I added the results of an experiment with `optimizer.zero_grad()` changed to `model.zero_grad()`. It doesn't seem to matter.

[2021-04-09 10:21] visionscaper commented on #586
I think I will need to make a minimal test to try to pin down the issue, now there is so much complexity in my code that could obfuscate the root cause. Maybe there is a simple explanation. I'm not sure when I have the time to make such a test, though. @blefaudeux, If you have any ideas in mean while, please let me know.

[2021-04-09 18:13] blefaudeux commented on #586
ah yes, this can be a problem with the shardedDDP buckets, if you do it on the optimizer it cannot reset the bucket gradients properly (could be changed to be done by default upon reduction actually, would make sense but a bit heavy handed), I think that it's mentioned in the doc but easy to miss. Without buckets it does not change anything though, so looks like it's not your issue.
A repro would

[2021-04-13 04:30] #586 closed

[2021-04-13 14:50] chunfuchen opened #601 "[FSDP] Can not resume the optimizer with params in mulitple groups"
## ❓ Questions and Help
I tried to follow the tutorial to change my codes to use FSDP; however, I do not know how to resume the training properly.
Every time I resume, it seems to restart from scratch.

In order to resume, there are three state_dicts,
1. model weights
2. optimizer
3. learning rate scheduler

I checked that 1 and 3 are correctly after I loaded them in the beginning of the resuming;

[2021-04-13 14:59] sshleifer opened #602 "FSDP: Consolidate cpu_adam optimizer state dict"
### Possible Approaches
1. document that cpu optimizers will break all gather and don't fix
1. cast to cuda before `all_gather`
1. ~learn to communicate CPU tensors over a NCCL process group~ (not possible.)
1. make a new `mpi/gloo` process group on the fly.

[2021-04-13 17:06] myleott commented on #602
2. could be reasonable, and is how we handle `apply()` when the model is still on CPU:
[code]

[2021-04-13 17:21] sshleifer commented on #601
Definitely related!

Could I see how you are initializing FSDP and the optimizer?
Bonus points if you have a small reproducible snippet!

[2021-04-14 07:31] BIGBALLON opened #604 "[FSDP] mixed_precision"
## ❓ Questions and Help

from the FSDP [tips](https://fairscale.readthedocs.io/en/latest/api/nn/fsdp_tips.html)

[code]

``mixed_precision`` is compatible with ``torch.cuda.amp.autocast``, I have another question:

If ``torch.cuda.amp.autocast`` is not used,
can ``mixed_precision=True`` still work normally since we not use ``GradScaler`` ?
thanks a lot

[2021-04-14 14:55] QuentinDuval opened #605 "[FSDP] Freezing some weights during training"
## ❓ Freezing some weights during training

In the context of VISSL (SSL on Vision), we are using FSDP together with the pre-taining task SwAV.

SwAV pre-training requires us to maintain some weights frozen, while still flowing gradients through these weights: we train an encoder followed by a head, and some weights in the head (which we call the `prototypes`) need to be kept frozen for a few hund

[2021-04-14 15:54] min-xu-ai commented on #605
I don't see why it is not supported. Will add a unit test to ensure it is the same with ddp.

[2021-04-14 16:23] min-xu-ai commented on #604
I don't think so. See test test_fsdp_regnet.py. I think it will depend on layers. Some layers won't be happy with FSDP's mixed_precision=True without autocast.

[2021-04-14 16:27] min-xu-ai commented on #604
Also, sharded grad scaler is needed afaik

[2021-04-14 16:27] min-xu-ai commented on #604
please reopen if you have more questions. totally fine. closing for now.

[2021-04-14 16:27] #604 closed

[2021-04-14 20:45] prigoyal opened #609 "[FSDP][bug] Using Apex SyncBN gives incorrect tensor shape error"
I am trying to use FSDP with PyTorch AMP + Apex SyncBN however, I get the error

[code]

I don't get the error when using PyTorch SyncBN. We have also found that PyTorch SyncBN could be slow for our model trainings and would appreciate using Apex SyncBN.

[2021-04-15 05:33] BIGBALLON commented on #604
@min-xu-ai I got the point, thanks a lot!

[2021-04-15 11:53] sgugger commented on #421
Hi @min-xu-ai, that's not entirely true. As I mentioned in the PR linked above and to Sean in private, this is blocking the zero offload option with fairscale in the Transformers library. We've not developed a short-term fix on our side since we have zero DP3 wth zero offload via deepspeed for now, but it would be nice to be able to use fairscale for this too!

[2021-04-15 13:00] SeanNaren commented on #421
I think what @min-xu-ai is getting at is for some use cases (where you do not want to scale that large) such as VISSL currently you do not need CPU offloading (to scale size you can just scale GPUs). I do agree that this is annoying for Transformers/PL because we have to now make it clear that CPU Offloading will not work.

Is https://github.com/facebookresearch/fairscale/pull/589 tied to this? It

[2021-04-15 14:01] myleott commented on #421
I can start looking into this. It seems deepspeed also uses their own DynamicLossScaler, similar to fairseq. Theirs is pretty disconnected from the rest of deepspeed, so one could probably just import and use that with FSDP...

Usage example: https://github.com/microsoft/DeepSpeed/blob/ab5534fc4c0f8ca21ada321f9730d723aa31288b/deepspeed/runtime/fp16/loss_scaler.py#L173-L221

[2021-04-15 16:03] prigoyal commented on #605
just wanted to chime in and mention: this issue is currently high-pri for us to figure out and we would appreciate any advice/help! :)

[2021-04-15 18:28] prigoyal commented on #584
cc @QuentinDuval

This could be related to the NaN issue we observe.

[2021-04-15 20:34] QuentinDuval opened #610 "Support for frozen parameters (Linear classification benchmarks)"
## ❓ Support for frozen parameters

In the context of VISSL, we are training a SWAV model with FSDP and then want to evaluate this model using linear evaluation, again using FSDP to wrap our model.

In the context of linear evaluation, only the linear layer on top of the "trunk" will be learned: the representations of the trunk, fed to the linear layer, will stay constant, and so we set `requires_

[2021-04-16 00:10] min-xu-ai opened #613 "FSDP: fp32_reduce_scatter can be decoupled from mixed precision"
while working on this pr: https://github.com/facebookresearch/fairscale/pull/612

It seems that both `fp32_reduce_scatter` and perhaps even `cpu_offload` options can be made decoupled from mixed precision model. That could be useful in different use cases?

cc: @myleott

[2021-04-16 00:17] min-xu-ai commented on #605
@QuentinDuval this issue is fixed with compute_dtype = fp32?

[2021-04-16 13:03] prigoyal commented on #605
yes, this is fixed by compute_dtype=fp32 :) I am running more tests and will comment later to close this issue.

[2021-04-16 19:17] QuentinDuval commented on #605
After debugging, the issue was in VISSL, I get perfect convergence with the frozen prototypes now:

<img width="721" alt="Screenshot 2021-04-16 at 15 16 30" src="https://user-images.githubusercontent.com/7412790/115073773-c9209100-9ec6-11eb-9083-6f7e364b1b52.png">

Closing the issue.

[2021-04-16 19:17] #605 closed

[2021-04-19 00:50] #610 closed

[2021-04-19 12:03] prigoyal commented on #605
Just connecting dots: this issue was due to the hardcoding of fsdp params names (as it doesn't return the original params names currently). Fixing this issue https://github.com/facebookresearch/fairscale/issues/605 would avoid such issues in future for VISSL or others.

[2021-04-19 21:22] QuentinDuval opened #617 "FSDP and checkpoint_wrapper with support multiple forward passes in sub-modules"
## 🐛 Bug

In the context of VISSL, we are training a SWAV model with FSDP and activation checkpointing. The SWAV algorithm requires two forward passes to be performed to compute the loss (each pass deals with images in different resolutions).

When enabling activation checkpointing (using the pattern `FSDP(checkpoint_wrapper(module))`), this leads to one of the following assert during the `run_bac

[2021-04-19 21:27] prigoyal commented on #617
Just flagging that this is a current high-pri issue / blocker for us :)

[2021-04-20 04:32] wconnell commented on #431
I'm running into this as well...I've tried `pip install fairscale` as well as `pip install fairscale --no-build-isolation`. WRT to the compiler issue, is there a workaround? Not sure if it's related to the comment above...

## Error log
[code]

## Env
[code]

[2021-04-20 04:38] #602 closed

[2021-04-20 15:50] blefaudeux commented on #431
looks like your c++ compiler is a bit old, could it be that you need to install one in you conda env, to make sure that you're not using the one from the base system ? (gcc or clang, I think that both should work)

[2021-04-20 23:30] wconnell commented on #431
Gotcha, gave that a shot but still unable to install.

New error, looks like the build is finding the system CUDA 10.1 install rather than the environment `cudatoolkit 11.1`. Any thoughts?

## Log
[code]

[2021-04-22 00:52] min-xu-ai commented on #431
I don't know if you really need the fused Adam cuda extension in your use case. If not, you can try the following workaround.

First, clone the repo locally to a dir. `cd` into it.

Change the torch version to the version in your venv in the following. In my case, I used 1.7.1 since my venv has that torch version.

Run `pip install -ve .`. This should install fairscale from a local dir you have cl

[2021-04-22 05:22] cyanguwa opened #623 "FSDP does not overlap all gather with forward pass"
## 🐛 Bug

FSDP doesn't seem to overlap all-gather calls with forward pass when wrapping individual layers with `wrap()` or `auto_wrap()`. However, the reduce-scatter calls do overlap with computation in the backward pass.

## To Reproduce

An example of wrapping individual layers with `wrap()` is,

[code]

## Problem

The Nsys profile of the above code with 8 layers (num_layers = 8) is:

![image](

[2021-04-22 05:46] marload commented on #478
I have a same issue

[2021-04-22 06:02] wconnell commented on #431
Thanks for the suggestion. Install works.

Now running into issues using the library, need to take a closer at this.

[2021-04-22 14:41] min-xu-ai commented on #431
Definitely file a new issue for the errors of using the library. We are really eager for user feedback!

[2021-04-22 18:48] min-xu-ai commented on #623
@cyanguwa Thank you so much for this excellent issue! CC: @myleott

If the dependency is added only to the optimizer, then between layers in a forward pass, the overlap should still be happening.  However, your profile seems to show it wasn't the case. Do you have a small test case and steps to reproduce this so that we can investigate it using the case? Thanks!

[2021-04-23 14:56] myleott commented on #623
We share a single "all_gather" stream across all layers, without synchronization, so we get overlapping as long as there are no device-to-host transfers in the forward pass (that way subsequent layers queue up their all-gathers while the preceeding layers are executing).

Re: the all_gather stream synchronizing with the current stream, that it's only called once from the "root" FSDP instance: http

[2021-04-23 17:51] prigoyal opened #627 "FSDP memory utilization issue"
Reporting the issue here:

We observe weird memory usage when using FSDP.

**Setup:** 1.5B params model, no activation checkpointing used

**Observations are:**
- **DDP, 1gpu, 1img/gpu , Pytorch AMP , memory looks like:**
    - 5480 (before fwd) -> 9547 (after fwd) -> 10960 (after bwd) -> 16384 (after optimizer step and params update)
    - verified with PyTorch 1.6 and PyTorch 1.9.0 both have sam

[2021-04-24 14:01] lolongcovas opened #628 "is fairscale usefull for small model but high memory consumption in the forward pass"
## ❓ Questions and Help
Hi,

I was training an efficientdet [with efficientnet-b2 as backbone] with 4 gtx-1070 8 gb each. the batch size that fits, in each gpu, is 4. This amount of bsize is not good for learning the batch norm params, then I decide to use fairscale to save the memory usage and increase the batch size. After looking at the model parameters, the weights are only 35Mb aprox. I guess

[2021-04-24 17:16] visionscaper commented on #628
Hi @lolongcovas, if you have a lot of activation data, you could use activation checkpoints. See Pytorch activation checkpoints https://pytorch.org/docs/stable/checkpoint.html

Fairscale also has its own version https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/misc/checkpoint_activations.py

Maybe the Fairscale team can tell you more about that.

[2021-04-24 17:46] lolongcovas commented on #628
Hi @visionscaper thanks for the response, I also thought that maybe a solution. I am going to take a look the checkpoint. thanks!

[2021-04-24 22:13] min-xu-ai commented on #628
Thanks @visionscaper! You are absolutely right. More documentation of `checkpoint_wrapper` is here:

https://fairscale.readthedocs.io/en/latest/api/nn/misc/checkpoint_activations.html

You can find more examples of how we use it in the `tests` dir. @lolongcovas.

For batchnorm, because it tracks the running stats during the forward pass, the pytorch version of checkpoint will not automatically wor

[2021-04-24 22:28] min-xu-ai commented on #628
I should have mentioned that fairscale also has a few methods for offloading the activation tensors to CPU memory. So, if you have a lot of CPU memory to spare, we can discuss that in more details as well. Just let us know.

[2021-04-25 13:15] lolongcovas commented on #628
thanks, I will look at into it.

[2021-04-25 13:15] #628 closed

[2021-04-26 18:06] min-xu-ai commented on #617
Hi @QuentinDuval I still need to try your second failing case above. The 0.3.6 release only addressed the first case. It is possible that the second case is still failing.

[2021-04-27 01:48] min-xu-ai commented on #627
The draft PR #633 has part of the fix. @QuentinDuval , VISSL side needs to:

1. get the new version of FSDP once this PR is merged. This enables less memory used after backward is done.
2. go over all FSDP wrapper in vissl to set their bucket size using some kind of gut feeling (:-)). By default every one instance is ~25MB and BN will have 0MB. But you may want to vary that based on the layers bei

[2021-04-27 01:58] prigoyal commented on #627
thank you for the update. We will test the fix once this PR is merged and will update the issue with the findings.

I believe that we would set bucket size = 0 by default for all to start and thank you for pointing out the `p.grad=None`. We will ensure the grads are set to None explicitly.

[2021-04-28 00:49] min-xu-ai commented on #627
This particular issue is fixed. FSDP now saves more memory outside of the backward pass. User still needs to ensure bucket buffer sizes are set correctly and it is better to use a global process group to avoid duplicated buffer and `model.zero_grad(set_to_none=True)` is highly recommend after `optimizer.step()`.

We will continue debug the 12GB card OOM issue with 1.5B model, but please use a sepa

[2021-04-28 00:49] #627 closed

[2021-04-28 00:52] min-xu-ai commented on #623
I am taking a closer look at this next. @cyanguwa, any new findings on your side? How do you setup nsys for profiling and generate the graph in your first comment? Do you mind sharing? Thanks a lot!

[2021-04-28 00:53] min-xu-ai opened #636 "FSDP: issue with cpu offloading & async"
@myleott, can you add more details on this issue you have run into? Thanks a lot!

[2021-04-28 00:55] min-xu-ai commented on #545
Sorry for the delay. I have not been able to reproduce. Is this still happening for you? Could you possibly create a small test case where this problem is happening?

[2021-04-28 04:50] tani18dr commented on #545
Thank you.
I don't know why, but I can't reproduce the change from version 0.3.2 to version 0.3.6.
Now I am using fairscale well.
Thanks again.

[2021-04-28 04:50] #545 closed

[2021-04-28 05:14] min-xu-ai commented on #545
Thank you so much!

[2021-04-28 09:30] manchandasahil opened #637 "Unable to install Fairscale on Official Pytorch image base"
## 🐛 Bug

## Command
pip install fairscale

## To Reproduce

Steps to reproduce the behavior:

1. pip install fairscale

Collecting fairscale
  Downloading fairscale-0.3.6.tar.gz (170 kB)
     |████████████████████████████████| 170 kB 255 kB/s
  Installing build dependencies ... /

Gets stuck here forever.

## Expected behavior

## Environment

Please copy and paste the output from the
environment

[2021-04-28 09:37] manchandasahil commented on #637
Tried directly on the base pytorch image, it did not work as well:
FROM nvcr.io/nvidia/pytorch:20.11-py3
RUN pip install fairscale

[2021-04-28 12:14] prigoyal commented on #627
thank you @min-xu-ai , sounds great.

[2021-04-28 12:15] myleott commented on #636
Ideally we would use non-blocking GPU -> CPU transfer when doing CPU offloading. This was originally enabled, but I had to disable it in #496 because I found it was producing non-identical results.

I was not able to build a unit test to reproduce this problem, but it happens with the fairseq example here: https://github.com/pytorch/fairseq/tree/master/examples/fully_sharded_data_parallel#13b-para

[2021-04-28 16:33] anj-s commented on #637
Just to clarify the issue: pip install fairscale does not work when installing on a base NVIDIA image? Can you share the exact docker instructions that you used (e.g which image etc.)? I only see `pip install fairscale` in the repro instructions above with some mention of a base nvidia image.

I am not able to repro the issue with a simple conda environment so I suspect it has something to do with

[2021-04-28 16:37] min-xu-ai commented on #637
@msbaines merged an update on pip install yesterday. @manchandasahil, perhaps you can try installing from the source? We will be release a 0.3.7 with that commit very soon. To install from the source

* git clone the repo
* cd fairscale
* pip install -ve .

Please let us know if this works for you or not. Thanks!

[2021-04-28 19:08] cyanguwa commented on #623
Hi @min-xu-ai, thanks for looking into this!

This is a dialed-down version of BERT, and the Nsight profiling command line is `nsys profile -o fsdp.wrap python fsdp.py`. You can install `nvtx` via `pip install nvtx`. Let me know if there's anything else you need!

[code]

[2021-04-29 02:48] min-xu-ai commented on #637
I hope you don't mind dup this to #431

[2021-04-29 02:48] #637 closed

[2021-04-29 02:49] min-xu-ai commented on #431
@msbaines added commit #634 should addressed this.

[2021-04-29 02:49] #431 closed

[2021-04-29 19:02] min-xu-ai commented on #623
Thanks @cyanguwa. I think I have recreated this on my machine. I see a bunch of DtoD `memcpy` that seems to be in the forward and in the backward I don't see them and I only see a bunch of `memset`. I will investigate more.

<img width="435" alt="image" src="https://user-images.githubusercontent.com/24926999/116603488-d33c8980-a8e1-11eb-9b27-fba3d40f5096.png">

Just note it down, installing the pr

[2021-04-30 14:01] prigoyal opened #642 "[FSDP] High Memory utilization in compute_dtype=float32"
While exploring training a model , we are not able to fit the model even for 1img/gpu (1x3x224x224)

## **The testing setup**:
8gpus, 1 img /gpu (2x3x224x224), 1.3GB activations for 1 image (all fp32 dtype)
[code]

## **Expected result**:

during 1st iteration :

5GB (before fwd) -> (5GB + activations) after fwd -> 5+5 (forward + backward) -> (5 + 5 + 5) after optimizer step -> (5+5) after setting

[2021-04-30 14:03] prigoyal commented on #642
cc @min-xu-ai , @myleott

[2021-04-30 14:55] min-xu-ai commented on #642
Very good. Thanks for the bug report. I am on it.

[2021-04-30 15:02] QuentinDuval opened #643 "[FSDP] Frozen weights support"
## 🐛 Bug: Frozen weight support in FSDP

This bug is a follow up to issue https://github.com/facebookresearch/fairscale/issues/610. I encountered a new test case in which a scenario of linear evaluation fails.

### Context (same as previous issue)

In the context of VISSL, we are training a SWAV model with FSDP and then want to evaluate this model using linear evaluation, again using FSDP to wrap

[2021-04-30 17:47] anj-s commented on #516
@blefaudeux can you add a link to the remaining test and mention what needs to be fixed?

[2021-04-30 17:50] blefaudeux commented on #516
https://github.com/facebookresearch/fairscale/blob/c084b20257e28fb28eb3bb6eb6ebd65b0e712b21/tests/nn/pipe_process/test_rpc.py#L245, I don't know much more

[2021-04-30 19:46] prigoyal opened #644 "[FSDP] Expose the named_shards_parameters when using flatten_params=True"
The goal is to be able to get information about original parameters. This needs to be handled carefully in FSDP:

FSDP sharding should incorporate the "view" into the sharding and share the final metadata keeping in mind a) flattening or not b) padding or not

When we construct the `optimizer = nn.SGD(model.parameters(), ...)` we should call `optimizer = nn.SGD(model.named_shards_parameters(), ...

[2021-05-03 04:18] apsdehal opened #646 "[ShardedDDP] Expose 'module' property from ShardedDDP"
## 🚀 Feature

Expose `module` property from ShardedDDP again which points to underlying wrapped model.

## Motivation

Recent PR #611 made a lot of class members in ShardedDDP private. Unfortunately, this behavior is now different from DDP which exposes module property to expose the underlying model directly. In MMF's checkpointing system, we use this property to extract out the underlying model t

[2021-05-03 23:00] blefaudeux commented on #646
ah crap, there was a unit test on that, how did this slip through :/ Thanks for the report @apsdehal , fixing that ASAP

[2021-05-03 23:19] #646 closed

[2021-05-03 23:52] blefaudeux commented on #646
let me know if you face any issues @apsdehal, this auto closed because the issue was linked, I believe that should be fine by now

[2021-05-04 10:03] SeanNaren opened #648 "[FSDP] Wrapping model again in FSDP doesn't contain root parameters"
## 🐛 Bug

Related https://github.com/PyTorchLightning/pytorch-lightning/pull/6152

When wrapping the module twice in FSDP, because we introduce a `FlattenParamsWrapper` that contains all the parameters, this means the second wrapping does not contain the parameters for the model. This is required for Lightning where we wrap the `LightningModule` in training, and return this `LightningModule` back

[2021-05-04 15:49] QuentinDuval opened #649 "[auto_wrap] Supporting multiple auto_wrap"
## ❓ Supporting multiple auto_wrap

### Context

In the context of VISSL, we are interested in calling `auto_wrap_bn` to deal with the Synchronized Batch Normalization layers and then call `auto_wrap` to automatically wrap some other layers (such as big layers by using a policy like `default_auto_wrap_policy`).

However, the following assertion in `auto_wrap.py` prevents us from doing so:

[code]

[2021-05-04 18:05] min-xu-ai commented on #649
I think the assert was probably not a good idea. It seems that it should only be asserted when num_param based wrapper policy is being used. But it asserts in the basic wrap function regardless if the related policy is used or not. Let me take a closer look.

[2021-05-04 19:34] min-xu-ai commented on #648
Thanks, @SeanNaren! What's the motivation to wrap it again for inference? Can you use the same (wrapped) model for it? I must be missing something obvious.

[2021-05-04 20:02] SeanNaren commented on #648
Thanks @min-xu-ai Lighting context will help decide if this is something we should look into fixing in Lightning!

Currently we treat `train` and `test` as two separate stages. So if the model is wrapped in train, we assume when we finish training, the module that the user passed to our Trainer is now a trained model. The motivation for this is it keeps each stage independent, allowing each stage

[2021-05-05 00:27] #642 closed

[2021-05-05 00:41] min-xu-ai commented on #648
I see. I think the decoupling makes sense. It is very interesting that DDP in this case wrap the model twice:

[code]

I am surprised that this doesn't cause problems. Maybe it is because your second wrap is for inference only and DDP is basically a no-op in that case?

I need think more about what's the proper thing do this in this case TBH.

[2021-05-05 14:42] mattiasmar opened #655 "Controlling tiling/parallelism of individual layers"
## ❓ Questions and Help
How does one control tiling/parallelism of individual layers?

[2021-05-05 16:57] min-xu-ai commented on #655
@mattiasmar, thanks for the question. Can you elaborate a bit more? Is this related to DDP or SDP or FSDP or pipeline or in general? Do you have a small example to illustrate your needs?

[2021-05-05 16:59] min-xu-ai commented on #648
@SeanNaren, maybe this is related to: https://github.com/facebookresearch/fairscale/issues/649?

What if we have the following:

[code]

but

[code]

Will the above be a good solution for your use cases?

[2021-05-05 19:16] shuyingsunshine21 opened #658 "[FSDP] Question about getting model state dict"
## ❓ Questions and Help

When we collect `state_dict` of FSDP, we `summon_full_params` and do post-processing.

However, I found that when we do post processing, we have
[code]
does it mean we double the memory for the model states? For large model, it would cause CUDA OOM.

What is the suggested workaround?

cc @min-xu-ai , @sshleifer

[2021-05-05 19:29] mattiasmar commented on #655
Well, I wanted to try non-symmetric split of the DNN. So some layers would be tiled in 10, others in more and yet others in less. I'd also like to add to that data parallelism for some of the layers. I think, but I'm not sure, that  I would need a combination of FSDP and pipeline.

[2021-05-05 19:39] min-xu-ai opened #660 "[checkpoint]: error when convert sync bn is done after checkpoint"
@prigoyal found a bug when checkpoint is done before sync BN conversion, it fails with:

[code]

reversing the order avoids this problem. It would be nice to detect this and tell users what's going on and how to fix it.

[2021-05-05 19:44] shuyingsunshine21 commented on #658
BTW, tried with using `state_dict_device=torch.device("cpu")`, then it would cause CPU OOM for multi-gpus.

[2021-05-05 20:03] min-xu-ai commented on #655
Interesting. Can be explain a bit more what do you mean by “tiling”? Also, how do you imagine pipeline + FSDP? It seems to me that there is hardly a reason to combine them since either one should be enough for doing things in parallel.

[2021-05-05 20:08] mattiasmar commented on #655
With tiling I mean splitting a layer by its weight. I believe this is what DeepSpeed intends with its method [TiledLinear](https://deepspeed.readthedocs.io/en/stable/zero3.html#deepspeed.zero.TiledLinear).
The intention is that multiple processors would split the computations of a layer among them. In my case I want to control per layer the number of splits used.

[2021-05-05 20:17] min-xu-ai commented on #655
I see. That’s model parallel, like megatron from nvidia, right? FSDP also splits the weights among GPUs, but computation per layer is not split. I.e. full weights are gathered from all gpus before the compute. However, FSDP parallelize by data, I.e. data parallel. Is there a reason you can’t use data parallel fashion of training?

[2021-05-05 20:22] mattiasmar commented on #655
That wasn't 100% clear to me.  If FSDP splits weights among GPU's, how are computations not split. I mean the computations follow the weights.

About FSDP's data parallelism: Can it be controlled on a per layer basis? If yes, how?

[2021-05-05 20:38] min-xu-ai commented on #655
Good question. FSDP can be nested, I.e.

fsdp(fsdp (layer), ..., fsdp (layer))

user can control the nesting to make memory speed tradeoff.

The weights are split but the compute is not. That’s because FSDP temporarily moves the weights back to each GPU to do the full compute. After that’s done, weights are split again to save memory. Via nesting, the peak memory is also reduced since only the max

[2021-05-05 20:46] mattiasmar commented on #655
I assume the nested option ( fsdp(fsdp (layer), ..., fsdp (layer)) ) was a response to my question on data parallelism. Is there example code that demonstrates this that I could learn from that you would point me to?

About model parallelism: Now when we understand each other well, is there an option (perhaps non FSDP option) that would allow me to control per layer model parallelism (I would be i

[2021-05-05 21:14] min-xu-ai commented on #655
Definitely, check out `tests/nn/data_parallel/test_fsdp.*`. There are lot of examples.

I unfortunately have not investigated model parallel techniques in detail. A recent work called torchshard, which might be helpful to you: https://github.com/KaiyuYue/torchshard

[2021-05-05 21:16] min-xu-ai opened #661 "[FSDP] use case of wrapping module without any weights"
This question came up during this PR https://github.com/facebookresearch/fairscale/pull/657

It is unclear there is a valid use case for it. If not, we may want to add a check and give user a clear error msg about it.

[2021-05-05 21:17] min-xu-ai commented on #655
BTW, feel free to close this issue if there are no additional questions. :-)

[2021-05-05 22:34] #643 closed

[2021-05-05 23:19] min-xu-ai commented on #617
Working on this with PR #659. Testing with sync_bn, then compute_dtype=fp16 and then vissl unit test above by Quentin.

[2021-05-06 02:35] anj-s commented on #660
@min-xu-ai  @prigoyal  just to confirm the steps to repro this error are:
1. call checkpoint_wrapper on a BN layer
2. convert BN to sync BN using this [API](https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html#torch.nn.SyncBatchNorm.convert_sync_batchnorm)
3. Error is raised as mentioned above

If we do 2 before 1 then the error goes away. Is this correct?

[2021-05-06 03:01] min-xu-ai commented on #660
Yes! I think it is not limited to sync bn. Any kind of wrapper that change the module instance after checkpoint_wrapper (with `maintain_fwd_counter=True`), will have the same issue since the variable set by checkpoint_wrapper is lost.

[2021-05-06 04:42] anj-s opened #663 "[cleanup] Move to using torch.distributed.broadcast_object_list instead of fairscale.optim.utils.broadcast_object"
## Cleanup/Refactor
This is a cleanup that we should perform in order to use the latest PyTorch APIs. Currently we support PyTorch 1.6, 1.7 and 1.8. Previous version did not have support for broadcast_object_list which is why we used the FairScale utility [function](https://github.com/facebookresearch/fairscale/commit/2d9542030b245abef323d61e02a8d67e92977918)

[2021-05-06 09:48] SeanNaren commented on #648
Thanks @min-xu-ai! Unfortunately this would still be an issue for Lightning as we reference the model that is stored within the  FSDP wrapper. If we had access to the model which has been wrapped with FSDP initially there would be no issues! I'm starting to suspect this is less of something FairScale should try to support as you mentioned for DDP, and a limitation in Lightning we need to address.

[2021-05-06 18:14] #655 closed

[2021-05-06 19:54] shuyingsunshine21 commented on #658
Note that when we setup the model, it was originally fit into 1 GPU memory, and then we do the sharding. So I expect that when we summon the full parameters, it would not OOM.

Another related issue is: at the end of training, in lightning, we tried to teardown, by moving `LightningModule` to CPU and cleanup CUDA memory, but FSDP module would call `module.apply(__update_properties(device=torch.dev

[2021-05-06 20:01] mattiasmar commented on #655
Thanks for all your responses.

[2021-05-06 20:03] mattiasmar opened #665 "Difference between FairScale and FlexFlow"
## ❓ Questions and Help
What are the similarities and differences between Fairscale and [FlexFlow](https://github.com/facebookresearch/dlrm-flexflow)?

[2021-05-06 22:03] min-xu-ai commented on #665
@msbaines

[2021-05-07 21:44] min-xu-ai commented on #623
The new profiling graphs with dependencies are so nice!

[2021-05-07 23:08] #617 closed

[2021-05-08 00:17] min-xu-ai commented on #623
@QuentinDuval Thanks for the great debugging!

@myleott, is there some mechanism that prevents the all_gather to go too far into the future ahead of the computation? If not, then when compute is super slow and/or networking is super fast, forward pass can run into OOM situation for very big models, right?

[2021-05-08 18:08] #506 closed

[2021-05-08 21:42] sshleifer commented on #658
This sounds like a bug that I haven't experienced before, so without a self-contained, reproducible example I can only speculate:
+ With `state_dict_device='cpu'` CPU OOM is certainly not desired behavior.
+ I wonder what happens if we remove that `.clone` line.
+ To move forward, I suggest editing [this file](https://github.com/sshleifer/fairscale/blob/1204c7cf54ec301d46a0d3f3fd703da6b306f8f5/tes

[2021-05-10 06:52] shuyingsunshine21 commented on #658
Thanks @sshleifer , @min-xu-ai , I think we figured out the root cause for OOM, not FSDP problem

see https://github.com/PyTorchLightning/pytorch-lightning/pull/6152#discussion_r629087663

[2021-05-10 07:12] min-xu-ai commented on #658
I am so glad!

[2021-05-11 23:03] Vittorio-Caggiano commented on #665
Hi @mattiasmar, FairScale and FlexFlow are conceptually different both in the design and in the use cases they address. FairScale is a library where you can compose different methods for scaling and making more efficient training of neural networks. FlexFlow is a framework with the ability to search for parallelization strategies across the sample, operator, attribute, and parameter dimensions for

[2021-05-12 06:39] mattiasmar commented on #665
Thanks @Vittorio-Caggiano. I understand that FairScale enables scaling by allowing parallelization. Which out of the SOAP dimensions does FairScale support parallelization for (support in the sense that the user provides the amount and type of parallelization and the library cares for the actual splitting)?

[2021-05-12 18:55] anj-s opened #677 "[FSDP][benchmarks] Add regression benchmarks for the FSDP API."
## 🐛 Bug

We need to add regression benchmarks for the FSDP API and possible input combinations. These regression benchmarks should be added to [fairscale/benchmarks](https://github.com/facebookresearch/fairscale/tree/master/benchmarks.).

[2021-05-12 18:57] anj-s commented on #677
@myleott @sshleifer Would either of you have cycles to add regression benchmarks for FSDP? We maintain regression benchmarks for all FairScale APIs that are run at every commit.

cc @min-xu-ai

[2021-05-12 19:37] min-xu-ai opened #679 "FSDP: excessive GPU memory due to extra process groups"
We have found this issue related to process group and its associated NCCL buffers. Fix is coming.

[2021-05-13 01:41] #679 closed

[2021-05-13 18:16] sshleifer commented on #601
I'm pretty much out of cycles until June 1, sadly, so feel free to grab this!

[2021-05-13 18:17] sshleifer commented on #677
How long does it take? We are very low on cycles but this sounds incredibly cool.

[2021-05-13 19:42] anj-s commented on #677
It should not take very long. We have an example for OSS and SDP [here](https://github.com/facebookresearch/fairscale/blob/master/benchmarks/oss.py). Let me know if this sounds feasible. Thanks!

[2021-05-14 04:27] Vittorio-Caggiano commented on #665
FairScale is a library of components where you need to choose what kind of parallelism and/or optimization works best for you. There is no option for automatic analysisinp your model and your infra to determine that for you.

[2021-05-14 17:24] min-xu-ai opened #684 "[RFC] FSDP arguments refactoring"
cc @myleott @sshleifer @QuentinDuval @prigoyal @anj-s @blefaudeux @msbaines @tmarkstrum @SeanNaren

# Motivations

Currently FSDP has a long list of arguments. They deal with flattening, sharding, mixed precision, cpu offloading. The long list is harder for users to get a quick glance on what's supported combinations and what's not. It is harder for developers to reasonable about interactions and

[2021-05-14 20:23] blefaudeux commented on #684
another option, fairly typical in C or C++ (but not really in python/pytorch) is to pass a single config structure for which you can provide some defaults and catch incompatibilities at construction time (@dataclass is pretty powerful for these things). Not saying that it's universally better, can be an annoyance also for people, adds another layer, just throwing the idea around

[2021-05-14 20:29] blefaudeux commented on #684
1 more cent on the enum/str (on top of the serialization/deserialization, built in assert and single place to see what's supported vs. manual testing of strings in some places): makes it cleaner unit test wise, since you can @parameterize on the enum values, and any new case you add in the future will be tested automatically.

[2021-05-14 20:34] min-xu-ai commented on #684
Thanks @blefaudeux! I guess you are in favor of this change? :-)

I thought about @DataClass as well. It seems like an overkill at the moment. It definitely helps with configuration. But it may make object construction a bit more indirect since users have to create a config class first. I think at a higher configuration level (i.e. beyond a single FSDP instance, configurations of the entire model

[2021-05-14 21:31] blefaudeux commented on #684
certainly fine by me, it was just so that multiple options were considered, the config does feel a bit heavy handed indeed

[2021-05-14 22:37] SeanNaren commented on #684
Thanks @min-xu-ai great RFC :)

Just playing devils advocate (as I've run into this myself), how stable do you feel the parameters are? Do you expect them to change much? Over the release we saw quite a few additional parameters as you guys were figuring out convergence issues etc. Just making sure we don't over complicate if we plan for these variables to disappear in the future.

I've definitely

[2021-05-14 23:00] min-xu-ai commented on #684
Thanks for the comments and support of the RFC, @SeanNaren!

I feel this will be the stable parameters moving forward. With the enums, we will be adding supported values and potentially deprecating the unsupported ones. For example:

mixed_precision: "full", "amp1", "amp2", ...

We might be adding more values to the enum, like adding support of "amp3" mode or removing support of "amp1" mode, but t

[2021-05-14 23:16] myleott commented on #684
I like the motivation and this proposal generally makes sense to me.

One concern is that this may complicate the internal code if we have to check multiple values. For example, instead of:
[code]
would we now have something like this?
[code]
The latter seems messier to me, but perhaps you could just remap these strings to the more intricate settings in the `__init__`?

[2021-05-14 23:46] min-xu-ai commented on #684
Yes, internally it will still be various flags. The API change is only to make it easier to config and to reason what are the possible cases we will have to support and test. For example, with 2 bool arguments, we will have 4 cases max. But it is some times the case that 1 of the combinations doesn't make sense and/or isn't useful (like mixed_precision=False and compute_dtype=fp16), so we can shor

[2021-05-15 00:02] myleott commented on #684
Sounds good

Btw, we do actually use that combination in fairseq 😄 That corresponds to pure FP16 training, which is exposed in fairseq as `--memory-efficient-fp16`

[2021-05-15 00:11] min-xu-ai commented on #684
Do you not run that under autocast? Are the weights first promoted to fp32 and then matmul with fp32 inputs?

[2021-05-15 00:31] myleott commented on #684
No autocast,. We manually cast some ops to FP32 (e.g., any softmax in the network), but otherwise it's pure FP16. The key to making this converge for Transformer is to do the optimizer step in FP32, although we actually store the Adam stats in a scaled FP16 format for memory efficiency. This is similar to what OpenAI did with Jukebox.

[2021-05-15 00:35] min-xu-ai commented on #649
@QuentinDuval @SeanNaren

#685 is my attempt to address this issue. Auto_wrap can still be called only once on a module (or sub-module) but users can get around that by pre-assign `wrapper_config` attributes to the modules. While this works, I feel it is not the most elegant since `default_auto_wrap_policy` has a default large param limit which may prevent traversal of some modules. This can be an

[2021-05-15 00:56] min-xu-ai commented on #684
This is pretty amazing. A simple matmul can "easily" overflow if the sum of the element-wise multiply from a row vector and a column vector goes over 65536. Do you guys use dynamic loss scaling and/or drop samples in training if it causes any inf/nan in forward or backward in that mode though?

[2021-05-15 23:38] min-xu-ai commented on #684
To make the discussion more concrete, here is what the new options could look like. Please let me know what do you think.

- Does this improve user's experiences?
- Does it obfuscate the simple boolean or dtype options?
- Will this be more likely a more stable API for things like lightning?

I am totally OK to abandon if this turns out not as good as people think. :-)

https://github.com/facebookr

[2021-05-17 22:38] min-xu-ai commented on #684
^ Any comments?

[2021-05-17 22:50] anj-s commented on #684
Thank you @min-xu-ai for proposing this! This is definitely a step in usability and will be much appreciated by users. Do you have an example of how the API will change? I may have missed that snippet from above.

[2021-05-17 22:56] prigoyal commented on #684
This is quite nice! Sharing one high-level thought that I think @myleott also mentioned earlier: `I16_W16_C16_B16_G32 ` patterns like these offer nice compactness but IMHO, makes it a bit "messy" + "magic strings" even though the strings are pretty nice if one knows the context. I think we should allow setting things via strings like this + additionally allow user to do settings in __init__ curren

[2021-05-17 23:02] min-xu-ai commented on #684
You didn't miss it. I haven't put it in. It could be something like:

[code]

[2021-05-17 23:05] min-xu-ai commented on #684
Thanks @prigoyal. See the comment to @anj-s, the new options will be for `__init__` to replace too many bool or string options. For the long strings like `I16_W16_C16_B16_G32`, the hope is that out of 32 cases, we use comments to mark out a few commonly used ones so that users will use them primarily. We can even give them alias names. This way, it is less likely to make mistakes compared with set

[2021-05-17 23:36] #585 closed

[2021-05-17 23:36] #649 closed

[2021-05-17 23:50] min-xu-ai commented on #665
Hope this question is answered.

[2021-05-17 23:50] #665 closed

[2021-05-17 23:51] #658 closed

[2021-05-17 23:56] min-xu-ai commented on #648
In case you guys have update on your side, please share.

@myleott, @QuentinDuval, check out comment https://github.com/facebookresearch/fairscale/issues/648#issuecomment-832856306 if you haven't. Do you think it makes sense for FSDP to wrap another FSDP instance?

[2021-05-18 00:00] min-xu-ai commented on #601
@chunfuchen, sorry that many of us are busy with other issues. I am happy to help diagnose the issue here if I can. Do you know for sure it is optimizer state's problem? What do you mean by the training starts from scratch? Is its loss value go back or something else?

If possible, can you share some minimal reproducible case so that we can see exactly what's the problem?

BTW, what's your reason

[2021-05-18 00:03] min-xu-ai commented on #264
FairScale doesn't build cpp part by default now. I think we can close this. Feel free to reopen if I shouldn't have.

[2021-05-18 00:03] #264 closed

[2021-05-18 00:49] min-xu-ai commented on #250
I think with the latest fairscale that doesn't build cpp and doesn't have a build dep on pytorch, this issue is no longer there. Feel free to open if I shouldn't have closed.

[2021-05-18 00:49] #250 closed

[2021-05-18 05:05] mattiasmar commented on #665
@Vittorio-Caggiano Thanks again for your answer.
From your answers I understand that FairScale  and FlexFlow have  equivalent components to implement different kinds parallelism and to measure inference and training latencies under a specified parallelism (that can be unique for each layer).
I further understand that the essential difference between the packages lies in that FlexFlow besides the p

[2021-05-18 19:36] anj-s commented on #684
Ah ok! I think the user example could be:
model = FSDP(ParamterControl.Flatten, PrecisionControl. I32_W32_C32_B32_G32, ....)
OR
model = FSDP(param="flatten", precision="i32_w32_c32_b32_g32", ....)

Is that right?

Couple of questions:
- will the user have reasonable defaults for these args?
- would it make sense to break apart the PrecisionControl into two args. Seems overloaded given the number o

[2021-05-18 19:57] min-xu-ai commented on #684
Exactly!

Yes, the defaults will be more informatively marked with the string values, like full precision is good for this, full fp16 is good for that, etc.

The idea is to not make it common for users to use all 32 combinations. We may end up eventually just support the most useful handful of them. My intent is to help with usability and lower the burden on the user so that they don't need to kno

[2021-05-19 03:34] min-xu-ai opened #689 "FSDP: illegal memory access when flatten=True"
When working on a model with FSDP wrapping, running into an illegal memory access crash and it went away with flatten=False. I will be debugging it.

[2021-05-20 17:21] typon opened #690 "Can't import Adam optimizer"
## 🐛 Bug

Can't import Adam optimizer - looks like fused_adam isn't getting installed properly?

## Command

[code]
## Environment

[code]

[2021-05-20 17:34] min-xu-ai commented on #690
See here:

https://github.com/facebookresearch/fairscale/blob/8a05ff76a70485b69719078fb78402ad5874760d/setup.py#L34

You need to set an env var to enable it when you pip install fairscale.

[2021-05-20 18:00] typon commented on #690
I did `export BUILD_CUDA_EXTENSIONS=1`, didn't make a difference...
I am using `fairscale  (0.3.7)`

[2021-05-20 18:20] min-xu-ai commented on #690
cc @msbaines

@typon, did you do that during pip install. Maybe you need to first uninstall then install?

[2021-05-21 21:31] msbaines commented on #690
To install fused_adam, you need to use `pip --no-build-isolation`.

[2021-05-24 13:41] Vittorio-Caggiano commented on #665
@mattiasmar sorry for the late reply, I didn't see this msg. The main difference in using FairScale vs. FlexFlow is the difference to use a library vs a Framework. FairScale is a library: you can import the library and with small additions to your code (if you use PyTorch DDP) you should be able to use the supported parallelism and easily extend / customize them (see the examples in the ReadMe). F

[2021-05-24 14:02] mattiasmar commented on #665
Thanks @Vittorio-Caggiano

[2021-05-25 21:17] QuentinDuval opened #696 "Add store weight/grad norm option"
## 🚀 Feature

FSDP to offer the possibility to compute the norms of the weights and norms of the gradients on the fly, when the weights / gradients are available with an option like `compute_weight_norm=True` in the constructor and an API to retrieve those weights.

## Motivation

Following issue https://github.com/facebookresearch/fairscale/issues/644 and the attempt in solving it in PR https://g

[2021-05-25 21:19] QuentinDuval opened #697 "Flatten parameters by group"
## 🚀 Feature

FSDP to offer the possibility to flatten parameters by group, for instance, to flatten all biases separately from the other weights.

## Motivation

Following issue https://github.com/facebookresearch/fairscale/issues/644 and the attempt in solving it in PR https://github.com/facebookresearch/fairscale/pull/692, providing a view of the parameters in the view is too low level and does

[2021-05-25 21:38] min-xu-ai commented on #690
assume this is resolved. Please reopen if not.

[2021-05-25 21:38] #690 closed

[2021-05-25 21:45] min-xu-ai commented on #696
Thanks for filing, @QuentinDuval!

I am thinking about a hook based approach where the hook callback is provided a list of the original "param tensors", like:

[code]

On the backward, the hook could be:

[code]

The user however, must make sure he/she stores the results somewhere in a stable way since the full param or grad_tensors are going to be deleted due to sharding. Do you think the above A

[2021-05-25 21:46] min-xu-ai commented on #697
Do you need this first or #696 first?

[2021-05-25 21:53] QuentinDuval commented on #696
It would make sense indeed and would allow us to implement the LARC optimizer in a more optimized way 👍

Some questions:
- Does the `forward_after_all_gather_hook` happen before or after the forward of the module is computed?
- Does the `backward_after_full_grads` argument named `n` represent the name of the parameter?

Note that in my case, for LARC use case, I would only need the backward hook.