[2021-05-25 21:54] QuentinDuval commented on #697
Since we have a workaround for LARC (and training is ongoing with it), I think this issue is more important.

[2021-05-25 22:11] min-xu-ai commented on #696
I was thinking before, but since you don't really need this, maybe we don't need to add it.

yes, I was thinking n is the name.

good point! we can make it something like "readonly_hook"?

[2021-05-25 23:19] QuentinDuval commented on #696
I was just realising that the backward hook would help computing LARC with `flatten_parameters=False` but not if `flatten_parameters=True`: there would still be a mapping problem from the information captured in the hook to the adaptative LR.

[2021-05-26 00:01] min-xu-ai commented on #696
True. Unless we waste some GPU memory by expand and concat p_norm and after_all_reduce_g_norm and shard drop the shards except the local shards. That way, each param element would have a correct p_norm and g_norm and padding is not an issue. Question is that do we have that much GPU memory to spare?

[2021-05-26 12:48] QuentinDuval commented on #696
I like that 👍

Indeed, the documentation should explain that return values are ignored. In terms of name, I was thinking about `on_gradient_computed_hook` which by the spelling somehow explain that this is just a listener, not an active part of the algorithm.

In any case, `flatten_parameters=False` or not, this would be a useful feature for us: @prigoyal and I discuted some time ago about the pro

[2021-05-26 17:03] typon commented on #690
That did fix it, thanks!

[2021-05-28 06:13] min-xu-ai commented on #644
We can close this since we have both #696 and #697?

[2021-05-28 06:13] #644 closed

[2021-05-28 16:38] HITESHLPATEL opened #703 "FSDP: issues with inferencing"
## ❓ Questions and Help
I am trying to integrate FSDP into my code. I have questions related to optimizer sharding. Does FSDP automatically shards the gradient, optimizer, and parameter, or do I need to call OSS to shard optimizer? Also can anyone suggest right way to do mixed precision with autocast and FSDP.   Also does validation/test happens on GPU rank 0 or on all the nodes?

[2021-05-28 18:36] epwalsh opened #704 "FSDP state_dict returned data type when using mixed precision"
The docstring for `FSDP.state_dict()` says that returned parameters will be in FP32: https://github.com/facebookresearch/fairscale/blob/b84b9146aca8fd575622462c1b311243e40b115c/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L647-L648.

But this is not the case when `mixed_precision=True`. So what's the best way to get the FP32 parameters when using mixed precision?

[2021-05-28 18:49] min-xu-ai commented on #703
- no, you don't need to call oss to shard parameter
- fsdp automatically shard parameters, gradients and optimizer state
- if you need the forward pass compute to overlap with network communication, you need to have nested fsdp, i.e. fsdp(module(fsdp(layer1), ...fsdp(layer_n)))
- check the tests dir for a large number tests that uses FSDP, including mixed precision usage
- the common way to use mi

[2021-05-28 18:54] HITESHLPATEL commented on #703
Thank you for clarification. However when i use autocast and shared grad scaler i get this error
"assert len(optimizer_state["found_inf_per_device"]) > 0, "No inf checks were recorded for this optimizer."
AssertionError: No inf checks were recorded for this optimizer". without mixed precision and autocast my loss remains the same at all the epochs which is very weird.

[2021-05-28 18:54] min-xu-ai commented on #704
That's interesting. It should be full precision since we use summon_full_params with this parameter here:

https://github.com/facebookresearch/fairscale/blob/b84b9146aca8fd575622462c1b311243e40b115c/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L824

but maybe we don't have a unit test for it and it got broken. Can you double check you indeed not getting full precision params?

[2021-05-28 18:58] min-xu-ai commented on #703
cc @blefaudeux. Check this file `tests/nn/data_parallel/test_fsdp_regnet.py`. Did you use it this way:

![image](https://user-images.githubusercontent.com/24926999/120030166-f5dac480-bfab-11eb-88fc-b04455f9993f.png)

For validation, I don't know an example in the test dir. But I could have missed it. Another good source to check is fairseq code to see their validation code with fsdp. But I don't h

[2021-05-28 19:22] epwalsh commented on #704
I was able to narrow down the issue. Apparently it's just buffers in the state dict that will be in half precision.

[2021-05-28 19:42] min-xu-ai commented on #704
That’s great! Please share more details of what you found if you can. It can help others in the future who run into the same issue and help us improve the code to avoid this if possible.

[2021-05-28 19:47] epwalsh commented on #704
I modified a test to show the failure here: https://github.com/facebookresearch/fairscale/pull/705

[2021-05-28 20:28] blefaudeux commented on #703
It's a bit hard to understand the context here, feels like there are a couple of hidden variables (could you share a code snippet if still stuck ?), but my guess is that you're missing a call, the assert is here precisely for that. On the grad scaler side we're following the PyTorch way of doing this (see the [doc](https://pytorch.org/docs/stable/notes/amp_examples.html)), the differences are tied

[2021-05-29 15:33] HITESHLPATEL commented on #703
def train(rank, args, model,params, device, train_loader, num_epochs):
    ##############
    # SETUP
    dist_init(rank, WORLD_SIZE, BACKEND)
    ddp = FullyShardedDataParallel(module=model,mixed_precision=True)
    optimizer=torch.optim.SGD(params,lr=0.01)

    ddp.train()

    # Training loop
    training_start = time.monotonic()

    loss_fn = nn.CrossEntropyLoss()

    model.train()
    measu

[2021-05-29 16:14] blefaudeux commented on #703
thanks for the snippet ! not visible here, could it be that your optimizer is not tied to the proper model parameters ? It's been a while I spent some time in that, but I think that it could explain the assert and your loss not changing (the optimizer sees no grads -> no inf check and the loss is constant)

[2021-05-29 16:17] HITESHLPATEL commented on #703
Could you Please suggest what could be done in such scenarios? Or is it a bug ?

[2021-05-29 17:41] blefaudeux commented on #703
it's not possible to see from your snippet how the optimizer is defined, so I can just conjecture that maybe it does not have the right parameters ? I would expect something like `optimizer = torch.optim.MyFancyOptimizer(model.parameters())` after your model has been properly defined. It may be there, no idea, but if it was not properly declared it could explain your symptoms

[2021-05-29 23:13] HITESHLPATEL commented on #703
@blefaudeux Thank you. Could you point where I can see any sample code for Validation? In standard pytorch DDP validation happens on the rank 0. Since the model and states are shared does it still valid true?

[2021-05-29 23:16] blefaudeux commented on #703
The ranks are still in sync after an optimizer step(), so you should be able to run the validation anywhere, if I'm not mistaken (true for OSS and ShardedDDP, also for FSDP I think but pulling @min-xu-ai in case)

[2021-05-30 05:03] HITESHLPATEL commented on #703
@blefaudeux I was able to get rid of infs check error and loss change by making flatten_parameter=False when doing mix training. However my training time is taking double the time than standard Fully shared data parallel.
**self.model = FullyShardedDataParallel(self.model,mixed_precision=True,flatten_parameters=False)** # Works Fine
**self.model = FullyShardedDataParallel(self.model,mixed_precisio

[2021-05-30 15:20] min-xu-ai commented on #703
Thanks for narrowing it down a bit! There is likely a bug. Can you try to distill the test code into a small piece that demonstrate this issue?

[2021-05-31 01:58] HITESHLPATEL commented on #703
@min-xu- ai. I narrowed down the proble.I believe there is a bug when using mixed precision and shared scaler.If flatten_parameters is True it would me give me this error. If I turn it to False the training works fine. However this takes more time to train than training without mixed precison.
<img width="1391" alt="Screen Shot 2021-05-30 at 6 54 10 PM" src="https://user-images.githubusercontent.c

[2021-05-31 15:08] HITESHLPATEL commented on #703
@min-xu-ai Thank you. I noticed that my Error comes from the Validation phase. Could you provide me with a sample code on how to do a validation since I am doing validation on only rank 0 and it gives me a bad param error.

[2021-05-31 17:22] min-xu-ai commented on #703
Sorry to hear. I haven’t done that myself. Maybe others can chime in. Another way is to provide the failing code for me to debug the error. No promises on time to fix though.

[2021-05-31 22:38] HITESHLPATEL commented on #703
Here is the sample code from my training pipeline

dist_init(rank, WORLD_SIZE, BACKEND)
ddp = FullyShardedDataParallel(module=model,mixed_precision=True)
optimizer=torch.optim.SGD(params,lr=0.01)

ddp.train()

# Training loop
training_start = time.monotonic()

loss_fn = nn.CrossEntropyLoss()

model.train()
measurements = []
scaler = ShardedGradScaler()
for epoch in range(num_epochs):
    epoch_sta

[2021-06-01 19:31] #704 closed

[2021-06-01 19:36] min-xu-ai commented on #689
cc: @prigoyal This is the issue I was referring to Giri.

[2021-06-02 15:12] anj-s opened #707 "[docs] Add deep dive and tutorial for MoE"
## Process

We should add a deep dive (1-pager) and a tutorial for MoE similar to what we have [here](https://fairscale.readthedocs.io/en/latest/) for the other APIs.

[2021-06-04 21:23] HITESHLPATEL commented on #703
@blefaudeux @min-xu-aiI I was trying to save my trained model on rank 0 when inferencing on the validation set by calling the model. state_dict() but it happens to get stuck there. Is there anything else that needs to be done to save the model since I am calling this on rank 0?

[2021-06-04 21:25] blefaudeux commented on #703
@min-xu-ai will chime in, but you probably need to consolidate the model on this rank prior to pulling out the state, it should be mentioned in the doc

[2021-06-04 21:29] HITESHLPATEL commented on #703
@min-xu-ai, can you point me to the document where I can find this on how FSDP saves the model. I am trying to search for this, but dint find any information on this.

[2021-06-04 21:53] min-xu-ai commented on #703
Take a look at this test:

https://github.com/facebookresearch/fairscale/blob/1e4a503cda8571851a68effd6e504a192838ab06/tests/nn/data_parallel/test_fsdp_state_dict.py#L35

The doc is here:
<img width="727" alt="image" src="https://user-images.githubusercontent.com/24926999/120866300-7bc6b480-c544-11eb-8cfd-a1459f66e8bb.png">

But I must admit that I have not personally debugged issues around state

[2021-06-09 23:41] epwalsh opened #710 "FSDP(checkpoint()) causing issues in the optimizer when returning to training after evaluating"
## 🐛 Bug

When wrapping a `module` with `FSDP(checkpoint_wrapper(module))`, the first training epoch and validation pass go fine, but the second training pass will fail due to a size mismatch of gradients.

## Command

## To Reproduce

I modified a test in https://github.com/facebookresearch/fairscale/pull/709/files to show the failure. This PR also includes a work-around. But I'm still not entire

[2021-06-09 23:42] epwalsh commented on #710
I'll look into this more tomorrow, just wanted to open this up now in case anyone else has an idea about what's going on.

[2021-06-10 04:00] min-xu-ai commented on #710
Thanks for reporting and working on a fix! I am not sure the issue is within checkpoint_wrapper or it is within fsdp?

I don't quite understand the test you have in the PR. It seems being doing training with grad accumulation not validation. Am I missing something?

[2021-06-10 04:03] epwalsh commented on #710
Sorry the test isn't very clear, I'll put together a simpler example tomorrow. But the main point is that this test will fail on the next training batch following a single eval batch.

[2021-06-11 01:48] #710 closed

[2021-06-21 15:58] sshleifer opened #718 "Test background cpu transfer"
- This should be cpu(non_blocking=True): https://github.com/facebookresearch/fairscale/blob/cec011bbab9417a6e9b5a25884c1e6251686b570/fairscale/nn/checkpoint/checkpoint_activations.py#L251

- The .to here also needs a non_blocking=True: https://github.com/facebookresearch/fairscale/blob/cec011bbab9417a6e9b5a25884c1e6251686b570/fairscale/nn/checkpoint/checkpoint_activations.py#L280
- Halil reported

[2021-06-22 17:27] HITESHLPATEL commented on #703
@min-xu-ai @blefaudeux Thank you. I was able to save the model. One more question is whether there is any test case with a different resolution during train and validation? For e.g If the train resolution is 300*300 and the Val resolution is 384*384, It gives a CUDNN_STATUS_BAD_PARAM  error. I think this has to do something with flatten_parameters.

[2021-06-22 20:00] min-xu-ai commented on #703
Good to hear!

If you suspect flatten_parameters, perhaps you can set it to false and test?

To debug STATUS_BAD_PARAM, perhaps you can disable cudnn and try it?

torch.backends.cudnn.enabled = False would disable cuDNN.

CUDNN error msgs are hard to debug and lack useful info. Sometimes, it is related to out of memory, sometimes it is related to dtype and mixed precision.

[2021-06-23 23:27] HITESHLPATEL commented on #703
Thank you. Setting flatten_parameters=False solves that issue, however this leads to increase in time.

[2021-06-23 23:48] min-xu-ai commented on #703
Good. That's great for confirming. Now, for debugging the conv error, did you try the cudnn.enabled option above?

[2021-06-25 15:35] #718 closed

[2021-07-05 09:19] elevenxiang opened #734 "[Model Parallel] How to use tensor level parallelism"
## ❓ Questions and Help
Hi,

From the official document, I found that fairscale support both layer parallelism and tensor parallelism
And the official example give a simple layer parallelism as below:

_model = torch.nn.Sequential(a, b, c, d)
model = fairscale.nn.Pipe(model, balance=[2, 2], devices=[0, 1], chunks=8)_

But there is no example for tensor parallelism, could you share the document or

[2021-07-05 13:38] kaushikb11 commented on #83
Hi @myleott, any updates on this?

[2021-07-06 13:48] anj-s commented on #734
@elevenxiang We had added tensor parallelism support [here](https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/model_parallel/layers.py) but we don't have any [documentation](https://fairscale.readthedocs.io/en/latest/what_is_fairscale.html) for it specifically like we do for the other APIs. This is because we are focusing on other APIs and tensor parallelism is not under activ

[2021-07-07 18:30] anj-s opened #736 "[docs] API reference no longer shows up on the new docs site."
## 🐛 Bug

Missing API reference on the FairScale docs site: https://fairscale.readthedocs.io/en/latest/api/experimental/nn/offload_model.html

We should fix this so that users can view the API reference on the docs site.

[2021-07-08 17:59] anj-s commented on #736
The API reference shows up when clicking on the "stable" version of readthedocs. we should ideally be publishing on the stable version of readthedocs and not the latest one. Looks like there might be a change in the latest readthedocs version that is causing an issue. The stable version of readthedocs also seems to point to an earlier version of our docs.

[2021-07-08 18:33] anj-s opened #737 "[cleanup] Remove older versions of PyTorch (that we don't support anymore) from our tests and documentation"
## 🐛 Cleanup

We only support the last three stable versions of PyTorch which should 1.7, 1.8 and 1.9. Currently we have multiple instances of PyTorch 1.6 (for example in our docs) that needs to be cleaned up.

[2021-07-09 05:00] anj-s commented on #736
Turns out we had to install numpy which is not being pulled in anymore (PyTorch 1.9 [release notes](https://github.com/pytorch/pytorch/releases)). I modified the settings such that we can use the packages installed in the venv environment setup by readthedocs during build. I figured this out by looking at the build raw logs and finding mysterious warnings related to numpy.

[2021-07-09 05:00] #736 closed

[2021-07-09 13:26] anj-s opened #738 "[docs] Fix overlap between "Source" link and Return value of the doc string"
## 🐛 Bug

![Screen Shot 2021-07-08 at 9 56 52 PM](https://user-images.githubusercontent.com/32556631/125084556-88c44f80-e07e-11eb-81cf-4d09751147d2.png)

The hyperlink and doc string overlap and one is unable to figure out the return value.

[2021-07-13 20:03] min-xu-ai commented on #703
I assume this issue is largely solved. Reopen if not.

[2021-07-13 20:03] #703 closed

[2021-07-13 20:04] min-xu-ai commented on #689
@zhaojuanmao Hi Yanli, this might be an interesting bug that you may want to take a look since it is related to stability of FSDP. I haven't find time debugging it. If you are interested, I can share the steps to reproduce.

[2021-07-14 07:56] amsword opened #740 "how to combine apex.fp16_utils.fp16_optimizer with OSS"
## ❓ Questions and Help
Is there some example or is it feasible to combine fp16_optimizer (https://nvidia.github.io/apex/_modules/apex/fp16_utils/fp16_optimizer.html#FP16_Optimizer) and OSS (from fairscale.optim.oss import OSS)

[2021-07-14 13:17] anj-s commented on #740
I don't believe we have an example or test for this combination of APIs.  cc @blefaudeux

We support torch.cuda.amp and have an [example](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html) in our docs that show usage. It's also been [recommended](https://discuss.pytorch.org/t/torch-cuda-amp-vs-nvidia-apex/74994) that users use torch.cuda.amp for mixed precision training.

Can you tell

[2021-07-14 16:01] blefaudeux commented on #740
- with OSS and DDP it should work I think, unless Apex is changing the parameter buffers behind the scene. Maybe worth trying if you already have one of these in place in your codebase, if not probably not a future proof enough idea
- with OSS and ShardedDDP it will probably not work, because the gradients are sharded and the Apex scaler is not aware of that, so different ranks will have different

[2021-07-14 18:01] zhaojuanmao commented on #689
@min-xu-ai thanks, I can take this over. Would you please share the steps to reproduce? I can start from there to build a unit test and debug

[2021-07-14 19:02] amsword commented on #740
@anj-s, in some dataset/network, we find fully fp16 network works as well as AMP in terms of accuracy, but fp16 could save much more memory, in which case we can use larger batch size (normally 2x). In the end, fp16 is much faster than pytorch's AMP (1.5x~2x speed up). Thus, in some cases, we prefer to use fp16_optimizer. This is also the default setting from deepspeed (if i understand correctly).

[2021-07-14 20:33] blefaudeux commented on #740
Makes sense ! Couple of points here:
- if full fp16 works for you, then you can use it directly with OSS, it should just work and be pretty fast (at least a lot faster than AMP) & save memory.
- if using AMP, you can switch on the broadcast fp16 compression in OSS, it should help a little
- Apex is faster than Pytorch AMP in a distributed setup, among other things, because the gradients are fp16 (

[2021-07-14 23:02] min-xu-ai commented on #689
Thanks @zhaojuanmao!!! I just reproduced it again:

![image](https://user-images.githubusercontent.com/24926999/125703194-6aaf502f-7591-4e71-9034-a0f6b618c03d.png)

download this file from here: https://dl.fbaipublicfiles.com/min/miniclip.tgz

Warning, it is pretty big. About 1.3GB. After downloading, untag it and run this command:

`PYTHONPATH=../f3 python -m torch.distributed.launch --nproc_per_

[2021-07-15 04:07] amsword commented on #740
------
FP16_optimizer maintains the fp32 copy of the parameters and takes fp32 params as master copy. The gradient update is on these master params, after which the updated master param updates the fp16 parameters for next iteration. I'm not sure how useful this logic is in practice, but with OSS, it seems like this logic will not be handled automatically. Is my understanding correct?

[2021-07-15 06:07] blefaudeux commented on #740
You mentioned "fully fp16 network" above, so I thought that you meant `model.half()`, which would work for OSS (everything is fp16).  From a quick read of the doc, I think that the Apex optimizer_fp16 should work with OSS+DDP, but not with OSS+ShardedDDP, it has never been tested though but if it's easy to try, go for it !

Yes, even a little more complex than that if I remember correctly (the mod

[2021-07-15 08:11] ZhiYuanZeng opened #741 "Question about All-to-All Dispatch & Combination implementation in MOELayer"
## ❓ Questions and Help
Fairscale implements All-to-All Dispatch and Combination of MOE with all_to_all_single(). According to the documentation of torch.distributed, all_to_all_single splits input tensor and then scatters and concatenates the split list to all processes in a group. It can transfer a tensor with dimension (EGCM) partitioned on E devices to the tensor with dimension (GECM) partitio

[2021-07-15 08:22] ZhiYuanZeng commented on #741
I tried a simple example to check the behavior of all_to_all_single().
[code]
![image](https://user-images.githubusercontent.com/50764547/125754439-84eeb36f-a380-426e-90b0-5bc11655d970.png)
In this example, input.shape[0]=4, however, only 2 devices is available. The output of all_to_all_single is strange, but no error occurs while running.

[2021-07-15 17:29] min-xu-ai commented on #741
This might be a question for pytorch distributed team, but cc'ing @msbaines and @shruti-bh just in case they can chime in.

[2021-07-15 18:20] min-xu-ai commented on #741
@ZhiYuanZeng, I briefly checked the source here: https://github.com/pytorch/pytorch/blob/fce85480b97d8d79e92e11fbcd3c03a25ae446e0/torch/distributed/distributed_c10d.py#L2480

It seems that as long as the dim 0 of the input is divisible by world_size, it would split the tensor accordingly. Here is the results when I changed the dim 0 from 4 to 6.

![image](https://user-images.githubusercontent.com/

[2021-07-15 18:44] anj-s commented on #741
I think one useful question that @shruti-bh  can answer is how having multiple experts on a single device or less than 1 expert on a device modifies the implementation. I think this is possible but I am not clear if a simple einsum operation will be sufficient for moving input to the right expert.

@ZhiYuanZeng Can you expound on why the output seems strange? I think it is as expected like Min men

[2021-07-15 19:03] shruti-bh commented on #741
If there are multiple local experts, and number of experts % world_size == 0, then the logic here https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/moe/moe_layer.py#L79-L87 takes care of grouping input for all local experts that reside on a single DDP worker, and also takes care of distributing the local experts output correctly to the DDP worker that owns the respective input

[2021-07-15 21:07] amsword commented on #740
@blefaudeux  thanks. Regarding Fp16_optimizer + OSS, one thing is that FP16_opitmizer assumes init_optimizer.param_groups contains all trainable parameters and it handles to update fp32 and fp32 -> fp16. After checking the code of OSS, my understanding is that OSS.param_groups also contains all parameters but only OSS.optim.param_groups contains the sharded parameters. So, if OSS wrapps FP16_optim

[2021-07-16 01:26] zhaojuanmao commented on #689
@min-xu-ai the dataset file can not found, is there some dataset we need to download and setup? I tried to run "python make_dataset.py" in 'miniclip' folder, but it can not find 'yfcc14m_ids.npy' in the folder, also I feel I need to download ''/datasets01/yfcc100m/090517/yfcc100m_dataset.txt'' somewhere as well

[2021-07-16 02:20] blefaudeux commented on #740
Hmm, depends on whether the parameters are rewritten in place or not, if they are I think that it would work given the parameter flattening in OSS.

https://fairscale.readthedocs.io/en/latest/tutorials/oss.html
Has an example at the bottom, the url is misleading. You just need FSDP in that case, no need to mix with OSS or anything

[2021-07-16 02:39] min-xu-ai commented on #689
There is a big .pkl file in the tar file, which I thought was the data needed. This code opens it:

![image](https://user-images.githubusercontent.com/24926999/125883092-a6696607-b81c-4126-8430-15770c5e087c.png)

I don't think you need to run make_dataset.py since the pkl file is already made. Can you double check you are running main.py from the dir where the pkl file exists?

[2021-07-16 05:02] zhaojuanmao commented on #689
@min-xu-ai  yes, both pkl file and main.py are in 'miniclip' dir, I am running main.py in 'miniclip' dir.

'PYTHONPATH=~/fairscale python -m torch.distributed.launch --nproc_per_node=2 --use_env main.py --sharded'

It failed to import ''/datasets01/yfcc100m/090517/yfcc100m_dataset.txt'' file, which I do not know where it is.... . see errors

=> creating dataset
Traceback (most recent call last):

[2021-07-16 05:33] ZhiYuanZeng commented on #741
Thank you for your replies. I have understood the behavior of all_to_all_single. But why not chunk before all_to_all_single, which will make the code easier to be understood. Besides, some code comments are confusing:
- https://github.com/facebookresearch/fairscale/blob/master/fairscale/nn/moe/moe_layer.py#L80, it should be GECM->EGCM?
- https://github.com/facebookresearch/fairscale/blob/master/fa

[2021-07-16 06:13] min-xu-ai commented on #689
Sorry about that. I think it is trying to get ImageNet folder from your error msg. I hacked the code this way:

[code]

I couldn't find anywhere in the code it tries to access yfcc100m_dataset.txt though. I think that is when you try to run make_dataset.py, which is not needed. With the diff above, I was able to still get the illegal memory access. Sorry, I am off tomorrow. I may reply later tomor

[2021-07-17 01:36] zhaojuanmao commented on #689
now the error is:

Traceback (most recent call last):
  File "main.py", line 551, in <module>
    main(args)
  File "main.py", line 216, in main
    train_stats = train(train_loader, model, criterion, optimizer, scaler, epoch, args)
  File "main.py", line 261, in train
    for i, (images, captions) in enumerate(train_loader):
  File "/home/yanlizhao/venv2/lib/python3.8/site-packages/torch/utils/da

[2021-07-17 05:50] min-xu-ai commented on #689
I see. I wished I have a machine I can easily reproduce it. Sorry about the back and forth. I think I got it right now.

Please download this file: https://dl.fbaipublicfiles.com/min/fake_data.tgz

untar it in the mini clip dir:

[code]

After this, use --data to override the default data dir with this fake_data dir:

`PYTHONPATH=../f3 python -m torch.distributed.launch --nproc_per_node=2 --use_en

[2021-07-19 13:06] anj-s commented on #663
1.7 does not have support for torch.distributed.broadcast_object_list which means this might need an if/else for the time being until we support the next PyTorch version.

[2021-07-19 13:35] anj-s opened #742 "[cleanup] Remove unused flags and functions in fairscale/benchmarks/pipe.py"
## Cleanup

fairscale/benchmarks/pipe.py has unused flags and functions that need to be cleaned up. The following is a non exhaustive list:
* Rename MPI_PORT to PG_PORT or something that represents what the constant is used for.
* Remove eval function since we don't benchmark it.
* Remove flags "hostname" and other unused flags.

[2021-07-19 13:50] anj-s opened #743 "[chore] Cache wikitext2 dataset used for benchmarks/pipe.py to prevent throttling errors"
## Chore

We should cache the dataset used for running fairscale/benchmarks/pipe.py so that we don't end up downloading this at every run. This has been [done for OSS](https://github.com/facebookresearch/fairscale/pull/465) and we should do something similar for pipe.py. This is important because during periods of high PR checkins/development we could run into throttling errors if there are too ma

[2021-07-19 14:48] Patil2099 commented on #742
I would love to take this up

[2021-07-19 14:52] anj-s commented on #742
@Patil2099 Apologies but this task has been assigned to someone on the team. I can create more tasks like this if there is interest :)

[2021-07-19 14:57] Patil2099 commented on #742
No problem would be nice if you have some other task for me.

[2021-07-19 16:42] zhaojuanmao commented on #689
@min-xu-ai Thanks! it works now!

[2021-07-19 18:34] min-xu-ai commented on #677
Hi @tmarkstrum, this is probably a good bug for you to have while you work on benchmarking?

FYI, @anj-s, Tingting and I met this morning and we think the benchmarking of FSDP can be structured in at least the following dimensions:

- model size: small (both DDP and FSDP simple wrap won't OOM), medium (DDP OOM, FSDP simple wrap won't OOM), large (DDP OOM, FSDP simple wrap OOM but FSDP with nested

[2021-07-20 13:35] anj-s commented on #677
Thanks @min-xu-ai for the detailed breakdown! this looks like a great start.

Will we be testing cpu_offload as one of the features? It will probably enable the maximum memory savings and would be good to have the corresponding throughput measurements. WDYT?

[2021-07-21 03:50] ZhiYuanZeng commented on #741
sorry, I have misunderstood these two comments:

they describe the dimension changes caused by reshaping operation, not that caused by  all_to_all_single. There is no more question. Thanks for your response! @min-xu-ai  @anj-s @shruti-bh

[2021-07-21 03:51] #741 closed

[2021-07-21 04:07] min-xu-ai commented on #741
Thanks for letting us know and trying out fairscale! Just curious, can you share what kind of research or production work you are looking into in using the moe layer?

[2021-07-23 06:16] anj-s opened #745 "[FSDP] `is_flattened` property changes to False when we enter summon_params context."
## 🐛 Bug

We lose the `is_flattened` property of the FlattenParamsWrapper object the moment we call [enter_context](https://github.com/facebookresearch/fairscale/blob/8bca4f87ac070f6e5ae2fc74c9635b2aaa9a2208/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L815). This should not happen since is_flattened should only change when we are in a unflatten_params context.  This happens with recu

[2021-07-24 00:12] min-xu-ai commented on #745
Maybe I am missing something but summon_full_params does enter unflatten_params context before yielding. In my current branch `min/fsdp`, it looks like:

![image](https://user-images.githubusercontent.com/24926999/126851631-0b18fe6f-10d4-4698-9f50-ad158a627f3e.png)

This is needed since we want the summon context to expose the views of unflatten params (separate, original parameters, not concat, f

[2021-07-24 15:42] anj-s commented on #745
May it is expected behavior to enter the context of unflatten_params but it does not seem right if you have a FlattenParamsWrapper which no longer has an is_flattened=True property that was previously set.

Here are some places that I think it could be an issue:
* If I want to perform an operation in the context of summon_params differently for flattened and unflattened params it is hard to find t

[2021-07-24 15:42] #745 closed

[2021-07-24 17:29] min-xu-ai commented on #745
Thanks for sharing your thoughts. Flatten and all the param name mangling is tricky. I hope we can simplify it. Please take a look at my outstanding PR to see if it affect your "named_parameter" change or not. To me FSDP is complex and anyway we can simplify and/or modularity it, it would be really good.

[2021-07-25 17:41] sshleifer opened #748 "consolidate shard weights should support MoE"
See #747

[2021-07-26 20:17] min-xu-ai commented on #748
done

[2021-07-26 20:17] #748 closed

[2021-07-29 11:06] spurthi-bdp opened #754 "Performance comparison between ShardedDDP vs FSDP"
## Performance comparison between ShardedDDP vs FSDP
Hi,

What are tje performance benchmark numbers you see when same model is run with ShardedDDP vs FSDP.  I was trying to get this performance numbers, but somehow it gets stuck with 100% GPU utilization when it is trained with ShardedDDP even with small LM model. I will try to get a  sharable reproducible script ready to show model training gets

[2021-07-29 23:35] min-xu-ai commented on #754
@anj-s @tmarkstrum, do you guys have any numbers for DDP? We do have some code for benchmarking SDP in the benchmarks dir, right?

[2021-07-29 23:42] anj-s commented on #754
@spurthi-bdp Do share the reproducible example so that we can take a look and see what could be the issue. What is the size of the model? i.e number of parameters?

We are working on some benchmarks which we will share soon. For now you can look at the benchmarks in the [fairscale/benchmarks](https://github.com/facebookresearch/fairscale/tree/master/benchmarks) directory like @min-xu-ai  mentioned

[2021-07-30 12:09] blefaudeux commented on #754
GridAI did some measurements some time ago, FSDP improved a lot since but ShardeDDDP did not change much. It also has DeepSpeed and DDP plus a bunch of options explored. See https://share.streamlit.io/seannaren/mingpt/streamlit/app.py

[2021-07-30 12:11] blefaudeux commented on #754
The training being stuck with SDP is not expected though, it should be stable at this point, I would be very interested in a repro

[2021-07-30 12:17] SeanNaren commented on #754
Thanks @blefaudeux :)

The numbers are slightly outdated, but hopefully give a reasonable starting point!

[2021-07-30 12:27] blefaudeux commented on #754
To give you an educated guess, FSDP should always be either "just" faster (sharding optim and gradients, zero 2 mode) or slightly faster and way more memory efficient (full sharding). Unless you have a limitation in terms of API which SDP is better suited to, FSDP is most probably your best bet.

[2021-07-30 12:30] blefaudeux commented on #754
Of course @seannaren, this was some great work !

[2021-08-01 20:10] dave-epstein opened #758 "FSDP always sets requires_grad to False? Breaking checkpoint_wrapper."
## ❓ Questions and Help

Hi, I get the following error when trying to use FSDP with checkpoint_wrapper:
RuntimeError:  None of the outputs have requires_grad=True, this checkpoint() is not necessary

I found this weird so I started digging around. I found that in the checkpoint wrapper function, all the input tensors had requires_grad=False stashed in the forward pass which led to this error. I ch

[2021-08-02 02:18] anj-s commented on #758
Thanks for opening this issue! We do have tests with checkpoint_wrapper [here](https://github.com/facebookresearch/fairscale/blob/master/tests/nn/data_parallel/test_fsdp_multiple_forward_checkpoint.py#L94) and [here](https://github.com/facebookresearch/fairscale/blob/master/tests/nn/data_parallel/test_fsdp_with_checkpoint_wrapper.py#L119). How does your example compare? Would it possible to maybe

[2021-08-02 02:53] min-xu-ai commented on #758
Thanks for the bug report!

The method actually carries the requires_grad from the original. So I don’t see it seeing the flag to false blindly.

do you have a small reproducible case that we can use to debug it?

[2021-08-02 02:59] dave-epstein commented on #758
Thanks to both. I am looking into this more deeply still. One key difference may be that I'm using PyTorch Lightning with the FSDP plugin, so I'm not handling the instantiation of the model with full granularity. It may then turn out that this is a Lightning+FSDP+checkpoint_wrapper bug. I will reply with more details.

Another small difference - I am using auto_wrap from fairscale.nn to wrap model

[2021-08-02 03:24] dave-epstein commented on #758
Ok, seems like the issue is actually simple - the input feature map requires_grad, is fp32, but is NOT a leaf. So it does not have requires_grad set to True. But clearly this is causing some undesirable behavior. Is this an issue in my code then, or in the control flow logic of cast_floats_to_right_precision?

[2021-08-02 03:41] dave-epstein commented on #758
I removed the is_leaf check and now copy over x's requires_grad to y's requires_grad unconditionally. What results now is the following opaque error:

SystemError: <built-in method run_backward of torch._C._EngineBase object at 0x7f11d22aea00> returned NULL without setting an error

What can I do to help you guys dig into this?

[2021-08-02 04:23] dave-epstein commented on #758
This may have something to do with the fact that I'm doing GAN training. I'm trying to use regular ddp_sharded and I get a complaint that no parameter requires gradient when I'm in the discriminator optimization step and running noise through a generator. I may need to file a PyTorch Lightning issue.

[2021-08-02 05:11] min-xu-ai commented on #758
Thanks for digging and detailed description on what you tried and got. I am thinking this is a case not yet being tested by FSDP. Perhaps the input to your root FSDP model is generated from another model? Did you try not using mixed precision so that this code is skip to see if this problem is still there or not? Also, did you try remove the nograd context in the conversion function?

[2021-08-02 05:19] dave-epstein commented on #758
Right now I am trying to fully understand what works and does not work with regular DDP, DDP sharded, and FSDP, while using checkpoint_wrappers for GAN training. I will comment here when I have finished my tests :)

[2021-08-02 06:32] dave-epstein commented on #758
This will be a bit long, but I hope it is comprehensive and helpful, and that it provides somewhere for us to start from to continue debugging. In all cases, I use the same snippet for checkpoint wrapping, which I am putting at the end of this comment. To address your comment above, I will try to re-add the is-leaf check and see what happens with fp32 training. I think the nograd context is not th

[2021-08-02 14:02] min-xu-ai commented on #758
Let me add @zhaojuanmao and @blefaudeux

do you have instructions for running the code snippet?

[2021-08-02 14:15] anj-s commented on #758
@dave-epstein Want to confirm that for ShardedDP we use the same code snippet? In that case are you replacing `auto_wrap` with ShardedDataParallel? For DDP, I am guessing we just call self.wrap_checkpoints?

Is the goal to use FSDP or SDP?

[2021-08-02 14:27] blefaudeux commented on #758
I don't think that ShardedDDP is related really, as far as I understand this has to do with the FW pass in FSDP ?

As per auto wrap context, shardedddp doesn't use that, the API is more like DDP (wrap the model once)

[2021-08-02 14:30] anj-s commented on #758
Thats what I am trying to confirm. I am unclear about what is being used with checkpoint_wrapper. I know DDP and FSDP but what is DDP sharded?

[2021-08-02 14:47] blefaudeux commented on #758
This happens when the same parameter produces grad twice, AFAIK. DDP's task is to all reduce the gradients when produced, and in that case it's lost in that this parameter's gradient has already been reduced but it just produced new gradients, so something is probably amiss. It could happen if the same param is used twice in different places in your FW, each use will produce a gradient. If they ca

[2021-08-02 16:43] dave-epstein commented on #758
@anj-s My understanding was that outside of FSDP, auto_wrap is a no-op. I never call DDP/Sharded DDP (https://fairscale.readthedocs.io/en/stable/api/nn/sharded_ddp.html)/FSDP manually. Pytorch Lightning handles that. The instructions in PTL for using FSDP are to do what I did basically (this page gives examples for both Sharded DDP and FSDP - https://pytorch-lightning.readthedocs.io/en/latest/adva

[2021-08-02 17:12] dave-epstein commented on #758
@blefaudeux

Re DDP (same param marked twice): I do call my discriminator multiple times with different batches, as well as call some underlying module in the generator repeatedly (an iterative generation process, so cannot be unfolded into different params). Is this use case fundamentally unsupported by gradient checkpointing? I didn't see any notes like that anywhere. (@anj-s since you mentioned

[2021-08-02 17:47] dave-epstein commented on #758
BTW just as a sanity check I ran the same scaffolding code (that is, the way I'm calling checkpoint_wrapper and wrap/auto_wrap) with DDP, Sharded DDP, and FSDP on another model (one optimizer, regular feed-forward CNN more or less). It worked fine in all 3 cases.

[2021-08-02 18:17] blefaudeux commented on #758
@dave-epstein re trainability, my bad, I missed that part of your explanation, makes sense !

It makes me think of a possible explanation with respect to DDP though, AFAIK it doesn't expect the graph to change in terms of trainability from step to step, so depending on the structure of your code (if generator and discriminator share something for instance) it could dislike something there. Cc @mrs

[2021-08-02 18:18] dave-epstein commented on #758
For DDP, the model started working perfectly fine once I short-circuited the forward pass so that it did not call the same model multiple times. Okay, so we know why that's happening in DDP (multiple calls to same model). Shouldn't this be allowable? It seems like a pretty common use case.

[2021-08-02 19:25] dave-epstein commented on #758
@blefaudeux Thanks. Nothing is too obvious, especially when I've been staring at things for so long :) See my comment posted right after yours for DDP (G and D don't share any weights). Not using a Transformer in this case, but good tip.

Focusing on DDP / Sharded DDP / FSDP without checkpointing:

* DDP: no checkpointing - it works! Checkpointing - throws the "Expected to mark a variable ready on

[2021-08-02 19:42] anj-s commented on #758
@dave-epstein I think we can only debug with a small repro example accompanied by stack traces(if possible). It is best if the smaller repro example is something you can share with us publicly on GitHub.

[2021-08-02 19:45] dave-epstein commented on #758
Ok, let me work on putting together a smallest possible example to repro, and share it here when done. Hopefully I can get it to reproduce all of these errors :)

[2021-08-02 20:08] dave-epstein commented on #758
Here is a very very simple example that causes the "Expected to mark a variable ready only once." error to file. As I suspected it is caused (among other things, I guess), by calling the same model more than once.

[code]

[2021-08-02 23:07] dave-epstein commented on #758
Any GAN setup with PT Lightning should give you the repeat "trainable parameters changed" error with Sharded DDP, even this one - https://pytorch-lightning.readthedocs.io/en/latest/notebooks/lightning_examples/basic-gan.html - which I tried. However, the grads waiting to be reduced error is more mysterious, and seems to be somehow tied to my system which is a bit more complex. I'll post here (as u

[2021-08-02 23:48] min-xu-ai commented on #758
This is a familiar case where we have debugging a lot for VISSL framework as well. You can check for those "multiple_fwd" test cases in the tests/nn/data_parallel directory to see what is being tested.

With multiple forward for the same module, when it is also checkpointed, we have to put in special logic to handle it with FSDP and checkpoint_wrapper. But since this is a complicated cases, I won'

[2021-08-02 23:59] dave-epstein commented on #758
The _set_static_graph does not work in my case due to the separate G and D forward pass logic. Regardless, I'm (more than) okay with using FSDP instead of DDP. I'm not spending more time on that case. Instead I'm trying to build a portable example to reproduce the bugs I'm experiencing with sharded DDP and FSDP.

[2021-08-03 00:10] min-xu-ai commented on #758
Thank you so much! It will be tremendously helpful!

[2021-08-03 01:51] spurthi-bdp commented on #754
Thank you for quick response and sharing those links, they are pretty helpful.

Note: Before raising this issue/question, I tried to play around with [benchmark oss.py](https://github.com/facebookresearch/fairscale/tree/master/benchmarks) script to run huggingface [RobertaForMaskedLM](https://huggingface.co/transformers/model_doc/roberta.html#robertaformaskedlm) model (2B) or lesser params with SD

[2021-08-03 02:51] dave-epstein commented on #758
I just prepared a really simple example that reproduces the behavior I described above identically. I am packaging it now and will post another comment here once it's done.

[2021-08-03 04:58] dave-epstein commented on #758
So I think the FSDP bug is very related to Issue #617. The error hiding in there was: `ERROR: expected to be in states [<TrainingState.BACKWARD_POST: 4>] but current state is TrainingState.BACKWARD_PRE`.

Here is the code: https://github.com/dave-epstein/example-code/blob/main/example.tar.gz
Sorry if there was a nicer way to share it, this was the most convenient thing I could come up with.

FWIW

[2021-08-03 06:36] blefaudeux commented on #754
Not completely sure, but could this be a poorly handled OOM ? Else this is intriguing, I would love to have a look ASAP

I've not looked at that (on mobile and limited connectivity for the next days), but if this uses mixed precision then the scaler needs to be shard aware, as mentioned in the docs (or handled by lightning). Not using a shard-aware scaler would hang indeed, that's expected (with t

[2021-08-03 10:41] SeanNaren commented on #754
I've updated the streamlit instruction and code on the minGPT README: https://github.com/SeanNaren/minGPT/tree/master

Let me know what issues you run into, more than happy to help! As suggested if you have a script will help to debug

[2021-08-03 22:05] anj-s commented on #758
@dave-epstein I can reproduce the issue. Thank you for sharing the repro example, this really helps a great deal. i'll start investigating and update once I have something.

[2021-08-04 06:33] blefaudeux commented on #758
Could you try with "auto refresh trainable" set to off ? This stops ShardedDDP from monitoring the trainability status (it will stick to the one initially defined when wrapping the model), both warnings  are related to that (ShardedDDP detects that the graph changed, but some hooks defined previously to track trainable parameters have not fired -> warning that something could be wrong in the setup

[2021-08-04 06:41] dave-epstein commented on #758
Can try this, but won't it break because the parameters which require grad are changing every other forward pass? From my recollection of the code the list of parameters is pulled from the optimizers and checked for requires_grad.

[2021-08-05 00:02] dave-epstein commented on #758
Yes, I think I'm correct about that. If you don't end up calling `refresh_trainable` then it will just stick to the list of params that had `requires_grad` at first. Depending on when this initial setup happens, this will either be either only G or only D params (bad if this stays fixed), or all params, both G and D (if the setup happens before any logic in PTL turns off params belonging to the no

[2021-08-10 02:30] anj-s commented on #758
@dave-epstein Spent some debugging and identified that the issue was that the generator model (ResNet) had requires_grad=False on its param. This meant that the backward hook was not attached and triggered. We did not check for the condition that the root FSDP instance had params but those params did not require grads. That is what led to the error being raised. I have a potential fix that i tagge

[2021-08-10 19:55] dave-epstein commented on #758
@anj-s It does seem that that fixed the FSDP problem! Were you able to look at the regular DDP Sharded situation too? It's not clear to me when I might prefer using just that over FSDP, just curious.

Re: configure_optimizers, I poked around a bit. The crux of it (not sure if it's an issue or not?) is in `pre_dispatch` in `accelerator.py`. L104 calls `self.training_type_plugin.pre_dispatch` which

[2021-08-10 20:33] ananthsub commented on #758
@daveepstein I can follow up with you for fixes to PTL for FSDP

[2021-08-11 19:00] anj-s commented on #758
Great! Glad to know the issue was fixed. Sorry, did you mean SharadedDataParallel or DDP? I did not get a chance to look at either of these errors. For DDP it might be best to post in the PyTorch forums or open an issue. I can take a look at the SDP warnings that you mentioned.

Looks like ananthsub@ will take a look at these.

Let us open a new issue for this. First I would check if the vanilla c

[2021-08-12 01:39] dave-epstein commented on #758
Yes, I meant ShardedDataParallel. DDP is not under your purview :)

Right, vanilla PT checkpointing doesn't support this either. My instinct is that it's a pretty deep limitation and not something that can be patched, but maybe I'll make a forum post or issue.

Thanks! I will leave the issue open for you to take a look at Sharded.

[2021-08-12 01:42] #569 closed

[2021-08-12 17:20] min-xu-ai commented on #684
Closing this since Yanli has taken some spirit from this RFC and API change while upstreaming FSDP to pytorch is a better route. I think it is OK to let FSDP API evolve in fairscale.

[2021-08-12 17:20] #684 closed

[2021-08-12 17:21] min-xu-ai commented on #492
This is replaced and being worked on in #697. Hence, closing this a dup.

[2021-08-12 17:21] #492 closed

[2021-08-18 20:04] tobiascz opened #766 "fairscale checkpointing_wrapper no effect on Memory"
## 🐛 Bug

I tried the checkpointing feature of fairscale on an example with an RNN (GRU) and noticed that the checkpointing_wrapper has no effect on the VRAM for the GRU part.

## To Reproduce
https://gist.github.com/tobiascz/0cbb81abb98b1d094c17459b81ba8059

I used Weights and Biases here to visualize the GPU load but you can just comment that part if you dont want to install it and check manuall

[2021-08-22 08:06] vycezhong opened #767 "What is pointwise optimizer and non-pointwise optimizer?"
## ❓ Questions and Help

Hey. I am reading the documentation of FSDP and I am confused with the following sentences.

I don't quite understand the meaning of "pointwise optimizer". Why Adagrad, Adafactor, LAMB, etc are not pointwise optimizers? Thanks!

[2021-08-22 10:27] vycezhong opened #768 "Does Pipe supports multi-machine training"
I have two machines, each equipped with 4 GPUs. I wonder if I can achieve a pipeline cross 8 GPUs like this.

[GPU0 -> GPU1 -> GPU2 -> GPU3] -> [GPU0 -> GPU1 -> GPU2 -> GPU3]

[2021-08-24 15:14] anj-s opened #769 "[feature] Add support for torch.cpu.autocast - fp16"
## 🚀 Feature
PyTorch 1.10 provides torch.cpu.autocast support for bf16 right now. Investigate if and how we should support this for fp16 as well so that it works well for users out of the box. Use case for where this would be useful is when using cpu_offload with FSDP.

[Related PL PR](https://github.com/PyTorchLightning/pytorch-lightning/pull/9084)

cc @SeanNaren

[2021-08-24 23:10] blefaudeux commented on #104
we're doing that against Pytorch in many places, I don't think that this still applies ? Closing, feel free to reopen if in need

[2021-08-24 23:10] #104 closed

[2021-08-25 12:19] daixiangzi opened #770 "i use fairscale oos , sharddp and FSDP on one single mutil-gpu,"
## ❓ Questions and Help
use oss gpu-memory reduce just a few on res101,but use sharddp and FSDP increase gpu-memory

[2021-08-25 13:59] anj-s commented on #770
@daixiangzi that is definitely not expected behavior. can you elaborate on your use case and provide a small repro?

[2021-08-25 14:02] anj-s commented on #768
@vycezhong Currently nn.Pipe supports a single machine single process implementation so the above configuration is not possible. Once we implement multiprocess pipe that also spans multiple machines we should be able to implement 1 pipeline across 8 GPUs.

[2021-08-25 14:02] #768 closed

[2021-08-29 21:29] timothybrooks opened #771 "Add context manager for disabling gradient checkpointing"
## 🚀 Feature
A method for disabling gradient checkpointing on-the-fly.

## Motivation

Training of some models requires use of `torch.autograd.grad()`. For example, this is commonly used for gradient penalty regularization when training GANs. Gradient checkpointing is not compatible with `torch.autograd.grad()` and only compatible with `torch.autograd.backward()`. It would be valuable to still all

[2021-09-01 17:18] min-xu-ai commented on #767
Hi, thanks for the question and sorry the delayed reply.

By "point wise", it means the delta value computed for each parameter only based on that "point", i.e. the gradient value for that weight only. The delta can't be computed based on things like the tensor's norm or some global value that might not be available when the parameter and gradient are sharded (i.e. distributed across all ranks).

[2021-09-01 17:18] #767 closed

[2021-09-01 17:26] min-xu-ai commented on #770
No update for 7 days. Close for now. Reopen if there is new updates.

[2021-09-01 17:26] #770 closed

[2021-09-01 17:34] min-xu-ai commented on #766
@tobiascz, thanks a lot for providing a repo. I see some issues with the repo:

* it has ` "batch_size": 1,`, which means the activation is very small.
* it checkpoints only small layers like Linear(128,32), the tensor dimension is small

checkpoint works by wrapping a layer with a lot of intermediate activations. For example:

[code]

For this layer, if you checkpoint it, the activation memory wi

[2021-09-01 17:34] #766 closed

[2021-09-02 01:28] dave-epstein commented on #758
Hi @anj-s , I'm still getting this issue now when I use `wrap` instead of `auto_wrap`, in a standard GAN training setup. This is on a new machine where I made the two changes to fully_sharded_data_parallel.py that are in the above commit. It takes a bit of time to put together a reproducible example, so I was wondering if there are any checks I could conduct on my end to see what's going on.

[2021-09-02 01:38] dave-epstein commented on #758
I think (99% sure) it's related to autograd.grad being called to generate a loss. This is a common use case with GANs, e.g. for path length loss on a generator or gradient regularization on a discriminator.

[2021-09-04 20:49] aluo-x opened #776 "Incorrect usage of FSDP & misc questions"
I'm currently trying to use FSDP and the behavior is very different from what I expect, whereas ShardedDDP behaves as I expect. I have seen #423 and have modified my torch DDP code with an additional `torch.cuda.set_device(device)`.

Minimal example:
[code]

If I manually zero out the weights, there are no gradients, and the loss does not change. The same code works under DDP & ShardedDDP.

Additi

[2021-09-04 23:28] aluo-x commented on #776
After closely looking at the code under tests, I notice that for FSDP - the optimizer is [created after converting a model](https://github.com/facebookresearch/fairscale/blob/73f73120fed1bc806d7487dcc4e999ad63e12947/tests/nn/data_parallel/test_fsdp_freezing_weights.py#L74) using FSDP.

But for the example given in the [OSS tutorial](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html) th

[2021-09-05 00:34] aluo-x commented on #776
Currently my FSDP state_dict does not appear to be identical numerically to DDP/ShardedDDP. I use fixed network initializations and fixed inputs. DDP is identical to SDDP, but they are not identical to FSDP
Minimum repro:
[code]

DDP/SDDP output:
[code]
FSDP output:
[code]
Run on 3 GPUs:
`CUDA_VISIBLE_DEVICES=1,2,3 python new_trainer.py`
DDP/SDDP/FSDP controlled via the mode variable in the `demo_

[2021-09-05 01:49] dbarnhart opened #777 "Errors with multiple passes through checkpointed module with FSDP"
FSDP fails when there are multiple passes through a checkpointed module wrapped as `checkpoint(FSDP(module))` with resharding after forward and no forward counters. There may also be a race condition between gradient accumulation and gradient reduction/resharding.

I have been able to fix the breakage, and propose a fix to the potential race condition, described in more detail below.

When we have

[2021-09-06 00:21] #737 closed

[2021-09-06 00:53] min-xu-ai commented on #777
Thanks for the detail issue report @dbarnhart.

The proposed fix for checkpoint(FSDP(module)) seems reasonable but I remember we preferred FSDP(checkpoint(module)) so that all-gather is not done one extra time. i.e.:

* checkpoint(FSDP(module))
  - fwd during fwd - all gather
  - fwd during bwd - all gather
  - bwd during bwd - all gather
* FSDP(checkpoint(module))
  - fwd during fwd - all gather

[2021-09-06 01:03] min-xu-ai commented on #776
Thank you for the issue report, @aluo-x!

This part of the code:

![image](https://user-images.githubusercontent.com/24926999/132146770-d7d787a6-5495-4929-aedb-4bf97454168a.png)

FSDP does not need OSS. FSDP itself already take care of optimizer state being sharded so OSS is not needed to shard the state again. We have not tested FSDP + OSS as you are using it here and that's probably why you are

[2021-09-06 01:12] min-xu-ai commented on #771
Thanks for the PR. I just merged it. It would be ideal to have a unit test that covers this but nobody has had time so far. I will file a new issue for that.

[2021-09-06 01:12] #771 closed

[2021-09-06 01:14] min-xu-ai opened #778 "[test] need a test to cover the checkpoint disabling API"
see issue #771

[2021-09-06 01:19] min-xu-ai commented on #758
Hi @anj-s @dave-epstein, did you guys see the issue #771? It also mentioned the autograd.grad, which is not supported by the current checkpoint function. Maybe you can ask pytorch team on the root cause of that and the plan to fix that in the future?

What's TODO left here in this issue?

[2021-09-06 01:20] min-xu-ai commented on #754
@tmarkstrum @blefaudeux, any news on this issue?

[2021-09-06 01:21] min-xu-ai commented on #743
@anj-s, should we consider pipeline upstreamed to pytorch and retire it from fairscale?

[2021-09-06 01:22] min-xu-ai commented on #740
Hi @blefaudeux , this could be closed now?

[2021-09-06 01:24] min-xu-ai commented on #663
This has been done in #744. It turns out to be not easy to debug the hang of the new function on older GPUs. All good now. :-)

[2021-09-06 01:24] #663 closed

[2021-09-06 04:20] dbarnhart commented on #777
The unit tests in [test_fsdp_multiple_forward_checkpoint.py](https://github.com/facebookresearch/fairscale/blob/4f7f0853cd2d5bfaefeba5931be983e02a35fcd8/tests/nn/data_parallel/test_fsdp_multiple_forward_checkpoint.py) deal with the case where `reshard_after_forward=False` and `flatten_parameters=False`. I'm interested in the case where `reshard_after_forward=True` and `flatten_parameters=True`, wh

[2021-09-06 05:27] min-xu-ai commented on #777
The unit test should test both flatten and nonflatten via this line:

[code]

`reshard_after_forward` should default to True.

There is a fsdp_config that is used when sync_bn is tested and flatten and reshard are False in that case.

Just to test it out, using pytorch version `1.10.0.dev20210901+cu111`, I enabled those 2 flags. The unit test seems to run fine on my system. Can you paste your erro

[2021-09-06 07:54] JARACH-209 commented on #778
@min-xu-ai  I can try adding a unit test for PR. Had a look at the issues, I hope it will be simple enough! but I would highly appreciate it if you can give some pointers to begin with.

[2021-09-06 08:32] dbarnhart commented on #777
I took a quick look.

The test fails when you omit the override `compute_dtype=torch.float32`. In mixed precision mode, it seems that when the_fp16_shard is actually fp16, the post-backward hooks don't fire, and we get an error in `method FC`. I don't know why.

In particular, I ran:
`python -m pytest -s tests/nn/data_parallel/test_fsdp_multiple_forward_checkpoint.py::test_multiple_forward_checkpo

[2021-09-06 15:40] aluo-x commented on #776
@min-xu-ai I can confirm that after removing OSS, the results for FSDP numerically match those of DDP and SDDP. I was initially confused because FSDP was [included under the OSS tutorial](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html) with an incomplete code.

Can you clarify or provide a code snippet for model saving/loading under FSDP? I tried running `.state_dict()` under rank 0

[2021-09-06 17:05] min-xu-ai commented on #778
Hi Thank you @JARACH-209 !

Please see issue #771 and the linked commit there. A new API is added to checkpoint_wrapper where you can use a context to disable checkpoint.

I am thinking you can test it this way:

[code]

Using the test model above, you can check how many times the self.cnt counter is incremented in the forward function. Then, in a unit test (check examples in `tests` dir), you can

[2021-09-06 17:15] min-xu-ai commented on #777
Thank you! This makes a lot of sense. I suspect the same will fail on my system but I haven't tried it.

I recall we had issues like this in the past when AMP is involved and some hooks are affected since AMP replaces tensors with different dtypes underneath the model and FSDP code. See this comment:

https://github.com/facebookresearch/fairscale/blob/4f7f0853cd2d5bfaefeba5931be983e02a35fcd8/fairs

[2021-09-06 17:19] min-xu-ai commented on #776
Thanks Andrew for reporting the doc issues! CC other team members on that: @anj-s @tmarkstrum @blefaudeux

I misspoke before, yes, you need to call state_dict on all ranks, but only rank 0 should save it. When you load it back, all ranks should load from the same file rank 0 saved.

I wish I have a more comprehensive example code, but I don't know if we have any. We will look into adding one for s

[2021-09-06 17:24] blefaudeux commented on #754
In that case the deadlock is expected, as ShardedDDP means that you need a shard-aware grad scaler (tentatively explained [here](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html)). There's no bug really, it's just that some ranks will skip the optimizer step if they detect NaNs in their gradients, and others will not, thus they desync and collective communication primitives deadlock.

[2021-09-06 17:29] blefaudeux commented on #776
It's something I just referenced in another issue, I agree that [this part of the doc](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html) may be confusing in hindsight, it's basically three tutorials back to back and it's not obvious to extract the structure from it ? It used to be only for OSS as evidenced by the URL, I think that it could be easier to keep the 3 (OSS, OSS+Sharded, FS

[2021-09-06 17:33] blefaudeux commented on #740
I think so ? in essence this feels close to "memory efficient fp16" that FSDP does, if this works out of the box with OSS+Apex that's nice, but if not I think that FSDP is the reasonable path forward to get this feature set. cc @amsword if you would like something done and I misunderstood ?

[2021-09-06 17:33] #740 closed

[2021-09-06 22:34] aluo-x commented on #776
Thanks to @blefaudeux and @min-xu-ai for the helpful comments.

I took a look at Fairseq and vissl code bases, and found the code for sharded saving. But there was still quite a bit of boiler plate that seemed unecessary outside of fairseq/vissl.

For future reference [here is a simple snippet](https://gist.github.com/aluo-x/85fda4f4f10895963d94000cf084514e) demonstrating consolidated state_dicts

[2021-09-07 00:25] min-xu-ai commented on #776
Feel free to send us PRs to change thing to the better if you want!

[2021-09-07 15:11] dbarnhart commented on #777
I suppose then its interesting that `method CF` actually does work with AMP. We'll stick with that method for now.

[2021-09-07 16:33] blefaudeux commented on #776
Thanks @aluo-x for this feedback, as @min-xu-ai mentioned above feel free to submit PRs, else we'll try to improve this over time but we do have blind spots. The above is definitely helpful

[2021-09-07 16:46] min-xu-ai commented on #777
Just to avoid confusion, I think there is MP vs. AMP, i.e. without `autocast` and without `autocast` contexts. In my incomplete and limited experiences, the `autocast` context can potentially cause this issue you are seeing in some cases.

[2021-09-07 17:00] anj-s commented on #776
@aluo-x  Thank you for the detailed feedback about our docs! We'll definitely incorporate and improve our documentation. cc @tmarkstrum who is organizing our docs fixit soon.

[2021-09-07 19:27] anj-s commented on #758
@dave-epstein Can you confirm that all the params of the model and submodules have the requires_grad set on them. The error previously was that we were checking the condition when some of the params in the submodules had requires_grad=False. auto_wrap and wrap may differ which modules are wrapped and hence which params we check for the state. I'll take another look to see what could be an issue wr

[2021-09-07 19:32] #778 closed

[2021-09-07 19:36] min-xu-ai commented on #777
Feel free to reopen or create a new issue if there are specific things we can do. PRs are always welcomed too!

[2021-09-07 19:36] #777 closed

[2021-09-07 19:37] min-xu-ai commented on #776
Feel free to reopen or create new issues. PRs are always welcomed too! Thanks!

[2021-09-07 19:37] #776 closed

[2021-09-08 04:07] dbarnhart commented on #777
Reopening, as there seems to be a more fundamental issue here unrelated to any kind of mixed precision, and the race condition I mentioned appears real.

It seems that when `method FC` is used, setting `maintain_forward_counter=False` in `checkpoint_wrapper` is **not optional**, as I would expect.

The forward counters seem like a trade-off. With them, you can reduce network overhead at the cost o

[2021-09-08 04:33] dbarnhart opened #780 "Race condition in gradient reduction"
Following up on the previous issue, as I couldn't reopen: https://github.com/facebookresearch/fairscale/issues/777

There seems to be a more fundamental issue here unrelated to mixed precision, and the race condition I mentioned in that issue appears real.

When `method FC` is used, enabling `maintain_forward_counter` in `checkpoint_wrapper` is not optional, as I would expect.

The forward counter

[2021-09-08 04:49] min-xu-ai commented on #777
Great! Thanks for the additional info.

1. for the diff, it doesn't seem to apply cleanly on the top of the master branch. Maybe you can just paste the full test code you have in a gist (gist.github.com)?
2. for the maintain_forward_counter argument, it is NOT a performance optimization currently. It is needed to deal with correctness of multiple firing of backward hooks. If we don't use it, it wi

[2021-09-08 05:06] dbarnhart commented on #777
We can continue discussion in the other issue, but I can eventually have a fix as a PR. I have prototyped something that appears to work well enough.

[2021-09-08 17:48] min-xu-ai commented on #780
Thanks again. Sorry about the not being able to reopen. I didn't know that you don't have the ability to reopen. Opening a new issue is probably better for clarity anyway. If you have the PR, feel free to send it even if it is in draft mode. Maybe we can review and discuss better around the code.

[2021-09-09 02:17] dbarnhart commented on #780
So the "race condition" is really between the reducer bucket filling, and the rest of the backward pass. You can also replicate the error by setting `maintain_forward_counter=False` and `bucket_cap_mb=0`.

I'll have a PR tomorrow that fixes this robustly.

[2021-09-09 12:54] gongbudaizhe opened #781 "OSS detected that the parameter changed devices, re-allocating buffers"
## ❓ Questions and Help
For each iteration, I get this message "OSS detected that the parameter changed devices, re-allocating buffers ". Is this normal? if not, what should be done?

[2021-09-09 12:59] gongbudaizhe opened #782 "AssertionError: Different devices for the bucket and the param, cannot proceed: cuda:4 - cpu"
## ❓ Questions and Help
When training adopts ShardedDDP, it fails with this error:

[code]

[2021-09-09 14:08] min-xu-ai commented on #782
It seems that your model is not entirely on the GPU. The parameter is on the GPU but some buffer are on the CPU. You could change the assert above and print out the param and self.buffer's shape. Perhaps then you can figure out which tensors are them to debug your model further? CC: @blefaudeux

[2021-09-09 14:15] blefaudeux commented on #782
Exactly this, than you @min-xu-ai, looks like some params have been moved to cpu (or swapped after the wrap by ShardedDDP with a component which was on cpu ?).

Basically the ShardedDDP wrap should happen last, when your model is ready to start training (it's also generally true of DDP and FSDP wraps I think)

[2021-09-09 15:36] blefaudeux commented on #781
@gongbudaizhe would you happen to move your model to and from GPU at each iteration, or change the compute graph (make parameters trainable and no-trainable) ? The message should be limited to these cases, if not this is a bug and I would love more information to repro !

To give some insight, OSS has to change the way the parameters are stored, for efficiency purposes, and moving the model to cpu

[2021-09-09 17:52] amsword opened #783 "Example of auto_wrap is not working as expected"
## ❓ Questions and Help

In this doc (https://fairscale.readthedocs.io/en/stable/api/nn/fsdp.html), there is an following example.
[code]

However, there is some syntax issue, such as no definition of wrap function when it wraps l1. Then, i modified it as the following
[code]

However, l2 is not FSDP.

pytorch: 1.7.1
fairscale: 0.3.7

[2021-09-09 17:58] amsword commented on #783
Another question is that if not all parameters are wrapped by FSDP through auto_wrap, how to handle these parameters in distributed training?

[2021-09-10 01:12] amsword opened #785 "different iterations have different learnable parameters"
## ❓ Questions and Help

Hello,

A general question. does ShardedDDP/OSS support the case when different iterations have different learnable parameters? i tried once, but find it hangs after about 10 iterations.

[2021-09-10 03:21] gongbudaizhe commented on #781
Thanks for your prompt reply. I am not aware of any operations that move model to and from GPU, or change the compute graph.

The model used is MoCO (don't worry, the code below is concise).  Do you have any clue?

https://github.com/facebookresearch/moco/blob/master/moco/builder.py

[2021-09-10 03:27] blefaudeux commented on #785
Hi, it supports that through ShardedDDP, if `auto_refresh_trainable` is set to true ([see](https://fairscale.readthedocs.io/en/latest/api/nn/sharded_ddp.html)). If you're using OSS alone then it cannot detect the change by itself, but you can call `.refresh_trainable()` to update the graph.

If the above does not work as expected, I'm interested in a repro, that's a bug !

[2021-09-10 03:32] blefaudeux commented on #781
Ah, I know MoCo, that's a good link !
So that's probably unrelated though, I'm guessing that the model is moved to GPU *after* the wrap of the optimizer ? If you wrap the optimizer last (after the model is moved to GPU), then the error should go away and the training will speed up a fair bit. I'll update the code to make it easier though, I get that this can be a hindrance, one sec

[2021-09-10 03:58] gongbudaizhe commented on #781
Exactly! Thank you!

[2021-09-10 04:46] min-xu-ai commented on #783
Thanks for the report. The example were indeed incorrect. It was meant as pseudo-code. But with the following code, it works now:

[code]

Basically, the encoder and decoder modules are wrapped in `l2`, not `l2` itself.

I was using pytorch 1.8.1 and fairscale master.

[2021-09-10 05:36] amsword commented on #785
Thanks for confirmation. The program is working now, without any change I can think of.

[2021-09-10 06:11] #781 closed

[2021-09-10 06:32] gongbudaizhe commented on #782
By following the advice in #781 , logging messages are more informative and it reveals that some operations involve tensors from both CPU and CUDA. After tackling these mismatches one by one, the problem is solved!

It is worth noting that these mismatches do not cause problems if DDP is used. I guess DDP handles these mismatches internally.

Thanks!

[2021-09-10 06:32] #782 closed

[2021-09-10 07:39] #785 closed

[2021-09-10 07:55] gongbudaizhe opened #789 "Does FullyShardedDataParallel support exponential moving average (EMA) of model parameters?"
## ❓ Questions and Help

Keeping exponential moving average (EMA) of model parameters is a common technique used in model training. I am wondering if this is efficiently supported in FullyShardedDataParallel.

For now, the params are assembled in forward pass and then resharded. For EMA, the params need to be assembled again,
this will slow down the training process.  Is this the case? if so, how

[2021-09-10 08:33] gongbudaizhe opened #790 "Out of memory at the beginning of a new epoch after saving checkpoint"
## ❓ Questions and Help
During the 1st epoch, the training process takes 29G memory.
After saving the 1st checkpoint, the training process takes 31G memory.
At the beginning of the 2nd epoch, the training process crashes with out-of-memory error.

What should be done to solve this problem?

[2021-09-10 14:57] #783 closed

[2021-09-10 15:40] ilmarkov opened #791 "Allreduce modules that are ignored by auto_wrap"
## ❓ Questions and Help
`auto_wrap`  seems to ignore modules that have less than 1e8 elements by default - the default parameter of `default_auto_wrap_policy` (that would be nice to be mentioned in the documentation).

The question is what happens with the ignored modules in the case of FSDP. If they are not wrapped by FSDP, do they follow the usual DataParallel, i.e. they are all_reduced every st

[2021-09-10 15:56] blefaudeux commented on #782
@gongbudaizhe OSS does some tensor rearranging behind your back (it uses bigger tensors to act as "hosts" for the smaller ones, which become tensor views), so it's a bit more sensitive to device mismatches, but in any case (even with pure DDP) you'll win out of having everything set up on the same device ! Glad that everything works for you

[2021-09-10 16:00] min-xu-ai commented on #791
Oh, sorry for the confusion. The non-wrap module should be wrapped by an outer layer of FSDP in the end. No, DDP is not needed and it is not advised to mix DDP and FSDP.

I.e. with pseudo code:

[code]
Maybe auto_wrap really should be renamed to "auto_wrap_inner_layers" or something like that. cc: @zhaojuanmao

[2021-09-10 16:00] blefaudeux commented on #790
I think that we would need a little more context, what trainer are you using for instance ?

For OSS/ShardedDDP it's a very good question, after you checkpoint one of the ranks has a consolidated state, which takes space in memory. You can clear the consolidated state by doing `optimizer._all_states.clear()` for now, but I'll add an API in a minute, it's a good call. This will give you some memory

[2021-09-10 16:01] blefaudeux commented on #790
ah wait, it's been a while.. The state is consolidated in CPU space, so it should not be the issue here

[2021-09-10 16:03] min-xu-ai commented on #789
I think this can be done although we don't have an explicit test for it.

The inefficient way is to use `summon_full_params` API and compute the moving average on the full param.

Likely, you might be able to do it directly on the shards without using `summon_full_params`.

You are welcome to add a unit test to test this out. If there is a bug, we can look into fixing. See tests/nn/data_parallel f

[2021-09-10 16:03] blefaudeux commented on #790
I'm still curious about your setup, could you tell us a little more ? Could it also be that the checkpoint is somehow moved to GPU at some point ?

[2021-09-10 16:04] min-xu-ai commented on #790
Agreed with @blefaudeux. Can you provide more details on how are checkpoints saved?

[2021-09-10 18:07] gongbudaizhe commented on #790
Below is my  script to save the state dict of model, optimizer and scaler:

[code]

Since OSS already moves params to CPU, I guess it is related to the calls of  model.state_dict() or loss_scaler.state_dict(). Is it possible to move params to CPU in model.state_dict() or loss_scalar.state_dict() ?

[2021-09-10 18:24] blefaudeux commented on #790
hmm, checking again the [code in OSS](https://github.com/facebookresearch/fairscale/blob/master/fairscale/optim/oss.py#L300) for the state consolidation, it's not obvious that we're keeping a handle on unused tensors. Couple of questions to try to unravel the mystery:
- Would you have an idea of the memory consumption on all ranks ? Is it the same, or is that an issue with the main rank (0 probabl

[2021-09-10 19:18] gongbudaizhe commented on #790
All GPUs reaches 31G memory consumption after epoch 1.

Yes

Dataloading won't leak memory is verified.

Without model.state_dict() and scaler.state_dict(), using optimizer.consolidate_state_dict()  alone increases the memory comsumption to 31G. Nevertheless, the training process won't throw OOM error anymore by removing model.state_dict() and scalar.state_dict().

[2021-09-10 20:42] blefaudeux commented on #790
oh wow, great answers, lots of signal there, thank you Bi !

Throwing ideas: if there's something wrong in the garbage collection somehow, could you try to `del state_dict` and `del model_dict` after the dump to a file ?

Checking out the code again, we're deferring to the root optimizer .state_dict() function for some of the state, there are some tensor copies there, and it's true of all ranks. I

[2021-09-10 22:05] zhaojuanmao commented on #780
@dbarnhart I'm wondering why grad reduction/reshard helps in your application? the full parameter needs to be gathered anyway before next forward pass. feel reshard will not reduce peak memory, curious about your case

[2021-09-10 22:06] zhaojuanmao commented on #780
@dbarnhart oh, sorry, never mind, I mixed parameters and grads!

[2021-09-10 23:50] dbarnhart commented on #780
For those reading later, the issue happens when the call order is [A, B, C, A, B, C]. If we defer gradient reduction and parameter freeing, we require enough memory to gather the _entire_ model and gradients. In the backward pass, we have execution order [C, B, A, C, B, A], and the model state in memory evolves as [C, CB, CBA, CBA, BA, A]. But if we can reduce/reshard immediately, then the model s

[2021-09-11 00:20] min-xu-ai commented on #780
Yeah, very good summary @dbarnhart!

We have had grad accumulation between iterations ( without no_sync() context, hence saving peak memory). This PR very cleanly extended that ability to within an iteration. Super nice!

[2021-09-11 05:06] gongbudaizhe commented on #790
By deleting model_dict of the model and scalar, the training process doesn't throw OOM anymore. However, the training process still occupies 31G memory after calling consolidate_state_dict and the memory is not released. I have tried to delete optimizer._all_states, but it doesn't help.

[2021-09-11 05:39] blefaudeux commented on #790
If it doesn't OOM then that's probably what you want, the occupied memory can be a little misleading since it includes a lot of caching which can be released on demand (unless I misunderstood and you're already aware of that, more info [here](https://pytorch.org/docs/stable/notes/cuda.html)). There's a command to manually clear the cache if you want (torch.cuda.empty_cache() I think), or measure t

[2021-09-11 05:41] blefaudeux commented on #790
by the way thanks for your test of deleting _all_states, it confirms that it's not the issue (these should be cpu memory, but still good to rule that out).

[2021-09-11 06:00] zhaojuanmao commented on #780
thanks for your explanation!

[2021-09-11 06:29] amsword commented on #740
tried to use OSS as the optimizer for apex initialization. It is runnable, but the loss is much worse. In the following, the orange curve is the one with OSS + apex.initialize (O2), while the other two is apex.initialize O2 or pytorch/amp+OSS.

![image](https://user-images.githubusercontent.com/3356680/132938717-46b70dbe-4b64-424c-bd63-4120a876c2a5.png)

[2021-09-11 16:27] blefaudeux commented on #740
oh thanks for testing ! There's probably something wrong with the scaling then, could for instance be that not all parameters are scaled in the same way, which could make sense since the Apex optimizer is not shard aware. Good to know !

[2021-09-12 19:10] #780 closed

[2021-09-12 19:33] anj-s commented on #791
@min-xu-ai  why not wrap the entire model as well when we return from auto_wrap if the outer model's params meet the conditions? Are there use cases where we don't want to do this?

[2021-09-12 19:34] anj-s commented on #743
@min-xu-ai  there was ongoing work with nn.Pipe which is why it made sense to have it. Let us chat offline about this.

[2021-09-12 19:36] anj-s commented on #734
Closing this issue due to inactivity. Please feel free to reopen.

[2021-09-12 19:36] #734 closed

[2021-09-12 19:39] min-xu-ai commented on #791
Good idea. Maybe it was intended but somehow not doing it due to a bug? Perhaps a boolean argument for this would be nice.

[2021-09-12 19:41] min-xu-ai commented on #743
I am fine either ways. Feel free to keep it if makes sense. I was just bumping it in case it is fallen through the cracks between many different tasks we have.

[2021-09-12 19:42] anj-s commented on #791
Maybe we can repurpose this issue to track this effort or do you think we should open a new issue? This seems like a nice onboarding issue for someone to take on :)

[2021-09-12 19:46] min-xu-ai commented on #791
Of course, I am fine either way. Feel free to do organize it as you see fit.

[2021-09-12 20:41] min-xu-ai commented on #758
@dave-epstein, there have been several recent changes that fixed issues around FSDP multiple forward passes in the same iteration as well as requires_grad handling in checkpoint_wrapper. It might be worth it to check if the master branch of fairscale works better for your use case. Let us know what you had found if you try!

[2021-09-13 04:49] ljz756245026 opened #793 "Do I need to upgrade my internet interface controller to 40GB or 100GB when I do parallel on multi-machine？"
## ❓ Questions and Help
I did some experiment on multi-machine.However, I found that it is really slow on training. I tried to find the reason. Finally, I found that the amount of communication data  is huge and the communication time cost a lot,which is more than 90% of the total running time. My internet interface controller(NIC) is GB NIC， whose highest bandwidth is around 1000 Mbit/s. Thus, I

[2021-09-13 07:26] gongbudaizhe commented on #790
Thanks, the current state works for me : )

[2021-09-13 07:26] #790 closed

[2021-09-13 11:48] jinze1994 opened #794 "The Argument broadcast_fp16 is not working on OSS"
## 🐛 Bug

The Argument `broadcast_fp16` is not working on `OSS`.

## Command

## To Reproduce

Steps to reproduce the behavior:

1. Add one print line in fairscale's source code [here](https://github.com/facebookresearch/fairscale/blob/31e3645371e1462c0fb119a7a54642e327d0d4bf/fairscale/optim/oss.py#L603)
[code]
2. Run a test script as below:
[code]

And the output is:
[code]

Note that we have alr

[2021-09-13 13:08] anj-s commented on #794
Thank you for opening the bug! We might want to return a new self.buffer post move [here](https://github.com/facebookresearch/fairscale/blob/31e3645371e1462c0fb119a7a54642e327d0d4bf/fairscale/optim/oss.py#L596) where we are converting the buffers to FP16. I also did not see a test where we check for the buffer type conversion which would be hard to do unless you had a way to not convert back to FP

[2021-09-13 14:14] min-xu-ai commented on #793
Yes. It is likely too slow. Also, it depends on a lot of other things, like batch size, model size, mixed precision, etc. those can change the impact of network performance in training as well.

[2021-09-13 14:53] blefaudeux commented on #794
Oh ! Thanks for the finding and the detailed bug report, it must have been broken during a refactoring (the buckets used to be in the same file if I remember correctly), it's not tested indeed :( I'll put up a fix + a test around 9:30 PT, sorry about that

[2021-09-13 18:00] #794 closed

[2021-09-14 19:53] arbabu123 opened #796 "layerdrop would cause model training to hang when used with fsdp backend"
## 🐛 Bug

If you try train a model with fully_sharded backend and use layer drop, the model training will hang. Each individual layer was also wrapped with fsdp in my particular case. It will be good if fairscale can warn about this issue when it happens to avoid people wasting time trying to debug the hang.

[2021-09-14 22:12] min-xu-ai commented on #796
Thanks @arbabu123 for filing! This may not be easy to detect in FSDP. We will think about a potential solution.

[2021-09-15 03:07] ljz756245026 commented on #793
Thank you for your immediate reply！

[2021-09-15 03:07] ljz756245026 commented on #793
Thank you for your immediate reply！

[2021-09-15 03:07] #793 closed

[2021-09-15 03:16] ljz756245026 opened #797 "Whether it is normal that the amount of communication data is huge when I do parallel on multi-machine？"
## ❓ Questions and Help
I use fairscale optimizer state sharding（OSS） to train on multi-machine， and I found that the amount of communication data is huge， which is around 2x than that of distribute data parallel. Whether it is normal?

When I do parallel on multi-machine by DDP(distribute data parallel), the amount of communication data is as follows:
![image](https://user-images.githubuserconten

[2021-09-15 17:18] min-xu-ai commented on #797
Are you using adam or SGD? That change the volume too. I haven't done a detailed calculation but @blefaudeux may have it.

[2021-09-15 17:20] min-xu-ai commented on #789
Assume there is no more questions here.

[2021-09-15 17:20] #789 closed

[2021-09-15 17:47] arbabu123 commented on #796
Workaround would be rewriting layerdrop as something like

        for i, layer in enumerate(self.layers):
            dropout_probability = np.random.random()
            if not self.training or (dropout_probability > self.layerdrop):
                mul_factor=1
            else:
                mul_factor=0

            layer_out, z = layer(x, self_attn_padding_mask=padding_mask, need_weights=F

[2021-09-15 18:12] blefaudeux commented on #797
- raw coms: yes it's expected, in that with DDP all the gradients are moved over (roughly the size of the model), and OSS adds to that the model shards.

- I'm not sure what you mean by "slave" and "master" server, but if this refers to the main rank on which the checkpoint is consolidated, then yes this is expected given the fact that all the other ranks will send their optimizer state over there

[2021-09-15 18:13] blefaudeux commented on #797
To add to what @min-xu-ai wrote above, using Adam or SGD will change the volume of data exchanged when checkpointing, but not the volume of data used while training.

[2021-09-16 02:30] ljz756245026 commented on #797
yes，I use SGD to train the model. The model size is around 96 MB. However, I found that the volume of data, which is around 189 / 264GB(OSS),  is so huge.

[2021-09-16 02:35] ljz756245026 commented on #797
I use ```tcp``` as the init_method in ```dist.init_process_group```. The master are the IP address I used in init_method. Other machine(s) are slave machine.
[code]

[2021-09-16 03:02] blefaudeux commented on #797
the amount of comms will depend on the number of GPUs in the training, the number of steps you do, and whether you consolidate a checkpoint often or not. Twice DDP is about right, no big surprise here.

If you're training with AMP though, you could use the "broadcast_fp16" option in OSS, it should remove about 1/4th of the communication volume (be sure to use current master though, this option was

[2021-09-16 03:03] min-xu-ai commented on #797
Did you just run only 1 iteration of forward and backward passes? If so, 189GB is huge. However, if you run many iterations, then, every iteration the transfer size 96MB times the number of iterations, you can get to 189GB for sure.

[2021-09-16 03:12] ljz756245026 commented on #797
I train 5 epochs and there are around 300 batches in 1 epochs.What is interesting is that for OSS, the volume of TX data and RX are different, which makes me confused. In DDP, the volume of TX and RX data are the same. Why it is different in OSS method. Did you add some tricks on communication?

[2021-09-16 03:18] min-xu-ai commented on #797
In that case, 189/264GB makes sense.

In terms of OSS's tx/rx, please check the oss.py code. It splits optimizer states unevenly between master and slave so it is expected the tx/rx being different.

[2021-09-16 03:21] ljz756245026 commented on #797
Thank you for your reply and patient explanation! Have a nice day！ 🌞

[2021-09-16 03:21] #797 closed

[2021-09-16 03:30] blefaudeux commented on #797
I tried to explain that above, but it also depends on your calls to `.consolidate_state_dict()`, if any (I wouldn't recommend more than once an hour basically, but tastes and colours..). By default this will consolidate the state on the reference rank, meaning that this rank will receive more, and the others will transmit more.

Another explanation is pointed by Min above, the model shards follow

[2021-09-17 07:37] vycezhong opened #800 "Why ShardedDDP is slower than OSS?"
## ❓ Questions and Help

I run [the benchmark code](https://github.com/facebookresearch/fairscale/blob/master/benchmarks/oss.py) on a machine with 4 A100 GPUs and got the following results.

Optimizer | Median Throughput (img/s) (rank 0) | Peak Memory (MB)
-- | -- | --
Vanilla | 1795.73 +- 11.79 | 1473.8
OSS + DDP | 1903.18 +- 25.52 | 1209.1
OSS + ShardedDDP | 1636.11 +- 7.92 | 927.6

From [the do

[2021-09-17 14:04] anj-s commented on #800
This is something we's noticed as well in with larger number of GPUs (around the 32 GPU mark).
@blefaudeux any thoughts on why this is the case?

[2021-09-17 14:59] blefaudeux commented on #800
It's a bucketing + sharding artifact, in that the sharding is not order aware, and the bucketing is constrained by the sharding. Basically in that case ShardedDDP waits for the buckets to fill in, and since the sharding is not order-aware some (most) of them will wait until the end of the BW pass. It has nothing to do with the communication volume, more about overlapping.

You can try a couple of

[2021-09-17 15:03] blefaudeux commented on #800
Another point is that DDP (and OSS alone) handle the grad reduction directly through C++, not Python, but it's not obvious that this would change much in terms of perfs.

[2021-09-17 15:07] anj-s commented on #800
@blefaudeux DDP does a similar bucketing strategy though it is probably more optimized. I wonder if we can use something similar (i.e what DDP uses) as a hook and maybe we can bridge the perf gap.

In terms of sharding not being order aware, is it that we don't shard in the order of params that we see? can you explain why using the list of params in the reverse order is not a good strategy?

[2021-09-17 15:12] blefaudeux commented on #800
"bucketing + sharding artifact", not "bucketing artifact". DDP does not shard, so they can bucket in the inverse order of the grad apparitions, meaning that the buckets don't have to wait on the way back. In our case there's sharding on top

It is a good strategy, it's not the strategy used right now (greedy sharding to get roughly similar buckets), the PRs above paved the way to make it order awa

[2021-09-17 15:14] blefaudeux commented on #800
basically the ShardedDDP featureset is included in FSDP's, hence more work on that front is not a priority I think, we could focus on FSDP instead

[2021-09-17 16:46] min-xu-ai commented on #796
@zhaojuanmao @mrshenli, how about we start a wiki page in pytorch on "FSDP FAQ" to include information like this? I think there are a lot tribal knowledge and tips and tricks that people have accumulated over how to best use FSDP. A FAQ wiki might be useful to future users. What do you think?

[2021-09-17 16:53] zhaojuanmao commented on #796
@min-xu-ai sounds a great idea, let me start one and start with this issue:)

[2021-09-17 19:42] tmarkstrum opened #801 "new nccl_base_collectives slow down the FSDP performance when GPU memory usage is high"
## 🐛 Bug
After this pull request: FSDP uses _allgather_base and _reduce_scatter_base,
https://github.com/facebookresearch/fairscale/pull/729/files, people observe some performance slow down when GPU usage is high.
The reason is that if GPU memory usage is increased to some point, cuda cache allocator will has some issue and caused cudaMalloc to be very slow.

## Command

## To Reproduce

Steps to

[2021-09-17 19:49] apsdehal opened #802 "Checkpoint wrapper doesn't support dict return type"
## 🐛 Bug

I have been trying to wrap some modules which return dict output type with checkpoint_wrapper. It looks like it only returns keys back.

## To Reproduce

[code]

## Expected behavior

I should get dict back as it is.

## Environment

fairscale version: 0.3.7

[2021-09-17 21:19] murnanedaniel opened #804 "Model Offloading Issues"
## ❓ Questions and Help

I have some issues with using and understanding model offloading.

1. The tutorial on model offloading (.../tutorials/offload_model.html) is not functioning out-of-the-box. Directly copying in this example on line `output = model(inputs)` gives the error:
[code]
Presumably the fix is to use `output = offload_model(inputs)`? If so, this leads me to the second question:
2. H

[2021-09-18 04:11] min-xu-ai commented on #804
cc @anj-s

[2021-09-18 04:13] min-xu-ai commented on #804
Can you share a bit about your use case, @murnanedaniel? Do you have a single GPU and you want to training bigger model by offloading to the CPU memory? How big is your GPU and CPU memory? Do you have very fast CPU/GPU PCIe bandwidth?

[2021-09-18 04:27] min-xu-ai commented on #802
Thanks for the nice reproduction case. I can confirm it is indeed the case.

Right now, checkpoint_wrapper assumes that the forward function either returns a single Tensor or a list of things with some return values being Tensors, some are not. See `split_non_tensors` function in `fairscale/utils/containers.py'.

We currently don't support forward returning a dict. In that case, `checkpoint_wrappe

[2021-09-18 05:43] murnanedaniel commented on #804
Hi @min-xu-ai, thanks for the quick reply. My current setup is a single V100 (~16Gb) with NVLink interconnect to a Skylake with about 40Gb memory. This is on the [NERSC Cori HPC system](https://docs-dev.nersc.gov/cgpu/hardware/). The particular use-case is training GNNs on particle physics problems, which are non-trivial to shard across GPUs (due to message passing in the graph) - hence the single

[2021-09-18 19:59] min-xu-ai commented on #804
I will let @anj-s provide more details. However, pcie 3 is not very fast and nvlink might be faster than it. In that case, multiple GPU might be faster than going to the CPU memory over pcie.

Do you have more details on the GNN, like the pytorch code of it or high level overview of it?

[2021-09-18 21:39] murnanedaniel commented on #804
Training time is not a huge concern (within reason), but I see your point. We are working on a system that can split the graph data across GPUs for training the GNNs, but this is not working reliably yet. [Here is one of the models](https://github.com/HSF-reco-and-software-triggers/Tracking-ML-Exa.TrkX/blob/master/Pipelines/TrackML_Example/LightningModules/GNN/Models/agnn.py) we are using, with th

[2021-09-19 03:36] vycezhong commented on #800
@blefaudeux  I got it. Thanks for you explanation!

[2021-09-19 03:36] #800 closed

[2021-09-20 00:09] amsword opened #805 "How to use FSDP if some parameters are moving average of other parameters"
## ❓ Questions and Help

The following program crashes with the following messages. Any suggestion on how to use FSDP to update parameters by moving average?

[code]

[code]

[2021-09-20 14:47] tmarkstrum commented on #801
Added a toggle with an environment variable ENABLE_NCCL_BASE_COLLECTIVES=[0,1] to allow users enable/disable using new nccl base collecectives. By default, using new nccl base collectives is enabled. To disable mccl base collectives, please set the environment variable ENABLE_NCCL_BASE_COLLECTIVES=0 to disable using new mccl base collectives.

[2021-09-20 15:06] suchenzang commented on #689
@zhaojuanmao For context - does this bug only come up with ShardedGradScaler usage?

[2021-09-20 15:59] anj-s commented on #805
Given we flatten params, there might be a mismatch when you use named_parameters. Can you try this with flatten_parameters=False instead of flatten_parameters=True?

[2021-09-20 16:43] amsword commented on #805
Thanks for the suggestion. I tried, but it fails with the following error.
[code]

Then, do you think it is ok to remove the special keyword of _fsdp_wrapped_module to update the parameters? Some concern is that each rank only has partial valid parameters based on how FSDP works. Does this update gather the correct parameters?

[code]
The parameter updates is good to go, but it fails with the foll

[2021-09-20 17:17] anj-s commented on #804
Thanks for bringing this to our attention! you are absolutely right. Opened a [PR](https://github.com/facebookresearch/fairscale/pull/806) to fix this.

You can use the offload benchmark script and [toggle fp16 and activation checkpointing](https://github.com/facebookresearch/fairscale/blob/ssd_offload/benchmarks/experimental/offload.py#L421) to compare throughput and peak memory allocated. The ot

[2021-09-20 17:56] zhaojuanmao commented on #689
@suchenzang it seems not to be related to ShardedGradScaler, it happened when flatten=True only

[2021-09-20 18:34] apsdehal commented on #802
Hi, thanks for the response.

For this specific use case, yes, I can probably adjust it. But, in general, MMF and a lot of other frameworks (including HF/transformers) return dict type by default. But, in most cases, this dict type is `Dict[str, Tensor]`. I would suggest that we atleast support `Dict[str, Tensor]` and gracefully fail when there are nested dicts.

[2021-09-20 23:56] min-xu-ai commented on #805
Thanks @anj-s for the suggestion.

I think the issue is that self.teacher is likely wrapped by FSDP. @amsword, can you print out the entire model and paste the output here? Just auto_wrap a model with FSDP may not give you the best effect on memory saving and it can cause the error like what you are seeing because you cannot always reach into a FSDP-wrapped module like it is before it is wrapped.

[2021-09-21 04:14] amsword commented on #805
Thanks @min-xu-ai @anj-s . The error disappears after freezing the parameters in self.teacher. So now, it is runnable, but is it working as expected as each rank only holds a portion of the parameters? If logically it is correct, in this way, it has no speed-up compared with the traditional pytorch/DDP, right?

[2021-09-21 05:46] min-xu-ai commented on #805
FSDP is not primarily for speeding up training compared to DDP. It is mainly for training bigger models. Also, you will need to wrap your big model in careful ways to fully realize its potential.

[2021-09-29 06:43] elevenxiang opened #810 "test_column_paralle test assert on A100"
Hi,

After install the fairscale, I try to run the example test as below:

pytest tests/nn/model_parallel/test_layers.py -s -rA -k  test_column_paralle

And then met the assert error, is this normal ? is it dependent on Hardware ?

tests/nn/model_parallel/test_layers.py::test_column_parallel dist init r=0, world=2
dist init r=1, world=2

[W ProcessGroupNCCL.cpp:1569] Rank 1 using best-guess GPU 1

[2021-09-29 06:53] elevenxiang commented on #810
BTW, how to run test_row_parallel ?

Can I remove the "@pytest.mark.skipif("OMPI_COMM_WORLD_RANK" not in os.environ, reason="only works on mpi")" to run it ? or I have to must use mpirun to trigger it ?

mpirun -n 2 -mca orte_base_help_aggregate 0 python -m pytest tests/nn/model_parallel/test_layers.py -s -rA -k  test_row_parallel

[2021-09-30 15:47] blefaudeux opened #811 "[feat] Multiscale grad scaler"
## 🚀 Feature
The GradScaler as supported in Torch AMP handles an optimal scaling factor in between fp32 and fp16 to catch possible underflow and overflows, as explained [here](https://pytorch.org/docs/stable/amp.html?highlight=grad%20scaler#id5).

Implement a multiscale grad scaler, either per param or or per param group, while trying to stick as close as possible to the current GradScaler API.

#

[2021-09-30 16:12] SeanNaren commented on #811
Love this idea! I think it will bring more stability to various models in AMP :)

[2021-10-05 21:29] min-xu-ai opened #812 "replace fused Adam cuda kernel with a Triton based one"
see here: https://github.com/facebookresearch/fairscale/tree/main/fairscale/clib/fused_adam_cuda

This has been an issue in terms of building it from source. If it can be replaced with a triton one with similar to better performance, maybe we should do that to ease the fairscale installation process.

[2021-10-06 22:27] murnanedaniel commented on #804
@anj-s Thanks very much for this thoughtful reply (and apologies for the delay of my own).

I've been doing some tests to understand better how to apply the Fairscale offloading to our GNN case. I have converted our recurrent GNN to a simple set of nn.Sequential models, and have been working from the simplest possible case towards these more sophisticated GNN models. I believe I have found a culpr

[2021-10-08 07:17] timothybrooks opened #813 "Could fairscale 0.4.1 release be added to PyPI?"
## 🚀 Feature
pip install newest version is 0.4.0.

[2021-10-08 11:59] anj-s commented on #813
Definitely, we should have a pip release and we usually do for the latest version.

@tmarkstrum did the latest release so I'll let her comment. I don't see it on PyPI for some reason.

[2021-10-08 20:09] #813 closed, assigned to tmarkstrum

[2021-10-15 13:05] anj-s commented on #601
@chunfuchen Did you get a chance to figure out the issue? Would like to understand more and help if possible. Thanks!

[2021-10-15 13:43] anj-s commented on #805
Closing this issue for now. Please reopen or file a new issue if you have questions. Thanks!

[2021-10-15 13:43] #805 closed

[2021-10-18 08:34] shellysheynin opened #815 "failed loading state dict with used_shard_state=True"
Hi, i'm trying to train fully sharded transformer. At the beginning, I started to train the model with use_shard_state=False, but it failed when tried to save the checkpoint, since there are several flatten params (for the encoder module and the decoder module), and with use_shard_state=False, it expects to see only one flatten param. am I right?
So after changing to use_shard_state=True it worked

[2021-10-18 12:35] anj-s commented on #815
@shellysheynin  Thanks you for opening the issue and letting us know how you fixed it! We do test for shared and expert params in our unit tests so I am trying to understand how your model may be different than the [one used in the test](https://github.com/facebookresearch/fairscale/blob/fecb665b812b6bfc38442e1fb1557e21508917f4/tests/nn/data_parallel/test_fsdp_metadata.py#L180).

[2021-10-18 12:47] anj-s commented on #804
@murnanedaniel Apologies for the late reply! Can you isolate the effects of a large "batch" size by using a small number of edges (=1) with the same deep network? Does that change the memory allocation?
The other question I did have is how are you slicing your network? I see that you set num_slices=num_layers and the default value is 3. Can you slice your model with finer granularity?

[2021-10-18 13:04] anj-s commented on #230
@min-xu-ai  Is this something we want to work on? Could this be an onboarding task?

[2021-10-18 13:05] anj-s commented on #234
@min-xu-ai Is this something we should work on in the future? Would this be a good starter task?

[2021-10-18 13:07] anj-s commented on #307
Closing this issue since we have upstreamed single process Pipe to PyTorch and this is not needed for testing Pipe regressions.

[2021-10-18 13:13] anj-s commented on #351
Closing this since the question has been answered.

[2021-10-18 13:13] #351 closed

[2021-10-18 13:14] #462 closed

[2021-10-18 14:21] anj-s commented on #613
@min-xu-ai I have a change in the pipeline that decouples cpu_offload/move_params_to_cpu from mixed_precision. I wasn't sure about the fp32_reduce_scatter change. Is this to cover the case when we set mixed_preision=False but the inputs/params are in FP16 i.e full FP16 mode? Can you provide me with a use case where this decoupling would help?

[2021-10-18 15:37] min-xu-ai commented on #430
@zhaojuanmao

I think new FSDP code will likely address this by adding an API for getting views for all original params to the flatten param. The views can be partial or even empty.

[2021-10-18 15:49] sshleifer commented on #539
Still an issue, don't have workaround.

[2021-10-18 21:39] blefaudeux commented on #811
Just an idea which popped when discussing with a researcher: ideally we should have an optimizer which fuses the scaling part (same as our Adam/CUDA), and in that case having a scale per param group could keep the speed (for pointwise optimizers we could still process all the tensors in one go), while opening up more degrees of freedom for fp16 to fit

[2021-10-19 01:20] vimalmanohar opened #816 "Fairscale checkpoint wrapper does not support deepcopy"
Came across a very tricky issue with fairscale checkpoint wrapper.
Checkpoint wrapper wraps the forward function in https://github.com/facebookresearch/fairscale/blob/8acbec718f3c70a6b9785470bb9e05cd84fc3f8e/fairscale/nn/checkpoint/checkpoint_activations.py#L154-L156

copy.deepcopy(module).forward will be calling module.forward due to the weakref being passed to through the partial function. This

[2021-10-19 02:38] anj-s commented on #491
@min-xu-ai Does it make sense to take any of the above issues or should we figure out the larger issue behind the behaviors mentioned above? It seems like checkpoint_wrapper may not have the most consistent behavior with FSDP.

[2021-10-19 15:53] DavidPeleg6 commented on #734
@anj-s  , Any updates on tensor parallelism and its documentation?

[2021-10-21 22:08] anj-s opened #824 "[benchmarks][bug] PyTorch version update from 1.8.1 to 1.9.0 causes regression in OSS"
## 🐛 Bug

Updating the PyTorch version from 1.8.1 to 1.9.0 results in a regression in the loss value we see when running OSS benchmarks.

See [PR](https://github.com/facebookresearch/fairscale/pull/823/files) for more details.

Update:
We are also seeing a regression in [speed](https://app.circleci.com/pipelines/github/facebookresearch/fairscale/3594/workflows/e0e4bbc2-8470-4dc4-975f-aa78391553cf/

[2021-10-22 16:34] awgu opened #826 "Offload without Checkpointing: No Reduction in Max GPU Memory"
**Overview**
I am exploring some techniques for saving GPU memory during training, including [Fairscale's `OffloadModel`](https://github.com/facebookresearch/fairscale/blob/main/fairscale/experimental/nn/offload.py). As an initial exploration, I have been testing with a ResNet152 implementation based on [this repo](https://github.com/Lyken17/pytorch-memonger/blob/master/memonger/resnet.py) (instea

[2021-10-22 21:58] EugenHotaj opened #827 "shard_model does not respect shard_count."
## 🐛 Bug

`autoshard.shard_model()` does not respect `shard_count`. See [comments](https://github.com/facebookresearch/fairscale/pull/817/files#r733237403) in https://github.com/facebookresearch/fairscale/pull/817 for more context and how to reproduce.

[2021-10-24 01:27] #824 closed

[2021-10-27 00:16] #827 closed, assigned to nobody

[2021-10-27 21:51] carmocca opened #834 "[0.4.1] ValueError: Attempting to unscale FP16 gradients."
## 🐛 Bug

[code]

## Command

`python script.py` on a GPU machine

## To Reproduce

[code]

## Expected behavior

I'm not entirely sure whether this is a problem on our end or in the release. But this did work with the 0.4.0 release.

cc @SeanNaren

## Environment

[code]

Thank you for your help!

[2021-10-29 21:37] anupam-fb commented on #834
I have been able to reproduce the issue. The root cause is the _unscale_grads_ function call [here]( https://github.com/pytorch/pytorch/blob/master/torch/cuda/amp/grad_scaler.py#L279). The value for allow_fp16 is set to False, hence your code is breaking.

Copy the `_unscale_grads_` function from **fairscale** GradScaler class (https://github.com/facebookresearch/fairscale/blob/main/fairscale/opti

[2021-10-29 22:23] anupam-fb commented on #834
@anj-s If we extend the `_unscale_grads_` to ShardedGradScaler with the allow_fp16 set to True, then this issue is resolved. I checked that all tests in the TestComparisonToPyTorchDDP class passed on top of the cpu_gradscaler branch. If other tests pass as well (which I haven't checked yet) then this will be an easy fix.

[2021-11-01 18:12] anj-s commented on #834
@anupam-fb  thanks for looking into this! The fix sounds good. The only things I would follow up on are:
1.  Do we have existing tests for FSDP + FP16 + ShardedGradScaler? This is just to make sure we either did not cover this use case or the test did not fire as expected.
2. Understand more about the use case where this might be useful. For example, what kind of optimizer would be used with FP16

[2021-11-03 02:23] vimalmanohar commented on #816
This might be a workaround in general. But in my usage setting, I guess it's not easy to do `m2 = Model()` as I might not have access Model class where m2 is created.

[2021-11-04 18:03] anupambhatnagar opened #842 "Setup pre-commit hooks for fairscale"
- Setup pre-commit hooks for fairscale to standardize the formatting for all users. This can be setup using github actions.
- Investigate any discrepancies between using the command line vs. `pre-commit run -a`
- Update documentation regarding pre-commit

[2021-11-04 18:06] anupambhatnagar opened #843 "Circle CI upgrades"
- upgrade CI to use T4 instances
- upgrade pytorch versions in CI

[2021-11-04 18:12] anupam-fb commented on #843
config from x-formers https://github.com/facebookresearch/xformers/blob/main/.circleci/config.yml#L18

[2021-11-08 18:28] yifuwang opened #844 "FullyShardedDataParallel: only return full state dict on rank 0"
## 🚀 Feature

## Motivation

Currently, `FullyShardedDataParallel.state_dict` returns full state dict on all ranks. If `state_dict_device` is CPU (https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L2221), the memory footprint of the operation will be `[SIZE_OF_FULL_STATE_DICT] * [NUM_DEVICES_PER_NODE]`. This can sometimes cause hosts

[2021-11-09 22:53] #843 closed

[2021-11-12 02:22] #842 closed

[2021-11-12 13:40] NaveedMaz opened #850 "fairscale support for unet/vnet like architectures"
## ❓ Questions and Help
Hi,
I have resnet based vnet/unet model which i can only make as a nn.module model, with the input shpare of [1, 1, 60, 256, 256] and the same output shape I need more than 40 GB VRAM, Is it possible for me use fairscale library in such a way that i could train it in my RTX 2060 SUPER? Kindly help I am very new to these kind of optimizations and I don't know how to apply th

[2021-11-13 12:34] lcrun opened #852 "Could FSDP work with MoE?"
## ❓ Questions and Help
Hi Experts,

We are currently trying to apply FSDP to train a SWIN model, which has MoE layers and non-MoE layers. But We are not sure whether we can **only** wrap the MoE layers with FSDP ? If it was supported, Are there any example I can refer to？

It is appreciated that you can help!

[2021-11-15 14:26] anj-s commented on #852
@lcrun Just to clarify: are you looking to shard the MoE layers over multiple devices? You should be able to wrap only the layers you need with FSDP by using the `enable_wrap` and `wrap` APIs. (See the last [example](https://fairscale.readthedocs.io/en/latest/tutorials/oss.html) on this page of the docs site. We are working on an example for MoE and will add it to the docs soon.

What kind of shar

[2021-11-15 14:32] anj-s commented on #850
Can you tell me at what point you are running into GPU OOMs? is it during model building or when the first input is ingested by the model? If it is during model building I would suggest using [FSDP](https://fairscale.readthedocs.io/en/latest/deep_dive/oss_sdp_fsdp.html) to shard model state. If the model size is small and it is the intermediate activations that are causing OOMs I would suggest usi

[2021-11-15 22:29] #421 closed

[2021-11-15 22:36] SeanNaren commented on #421
Thanks @anupambhatnagar for getting this fixed :)

[2021-11-15 22:38] anupambhatnagar commented on #834
1. Yes, we have added tests to cover this case.
2. I'll look into these as I continue to work on layer wise grad scaler.
3.  Don't know why PyTorch didn't enable. The function is for internal use only (private) and hence they have limited functionality enabled.

[2021-11-15 22:40] anupambhatnagar commented on #834
@carmocca The solution to this issue has been merged in main. Could you try installing fairscale (`pip install -e setup.py`) from the main branch and let us know if that works for you? The solution will be available in FairScale 0.4.3 out of the box.

[2021-11-15 23:06] carmocca commented on #834
@anupambhatnagar Seems to be working, thank you! Feel free to close this issue.

Also, please ping me here once 0.4.3 is released, the Lightning CI has fairscale pinned at the moment.

[2021-11-15 23:15] #834 closed

[2021-11-16 02:07] lcrun commented on #852
Hi @anj-s, the goal we expected to applying FSDP is to save MoE layer GPU memory usage since we have redundancy replicas of a Expert on multiple devices.

More Specific:

**Before applying FSDP**, we have already sharded the Experts of MoE on different GPU devices, For example: we have 8 GPUs [g0, g1, g2, g3, g4, g5, g6, g7], and 4 experts: [e0, e1, e2, e3]; the experts on device will be  e0->g0,

[2021-11-16 19:33] NaveedMaz commented on #850
model build is successful but when i throw first input to the model it is giving me OOM errors also could you please tell me more about the checkpoint_wrapper because i don't know how it works. I more question can you tell me how can i use nn.Module model to offload most of it's components. The problem with unet like structure is that the decoder layers need concatenation from the encoder as well

[2021-11-17 03:15] gongbudaizhe opened #854 "[feature request] support switch transformer and add an example"
## 🚀 Feature
support switch transformer and add an example demonstrating how to train with multiple gpus and do inference on a single GPU.

## Motivation
Switch transformer is a good way for scaling models while maintaining efficiency for deployment. The potential influence is huge.

## Pitch

1. for now, gshard is supported via top2gating, we need top1gating for switch transformer.
2. a mechanism

[2021-11-19 05:53] stanleyshly opened #862 "Support for Checkpointing and Offloading Without Requiring a Sequential Based Model"
## 🚀 Feature
Title
## Motivation
Deepspeed, and some other offloading frameworks don't require a sequential based model for offloading or gradient checkpointing. It would be nice to not need to port models to a NN.sequential format, and it would the barrier to try out existing SOTA models a lot lower.

## Pitch
Not much can go here, update fairscale to work without NN.sequential?
For sure, this wo

[2021-11-19 11:08] gongbudaizhe opened #864 "[feature] support normalization, scale and margin in MEVO"
## 🚀 Feature
currently, vanilla FC + softmax + nllloss is supported in MEVO. In face recognition, cosface loss is commonly used which additionally normalize both the input feature and fc weights and add scale and margin to the logits.

## Motivation
face recognition models are typically trained with millions of IDs. MEVO will have broader impact in face recognition field if CosFace is supported.

[2021-11-19 17:00] min-xu-ai commented on #864
wow, this is very interesting. I haven't seen this before. Thanks @gongbudaizhe. Do you have some example code of cosface loss that's easily understandable? If you have time, I can help you with that. Otherwise, I will try to find time with this in the future depending on my other workloads.

[2021-11-21 16:08] anj-s commented on #852
Yes, you can achieve this using FSDP. If I understand correctly, for a given expert you want to shard the params across 2 GPUs - e0 across g0 and g4. The APIs you mentioned were correct i.e you use the enable_wrap() context and call wrap() on the MoE layer. However when you do this you'll need to specify the [process group](https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_

[2021-11-22 03:33] gongbudaizhe commented on #864
Thanks for your interest. @min-xu-ai  Below is the sample code of cosface loss.

[code]

[2021-11-22 16:51] min-xu-ai commented on #864
Thanks @gongbudaizhe! Can you provide shape and dtype for x, w, im_label for big scale use cases for the code above?

[2021-11-22 19:11] foreveronehundred opened #867 "Bug for using grad_scaler.py"
Function _maybe_opt_step cannot be found (line 316 in grad_scaler.py).

[2021-11-22 19:13] foreveronehundred opened #868 "Problem of grad_scaler.py with pytorch 1.8.0"
The following line does not work for pytorch 1.8.0. Please fix it. Thanks.
from torch.cuda.amp.common import amp_definitely_not_available

[2021-11-23 01:42] gongbudaizhe commented on #864
@min-xu-ai updated in my last comment : )

[2021-11-23 02:14] min-xu-ai commented on #864
Is the 8-64 a reasonable size for B and 128-1024 a good number for D?

[2021-11-23 02:48] gongbudaizhe commented on #864
yes, these settings are good. Personally, I use B = 64, D = 256.

[2021-11-23 17:07] min-xu-ai commented on #867
cc @anj-s  @anupambhatnagar

[2021-11-23 17:08] min-xu-ai commented on #868
cc @anj-s @anupambhatnagar

[2021-11-23 17:10] min-xu-ai commented on #864
I have one more question @gongbudaizhe.

Is this needed in your research or you are doing a product with this? The reason I am asking is that this has impact on the use cases of face rec. Will this enable massive surveillance of people without their consent? We all need to be mindful about social impact of the technologies that we work on. Thank you in advance for the discussion.

[2021-11-23 19:18] anj-s commented on #867
@foreveronehundred can you give me more info about the PyTorch version you are running? Can you provide a small repro?

[2021-11-23 19:20] anj-s commented on #868
Is this different than https://github.com/facebookresearch/fairscale/issues/867 because you are using a different PyTorch version?
Just to let you know, we have standardized our testing for the [following](https://github.com/facebookresearch/fairscale#testing) PyTorch versions

[2021-11-23 22:20] foreveronehundred commented on #867
1.8.0

[2021-11-23 22:50] foreveronehundred opened #869 "Unwrapped and wrapped parameters have different data types"
## ❓ Questions and Help
######## My Setting ########
mixed_precision: True
flatten_parameters: False
#########################
I used FSDP to wrap my model. For my case, I did not wrap all modules, and I left some modules unwrapped. This way, the wrapped modules have FP16 data while unwrapped modules have FP32 data. In my training pipeline, I hope the unwrapped modules could have the same data typ

[2021-11-23 23:20] anj-s commented on #869
@foreveronehundred By using mixed_precision you are storing the params in FP32 but computation takes place in FP16 precision. For the unwrapped modules, do you want to perform the computation in FP16 as well? Can you use torch.amp.autocast similar to this [test](https://github.com/facebookresearch/fairscale/blob/main/tests/nn/data_parallel/test_fsdp.py#L61)?

[2021-11-24 00:07] anupambhatnagar commented on #868
torch 1.8.0 has no file called `common.py` in `torch/cuda/amp` folder hence the import will never work. We strongly recommend rolling forward to 1.8.1. The code has been tested with that version.

[2021-11-24 00:09] anupambhatnagar commented on #867
This is being caused due to the torch version and not fairscale. As mentioned in issue #868 we recommend using torch 1.8.1.

[2021-11-24 00:10] anj-s commented on #868
Here is the exact version of PyTorch we are testing on:https://github.com/facebookresearch/fairscale/blob/main/.circleci/config.yml#L82

[2021-11-24 00:15] #867 closed

[2021-11-24 00:16] #868 closed

[2021-11-24 00:16] anj-s commented on #868
Let us know if you run into any other issues post updating the PyTorch version.

[2021-11-24 08:37] gongbudaizhe commented on #864
It is a good question. But I don't have a definitive answer.

Whether it is needed in my research or product doesn't really matter here. Once this feature is avaible, people will use it for various purposes.  Pens can kill, guns can protect.

CosFace loss is not only used in face recognition. It is also used in large scale image retrieval.

[2021-11-24 19:13] min-xu-ai commented on #864
Thank you. Can you provide some references for the above?

[2021-11-25 04:41] gongbudaizhe commented on #864
CosFace used in landmark retrieval:
https://arxiv.org/pdf/1906.04087.pdf

ArcFace (a cross entropy variant which resembles to cosface), used in a more recent framework:
https://arxiv.org/pdf/2111.00775.pdf

[2021-11-25 09:12] gongbudaizhe opened #871 "[MoE] How to do expert sharding?"
## ❓ Questions and Help

MoE models have a different expert on each gpu device. Therefore, these expert parameters should *not* be allreduced during backward pass.

To achieve this, p.expert is set to True as shown in:
https://github.com/facebookresearch/fairscale/blob/562542478a145fae410cb23ffd46a8d7c2497abb/fairscale/nn/moe/moe_layer.py#L62-L64

My question is, how is p.expert used in DDP? Is th

[2021-11-25 15:34] anj-s commented on #871
@gongbudaizhe To ensure that the experts are not allreduced across all GPUs you'll need to [set the process group](https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L286) of the expert when you instantiate the model with FSDP. The number of GPUs in the process group will be equal to 1 as expected. This should handle the BW pass. cc @s

[2021-11-26 09:50] lalchand-pandia opened #873 "Error while installing fairscale on Ubuntu 20.4"
## 🐛 Bug

I am trying to install fairscale 0.4 on python 3.6 virtual environment. But getting error indicating that main module is not found. My pytorch version is 1.8.2+cpu and pip version is 20.0.2

## Command
pip install fairscale

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection s

[2021-11-26 10:39] visionscaper opened #874 "Add the ability to turn off trainable params changed warning"
## ❓ Questions and Help
I'm posing this as a question, but it is actually a (very small) feature request.

To my understanding, when using `ShardedDDP` with `auto_refresh_trainable=True` (which is the default), I do not have to manually call `refresh_trainable()` when changing the model into `eval()` mode. Yet, while training, whenever I change the model to eval mode, to evaluate the model's valid

[2021-11-26 23:05] visionscaper opened #875 "Issue using auto wrapping of sub modules with FullyShardedDataParallel having move_params_to_cpu=True (offload)"
## ❓ Questions and Help

I'm using the following setup (extracted relevant code parts):
[code]

If I transport the `self._model` to the `self._device` when `self._p_offload_to_cpu = True` (by discarding the above if-statement) I get the error:

[code]

However, if I leave the if-statement in, I get the error:
[code]

I checked that the `weight` tensor is on CPU, while the  `input` is on `cuda:0`.

[2021-11-27 00:24] visionscaper commented on #875
I think I found the solution, I needed to wrap the root module too!

[code]

[2021-11-27 01:33] visionscaper opened #876 "Auto wrapping Huggingface models with FullyShardedDataParallel can break them"
## 🐛 Bug

If you auto wrap a HuggingFace model with `FullyShardedDataParallel`, depending on what sub-modules are wrapped, and how the output of the modules are accessed in the model, calling `forward` can result in exceptions.

## What happens

Some sub-modules of the HuggingFace model output a child implementation of [`ModelOutput`](https://github.com/huggingface/transformers/blob/8b240a06617455

[2021-11-27 01:44] visionscaper commented on #876
^ Updated the issue text, by accident published it early.

[2021-11-27 19:13] anj-s commented on #875
@visionscaper Thank you for filing this issue. We've come across users having some confusion about what auto_wrap is expected to do for the root module. We will follow up to clarify this via API or doc changes.

[2021-11-27 19:13] #875 closed

[2021-11-27 19:18] anj-s commented on #874
That makes sense! I suspect we can't figure out when the user has intentionally changed the trainability of params.

[2021-11-27 19:27] anj-s commented on #873
Can you paste the stack trace of the error you are seeing?

I would suggest checking where the fairscale module is installed and if it matches the environment. From the issue description it is not clear if you are having trouble importing the FairScale library or it is a Python issue related to finding installed modules.

[2021-11-29 01:38] gongbudaizhe commented on #871
Thank you for your prompt reply.

If we need to set the process group to shard the expert parameters, then what is the purpose of setting p.expert = True ?

[2021-11-29 02:02] mrshenli commented on #871
There is a private `_set_params_and_buffers_to_ignore_for_model` API to tell DDP to ignore params and buffers. See the function below:

https://github.com/pytorch/pytorch/blob/6ae34ea6f8b65d2ad36e417c3d525507901cfd7f/torch/nn/parallel/distributed.py#L1557-L1581

[2021-11-29 20:35] min-xu-ai commented on #876
Is there a way to use a custom wrapping policy instead of the default_auto_wrap_policy function in this case? FSDP can't easily detect what is a safe boundary for wrapping a sub-module.

[2021-11-29 22:51] visionscaper commented on #876
Hi @min-xu-ai, uhm, maybe, if you, for instance, look at the [`GPT2LMHeadModel`](https://github.com/huggingface/transformers/blob/6fc38adff272ea3148e05888edf67eeb00170453/src/transformers/models/gpt2/modeling_gpt2.py#L943) you can find natural boundaries, such as the [decoder blocks](https://github.com/huggingface/transformers/blob/6fc38adff272ea3148e05888edf67eeb00170453/src/transformers/models/g

[2021-11-29 23:04] visionscaper commented on #876
PS: In the trainer.py of the Huggingface Transformers repo, [models are wrapped only on the top level](https://github.com/huggingface/transformers/blob/6fc38adff272ea3148e05888edf67eeb00170453/src/transformers/trainer.py#L982), hence the issue does not occur:

[code]
Although, using the `ShardedDDPOption.AUTO_WRAP` option might cause issues.

[2021-11-29 23:59] min-xu-ai commented on #876
Sorry, I read your Report too quickly. You are right. The fix seems to be reasonable. The only potential issue is when x.__class__() fails when it expects some mandatory Args.

Feel free to send us a PR. Thanks!

[2021-11-30 03:01] foreveronehundred opened #878 "[FSDP] reshard_after_forward = False for root instance"
[code]
According to the following code (from fully_sharded_data_parallel.py), we can find that reshard_after_forward is set to False for root instance (for better performance). However, when we use autowrap() to wrap model, we only wrap leaf nodes, i.e., every leaf is an FSDP root instance. In this case, every FSDP instance's reshard_after_forward will be set to False even if we set reshard_after_

[2021-11-30 22:56] visionscaper commented on #862
What are the challenges of generalising `OffloadModel` beyond `nn.Sequential` models? I'm very interested in this topic. Who can shed more light on this? Thanks.

[2021-12-02 15:27] min-xu-ai commented on #878
Only the root should have it set to force and won't affect memory usage. See PR #880 to fix a bug related to this.

[2021-12-02 15:29] min-xu-ai commented on #878
You can checkout `min/fix` branch or apply the patch yourself to see if my fix fixes your issue.

[2021-12-02 16:00] #878 closed

[2021-12-06 16:08] #876 closed

[2021-12-07 05:13] butsugiri opened #883 "FSDP crashes when saving optimizer state"
Hi, thank you for the great library.

## Problem

I am currently trying to train Transformer Encoder-Decoder model with FSDP setup.
However, the program crashes in the middle of saving optimizer parameters.

This problem only occurs when I try to train a large model (e.g. 24 layers).
Setting the number of layers to 1 seems to be working OK.

## Error

[code]

## Environment

- PyTorch:  1.10.0a0+e

[2021-12-07 08:47] gongbudaizhe commented on #871
For me, FSDP is hard to work with since exponential moving average of params is needed in my model.

By simply using DDP, MoE works fine. Thanks.

[2021-12-07 18:50] min-xu-ai commented on #883
This is strange. I remember that fairseq uses flatten_parameters=True already. @dianaml0, do you happen to know what might be happening?

[2021-12-07 18:51] Cattacker commented on #883
这是来自QQ邮箱的假期自动回复邮件。我已收到您的邮件。

[2021-12-14 22:10] visionscaper commented on #874
Hi @anj-s, I took the liberty to create a PR for this, let me know what you think. You're welcome to use the fix if you want.

[2021-12-16 06:28] #874 closed

[2021-12-17 15:08] ilmarkov commented on #791
@min-xu-ai Thank you for the answer. It is still unclear for me why user can't wrap the entire model with FSDP to have all child modules synchronized with the same API as `torch.nn.parallel.DistributedDataParallel`. Are there cases when user wraps not the entire model but only large parts of them without need to synchronize the others?

Could you also explain the difference between wrapping a modu

[2021-12-17 17:57] min-xu-ai commented on #791
We should improve the doc. Feel free to send a PR to us. The difference is that wrapping inner children enables FSDP to shard the parameters in a more memory efficient way. I.e. by wrapping the models with multiple FSDP instances, the parameters are grouped into each FSDP instances, which in turn shard them and free the memory as soon as the computation is done with the parameters during both forw

[2021-12-22 13:06] aced125 opened #893 "fairscale.nn.checkpoint_wrapper weakref can't be used with Ray Lightning"
I get

[code]

It works without ray lightning.

This is because in `fairscale.nn.checkpoint_wrapper`, we have

[code]

@amogkam

[2021-12-23 02:54] guozhiyao opened #894 "Does it supports the multi-process pipe?"
I use the DDP in my model, which use multi-process, and I want to add the pipe to the model

[2021-12-23 08:23] guozhiyao opened #895 "message.tensors[0] error"
I want to use the `PipeRPCWrapper` to do the PP in multi-process. I follow the `tests/nn/pipe_process/test_rpc.py` and my code as follow
[code]
and the error shows that
[code]

[2021-12-26 08:26] guozhiyao opened #898 "[BUG] PipeRPCWrapper"
https://github.com/facebookresearch/fairscale/blob/541bb8c9902cb91092ce713008d87d7f1b5adf7a/fairscale/nn/pipe/rpc.py#L236

This line should be `grads_message = transport.recv_message_header(grads_message.queue_name)`. Because when we call the `_send_result_and_do_backwards`, we haven't do the backward, so the process should be hand up untill we call the `backward`.

The same problem as this one:
h

[2021-12-30 09:15] foreveronehundred opened #899 "Why should we exclude MultiheadAttention for FSDP wrapping in default_auto_wrap_policy?"
I saw in the default_auto_wrap_policy (auto_wrap.py), you exclude MultiheadAttention when applying autowrap.
https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/wrap/auto_wrap.py#L71

However, I have tried to wrap MultiheadAttention layer with FSDP, and the training result was correct without making any mistake. May I know the reason why you decide to exclude MultiheadAttention  w

[2021-12-30 16:23] tmarkstrum opened #900 "Unit tests tests/experimental/nn/test_offload.py::test_correctness failed in the main branch"
This is at main branch.

~/fairscale$ pytest tests/experimental/nn/test_offload.py
================================================================================ test session starts =================================================================================
platform linux -- Python 3.8.8, pytest-5.4.1, py-1.10.0, pluggy-0.13.1 -- /private/home/tmarkstrum/.conda/envs/dev/bin/python
cachedir

[2021-12-31 03:11] foreveronehundred commented on #878
Again, I want to emphasize that in my case, I used autowrap() and I only wrapped leaf modules. So, every wrapped modules is a FSDP root module, and every module will not be resharded since it is a root FSDP module. It is what we want because when these modules (except the last module) can be reshard to save memory after their forward finishes (backward will not happen immediately).

[2021-12-31 05:37] min-xu-ai commented on #878
I see. That’s a case we don’t currently test. The workaround you are using is likely fine. Feel free to send us a PR with FSDP changes and with unit test if you want this case supported. We can take a look for sure. Thanks!

[2021-12-31 15:34] jerryli1981 opened #901 "FSDP: Can't work with megatron bert/gpt model"
Even when I didn't use model parallel from megatron, I still can't let megatron model work with FSDP
--tensor-model-parallel-size 1 \
--pipeline-model-parallel-size 1 \

   output_parallel = F.linear(input_parallel, self.weight, bias)

   return torch._C._nn.linear(input, weight, bias)
RuntimeError: setStorage: sizes [768, 2304], strides [1, 768], storage offset 87985152, and itemsize 4 requiring

[2022-01-04 17:15] min-xu-ai commented on #901
We haven't made any effort in testing FSDP with Megatron yet. Thanks for reporting nonetheless.

Can you share a more complete version of test that fails on you? Please make sure it is as simple, as short as possible. Thanks a lot!

[2022-01-04 17:16] min-xu-ai commented on #900
Does this fail from time to time or consistently for you @tmarkstrum? It seems that CI is green for the main branch though.

[2022-01-04 17:18] min-xu-ai commented on #899
We didn't exclude it in the wrapping. The code you are referring is trying not to wrap a sub-module within the MHA module. We will still wrap it just not let auto_wrapper to break MHA into different FSDP instances.

Hope this answers your questions. Please just reopen if it doesn't answer all of your questions. Thanks!

[2022-01-04 17:18] #899 closed

[2022-01-04 17:19] min-xu-ai commented on #898
Thanks for the bug report @guozhiyao!

Do you want to send us a PR with the fix and make sure all the unit tests pass with the fix?

[2022-01-04 17:22] min-xu-ai commented on #895
Thanks for the report. Is this still a problem after you have found the bug in #898?

Unfortunately, we no longer have the expert on MP pipe within the FB team. If you have time to fix it up, it would be great. Otherwise, I am afraid that this won't be fixed any time soon.

[2022-01-04 17:23] min-xu-ai commented on #883
OK, I think not much is going to happen here. Feel free to reopen. Best way forward is perhaps to try a different and newer fairseq version.

[2022-01-04 17:23] #883 closed

[2022-01-04 17:25] min-xu-ai commented on #894
Thanks for the issue. However, it doesn't have enough information for us to act on. If this is still important to you, please come up with a small test that demonstrate what you want to do and the failure you have encountered. Thanks!

[2022-01-04 17:25] #894 closed

[2022-01-05 04:25] guozhiyao commented on #895
This is the problem raised by the bug.

[2022-01-05 04:25] #895 closed

[2022-01-05 04:35] guozhiyao commented on #898
Sure. But how do I do the unit tests?

[2022-01-05 04:43] min-xu-ai commented on #898
Great! Thanks in advance!

please check the CONTRIBUTING.md file for instructions on running all or a subset of tests.

[2022-01-05 22:45] Borda opened #902 "integrate with Lightning ecosystem CI"
Hello and Happy New Year 2022! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-ecosystem-ci-b7e1cf78a6c7

[2022-01-06 06:18] #810 closed

[2022-01-06 16:01] #844 closed

[2022-01-07 14:17] anj-s commented on #901
cc @ngoyal2707

[2022-01-07 14:19] anj-s commented on #900
@tmarkstrum can you confirm that these tests run on CircleCI? Does it fail for you locally or do you only see the error post your change on CircleCI?

[2022-01-07 14:22] anj-s commented on #893
@aced125 It looks like we have the weakref object for the reason stated in the comment. Is there a chance ray lightning can make a change to use dill or something that might allow this to work?

I don't know what workaround we can implement here. @min-xu-ai  any ideas?

[2022-01-07 14:23] anj-s commented on #873
Closing this due to inactivity. Please reopen as needed.

[2022-01-07 14:23] #873 closed

[2022-01-07 14:23] #871 closed

[2022-01-07 14:23] anj-s commented on #869
Closing this due to inactivity. Please reopen as needed.

[2022-01-07 14:23] #869 closed

[2022-01-07 14:24] anj-s commented on #852
Closing this due to inactivity. Please reopen as needed.

[2022-01-07 14:24] #852 closed

[2022-01-07 16:23] tmarkstrum commented on #900
I saw these tests failed in CircleCI. It also failed locally. I can retry it today to confirm.

[2022-01-07 16:38] anj-s commented on #900
I think the main thing to identify is why main is green. That will tell us how to approach debugging. If the test fails only because of your change that we can repro it. However if it was failing much before your change then we need to do a bisect.

[2022-01-08 09:37] foreveronehundred opened #904 "Got error messages at 0a526bcbe212b043a00a5bdfae73c7ef532c88b4"
Hi, I wrapped my model with FSDP, and the training process worked fine until I updated the fairscale to 0a526bcbe212b043a00a5bdfae73c7ef532c88b4. I got the following error messages, and it seemed that the problem was from backward. Could you tell me where the problem came from?
[code]

[2022-01-08 17:38] anj-s commented on #904
@foreveronehundred  thank you for reporting this issue! As a temporary fix can you pass `ProcessGroupName.default` to the `process_group_reduce_scatter ` API parameter?

Can you provide a small repro since we are not seeing any failures in our tests. Wondering if it is something specific to your model/training loop.

cc @tmarkstrum

[2022-01-10 20:42] tmarkstrum commented on #904
@foreveronehundred I could not reproduce the error. What is your FSDP config/parameter? Did you create "process_group" in advance, and pass in  "process_group" as the FSDP API parameter?

[2022-01-11 01:57] foreveronehundred commented on #904
I will first try this and tell you if it works.

[2022-01-11 02:05] foreveronehundred commented on #904
I will first try this and tell you if it works.

[2022-01-12 00:11] anupambhatnagar commented on #834
@carmocca FYI - Fairscale 0.4.5 will be releasing soon. ICYMI, we are introducing Per Layer Gradient Scaling in the upcoming version.

Could you please share how you are using the ShardedGradScaler? Feedback on that would be helpful to us. Thanks!

[2022-01-12 21:48] anupambhatnagar opened #908 "Flaky Tests in CircleCI"
Here is a list of flaky tests that we should fix in our next fix-a-thon.

- test_shared_weight_mevo[optim_state-flat]
- test_regnet[pytorch-flatten-mixed]
- test_shared_weight_mevo[train-none]
- test_shared_weight_mevo[train-nonflat]
- test_fsdp_memory[fsdp_amp_default-ckpt]; fails due to timeout.
- test1[no_flatten-full] - fails due to timeout.

[2022-01-12 21:55] anupambhatnagar opened #909 "Reduce CI testing time"
Our current CI pipeline takes over an hour to run all the tests. We split tests at present, but we can update the `tests/ci_test_list_*.txt` files to further speed our circleci pipeline. Here's a [link](https://circleci.com/docs/2.0/optimization-cookbook/#test-splitting-to-speed-up-pipelines) explaining on how to accomplish this.

[2022-01-13 17:49] tmarkstrum commented on #904
@foreveronehundred could you please check out the latest code in main? Please let me know if the issue still exists. If passing ProcessGroupName.default works, please let me know. Then I can close this issue.

[2022-01-14 01:52] foreveronehundred commented on #904
The problem has been solved in the latest branch. Please close the issue. Thanks.

[2022-01-14 13:28] carmocca commented on #834
Thanks for the heads-up!

Our integration is quite simple, internally we just select this class when the user requested sharded with mixed precision:

https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/plugins/precision/sharded_native_amp.py

And override `clip_grad_norm` from the base implementation as it does not use `orch.nn.utils.clip_grad_norm_`.

[2022-01-18 05:13] #904 closed

[2022-01-19 03:12] ZhongYingMatrix commented on #901
bias returned by RowParallelLinear or ColumnParallelLinear is Parameters which gets free storage after FSDP forward

[2022-01-23 19:51] min-xu-ai opened #915 "mypy not running?"
On top of main, it seems that mypy is not clean. Can you guys see the same errors? @anupambhatnagar @anj-s @tmarkstrum

[code]

[2022-01-24 02:43] min-xu-ai commented on #864
HI @gongbudaizhe, sorry for the delay for getting to this. I have a PR that should add LMCL to MEVO. CosFace was a fun paper to read and I am really glad that it is highly cited and seems to be well-received.

I don't have any way to test it with model convergence. My testing included a unit test that matches MEVO's numerical output with the baseline implementation (thanks for providing it above!)

[2022-01-24 21:40] ngoyal2707 opened #918 "FSDP fails with multiple forward and then multiple backward calls"
I have a use case where I need to do multiple forward calls and then backwards call instead of usual pattern but FSDP throws following error when calling multiple backwards:

[code]

Code to repro error:
[code]

[2022-01-24 21:52] anj-s commented on #918
I see 2 losses that are different from the use case that we have covered in our tests [here](https://github.com/facebookresearch/fairscale/blob/0a526bcbe212b043a00a5bdfae73c7ef532c88b4/tests/nn/data_parallel/test_fsdp_grad_acc.py#L96). Does the error happen on the second BW call? Can you also share a complete stack trace of the error?

[2022-01-24 21:56] ngoyal2707 commented on #918
Full stack trace:

I might have some local changes so the lines may not lineup with whats in main
[code]

[2022-01-24 22:00] min-xu-ai commented on #918
cc @zhaojuanmao for this use case as well.

we tested

[code]

This new use case is different. The assert msg means that FSDP wrapper expects to see the backward hooks firing in certain order but it was not.

does this use case work with DDP? Also, why delay calling loss1.backward()? It seems OK to backward on it first and then do the second fwd on x2, right? Doing it in the example you have seems

[2022-01-24 22:08] ngoyal2707 commented on #918
@min-xu-ai yes it works with DDP and its required currently for my usecase of combining FSDP with pipeline parallel cause the backward of a microbatch is delayed.

[2022-01-24 22:22] min-xu-ai commented on #918
I suspect that the problem is with pre-backward hooks, which is installed on the output tensor using register_hook. For models that runs part of a module's fwd function multiple times, we have a guard that prevents pre-backward hook to run multiple times.

<img width="923" alt="image" src="https://user-images.githubusercontent.com/24926999/150874309-84fc5112-206f-4331-8818-92a4eedd07a5.png">

This

[2022-01-24 23:05] min-xu-ai commented on #915
With fresh pre-commit install (after removing its dir in $HOME/.cache), I still get errors on my home machine. But not on FB machines

[code]

[2022-01-25 00:58] ngoyal2707 commented on #918
It still fails without the no_sync context.
`no_sync + grad_accumulation is not ideal for FSDP`, I am not sure about this, basically the goal is to do adam state sharding without doing model weights sharding, which is deepspeed zero stage 2.

[2022-01-25 01:44] min-xu-ai commented on #918
Ah, I see. That makes a lot of sense.

I think you meant zero stage 1 though. Since in stage 2 you would shard the gradients. For sharping only the Adam state, perhaps using ddp + oss.py would be simpler for you? Just an idea.

[2022-01-25 13:36] anj-s commented on #918
@ngoyal2707  Is there an action item for us to follow up here or will you be trying what Min suggested? Want to make sure we unblock your use case if needed.

[2022-01-25 16:33] min-xu-ai commented on #908
also layertracker test seems to be flaky

tests.experimental.tooling.test_layer_memory_tracker

[code]

[2022-01-26 19:29] ngoyal2707 commented on #918
@anj-s I still think action item is to basically support above use-case with FSDP. I understand that gradients wont be sharded due to `no_sync` but I dont see any technical reason to not support this use-case.

[2022-01-28 02:05] LEECHOONGHO opened #920 "FSDP fails with loss backward"
When I try to use FSPD, I got an error in loss backward.
Has anyone experienced the same problem?
I'm still a beginner, so there may be a problem in the code stage.

**1. Error Message**
[code]
**2. Code**
[code]

**3. Environment**
 Docker
 ubuntu 20.04
 cuda 11.5
 cudnn 8
 torch 1.10.1

[2022-01-28 03:41] #864 closed

[2022-01-28 04:22] #920 closed

[2022-01-31 17:43] myleott opened #921 "Some FSDP tests fail on A100 due to tensorfloat32"
Some of the FSDP tests check that DDP and FSDP outputs match exactly. However, on PyTorch will silently use tensorfloat32 (TF32) on A100s, which makes the results not match exactly.

**Repro:**

This test fails on A100:
[code]

It will pass if we disable tf32:
[code]

**Suggestion:**

Should we disable TF32 on all unit tests? Or change the tolerance for these tests on A100s?

Thanks to @ngoyal2707

[2022-01-31 18:12] min-xu-ai commented on #921
cc @zhaojuanmao. This seems like something production code cares even more?

For me, I feel disable tf32 is better since it keeps a tight check on parity. To me, changing tolerance may allow future precision changing commits to slip through without us knowing it. WDYT?

[2022-01-31 18:17] myleott commented on #921
Agreed, disabling TF32 seems better, esp. for tests

[2022-01-31 18:19] min-xu-ai commented on #921
I can do this later for all FSDP tests. But I don't have an A100 to test though. Feel free to do it yourself too.

[2022-01-31 20:10] zhaojuanmao commented on #921
Thanks for letting me know. Yes, we usually disable tf32 in unit tests because of the precision issue. will watch out this in PT version

[2022-02-03 23:21] min-xu-ai opened #924 "Make MEVO faster"
@Chillee has offered looking into this in the past using functorch. But there might be some issues to with sharded tensor. But MEVO does not use any sharded tensor. The issue here is to see if we can speed up MEVO while maintain its memory efficiency.

[2022-02-04 06:02] jnishi opened #925 "Non shared params is empty when large translation model is traind by FSDP."
I'm trying to train translation model which is using transformer encoder-decoder model with FSDP.
But the same problem as https://github.com/facebookresearch/fairscale/issues/883 occures even if fairscale 0.4.5 fairseq 1.0.0a0+4a7835b.
When I run the following command, I got the same error.

[code]

[code]

My environment is below.
- PyTorch: 1.10.2
- Fairseq: 1.0.0a0+4a7835b
- Fairscale: 0.4.5
-

[2022-02-04 08:11] jnishi commented on #925
Sorry, I fixed `fairseq/optim/cpu_adam.py` to use `--cpu-offload`  as follow.
[code]

[2022-02-04 22:31] min-xu-ai commented on #925
Can you `print(model)` and paste the output here? Better, if you have a small standalone reproducible case, that will help. @jnishi

Consolidate optim state only support flatten params and a small special case of non-flatten. `len=0` seems strange. Maybe that's a case that has not happened before for us. Maybe in that case, the consolidation logic is not needed (i.e. just skipping that FSDP instan

[2022-02-05 09:53] h-vetinari opened #927 "Compatibility with pytest 7"
I just ran into an error in the test suite with the very recently release pytest 7 in https://github.com/conda-forge/fairscale-feedstock/pull/9.

I was too slow to copy out the log before azure deleted the run, but it was something about using assert in a boolean context or similar. After pinning to `pytest <7` the tests pass again for fairscale 0.4.5. Would be good if this could be fixed. :)

[2022-02-06 22:50] suchenzang opened #928 "[feat] Make Adascale work with Adam optimizer"
See discussion thread here: https://fb.workplace.com/notes/160155753018370/?comment_id=160309839669628&reply_comment_id=160369649663647

[2022-02-07 01:17] gmryu commented on #925
@min-xu-ai jnishi's example is the same as fairseq's basic example - [iwslt14.de-en](https://github.com/pytorch/fairseq/tree/main/examples/translation#training-a-new-model).
It can reproduce this problem if you declare a bigger model architecture, like jnishi given at the top: ( I omit a little here )
`fairseq-train data-bin/iwslt14.tokenized.de-en  --arch transformer_iwslt_de_en --optimizer cpu_a

[2022-02-07 01:58] jnishi commented on #925
As @gmryu noted, it can reproduce fairseq's basic example with a bigger model option.

The model architecture is as below.
[code]

@gmryu
Thank you for your suggestion to fix.
I have modified it as follows.

[code]

However, I got the following error.

[code]
Is there anything else I need to fix?

[2022-02-07 20:46] min-xu-ai commented on #925
Thank you both for the additional info. I will try to find time to reproduce and debug. I am busy with other things at the moment. If @tmarkstrum and @anj-s can get to it before me, it is totally fine too.

[2022-02-07 20:48] min-xu-ai commented on #928
Using adascale to wrap Adam is already supported. However, the effect of it might not be as good as that for SGD. Basically, once you wrapped your Adam with AdaScale, you will get a new optimizer object that internally adjust the LR according to the signals (gradients) from each distributed worker.

So please go ahead and try it if you want. There is no code changes needed from fairscale side as f

[2022-02-07 20:49] min-xu-ai commented on #927
Thanks for the report. It is interesting and nice to have for sure. @tmarkstrum @anj-s

[2022-02-07 20:51] suchenzang commented on #928
@min-xu-ai should documentation be updated to reflect that? https://fairscale.readthedocs.io/en/latest/deep_dive/adascale.html makes it seem it's only compatible with SGD from a code compatibility perspective

[2022-02-07 21:05] min-xu-ai commented on #928
Yes, it is true. For now perhaps we can leave it as it since we may not want general people to use it with Adam. You are not general people. :-)

[2022-02-08 14:06] anj-s commented on #908
Another flaky test for the list:
tests/nn/data_parallel/test_fsdp.py: TestSerialization

[2022-02-10 19:38] LeeDoYup opened #931 "bfloat16 for sharded grad scaler"
Thanks for the awesome project.
I wonder that whether the sharded gradient scaler of fairscale supports amp with bfloat16 or not.

[2022-02-11 01:25] min-xu-ai commented on #931
Thank you for the nice words! We are glad that you like fairscale.

I don't think bfloat16 is supported by any of the library.

[2022-02-11 01:28] LeeDoYup commented on #931
thanks for the fast reply.
However, I read that pytorch amp supports bfloat16 recently.

https://medium.com/m/global-identity?redirectUrl=https%3A%2F%2Fdevblog.pytorchlightning.ai%2Fintroducing-faster-training-with-lightning-and-brain-float16-861505eabbfc

[2022-02-11 01:57] min-xu-ai commented on #931
Yeah, pytorch support doesn't mean fairscale automatically support bfloat16 unfortunately.

[2022-02-11 01:59] LeeDoYup commented on #931
I understood. Thank you very much @min-xu-ai !!

[2022-02-11 01:59] #931 closed

[2022-02-11 02:00] min-xu-ai commented on #927
I will have a PR for this soon.

[2022-02-11 16:40] #928 closed

[2022-02-11 17:10] min-xu-ai commented on #915
closing since this is likely some kind of version issue between environments. The behavior of mypy is far from perfect.

[2022-02-11 17:10] #915 closed

[2022-02-14 07:58] ver217 opened #934 "Got error when training GPT2 with FSDP and activation checkpoint"
I'm trying to train GPT2 with FSDP.

My environment is below.

PyTorch: 1.10.0+cu113
Fairscale: 0.4.5
transformers: 4.16.2
Tesla A100 x8

When I set `CUDA_LAUNCH_BLOCKING=1`, I got:
[code]

When `CUDA_LAUNCH_BLOCKING` was not set, I got:
[code]

I train my model like:
[code]

The GPT2 provided by `transformers` use torch's checkpoint. I also tried to use fairscale's `checkpoint_wrapper` by modifyi

[2022-02-14 16:56] min-xu-ai commented on #908
Remember to address todo in https://github.com/facebookresearch/fairscale/pull/933/files/86d45de0e14c8273916c3c68db8c297bc3bb59a8#diff-bc534f971a86e11cc30be248c89989c8024c941a855d4716025da461fcd29047

thanks to Anjali for suggesting recording this.

[2022-02-14 16:59] min-xu-ai commented on #934
Have you tried disabling flattening? Also, there is a version of FSDP in pytorch as prototype as well. Can you give that version a try?

[2022-02-15 05:32] ver217 commented on #934
Hi, I tried disabling flattening and this solved my problem. However, I wonder why I can't  enable flattening.

[2022-02-15 16:54] min-xu-ai commented on #934
I think unfortunately there is a bug somewhere with flattening. I don't know where it is until exactly debugging this issue.

[2022-02-17 18:44] min-xu-ai commented on #921
FWIW, looks like pytorch is going to switch default to TF32 being disabled. So I think this could be closed. Reopen if more is needed.

[2022-02-17 18:44] #921 closed

[2022-02-22 04:26] ver217 commented on #934
Hi, I'm trying to debug this issue and find out that activation checkpointing and mix precision lead to this issue. I notice that comments say we get two different gradient accumulation objects in mixed precision mode. I also find that the backward post hook is registered but never triggered for parameters with checkpoint.

[2022-02-22 04:42] min-xu-ai commented on #934
Oh, that's cool! It is indeed an issue that we have never resolved in a good way. cc @zhaojuanmao too.

If you have a small reproducible test case, that'd be great.

Also, please try different pytorch versions. Maybe it will behave differently across different versions?

[2022-02-22 08:37] ver217 commented on #934
Ok, I will try different pytorch versions and test more cases. However, I try to register the hook just on the parameter instead of grad accumulator object, and the hook can be triggered normally. Could you tell the reason why you don't just register the hook on parameter?

[2022-02-22 15:05] min-xu-ai commented on #934
If I recall it correctly we want the hook to fire with the gradient computed. If you register the hook on the parameters do you get the hook fire in the right time after the gradient is computed?

[2022-02-22 18:18] foreveronehundred opened #937 "[OSS] Out of Memory When Calling "optimizer.state_dict(all_ranks=True)""
I was training my model with 8 GPUs, and I wrapped the optimizer with OSS. As title, when I called optimizer.state_dict(all_ranks=True), I got the following error messages,
[code]
Since my model can be trained without using the OSS, I think the root cause may not be the model size.

[2022-02-22 20:02] anj-s commented on #937
@foreveronehundred Since we perform other operations related to consolidating optimizer state, using OSS vs vanilla training might have different behavior. Any chance you have a repro that you can share? What is the size of the model? Do you see this error on a smaller model?

[2022-02-25 02:13] Youhe-Jiang opened #940 "About memory utilization of FSDP"
When using FSDP for multi-machine distributed experiments, I found that the display results of nvidia-smi and the display results of torch.cuda.max_memory_allocated(device) are very different. Which tool should I prefer?

[2022-02-25 03:22] foreveronehundred commented on #937
Hi,
     Sorry for the late reply. First, let me give some details about the environment of the training job. We use 8 V100 GPUs with pytorch-1.8.0-cuda11.1-cudnn8.
     Actually, I found that this problem can be avoided by using smaller models. However I still found a strange thing when calling broadcast_object_list in consolidate_state_dict.
     In the case of smaller model, I found that before

[2022-02-25 03:30] foreveronehundred commented on #937
As a workaround, I found that using _broadcast_object will not cause the above problem. Could your team add a new arg that can force the code to use _broadcast_object? If It is not convenient for you, could I help you to modify and make a pull request?

[2022-02-25 04:15] foreveronehundred opened #941 "[APEX] Can we use Apex amp together with OSS/ShardedDDP"
As title can we use Apex amp together with OSS/ShardedDDP?

[2022-02-25 05:16] anj-s commented on #937
@foreveronehundred Sounds good! Can you tell me more about the root cause of the issue? happy to modify but would be good to know when it does not work and why. Thanks for debugging this!

[2022-02-25 06:45] foreveronehundred commented on #937
Sorry, I do not know the root cause of the issue, but I will try to help you reproduce the problem I found.

The problem came from broadcast_object_list in consolidate_state_dict. So first, please run a task that calls OSS and consolidate_state_dict, and make sure that broadcast_object_list is called. Then, please profile memory before/after the call of consolidate_state_dict or broadcast_object_l

[2022-02-25 06:46] foreveronehundred commented on #937
By the way, could you tell me when you will finish add the arg I have mentioned?

[2022-02-25 15:29] anj-s commented on #941
Here is discussion and suggestions for how to go about this: https://github.com/facebookresearch/fairscale/issues/740

[2022-02-27 07:52] foreveronehundred commented on #937
Just make a pull request. Please review it and tell me if there is any problem.
https://github.com/facebookresearch/fairscale/pull/942

[2022-02-27 17:35] foreveronehundred opened #943 "[ShardedDDP] Optimizers with different process groups"
I am now using ShardedDataParallel with sharded_optimizer (a list of optimizers).
However, in my case, the corresponding process group of each optimizer is different,
and it may not be the same as the keyword arg, process_group, of class ShardedDataParallel.
Can the current ShardedDataParallel support my case?

[2022-02-28 23:26] davidepatrucco commented on #925
Hi - not sure if it helps, but I have exactly the same problem.

PyTorch: 1.10.2
Fairseq: 1.0.0a0+d421749
Fairscale: 0.4.5

@jnishi did you found something here?

[2022-03-01 17:46] tmarkstrum commented on #940
I suggest using torch.cuda.max_memory_allocated(device)

[2022-03-02 02:50] Youhe-Jiang commented on #940
Now I'm totally clear. Thank you for your reply : ) .

[2022-03-02 06:51] blefaudeux commented on #943
hi @foreveronehundred, thanks for creating the issue and reporting this usecase ! I'll defer to @anj-s and @min-xu-ai, but these days I would recommend using FSDP with the "no reshard" option, the featureset is comparable to shardedDDP and it is more future proof and probably faster.
To reply specifically to your question I don't think that ShardedDDP supports this case right now, it could have be

[2022-03-02 14:23] jramapuram commented on #697
Any update on this? LAMB/LARC/LARS/AGC all rely on being able to set layer-wise scaling.

[2022-03-02 16:00] min-xu-ai commented on #697
Thanks for pinging. I haven't got time working on this lately. I will try to find some time again for it. The underlying code for multiple flatten groups is already there. But the API to expose it in terms of reflattening isn't there yet.

[2022-03-02 16:01] min-xu-ai commented on #943
@foreveronehundred, can you share some simple code to show what exactly do you want to do? With that I can tell you whether FSDP will work with it or not.

[2022-03-02 16:02] #940 closed

[2022-03-02 16:03] min-xu-ai commented on #941
@foreveronehundred can this be closed or do you have additional questions?

[2022-03-02 16:06] min-xu-ai commented on #937
@anj-s, I remember you mentioned that you wanted to remove OSS and SDP. Do pytorch team already have those features and have a stable owner for them? If so, maybe we should just either remove ours or turn ours into a wrapper to the pytorch version?

[2022-03-02 19:27] foreveronehundred commented on #937
Thanks for recommendation. I want to know that is there any improvement of performance and memory saving for torch.distributed.optim.ZeroRedundancyOptimizer compared to OSS?

[2022-03-02 19:29] foreveronehundred commented on #937
Do you mean OSS will be replaced by torch.distributed.optim.ZeroRedundancyOptimizer?
Then, what will Sharded DDP?

[2022-03-02 19:30] #941 closed

[2022-03-02 19:37] foreveronehundred commented on #943
I am now dealing with MoE model. So, different blocks may not share the same process group.
I know that FSDP can be applied to my case. However, I want to compare the memory saving and performance for OSS, Sharded DDP and FSDP, so I still need to try Sharded DDP.

[2022-03-02 19:43] foreveronehundred commented on #943
I did not find the "no shard" option in FSDP. Could you help me to find that?

[2022-03-02 19:55] anj-s commented on #943
@foreveronehundred The toggle is called `[reshard_after_forward](https://fairscale.readthedocs.io/en/latest/api/nn/fsdp.html)`. Setting it False makes FSDP equivalent to SDP.

[2022-03-02 23:49] min-xu-ai commented on #943
hi @foreveronehundred, can you send email to m1n -at- fb.com so that we can discuss things besides this issue? Thanks!

[2022-03-03 08:07] Youhe-Jiang opened #945 "Can FSDP() and Pipe() API be used at the same time?"
Can FSDP() and Pipe() API be used at the same time? Thanks for any useful advice!

[2022-03-03 15:50] min-xu-ai commented on #945
no, that has not being supported or tested. It may work but it really depends on the details of how do you combine them.

[2022-03-03 15:51] min-xu-ai commented on #945
Also, pipe API is moving /has moved to pytorch. I don't think we are continue developing it here in fairscale.

[2022-03-04 01:17] Youhe-Jiang commented on #945
Thanks a lot for your reply! :)

[2022-03-04 02:25] swordfate opened #947 "Help, a question about activation moving in offload.py."
After I comment out the following line code, then run the `offload.py` code under `fairscale/benchmarks/experimental`, the code can run normally. (`python3 offload.py --debug --use_synthetic_data` )
https://github.com/facebookresearch/fairscale/blob/9f347f373e32ee5cad11a40b70b8e28a74b5e2d4/fairscale/experimental/nn/offload.py#L368

My question is, **why the backward propagation works even if activ

[2022-03-04 03:09] SparkJiao commented on #920
Hi, have your solved this problem?

[2022-03-04 07:28] LEECHOONGHO commented on #920
@SparkJiao
Hello, I use ShardedDDP instead of FSDP.
Maybe FSDP is not supporting multiple losses yet.
https://github.com/facebookresearch/fairscale/issues/918

[2022-03-04 07:33] SparkJiao commented on #920
I see. Thank you very much!

[2022-03-04 07:38] swordfate opened #948 "Question: Moving activation to CPU does NOT reduce GPU memory."
I use my `cuda_active_bytes` function to measure the GPU memory before and after the code line below. I find moving activation to CPU does NOT reduce GPU memory.
https://github.com/facebookresearch/fairscale/blob/9f347f373e32ee5cad11a40b70b8e28a74b5e2d4/fairscale/experimental/nn/offload.py#L524
[code]
So actually all the activations generated by forward is still in GPU memory?

[2022-03-04 21:07] flying-x commented on #945
could this closed? Feel free to share what you have tried and found out.

[2022-03-04 21:08] flying-x commented on #947
@anj-s

[2022-03-04 21:08] flying-x commented on #948
@anj-s

[2022-03-04 21:10] flying-x commented on #948
pytorch has a caching memory allocator for gpu memory. Therefore, you need to call torch.cuda.empty_cache() to see the memory reduction. Otherwise, the memory will be used for next allocation. Another way is to use the memory allocator's counters, see https://pytorch.org/docs/stable/generated/torch.cuda.memory_allocated.html#torch.cuda.memory_allocated

[2022-03-05 16:22] #945 closed

[2022-03-07 01:44] swordfate commented on #948
Thank you for patient reply, but I tried both `torch.cuda.empty_cache()` and `torch.cuda.memory_allocated()` function as follows and it shows the gpu memory is still NOT reduced. I think maybe this is because that `tensor.cpu()` just copy a tensor to cpu memory (this is different from `module.cpu()` and this tensor is not a leaf tensor), thus, the tensor still exists in the tensor calculation grap

[2022-03-07 02:10] min-xu-ai commented on #948
Can you share a small test code that shows what you are seeing? I.e., test without offload, just pure pytorch code.

[2022-03-07 02:15] anj-s commented on #948
@swordfate  Can you print out the device of the activations post move to confirm?

[2022-03-07 02:52] swordfate commented on #948
@min-xu-ai @anj-s  Here is a small example for checking GPU memory allocated and tensor location.
[code]

[2022-03-07 02:59] min-xu-ai commented on #948
Just for testing, what if you put the computation under torch.no_grad? I think autograd engine kept the memory for backward compute.

[2022-03-07 03:16] swordfate commented on #948
Yes. After I set `requires_grad =False`, it prints:
[code]

[2022-03-07 04:21] min-xu-ai commented on #948
In this case, you can use checkpoint_wrapper and offload the activation to cpu using that wrapper. This way, only during backward, the tensor will be moved back to gpu.

[2022-03-07 04:47] swordfate commented on #948
Thanks for telling me the solution, I will dive into it in the future.

[2022-03-07 21:41] rohan-varma opened #950 "[Docs] Add docs for building from source"
Current README doesn't have docs on how to build from source

[2022-03-07 21:42] #950 closed

[2022-03-08 09:04] ruipeterpan commented on #934
Hi @ver217, would you mind sharing a bit about how you are modifying the source code of `transformers` to use `checkpoint_wrapper`?

[2022-03-08 19:29] tmarkstrum opened #952 "change Facebook to Meta in the codebase"

[2022-03-08 19:48] min-xu-ai commented on #952
you may want to fix check with internal GitHub experts. There might be hooks that go over the code for copyright strings, which make not work on "meta" yet. We don't want to change the strings and then end up causing internal checks for fail.

[2022-03-09 21:02] rceballos98 opened #954 "Fairscale checkpoint-wrapper deconstructs NamedTuple outputs"
It seems `checkpoint_wrapper` deconstructs NamedTuple into just a Tuple. This makes it difficult to do type checks for interfaces between models.

Here is a sample test to reproduce:

[code]

Here is the output:

![image](https://user-images.githubusercontent.com/4204548/157532838-aa4c2c74-feb3-40f6-b8a2-9d4432166b31.png)

[2022-03-09 21:03] rceballos98 commented on #954
tagging @g.shaikov

[2022-03-09 21:04] rceballos98 commented on #954
accidentally closed 😅

[2022-03-11 11:07] hyhuang00 opened #955 "How to check the way parameters get sharded into devices?"
I have checked through the documentation, but I didn't find a good function that can tell me which layer is on which device, as suggested by the [tutorial](https://fairscale.readthedocs.io/en/latest/tutorials/pipe.html).

By the way, the tutorial refers to https://github.com/facebookresearch/fairscale/blob/main/examples/tutorial_pipe.py for more information, but it seems like this link is no longe

[2022-03-12 20:05] min-xu-ai commented on #954
Thanks for the excellent issue report @rceballos98. I suspect that the issue is in container.py which deals with different types. Is this only a problem for your type checking or there are issues beyond just checking?

[2022-03-12 20:08] min-xu-ai commented on #955
@hyhuang00 thanks for raising the issue. We are phasing out support for pipe since it is already presented in pytorch upstream code. Perhaps you can give the pytorch version a try?

To get which layer is on which device, mainly it depends on how you split the model at the beginning. I remember that user specifies how to split so the user should know which layer is on which device based on the spli

[2022-03-12 20:08] #955 closed

[2022-03-12 22:38] hyhuang00 commented on #955
Thank you for your suggestion. I am using some heavily wrapped scripts from [fairseq](https://github.com/pytorch/fairseq) and trying to understand how the layers of a model get sharded by FSDP. It seems like the standard `torch.tensor.get_device()` will return invalid values (-1) in this case. For FSDP, it seems like the user need to provide a process group to the init function. Does that mean as

[2022-03-13 00:47] min-xu-ai commented on #955
Sorry. I am quite confused by your questions. I thought you were asking about pipeline parallelism. But you second comment seems to be asking about FSDP.

Yes, FSDP will perform multi-device data parallelism. There is a blog introducing how FSDP work.

https://engineering.fb.com/2021/07/15/open-source/fsdp/

In short, multiple parameters are combined and then split over multiple devices. The origi

[2022-03-13 22:38] hyhuang00 commented on #955
I see. Sorry for the confusion -- I tried to search through the documentation for how to locate a layer in a device, and the only place I got something similar is in pipeline parallelism. Thank you for your clarification -- I see the difference between them now.

I have an additional question regarding your answer. Is there a way to see the shape of the underlying tensor, and how parameters are po

[2022-03-14 00:36] min-xu-ai commented on #955
The underlying tensor is a 1-D flat array. You can get its size by access each FSDP instance's internal data structure. The key is the FPW, the flatten-parameter-wrapper class. Please check the source code.

[2022-03-14 04:55] anj-s commented on #948
Ideally we do want the intermediate activations to be offloaded to the CPU. Marking this as a bug that we should fix.

[2022-03-14 04:59] anj-s commented on #947
@swordfate From the other issue it looks like there is a reference to the activations that are present on the GPU which means GPU memory does not decrease nor do you need to move activations back to the GPU. I've marked the other issue as a bug and something we need to look into. Closing this issue since it is tackling the same problem.

[2022-03-14 04:59] #947 closed

[2022-03-14 05:00] #943 closed

[2022-03-14 05:09] anj-s commented on #937
@foreveronehundred We have planned deprecation for OSS since it has been upstreamed to PyTorch as the [ZeroRedundancyOptimizer](https://pytorch.org/tutorials/recipes/zero_redundancy_optimizer.html). ShardedDataParallel can be enabled as part of the FullyShardedDataParallel API by setting the `no_reshard_after_forward` parameter to be False. We don't have any comparison benchmarks for OSS vs ZeroRe

[2022-03-14 05:09] #937 closed

[2022-03-14 05:13] anj-s commented on #934
@min-xu-ai  Have we run into this issue before? Do you remember the context?

@ver217 Friendly reminder to share a small repro if possible to help us fix this.

[2022-03-14 05:20] anj-s commented on #925
I have another user who is running into a similar issue. Assigning this to myself since multiple users have reported this as a blocker.

[2022-03-14 05:23] anj-s commented on #901
Please reopen once you have a repro. Thanks!

[2022-03-14 05:23] #901 closed

[2022-03-14 05:24] anj-s commented on #900
@tmarkstrum Following up about if you saw that the main branch was green. I think we've disabled the test now but from what I recall, the branch was green before your change.

[2022-03-14 05:25] anj-s commented on #893
Closing this due to inactivity.

[2022-03-14 05:25] #893 closed

[2022-03-14 05:25] anj-s commented on #898
Closing this due to inactivity.

[2022-03-14 05:25] #898 closed

[2022-03-14 05:26] #791 closed

[2022-03-14 05:27] #796 closed

[2022-03-14 05:28] anj-s commented on #801
@tmarkstrum Has this bug been resolved? should we deprecate this env var?

[2022-03-14 05:29] anj-s commented on #754
Closing this due to inactivity.

[2022-03-14 05:29] #754 closed

[2022-03-14 20:40] #862 closed

[2022-03-15 23:29] BinhangYuan opened #958 "Is it possible to run Pipe along with FSDP?"
Based on my understanding the current pipeline implementation can only work for an instance with multiple GPUs, right?

If I want to further scale out my training procedure, can I combine Pipe with FSDP? For example, run Pipe intra- a single multi-GPU instance, while run FSDP across multiple GPU instances?

Is there any relevant example for this? Thanks for your great help!

[2022-03-15 23:36] anj-s commented on #958
Yes, that is correct.

we haven't tried it out but there might be some changes to how we initialize and run the model's FW/BW pass.

Sorry, unfortunately we don't have one. If you implement this we would appreciate a PR contribution from you!

[2022-03-17 04:06] LEECHOONGHO opened #959 "Training speed is too slow"
Hello, I am conducting multi-GPU training using fairseq's ShardedDDP and OSS.

It is impressive that all gpus consume almost the same memory.
1. However, it takes almost 20 minutes for the training routine to begin.
2. And the training speed seems to be 2-3 times slower than single-gpu training when the batch size/gpu is equal.
3. And The gpu utils seen in nvidia-smi seems to be unstable.

![Honey

[2022-03-17 17:59] ebetica opened #960 "Fairscale Anaconda incompatible with recent pytorch release"
[code]

I think fairscale should allow for the recently 1.11 release, this may be as simple as changing the version requirements on conda.

[2022-03-17 18:51] min-xu-ai commented on #960
This is probably a related to how Conda fariscale version is built. Can you file an issue with Conda?

[2022-03-17 18:54] min-xu-ai commented on #959
cc: @blefaudeux

Thanks for the nice screen shot gif and the nice reproduction script. Have you used Nvidia or pytorch profiling tool? Once you use that tool, you can dump some trace file and load it into chrome to see what event takes how long, etc. From that, you can usually find out what's slow.

[2022-03-17 20:24] blefaudeux commented on #959
hey there, thanks for the report and the GIF @LEECHOONGHO ! This code has not been maintained for a while I think, you can use FSDP with no reshard to get a similar featureset, but I can comment from memory. 20 minutes to start is not normal, and the GPU use being very low is not normal either, something which could explain is a codebase which checkpoints a lot (looks like you're doing this for ev

[2022-03-18 04:31] ebetica commented on #960
I didn't realize somebody at anaconda was building these. I can look into it, thanks.

[2022-03-18 04:32] #960 closed

[2022-03-18 05:21] foreveronehundred opened #961 "[FSDP] "reshard_after_forward == False" is equivalent to "ShardedDDP"?"
According to our discussion in the previous issue (https://github.com/facebookresearch/fairscale/issues/943), you mentioned that FSDP with reshard_after_forward == False is equivalent to ShardedDDP. However, I do not think FSDP with this setting is equivalent to ShardedDDP.

In FSDP, we shard module parameters at first and rebuild the parameters during forward. When reshard_after_forward == False,

[2022-03-18 07:27] LEECHOONGHO commented on #959
@blefaudeux  @min-xu-ai  Thank you for your reply.
The time taken for start training was the cost of data loading and sorting.
And the low GPU usage, it maybe caused by Loss function(STC loss)

To improve training speed, I am using FSDP as you suggested.

I wrapped model by FSDP and set mixed_precision True. Not using OSS.
And not using GradScaler, only use autocast for forward progress.

Is there

[2022-03-18 16:54] blefaudeux commented on #961
Hi, thanks for your question, although the wording is a little strange to me. I'll let the FSDP experts chime in, but at the very least you can check out the code base

I think that the code  disagrees with you on that https://github.com/facebookresearch/fairscale/blob/1bc96fa8c69def6d990e42bfbd75f86146ce29bd/fairscale/nn/data_parallel/fully_sharded_data_parallel.py#L1406

https://github.com/faceb

[2022-03-18 16:58] blefaudeux commented on #959
- reduce memory: reshard_after_forward = True (slower), or activation checkpointing, or offload
- more speed: reshard_after_forward = False, no clip grad norm (this is actually a little slow. Sidenote: I'm not sure that your implementation is correct when the gradients are sharded, the norm will differ on all agents), faster compute (sometimes depends on the dimensions of your data/model), fused l

[2022-03-18 17:03] blefaudeux commented on #961
To elaborate a little, the grad sharding is not done in the same way in between FSDP with no_reshard and ShardedDDP, ShardedDDP distributes the parameters around while FSDP is capable of sharding them, and the communication pattern is not the same. It is equivalent in terms of features however (in that the optimizer step is sharded and the gradients are sharded across the fleet), typically called

[2022-03-21 10:28] chuan92 opened #962 "the main branch is not compatible with python 3.6, but setup.py only requires ">=3.6""
python 3.6 can pip install latest fairscale
https://github.com/facebookresearch/fairscale/blob/1bc96fa8c69def6d990e42bfbd75f86146ce29bd/setup.py#L67

but, some code is not compatible with python 3.6
https://github.com/facebookresearch/fairscale/blob/1bc96fa8c69def6d990e42bfbd75f86146ce29bd/fairscale/experimental/nn/ssd_offload.py#L6
and python<3.7 has no dataclasses
https://github.com/facebookrese

[2022-03-22 04:27] foreveronehundred commented on #961
Thanks for the reply. I think the line 1406 and line 1633 **agree** my comment if _require_backward_grad_sync == True.
Let's focus on the case that reshard_after_forward == False. According to line 1405-1408, we will not free full parameters. However, in _post_backward_hook, the full parameters will still be freed if _require_backward_grad_sync == True, and I think _require_backward_grad_sync will

[2022-03-22 14:06] yuvalkirstain opened #963 "Support BF16"
## Feature Request
Please support BF16 mixed-precision

## Additional context
Training with BF16 is usually more stable than fp16, which is very important when we want to train large models. Additionally, many models (e.g. T5) are trained with BF16 and if we want to continue training them with mixed-precision, using fp16 will result in NaNs.

Thank you!

[2022-03-22 14:10] anj-s commented on #963
Thank you for this issue! We are [currently working on adding support for bf16](https://github.com/facebookresearch/fairscale/tree/anj/bfloat16-support) and hope to have it done very soon :)

[2022-03-22 14:11] yuvalkirstain commented on #963
Exactly, bf16 with FSDP!

[2022-03-22 16:38] blefaudeux commented on #961
cc @tmarkstrum

[2022-03-23 20:14] another-pjohnson opened #965 "pre-commit seed isort known_third_party failing on main (for me)"
In late January I was able to run the pre-commit hook successfully. Now however, as part of a new PR that I'm working on, I keep on seeing a failure on the seed isort known_third_party step of the pre-commit hook.

Making the suggested change I fail the github automatic pre-commit check on my PR.

I'm wondering if there's some sort of version mismatch.

requirements-dev.txt reports seed-isort-conf

[2022-03-24 17:54] tmarkstrum commented on #961
When we say the reshard_after_forward==False is equivalent to ShardedDDP, we mean the peak memory usage are the same because the GPU does not free full parameters. We did not take _require_backward_grad_sync == True into account when we have the comment.

[2022-03-25 01:23] min-xu-ai commented on #965
I ran into this as well. did you try remove .cache/pre-commit dir? You can try to run seed-isort-config by hand and see what it does to you local tree. pre-commit runs it from a shallow repo at the given version but there might be some dependency escaping happening here. Last time I found a dependency on numpy was causing mypy running issues and once I pinned down the numpy version in pre-commit's

[2022-03-25 14:55] rohan-varma opened #966 "FSDP unnecessarily clones buffers in state_dict()?"
My understanding is that FSDP does not shard the model buffers, and as a result, unlike parameters which would be fred and go back to their sharded state after state_dict()/summon_full_params(), this would not happen with buffers. Although it seems that buffers are still cloned, which may be unnecessary and a small optimization could be made: https://github.com/facebookresearch/fairscale/blob/main

[2022-03-25 18:29] another-pjohnson commented on #965
So i've narrowed down the problem. Apparently seed-isort-config generates different results between python 3.8.12 and 3.9.7. I'm not sure if we should codify that requirement, but I'm sure if we could detect this, it would save other's the same headache. (or at least mention it in the CONTRIBUTING.md)

[2022-03-25 18:29] #965 closed

[2022-03-25 18:32] another-pjohnson commented on #965
@min-xu-ai Also, according to the seed-isort-config github, this project is no longer needed when using a sort version >= 5.0:

https://github.com/asottile-archive/seed-isort-config#readme

[code]

[2022-03-25 20:41] yuvalkirstain commented on #963
@anj-s please let me know if there is anything we can do to help, having support for bf16 with FSDP in Fairseq will really really help us! :)

[2022-03-25 22:35] min-xu-ai commented on #965
awesome, I think we should just remove it if we are already isort>=5 or just upgrade to isort >=5

[2022-03-27 03:37] foreveronehundred opened #967 "[FSDP] Got error messages when model output is tuple"
FSDP version: 1bc96fa8c69def6d990e42bfbd75f86146ce29bd
I wrapped my model following the same way as the pseudo code,
[code]
In my case, the outputs is a tuple (tensor1, tensor2, tensor3), and three tensors are used to calculate the loss. However, I found error messages when I call the loss.backward(),

[code]

By the way, there is no bugs when I use  FSDP autowrap, but I still want the try the abo

[2022-03-27 13:54] foreveronehundred commented on #961
Thanks for the explanations.

[2022-03-27 13:54] #961 closed

[2022-03-27 15:33] foreveronehundred opened #968 "[FSDP] Some questions for process_group_reduce_scatter"
Hi, I have some questions for process_group_reduce_scatter,
1. If the arg (process_group_reduce_scatter) is not assigned for FSDP wrapping, the process groups for process_group_reduce_scatter will be the "world", and the group size == GPU count. Is it correct?
2. Could you tell me in what circumstances we will need to set different process groups to process_group and process_group_reduce_scatter?

[2022-03-27 16:31] foreveronehundred commented on #968
For question 2, I just got the answer from https://github.com/facebookresearch/fairscale/pull/897.
However, there is still one thing I want to conform with you.
_"Although we create different process groups for sharding and reduce scatter respectively. The members (GPU ranks) of two groups are the same."_
Is the above statement correct?

[2022-03-27 16:40] blefaudeux commented on #961
The parameters are re-synced on the next FW then, after the optimizer step I suppose. Then it's not so different from SDDP @foreveronehundred, SharedDDP is not dropping them but it could, since new ones are pushed shard by shard to all the fleet anyway ([see here](https://github.com/facebookresearch/fairscale/blob/main/fairscale/optim/oss.py#L589)).

I still think that it could be nice to have the

[2022-03-27 17:56] anj-s commented on #967
Is there just one outer wrap that is raising this error? With autowrap is the wrapping different? Can you share an output showing the difference?

[2022-03-27 17:57] #958 closed

[2022-03-28 11:37] foreveronehundred commented on #967
Yes.

With autowrap, every leaf module is wraped

I think I can give an example
with autowrap:
[code]
without autowrap:
[code]

[2022-03-28 13:59] anj-s commented on #966
Are you talking about buffers which are separate from model parameters? Or just the state_dict itself which we end up calling `clone` on.

Yes, I do think we need to optimize this bit where we call `clone` since it runs into OOM errors.

Do you have any suggestions for what we can do to improve this?

[2022-03-28 17:45] foreveronehundred commented on #967
Here is some details, and I hope it can help you fix the problems.

In my case, three tensors in outputs is registered with pre_backward_hooks() and post_backward_hooks(). According to my observation, the pre_backward_hooks() of tensor1 is first executed, then post_backward_hooks() of tensor1 is executed. Later one is the pre_backward_hooks() of tensor2, and so on.
However, self.has_full_params wi

[2022-03-29 16:37] another-pjohnson commented on #965
isort is already >= 5 from requirements-dev.txt:
[code]

[2022-03-29 18:34] another-pjohnson opened #970 "pre-commit fails black step due to click version update"
see https://github.com/psf/black/issues/2964

Correct fix should be update black to version 22.3.0

[2022-03-30 23:11] #970 closed

[2022-04-01 08:20] #959 closed

[2022-04-06 18:15] foreveronehundred opened #971 "[FSDP] FSDP() vs. autowrap(), which one has better throughput"
Since FSDP() and autowrap() of FSDP will give different module structure (like following), I want to ask which one has better performance?

[code]

[code]

[2022-04-06 18:25] foreveronehundred commented on #943
I just modified the ShardedDDP.py to support the scenario in this issue. Several variables in my code become a dict (keys are the names of different process groups, and values remain the original types). Feel free to share ideas for my code.
https://github.com/foreveronehundred/fairscale/commit/9f9b8b42e18bbbce4cad4756367a555d2ff8c3fb

[2022-04-08 05:28] jnishi commented on #925
Hi, I have confirmed that I can save the model by using the main branch of the fairseq.
I'm going to close this issue after confirmation from the fairscale side.

[2022-04-09 21:11] blefaudeux commented on #943
oh interesting, thanks for sharing @foreveronehundred ! Any perf numbers to share ? micro optim by the way, but accessing a list is a bit faster than a dict, so if the ordering never changes you might as well store things in a list (may be too negligible though, I don't have a good feeling for your hotspots). @tmarkstrum  did you have any news to share on FSDP and zero-2, just in case you find som

[2022-04-11 09:45] gmryu commented on #925
Does it require one more fix from fairseq as it raise the following error.
But it is not a fairscale error, so this issue may close.
[code]

[2022-04-11 19:13] min-xu-ai commented on #971
Sorry for the delay and I was on vacation last week. I think there are 2 aspects here:

(1) which one is faster
(2) which one fits a given GPU memory limit

autowrap one above will have smaller GPU memory consumption but may be slower than the second one where all 3 layers are wrapped by a single FSDP instance. So, the answer is that if the second method fits your GPU memory budget, I think it wil

[2022-04-20 17:39] crowsonkb opened #973 "CUDA OOM when saving checkpoint (in consolidate_state_dict()) using OSS"
I am experiencing CUDA out of memory crashes when consolidating my optimizer state dict before saving it. I am training on 32 40GB A100s, four nodes with eight GPUs each, using PyTorch Lightning's `'ddp_sharded'` strategy, which is OSS. I get the OOM crash *in the middle* of running consolidate_state_dict(). I have tried adding `del` statements, `gc.collect()` and `torch.cuda.empty_cache()` inside

[2022-04-20 17:43] crowsonkb commented on #973
My fairscale version is 0.4.6, my PyTorch version is 1.11.0+cu113, and my PyTorch Lightning version is 1.6.1.

[2022-04-21 18:32] crowsonkb commented on #973
It is the same as this issue AFAICT: https://github.com/huggingface/transformers/issues/14542

[2022-04-21 18:47] crowsonkb commented on #973
Except that I can't fix it by setting `force_broadcast_object=True` when I create the optimizer because it just hangs instead.

[2022-04-25 14:36] min-xu-ai commented on #973
Do you have a full trace back for the OOM crash? Pasting it in a gist is fine.

[2022-04-25 23:27] min-xu-ai opened #978 "ssd offload tests are disabled for nightly"
PR #977 disabled them due to updated 1.12 torch version. If they are needed, please re-enable them.

[2022-04-26 14:54] tmarkstrum commented on #968
Yes. the GPU ranks for the two groups are the same. If they are not same, the process falls back to use the default process group.

[2022-04-26 14:55] tmarkstrum commented on #968
By default, the two process_group and process_group_reduce_scatter are different process group to enable communication overlap on different layers.

[2022-04-27 11:22] foreveronehundred commented on #968
Thanks for your reply.

[2022-04-27 11:22] #968 closed

[2022-05-02 17:43] another-pjohnson commented on #978
@min-xu-ai After 974, most of the tests are passing, but now gpu_tests_pytorch_nightly-3 is failing on Setup Virtual Environment step. There are no meaningful error messages or logs to see for that step. Any idea what's going on?

[2022-05-02 18:24] min-xu-ai commented on #978
I think it is CI's infra problem. I have tried to re-run the failed one a few times. I think it will be fixed at some point. For now, I think this can be closed. Thanks again for helping with this!

[2022-05-02 18:24] #978 closed

[2022-05-03 01:00] min-xu-ai opened #980 "replace collections.abc with collections.abc.abc"
to prepare code for py 3.10.

[2022-05-06 16:50] #826 closed

[2022-05-12 02:35] gaow0007 opened #983 "Can not exit normally"
Fairscale is an amazing work, and I am trying certain features about it.

[code]

When I run above code, after exiting loop, it will hang up unless I ctrl+c it. The following is my execution environment.

OS Environment

[code]

Python Environment

[code]

Look forward your reply.

[2022-05-12 21:35] min-xu-ai commented on #983
Yes, this is a corner case. You need to put pipe in a function, not in the global name space. E.g.:

[code]

[2022-05-12 21:35] #983 closed

[2022-05-13 12:40] gaow0007 opened #985 "An example of AsyncPipe usage"
Thanks for the contributor of this amazing repo.

I am read the source code of AsyncPipe, and expect certain concrete exemplary codes to ease the walk-through process.

May I ask to add one example about how to use asyncPipe?

[2022-05-13 23:51] min-xu-ai commented on #985
Thanks for the kind words!

Unfortunately, I don't have expertise in async pipe. The dev did it is no longer working on it. You can try to git blame to find out who worked most on it and try to tag him on github. Or you can try to read through the code and try to figure it out yourself. Sorry about that.

[2022-05-13 23:51] #985 closed

[2022-05-14 03:24] min-xu-ai commented on #980
Turns out that this is not for 3.10 readiness. But nonetheless it is a good warmup for @riohib. So it is all good.

[2022-05-14 03:24] #980 closed

[2022-05-14 04:30] gaow0007 commented on #985
Thanks for your reply.

[2022-05-20 08:58] kenmbkr opened #989 "How to use Optimizer State Sharding with Sharpness-Aware Minimization?"
I am trying to setup OSS with sharpness-aware minimization (SAM).
https://github.com/davda54/sam

I followed this guide to setup OSS, but I have difficulty wrapping SAM with OSS.
https://fairscale.readthedocs.io/en/stable/tutorials/oss.html

 Is there a minimal working example showing how to do that?

[2022-05-22 04:38] blefaudeux commented on #989
it's a super good question, and SAM is pretty great I think. I would wrap the other way, `SAM(OSS(Adam))`, because outside of OSS it should be transparent, you get something strictly equivalent to a non-shared optimizer, whereas the opposite is not true (SAM is not strictly equivalent to the other vanilla optimizers given the double steps). I actually think that the other way around would be broke

[2022-05-23 02:32] kenmbkr commented on #989
@blefaudeux Thank you for your suggestion. I am able to get my code running following your idea `SAM(OSS(Adam))`.

However, when I use AMP with ShardedGradScaler, I am hitting the following [assertion](https://github.com/facebookresearch/fairscale/blob/main/fairscale/optim/grad_scaler.py#L385) when calling `scaler.update()`:
[code]
The assertion is raised for only AMP but not full precision. Any i

[2022-05-23 02:51] blefaudeux commented on #989
np, and great to hear that the basics work !

this kind of makes sense, basically what happens with AMP is that the optimizer.step() is sometimes a no-op, because the algorithm is to try to find the right scaling in between fp32 and fp16 (which has a super short dynamic, above 65k is inf), and the idea is to (1) look for infs prior to the step (so that the inf gradients, if present, don't kill the

[2022-05-23 03:35] kenmbkr commented on #989
@blefaudeux Thank you for explaining the mechanisms of grad scaler for mixed-precision training.

As per your suggestion `SAM(ShardedGradScaler(OSS(Adam))`, I looked into the constructors of SAM and ShardedGradScaler. SAM does not take a `TorchGradScaler` argument in the constructor and `ShardedGradScaler` does not take an optimizer argument in the constructor. Either way (`SAM(ShardedGradScaler)`

[2022-05-23 03:48] blefaudeux commented on #989
hey, sorry that it was not too clear indeed, I mixed up two things here (the actual steps would be wrapped this way, but not the constructors, you're right).

The .step() call looks [like this](https://github.com/facebookresearch/fairscale/blob/main/fairscale/optim/grad_scaler.py#L264), it takes the optimizer as a parameter and will do what I tentatively explained above (also explained [here](http

[2022-05-23 08:01] kenmbkr commented on #989
Thank you for your clarifications and explaining the differences between GradScaler and its sharded version. I noticed that the step function calls only `optimizer.step()` internally, while SAM or ASAM calls the step function twice (first/second step for SAM and ascent/descent step for ASAM). I have to implement a wrapping step function that calls both step functions at once. While AMP runs under

[2022-05-23 14:23] milad1378yz opened #990 "Inference on multi GPU"
Hi, I have a sizeable pre-trained model and I want to get inference on multiple GPU from it(I don't want to train it).so is there any way for that?
In summary, I want model-parallelism. and if there is a way, how is it done?

[2022-05-24 05:07] blefaudeux commented on #989
hmm ok, thanks for the pointer. So it's the "it will require more plumbing" part that I mentioned, I don't think that it can work out of the box, one of the issues being that there's a scaling to be done before the backward pass, which a closure would mask. Something is probably doable through backward hooks (make sure that the scaling is done automatically by attaching an appropriate hook for ins

[2022-05-24 05:09] blefaudeux commented on #989
some information on bfloat16 and pytorch [here](https://github.com/huggingface/transformers/issues/14608#issuecomment-1004390803) by the excellent @stas00

[2022-05-24 06:17] kenmbkr commented on #989
Thank you for the directions. I tried bfloat16 on both 2080 Ti and V100 using `autocast(dtype=torch.bfloat16)` but I got the following message on both GPUs.
[code]

I also came across some [attempts](https://github.com/davda54/sam/issues/7) in using SAM with AMP but they don't seem to handle `inf/NaN` gradients.

[2022-05-24 07:08] blefaudeux commented on #989
yes, you need Ampere cards for that.. Or TPUs. I had no idea what you had available

Yep, this option is to skip the gradscaler altogether, but then you don't have overflow/underflow protection, and float16 is not a gentle type to work with..

[2022-05-24 17:10] min-xu-ai commented on #990
fairscale is mostly for training unfortunately.

[2022-05-24 17:10] #990 closed

[2022-05-25 12:45] yuvalkirstain commented on #963
Hi, has there been any progress with resolving this issue? @anj-s
Thank you so much

[2022-05-25 13:27] anj-s commented on #963
Hi @yuvalkirstain, I think this should work without any issues. Can you try using bfloat16 by passing the right compute_dtype argument when using FSDP? Unfortunately i haven't had a chance to add a unit test but perhaps someone else on the team has looked into this. cc @anupambhatnagar @min-xu-ai

[2022-05-25 22:35] crutcher commented on #738
do you have an example page with this rendering error?

[2022-05-25 23:29] min-xu-ai commented on #971
Please reopen if you have additional questions.

[2022-05-25 23:29] #971 closed

[2022-05-26 07:17] crutcher opened #996 "containers:apply_to_tensors fails to return (or test) the application result on PackedSequence"
At this point in `apply_to_tensors()`, the PackedSequence case drops the result tensors, unlike the other cases
https://github.com/facebookresearch/fairscale/blob/main/fairscale/utils/containers.py#L27

and thus fully_sharded_data_parallel is going to fail to capture the tensors for hooks here:
https://github.com/facebookresearch/fairscale/blob/main/fairscale/nn/data_parallel/fully_sharded_data_pa

[2022-05-26 19:38] min-xu-ai commented on #996
This is a care that our unit tests failed to cover, right?

[2022-06-01 18:35] aced125 commented on #973
Getting this as well

[2022-06-01 20:19] aced125 commented on #973
I fixed this by enabling `force_broadcast_object=True` in the `fairscale.optim.OSS` initialization. On V100s

[2022-06-09 03:00] kenmbkr commented on #989
@blefaudeux I have been looking at different variations of SAM these days and apparently none supports AMP at the moment. Guess I will put AMP on hold as it is not trivial.

Currently, I am more concerned with how different implementations handle gradient synchronization differently. I am confused about which one is the correct usage when paired with OSS and ShardedDataParallel.

The unofficial SA

[2022-06-12 21:57] crutcher opened #1003 "Restructure Libs for Dev Velocity"
I've been talking with @min-xu-ai about restructuring internal libs towards dev velocity.

This is a tracking issue to hang sub-issues and diffs towards these ideas on.

The high-level structure I'd like to achieve is:
 * apis which users can call, and all their local deps are in `fairscale/`
 * apis which users should not call, but need to ship with fairscale, are in `fairscale/internal`
 * test

[2022-06-12 22:46] min-xu-ai commented on #1003
Nice plan! cc others too. @anupambhatnagar @riohib so that they also know. (BTW, I am on PTO for next week, so I won't be reviewing any PRs).